junit/src/test/schemas/complexType_simpleContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Shoe" type="ShoeType"/>
	
	<xs:complexType name="ShoeType">
  		<xs:simpleContent>
    		<xs:extension base="xs:integer">
      			<xs:attribute name="Country" type="xs:string" />
    		</xs:extension>
  		</xs:simpleContent>
	</xs:complexType>
</xs:schema>