junit/src/test/schemas/complexType_all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Person" type="PersonType"/>
	
  	<xs:complexType name="PersonType">
    	<xs:all>
      		<xs:element name="FirstName" type="xs:string"/>
      		<xs:element name="LastName" type="xs:string"/>
    	</xs:all>
  	</xs:complexType>
</xs:schema>