junit/src/test/schemas/complexType_innerComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Car" type="CarType"/>
	
	<xs:complexType name="CarType">
		<xs:sequence>
			<xs:element name="HorsePower" type="xs:int"/>
			<xs:element name="LicenseNumber" type="xs:string"/>
			<xs:element name="ProductionYear" type="xs:gYear"/>
			<xs:element name="Tank">
				<xs:complexType>
					<xs:all>
						<xs:element name="Capacity" type="xs:unsignedInt"/>
						<xs:element name="Material" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>