junit/src/test/schemas/complexType_choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Month" type="MonthType"/>
	
	<xs:complexType name="MonthType">
    	<xs:choice>
    		<xs:element name="MonthInt" type="xs:int"/>
  			<xs:element name="MonthName" type="xs:string"/>
		</xs:choice>
  	</xs:complexType>
</xs:schema>