junit/src/test/schemas/simpleType_digits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Total" type="TotalType"/>
	<xs:element name="Fraction" type="FractionType"/>
  		
  	<xs:simpleType name="TotalType">
    	<xs:restriction base="xs:decimal">
    		<xs:totalDigits value="6"/>
    	</xs:restriction>
  	</xs:simpleType>
  	
  	<xs:simpleType name="FractionType">
    	<xs:restriction base="xs:decimal">
    		<xs:fractionDigits value="2"/>
    	</xs:restriction>
  	</xs:simpleType>
</xs:schema>