junit/src/test/schemas/simpleType_substitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Alias" substitutionGroup="Name"/>
	
	<xs:element name="FirstName" type="xs:string" block="substitution"/>
	<xs:element name="Nickname" substitutionGroup="FirstName"/>
</xs:schema>