junit/src/test/schemas/simpleType_occurenceIndicators.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IntValues" type="IntValuesType"/>
	
	<xs:complexType name="IntValuesType">
    	<xs:sequence>
			<xs:element name="IntValue1" type="xs:int" minOccurs="0"/>
			<xs:element name="IntValue2" type="xs:int" minOccurs="2"/>
			<xs:element name="IntValue3" type="xs:int" maxOccurs="2"/>
			<xs:element name="IntValue4" type="xs:int" maxOccurs="unbounded"/>
			<xs:element name="IntValue5" type="xs:int" minOccurs="0" maxOccurs="0"/>
			<xs:element name="IntValue6" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>