junit/src/test/schemas/Waehrung2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Waehrung">
   		<xsd:complexType>
   			<xsd:attribute name="Name" type="xsd:string" />
   			<xsd:attribute name="Waehrungscode" type="xsd:string" />
   		</xsd:complexType>
   	</xsd:element>
</xsd:schema>

