junit/src/test/schemas/Waehrung2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="waehrung">
   		<xsd:complexType>
   			<xsd:attribute name="name" type="xsd:string" />
   			<xsd:attribute name="waehrungscode" type="xsd:string" />
   		</xsd:complexType>
   	</xsd:element>
</xsd:schema>