wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__lottoexchange.net_LottoDrawings.php_wsdl.wsdl

<?xml version="1.0"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:si="http://soapinterop.org/xsd" xmlns:tns="http://lottoexchange.net/LottoDrawings" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lottoexchange.net/LottoDrawings">
	<message name="GetDrawingsRequest">
		<part name="State" type="xsd:string" />
		<part name="Game" type="xsd:string" />
		<part name="StartDate" type="xsd:string" />
		<part name="EndDate" type="xsd:string" />
	</message>
	<message name="GetDrawingsResponse">
		<part name="value" type="xsd:string" />
	</message>
	<message name="GetStatesRequest">
		<part name="State" type="xsd:string" />
	</message>
	<message name="GetStatesResponse">
		<part name="value" type="xsd:string" />
	</message>
	<portType name="LottoDrawingsPortType">
		<operation name="GetDrawings">
			<input message="tns:GetDrawingsRequest" />
			<output message="tns:GetDrawingsResponse" />
		</operation>
		<operation name="GetStates">
			<input message="tns:GetStatesRequest" />
			<output message="tns:GetStatesResponse" />
		</operation>
	</portType>
	<binding name="LottoDrawingsBinding" type="tns:LottoDrawingsPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetDrawings">
			<soap:operation soapAction="http://lottoexchange.net/LottoDrawings.php" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="http://lottoexchange.net/LottoDrawings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="http://lottoexchange.net/LottoDrawings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetStates">
			<soap:operation soapAction="http://lottoexchange.net/LottoDrawings.php" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="http://lottoexchange.net/LottoDrawings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="http://lottoexchange.net/LottoDrawings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="LottoDrawings">
		<port name="LottoDrawingsPort" binding="tns:LottoDrawingsBinding">
			<soap:address location="http://lottoexchange.net/LottoDrawings.php" />
		</port>
	</service>
</definitions>