wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.webservicex.net_BibleWebservice.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
			<s:element name="GetBibleWordsByChapterAndVerse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="Verse" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBibleWordsByChapterAndVerseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByChapterAndVerseResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBibleWordsbyKeyWord">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BibleWords" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBibleWordsbyKeyWordResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsbyKeyWordResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBookTitles">
				<s:complexType />
			</s:element>
			<s:element name="GetBookTitlesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBookTitlesResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBibleWordsByBookTitleAndChapter">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetBibleWordsByBookTitleAndChapterResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByBookTitleAndChapterResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetBibleWordsByChapterAndVerseSoapIn">
		<wsdl:part name="parameters" element="tns:GetBibleWordsByChapterAndVerse" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByChapterAndVerseSoapOut">
		<wsdl:part name="parameters" element="tns:GetBibleWordsByChapterAndVerseResponse" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordSoapIn">
		<wsdl:part name="parameters" element="tns:GetBibleWordsbyKeyWord" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordSoapOut">
		<wsdl:part name="parameters" element="tns:GetBibleWordsbyKeyWordResponse" />
	</wsdl:message>
	<wsdl:message name="GetBookTitlesSoapIn">
		<wsdl:part name="parameters" element="tns:GetBookTitles" />
	</wsdl:message>
	<wsdl:message name="GetBookTitlesSoapOut">
		<wsdl:part name="parameters" element="tns:GetBookTitlesResponse" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterSoapIn">
		<wsdl:part name="parameters" element="tns:GetBibleWordsByBookTitleAndChapter" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterSoapOut">
		<wsdl:part name="parameters" element="tns:GetBibleWordsByBookTitleAndChapterResponse" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByChapterAndVerseHttpGetIn">
		<wsdl:part name="BookTitle" type="s:string" />
		<wsdl:part name="chapter" type="s:string" />
		<wsdl:part name="Verse" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByChapterAndVerseHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordHttpGetIn">
		<wsdl:part name="BibleWords" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBookTitlesHttpGetIn" />
	<wsdl:message name="GetBookTitlesHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterHttpGetIn">
		<wsdl:part name="BookTitle" type="s:string" />
		<wsdl:part name="chapter" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByChapterAndVerseHttpPostIn">
		<wsdl:part name="BookTitle" type="s:string" />
		<wsdl:part name="chapter" type="s:string" />
		<wsdl:part name="Verse" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByChapterAndVerseHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordHttpPostIn">
		<wsdl:part name="BibleWords" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsbyKeyWordHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBookTitlesHttpPostIn" />
	<wsdl:message name="GetBookTitlesHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterHttpPostIn">
		<wsdl:part name="BookTitle" type="s:string" />
		<wsdl:part name="chapter" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBibleWordsByBookTitleAndChapterHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="BibleWebserviceSoap">
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title ,Chapter and Verse
				from the Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByChapterAndVerseSoapIn" />
			<wsdl:output message="tns:GetBibleWordsByChapterAndVerseSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by keyword from the Kings James
				version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsbyKeyWordSoapIn" />
			<wsdl:output message="tns:GetBibleWordsbyKeyWordSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all books from the Kings James version Bible
			</wsdl:documentation>
			<wsdl:input message="tns:GetBookTitlesSoapIn" />
			<wsdl:output message="tns:GetBookTitlesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title and Chapter from the
				Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByBookTitleAndChapterSoapIn" />
			<wsdl:output message="tns:GetBibleWordsByBookTitleAndChapterSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BibleWebserviceHttpGet">
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title ,Chapter and Verse
				from the Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByChapterAndVerseHttpGetIn" />
			<wsdl:output message="tns:GetBibleWordsByChapterAndVerseHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by keyword from the Kings James
				version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsbyKeyWordHttpGetIn" />
			<wsdl:output message="tns:GetBibleWordsbyKeyWordHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all books from the Kings James version Bible
			</wsdl:documentation>
			<wsdl:input message="tns:GetBookTitlesHttpGetIn" />
			<wsdl:output message="tns:GetBookTitlesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title and Chapter from the
				Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByBookTitleAndChapterHttpGetIn" />
			<wsdl:output message="tns:GetBibleWordsByBookTitleAndChapterHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BibleWebserviceHttpPost">
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title ,Chapter and Verse
				from the Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByChapterAndVerseHttpPostIn" />
			<wsdl:output message="tns:GetBibleWordsByChapterAndVerseHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by keyword from the Kings James
				version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsbyKeyWordHttpPostIn" />
			<wsdl:output message="tns:GetBibleWordsbyKeyWordHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all books from the Kings James version Bible
			</wsdl:documentation>
			<wsdl:input message="tns:GetBookTitlesHttpPostIn" />
			<wsdl:output message="tns:GetBookTitlesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service list all versus by Book Title and Chapter from the
				Kings James version Bible </wsdl:documentation>
			<wsdl:input message="tns:GetBibleWordsByBookTitleAndChapterHttpPostIn" />
			<wsdl:output message="tns:GetBibleWordsByBookTitleAndChapterHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BibleWebserviceSoap" type="tns:BibleWebserviceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByChapterAndVerse" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsbyKeyWord" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<soap:operation soapAction="http://www.webserviceX.NET/GetBookTitles" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByBookTitleAndChapter" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BibleWebserviceSoap12" type="tns:BibleWebserviceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByChapterAndVerse" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsbyKeyWord" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetBookTitles" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByBookTitleAndChapter" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BibleWebserviceHttpGet" type="tns:BibleWebserviceHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<http:operation location="/GetBibleWordsByChapterAndVerse" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<http:operation location="/GetBibleWordsbyKeyWord" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<http:operation location="/GetBookTitles" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<http:operation location="/GetBibleWordsByBookTitleAndChapter" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BibleWebserviceHttpPost" type="tns:BibleWebserviceHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetBibleWordsByChapterAndVerse">
			<http:operation location="/GetBibleWordsByChapterAndVerse" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsbyKeyWord">
			<http:operation location="/GetBibleWordsbyKeyWord" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBookTitles">
			<http:operation location="/GetBookTitles" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBibleWordsByBookTitleAndChapter">
			<http:operation location="/GetBibleWordsByBookTitleAndChapter" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BibleWebservice">
		<wsdl:port name="BibleWebserviceSoap" binding="tns:BibleWebserviceSoap">
			<soap:address location="http://www.webservicex.net/BibleWebservice.asmx" />
		</wsdl:port>
		<wsdl:port name="BibleWebserviceSoap12" binding="tns:BibleWebserviceSoap12">
			<soap12:address location="http://www.webservicex.net/BibleWebservice.asmx" />
		</wsdl:port>
		<wsdl:port name="BibleWebserviceHttpGet" binding="tns:BibleWebserviceHttpGet">
			<http:address location="http://www.webservicex.net/BibleWebservice.asmx" />
		</wsdl:port>
		<wsdl:port name="BibleWebserviceHttpPost" binding="tns:BibleWebserviceHttpPost">
			<http:address location="http://www.webservicex.net/BibleWebservice.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>