wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__interpressfact.net_webservices_promotionService.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://interpressfact.net/webservices/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://interpressfact.net/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://interpressfact.net/webservices/">
			<s:element name="submitSite">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="submitSiteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="submitSiteResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="submitSiteSoapIn">
		<wsdl:part name="parameters" element="tns:submitSite" />
	</wsdl:message>
	<wsdl:message name="submitSiteSoapOut">
		<wsdl:part name="parameters" element="tns:submitSiteResponse" />
	</wsdl:message>
	<wsdl:portType name="promotionServiceSoap">
		<wsdl:operation name="submitSite">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;br&gt;submitSite method is a free automatic website submission service. (36
				search engines)&lt;br&gt;Note: Submitting to search engines may last up to 1 minute&lt;br&gt;Maximal request timeout
				per engine is set to 10 sec.&lt;br&gt;&lt;font color='red'&gt;Please provide all submission parameters&lt;/font&gt;
			</documentation>
			<wsdl:input message="tns:submitSiteSoapIn" />
			<wsdl:output message="tns:submitSiteSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="promotionServiceSoap" type="tns:promotionServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="submitSite">
			<soap:operation soapAction="http://interpressfact.net/webservices/submitSite" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="promotionService">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;a href='http://interpressfact.net'&gt;&lt;img
			src='http://www.interpressfact.net/webpage.files/logo.gif' border='0'&gt;&lt;/a&gt;&lt;br&gt;&lt;font color='#000600'
			size='3' face='Geneva, Arial, Helvetica, san-serif'&gt;PromotionService is an automated website submission
			service&lt;br&gt;&lt;font size='2'&gt;Full s.engine list is available at
			http://interpressfact.net/webservices&lt;br&gt;Search engine list will be constantly
			updated&lt;br&gt;&lt;br&gt;Benefits of using the promotionService webservice(possible
			implementation):&lt;br&gt;&lt;br&gt;Offer free/paid website promotion service from your own website, can be used in
			external applications,&lt;br&gt;can be implemented in website maintenance script/application for submitting to search
			engines once in a while&lt;br&gt;&lt;/font&gt;&lt;/font&gt;</documentation>
		<wsdl:port name="promotionServiceSoap" binding="tns:promotionServiceSoap">
			<soap:address location="http://interpressfact.net/webservices/promotionService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>