wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__tstsvr.achworks.com_exec_btrnsoap.dll_wsdl_IBTRNSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IBTRNSOAPservice"
	targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:BTRNSOAPIntf">
	<types>
		<xs:schema targetNamespace="urn:BTRNSOAPIntf" xmlns="urn:BTRNSOAPIntf">
			<xs:complexType name="CompanyInfo">
				<xs:sequence>
					<xs:element name="LocID" type="xs:string" />
					<xs:element name="Company" type="xs:string" />
					<xs:element name="CompanyKey" type="xs:string" />
					<xs:element name="Email" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultBTRN">
				<xs:sequence>
					<xs:element name="BTRN" type="xs:string" />
					<xs:element name="Validity" type="xs:string" />
					<xs:element name="MsgResult" type="xs:string" />
					<xs:element name="NewBTRN" type="xs:string" />
					<xs:element name="DateChanged" type="xs:string" />
					<xs:element name="BankName" type="xs:string" />
					<xs:element name="Address" type="xs:string" />
					<xs:element name="CityStateZip" type="xs:string" />
					<xs:element name="Telephone" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfString">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ArrayofResultBTRN">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:ResultBTRN[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="ConnectionCheck0Request">
		<part name="LocID" type="xs:string" />
		<part name="Company" type="xs:string" />
		<part name="CompanyKey" type="xs:string" />
	</message>
	<message name="ConnectionCheck0Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="getBTRNCMP1Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBTRN" type="xs:string" />
	</message>
	<message name="getBTRNCMP1Response">
		<part name="return" type="ns1:ResultBTRN" />
	</message>
	<message name="getBTRNBatchCMP2Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchBTRN" type="ns1:ArrayOfString" />
	</message>
	<message name="getBTRNBatchCMP2Response">
		<part name="return" type="ns1:ArrayofResultBTRN" />
	</message>
	<message name="getBTRNSTR3Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBTRN" type="xs:string" />
	</message>
	<message name="getBTRNSTR3Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="getBTRNBatchSTR4Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchBTRN" type="ns1:ArrayOfString" />
	</message>
	<message name="getBTRNBatchSTR4Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<portType name="IBTRNSOAP">
		<operation name="ConnectionCheck">
			<input message="tns:ConnectionCheck0Request" />
			<output message="tns:ConnectionCheck0Response" />
		</operation>
		<operation name="getBTRNCMP">
			<input message="tns:getBTRNCMP1Request" />
			<output message="tns:getBTRNCMP1Response" />
		</operation>
		<operation name="getBTRNBatchCMP">
			<input message="tns:getBTRNBatchCMP2Request" />
			<output message="tns:getBTRNBatchCMP2Response" />
		</operation>
		<operation name="getBTRNSTR">
			<input message="tns:getBTRNSTR3Request" />
			<output message="tns:getBTRNSTR3Response" />
		</operation>
		<operation name="getBTRNBatchSTR">
			<input message="tns:getBTRNBatchSTR4Request" />
			<output message="tns:getBTRNBatchSTR4Response" />
		</operation>
	</portType>
	<binding name="IBTRNSOAPbinding" type="tns:IBTRNSOAP">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ConnectionCheck">
			<soap:operation soapAction="urn:BTRNSOAPIntf-IBTRNSOAP#ConnectionCheck" style="rpc" />
			<input message="tns:ConnectionCheck0Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</input>
			<output message="tns:ConnectionCheck0Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</output>
		</operation>
		<operation name="getBTRNCMP">
			<soap:operation soapAction="urn:BTRNSOAPIntf-IBTRNSOAP#getBTRNCMP" style="rpc" />
			<input message="tns:getBTRNCMP1Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</input>
			<output message="tns:getBTRNCMP1Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</output>
		</operation>
		<operation name="getBTRNBatchCMP">
			<soap:operation soapAction="urn:BTRNSOAPIntf-IBTRNSOAP#getBTRNBatchCMP" style="rpc" />
			<input message="tns:getBTRNBatchCMP2Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</input>
			<output message="tns:getBTRNBatchCMP2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</output>
		</operation>
		<operation name="getBTRNSTR">
			<soap:operation soapAction="urn:BTRNSOAPIntf-IBTRNSOAP#getBTRNSTR" style="rpc" />
			<input message="tns:getBTRNSTR3Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</input>
			<output message="tns:getBTRNSTR3Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</output>
		</operation>
		<operation name="getBTRNBatchSTR">
			<soap:operation soapAction="urn:BTRNSOAPIntf-IBTRNSOAP#getBTRNBatchSTR" style="rpc" />
			<input message="tns:getBTRNBatchSTR4Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</input>
			<output message="tns:getBTRNBatchSTR4Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:BTRNSOAPIntf-IBTRNSOAP" />
			</output>
		</operation>
	</binding>
	<service name="IBTRNSOAPservice">
		<port name="IBTRNSOAPPort" binding="tns:IBTRNSOAPbinding">
			<soap:address location="http://tstsvr.achworks.com/exec/btrnsoap.dll/soap/IBTRNSOAP" />
		</port>
	</service>
</definitions>