wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.webservicex.com_fax.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
			<s:element name="SendTextToFax">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="FromEmail" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BodyText" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ToName" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SendTextToFaxResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SendTextToFaxResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="SendTextToFaxSoapIn">
		<wsdl:part name="parameters" element="tns:SendTextToFax" />
	</wsdl:message>
	<wsdl:message name="SendTextToFaxSoapOut">
		<wsdl:part name="parameters" element="tns:SendTextToFaxResponse" />
	</wsdl:message>
	<wsdl:message name="SendTextToFaxHttpGetIn">
		<wsdl:part name="FromEmail" type="s:string" />
		<wsdl:part name="Subject" type="s:string" />
		<wsdl:part name="FaxNumber" type="s:string" />
		<wsdl:part name="BodyText" type="s:string" />
		<wsdl:part name="ToName" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SendTextToFaxHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="SendTextToFaxHttpPostIn">
		<wsdl:part name="FromEmail" type="s:string" />
		<wsdl:part name="Subject" type="s:string" />
		<wsdl:part name="FaxNumber" type="s:string" />
		<wsdl:part name="BodyText" type="s:string" />
		<wsdl:part name="ToName" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SendTextToFaxHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="faxSoap">
		<wsdl:operation name="SendTextToFax">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send FAX (for free) to any part of the world&lt;br&gt;
				&lt;span&gt;&lt;br&gt;&lt;br&gt;This webservice provide a facilty to send fax anywhere in the world.Please add
				country code (without preceding zero(s)) to your fax number(Without hyphen).&lt;br&gt;&lt;I&gt;&lt;b&gt;e.g If your
				number is 0091-435-416353 ,please enter fax number as 91435416353&lt;/b&gt;&lt;/i&gt;
				&lt;/span&gt;&lt;br&gt;&lt;b&gt;Please Note:&lt;/b&gt;&lt;br&gt;The character '_' is converted to a space and The
				character '/' is converted to start a new line &lt;br&gt;Coverage List :&lt;a
				href='CheckCoverage.htm'&gt;View&lt;/a&gt; </wsdl:documentation>
			<wsdl:input message="tns:SendTextToFaxSoapIn" />
			<wsdl:output message="tns:SendTextToFaxSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="faxHttpGet">
		<wsdl:operation name="SendTextToFax">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send FAX (for free) to any part of the world&lt;br&gt;
				&lt;span&gt;&lt;br&gt;&lt;br&gt;This webservice provide a facilty to send fax anywhere in the world.Please add
				country code (without preceding zero(s)) to your fax number(Without hyphen).&lt;br&gt;&lt;I&gt;&lt;b&gt;e.g If your
				number is 0091-435-416353 ,please enter fax number as 91435416353&lt;/b&gt;&lt;/i&gt;
				&lt;/span&gt;&lt;br&gt;&lt;b&gt;Please Note:&lt;/b&gt;&lt;br&gt;The character '_' is converted to a space and The
				character '/' is converted to start a new line &lt;br&gt;Coverage List :&lt;a
				href='CheckCoverage.htm'&gt;View&lt;/a&gt; </wsdl:documentation>
			<wsdl:input message="tns:SendTextToFaxHttpGetIn" />
			<wsdl:output message="tns:SendTextToFaxHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="faxHttpPost">
		<wsdl:operation name="SendTextToFax">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send FAX (for free) to any part of the world&lt;br&gt;
				&lt;span&gt;&lt;br&gt;&lt;br&gt;This webservice provide a facilty to send fax anywhere in the world.Please add
				country code (without preceding zero(s)) to your fax number(Without hyphen).&lt;br&gt;&lt;I&gt;&lt;b&gt;e.g If your
				number is 0091-435-416353 ,please enter fax number as 91435416353&lt;/b&gt;&lt;/i&gt;
				&lt;/span&gt;&lt;br&gt;&lt;b&gt;Please Note:&lt;/b&gt;&lt;br&gt;The character '_' is converted to a space and The
				character '/' is converted to start a new line &lt;br&gt;Coverage List :&lt;a
				href='CheckCoverage.htm'&gt;View&lt;/a&gt; </wsdl:documentation>
			<wsdl:input message="tns:SendTextToFaxHttpPostIn" />
			<wsdl:output message="tns:SendTextToFaxHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="faxSoap" type="tns:faxSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendTextToFax">
			<soap:operation soapAction="http://www.webserviceX.NET/SendTextToFax" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="faxSoap12" type="tns:faxSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendTextToFax">
			<soap12:operation soapAction="http://www.webserviceX.NET/SendTextToFax" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="faxHttpGet" type="tns:faxHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="SendTextToFax">
			<http:operation location="/SendTextToFax" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="faxHttpPost" type="tns:faxHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="SendTextToFax">
			<http:operation location="/SendTextToFax" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="fax">
		<wsdl:port name="faxSoap" binding="tns:faxSoap">
			<soap:address location="http://www.webservicex.com/fax.asmx" />
		</wsdl:port>
		<wsdl:port name="faxSoap12" binding="tns:faxSoap12">
			<soap12:address location="http://www.webservicex.com/fax.asmx" />
		</wsdl:port>
		<wsdl:port name="faxHttpGet" binding="tns:faxHttpGet">
			<http:address location="http://www.webservicex.com/fax.asmx" />
		</wsdl:port>
		<wsdl:port name="faxHttpPost" binding="tns:faxHttpPost">
			<http:address location="http://www.webservicex.com/fax.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>