wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.webservicex.com_barcode.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
			<s:element name="Code39">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="BarSize" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowCodeString" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Code39Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Code39Result" type="s:base64Binary" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="base64Binary" nillable="true" type="s:base64Binary" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="Code39SoapIn">
		<wsdl:part name="parameters" element="tns:Code39" />
	</wsdl:message>
	<wsdl:message name="Code39SoapOut">
		<wsdl:part name="parameters" element="tns:Code39Response" />
	</wsdl:message>
	<wsdl:message name="Code39HttpGetIn">
		<wsdl:part name="Code" type="s:string" />
		<wsdl:part name="BarSize" type="s:string" />
		<wsdl:part name="ShowCodeString" type="s:string" />
		<wsdl:part name="Title" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Code39HttpGetOut">
		<wsdl:part name="Body" element="tns:base64Binary" />
	</wsdl:message>
	<wsdl:message name="Code39HttpPostIn">
		<wsdl:part name="Code" type="s:string" />
		<wsdl:part name="BarSize" type="s:string" />
		<wsdl:part name="ShowCodeString" type="s:string" />
		<wsdl:part name="Title" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Code39HttpPostOut">
		<wsdl:part name="Body" element="tns:base64Binary" />
	</wsdl:message>
	<wsdl:portType name="BarCodeSoap">
		<wsdl:operation name="Code39">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code
				39), a widely used barcode standard that includes capital letters, numbers, and several symbols</wsdl:documentation>
			<wsdl:input message="tns:Code39SoapIn" />
			<wsdl:output message="tns:Code39SoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BarCodeHttpGet">
		<wsdl:operation name="Code39">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code
				39), a widely used barcode standard that includes capital letters, numbers, and several symbols</wsdl:documentation>
			<wsdl:input message="tns:Code39HttpGetIn" />
			<wsdl:output message="tns:Code39HttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BarCodeHttpPost">
		<wsdl:operation name="Code39">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code
				39), a widely used barcode standard that includes capital letters, numbers, and several symbols</wsdl:documentation>
			<wsdl:input message="tns:Code39HttpPostIn" />
			<wsdl:output message="tns:Code39HttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BarCodeSoap" type="tns:BarCodeSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Code39">
			<soap:operation soapAction="http://www.webserviceX.NET/Code39" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BarCodeSoap12" type="tns:BarCodeSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Code39">
			<soap12:operation soapAction="http://www.webserviceX.NET/Code39" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BarCodeHttpGet" type="tns:BarCodeHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="Code39">
			<http:operation location="/Code39" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BarCodeHttpPost" type="tns:BarCodeHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="Code39">
			<http:operation location="/Code39" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BarCode">
		<wsdl:port name="BarCodeSoap" binding="tns:BarCodeSoap">
			<soap:address location="http://www.webservicex.com/barcode.asmx" />
		</wsdl:port>
		<wsdl:port name="BarCodeSoap12" binding="tns:BarCodeSoap12">
			<soap12:address location="http://www.webservicex.com/barcode.asmx" />
		</wsdl:port>
		<wsdl:port name="BarCodeHttpGet" binding="tns:BarCodeHttpGet">
			<http:address location="http://www.webservicex.com/barcode.asmx" />
		</wsdl:port>
		<wsdl:port name="BarCodeHttpPost" binding="tns:BarCodeHttpPost">
			<http:address location="http://www.webservicex.com/barcode.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>