wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.barnaland.is_dev_puki.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://barnaland.is/dev/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://barnaland.is/dev/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://barnaland.is/dev/">
			<s:element name="lesaYfir">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="lesaYfirResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="lesaYfirResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="lesaYfirSoapIn">
		<wsdl:part name="parameters" element="tns:lesaYfir" />
	</wsdl:message>
	<wsdl:message name="lesaYfirSoapOut">
		<wsdl:part name="parameters" element="tns:lesaYfirResponse" />
	</wsdl:message>
	<wsdl:message name="lesaYfirHttpGetIn">
		<wsdl:part name="text" type="s:string" />
	</wsdl:message>
	<wsdl:message name="lesaYfirHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="lesaYfirHttpPostIn">
		<wsdl:part name="text" type="s:string" />
	</wsdl:message>
	<wsdl:message name="lesaYfirHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="PukiSoap">
		<wsdl:operation name="lesaYfir">
			<wsdl:input message="tns:lesaYfirSoapIn" />
			<wsdl:output message="tns:lesaYfirSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PukiHttpGet">
		<wsdl:operation name="lesaYfir">
			<wsdl:input message="tns:lesaYfirHttpGetIn" />
			<wsdl:output message="tns:lesaYfirHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PukiHttpPost">
		<wsdl:operation name="lesaYfir">
			<wsdl:input message="tns:lesaYfirHttpPostIn" />
			<wsdl:output message="tns:lesaYfirHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PukiSoap" type="tns:PukiSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="lesaYfir">
			<soap:operation soapAction="http://barnaland.is/dev/lesaYfir" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PukiSoap12" type="tns:PukiSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="lesaYfir">
			<soap12:operation soapAction="http://barnaland.is/dev/lesaYfir" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PukiHttpGet" type="tns:PukiHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="lesaYfir">
			<http:operation location="/lesaYfir" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PukiHttpPost" type="tns:PukiHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="lesaYfir">
			<http:operation location="/lesaYfir" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Puki">
		<wsdl:port name="PukiSoap" binding="tns:PukiSoap">
			<soap:address location="http://www.barnaland.is/dev/puki.asmx" />
		</wsdl:port>
		<wsdl:port name="PukiSoap12" binding="tns:PukiSoap12">
			<soap12:address location="http://www.barnaland.is/dev/puki.asmx" />
		</wsdl:port>
		<wsdl:port name="PukiHttpGet" binding="tns:PukiHttpGet">
			<http:address location="http://www.barnaland.is/dev/puki.asmx" />
		</wsdl:port>
		<wsdl:port name="PukiHttpPost" binding="tns:PukiHttpPost">
			<http:address location="http://www.barnaland.is/dev/puki.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>