wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xignite.com_xEstimates.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xignite.com/services/"
	xmlns:s1="http://www.xignite.com/services/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.xignite.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zacks Estimates</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/">
			<s:element name="GetResearchField">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="EstimateFieldType" type="tns:EstimateFieldTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="IdentifierTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Symbol" />
					<s:enumeration value="CIK" />
					<s:enumeration value="CUSIP" />
					<s:enumeration value="ISIN" />
					<s:enumeration value="Valoren" />
					<s:enumeration value="SEDOL" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="EstimateFieldTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Security_Ticker" />
					<s:enumeration value="Security_CIK" />
					<s:enumeration value="Security_Cusip" />
					<s:enumeration value="Security_ISIN" />
					<s:enumeration value="Security_CompanyName" />
					<s:enumeration value="Security_Market" />
					<s:enumeration value="Security_CategoryOrIndustry" />
					<s:enumeration value="EarningsEstimates_CurrentQuarterEndDate" />
					<s:enumeration value="EarningsEstimates_CurrentQuarterMean" />
					<s:enumeration value="EarningsEstimates_NextQuarterEndDate" />
					<s:enumeration value="EarningsEstimates_NextQuarterCurrentMean" />
					<s:enumeration value="EarningsEstimates_CurrentFiscalYearEndDate" />
					<s:enumeration value="EarningsEstimates_CurrentFiscalYearMean" />
					<s:enumeration value="EarningsEstimates_NextFiscalYearEndDate" />
					<s:enumeration value="EarningsEstimates_NextFiscalYearCurrentMean" />
					<s:enumeration value="EarningsEstimates_NumberOfCurrentQuarterEstimates" />
					<s:enumeration value="EarningsEstimates_NumberOfNextQuarterEstimates" />
					<s:enumeration value="EarningsEstimates_NumberOfCurrentFiscalYearEstimates" />
					<s:enumeration value="EarningsEstimates_NumberOfNextFiscalYearEstimates" />
					<s:enumeration value="EarningsEstimates_CurrentQuarterHighEstimate" />
					<s:enumeration value="EarningsEstimates_NextQuarterHighEstimate" />
					<s:enumeration value="EarningsEstimates_CurrentFiscalYearHighEstimate" />
					<s:enumeration value="EarningsEstimates_NextFiscalYearHighEstimate" />
					<s:enumeration value="EarningsEstimates_CurrentQuarterLowEstimate" />
					<s:enumeration value="EarningsEstimates_NextQuarterLowEstimate" />
					<s:enumeration value="EarningsEstimates_CurrentFiscalYearLowEstimate" />
					<s:enumeration value="EarningsEstimates_NextFiscalYearLowEstimate" />
					<s:enumeration value="EarningsEstimates_CurrentQuarterYearPriorActualEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_NextQuarterYearPriorActualEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_CurrentFiscalYearYearPriorActualEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_NextFiscalYearYearEstimatedEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_PercentGrowthCurrentQuarterMeanOverThreeQuartersAgoEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_PercentGrowthNextQuarterMeanOverTwoQuartersAgoEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_PercentGrowthCurrentFiscalYearMeanOverMostRecentFiscalYearEarningsPerShare" />
					<s:enumeration value="EarningsEstimates_PercentGrowthNextFiscalYearMeanOverCurrentFiscalYearMean" />
					<s:enumeration value="EarningsEstimates_LongTermGrowthCurrentMean" />
					<s:enumeration value="EarningsEstimates_NumberOfLongTermGrowthEstimates" />
					<s:enumeration value="EarningsEstimates_LongTermGrowthHighEstimate" />
					<s:enumeration value="EarningsEstimates_LongTermGrowthLowEstimate" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalQuarterEndDate" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentQuarterMeanCurrent" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentQuarterMean7DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentQuarterMean30DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentQuarterMean60DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentQuarterMean90DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalQuarterEndDate" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextQuarterMeanCurrent" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextQuarterMean7DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextQuarterMean30DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextQuarterMean60DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextQuarterMean90DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearEndDate" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearMeanCurrent" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearMean7DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearMean30DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearMean60DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_CurrentFiscalYearMean90DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearEndDate" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearMeanCurrent" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearMean7DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearMean30DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearMean60DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_NextFiscalYearMean90DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_LongTermGrowthMeanCurrent" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_LongTermGrowthMean7DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_LongTermGrowthMean30DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_LongTermGrowthMean60DaysAgo" />
					<s:enumeration value="EarningsEstimatesConsensusTrend_LongTermGrowthMean90DaysAgo" />
					<s:enumeration value="EarningsSurprise_MostRecentQuarterEndDate" />
					<s:enumeration value="EarningsSurprise_EstimatedEarningsPerShareForMostRecentQuarter" />
					<s:enumeration value="EarningsSurprise_ActualEarningsPerShareForMostRecentQuarter" />
					<s:enumeration value="EarningsSurprise_MostRecentQuarterDifference" />
					<s:enumeration value="EarningsSurprise_MostRecentQuarterSurprisePercent" />
					<s:enumeration value="EarningsSurprise_OneQuarterPriorEndDate" />
					<s:enumeration value="EarningsSurprise_EstimatedEarningsPerShareForOneQuarterPrior" />
					<s:enumeration value="EarningsSurprise_ActualEarningsPerShareForOneQuarterPrior" />
					<s:enumeration value="EarningsSurprise_OneQuarterPriorDifference" />
					<s:enumeration value="EarningsSurprise_OneQuarterPriorSurprisePercent" />
					<s:enumeration value="EarningsSurprise_TwoQuartersPriorEndDate" />
					<s:enumeration value="EarningsSurprise_EstimatedEarningsPerShareForTwoQuartersPrior" />
					<s:enumeration value="EarningsSurprise_ActualEarningsPerShareForTwoQuartersPrior" />
					<s:enumeration value="EarningsSurprise_TwoQuartersPriorDifference" />
					<s:enumeration value="EarningsSurprise_TwoQuartersPriorSurprisePercent" />
					<s:enumeration value="EarningsSurprise_ThreeQuartersPriorEndDate" />
					<s:enumeration value="EarningsSurprise_EstimatedEarningsPerShareForThreeQuartersPrior" />
					<s:enumeration value="EarningsSurprise_ActualEarningsPerShareForThreeQuartersPrior" />
					<s:enumeration value="EarningsSurprise_ThreeQuartersPriorDifference" />
					<s:enumeration value="EarningsSurprise_ThreeQuartersPriorSurprisePercent" />
					<s:enumeration value="EarningsSurprise_FourQuartersPriorEndDate" />
					<s:enumeration value="EarningsSurprise_EstimatedEarningsPerShareForFourQuartersPrior" />
					<s:enumeration value="EarningsSurprise_ActualEarningsPerShareForFourQuartersPrior" />
					<s:enumeration value="EarningsSurprise_FourQuartersPriorDifference" />
					<s:enumeration value="EarningsSurprise_FourQuartersPriorSurprisePercent" />
					<s:enumeration value="EPSGrowthRates_FileProductionDate" />
					<s:enumeration value="EPSGrowthRates_ZacksIndustryGroupNumber" />
					<s:enumeration value="EPSGrowthRates_ZacksIndustryGroupName" />
					<s:enumeration value="EPSGrowthRates_CompanyIndustryCurrentFiscalYearEnd" />
					<s:enumeration value="EPSGrowthRates_CompanyIndustryNextFiscalYearEnd" />
					<s:enumeration value="EPSGrowthRates_CompanyIndustrySecondFiscalYearEnd" />
					<s:enumeration value="EPSGrowthRates_CompanyLast5YearActualPercentageGrowth" />
					<s:enumeration value="EPSGrowthRates_CompanyNextFiscalYearDividedByCurrentFiscalYearPercentage" />
					<s:enumeration value="EPSGrowthRates_CompanySecondFiscalYearDividedByNextFiscalYearPercentage" />
					<s:enumeration value="EPSGrowthRates_CompanyLongTermGrowthRate" />
					<s:enumeration value="EPSGrowthRates_CompanyNextFiscalYearPERatio" />
					<s:enumeration value="EPSGrowthRates_IndustryLast5YearActualPercentGrowth" />
					<s:enumeration value="EPSGrowthRates_IndustryNextFiscalYearDividedByCurrentFiscalYearPercentPercentage" />
					<s:enumeration value="EPSGrowthRates_IndustrySecondFiscalYearDividedByNextFiscalYearPercentage" />
					<s:enumeration value="EPSGrowthRates_IndustryLongTermGrowthRate" />
					<s:enumeration value="EPSGrowthRates_IndustryNextFiscalYearPERatio" />
					<s:enumeration value="EPSGrowthRates_SP500Last5YearActualPercentGrowth" />
					<s:enumeration value="EPSGrowthRates_SP500NextFiscalYearDividedByCurrentFiscalYearPercentPercentage" />
					<s:enumeration value="EPSGrowthRates_SP500SecondFiscalYearDividedByNextFiscalYearPercentage" />
					<s:enumeration value="EPSGrowthRates_SP500LongTermGrowthRate" />
					<s:enumeration value="EPSGrowthRates_SP500NextFiscalYearPERatio" />
					<s:enumeration value="SectorAnalysis_FileProductionDate" />
					<s:enumeration value="SectorAnalysis_Price" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearCompanyFiscalYearEnd" />
					<s:enumeration value="SectorAnalysis_CurrentQuarterCompanyFiscalQuarterEnd" />
					<s:enumeration value="SectorAnalysis_IndustrySectorFiscalYearEndForCalculations" />
					<s:enumeration value="SectorAnalysis_IndustryName" />
					<s:enumeration value="SectorAnalysis_SectorName" />
					<s:enumeration value="SectorAnalysis_MeanEstimateCompanyCurrentFiscalYear" />
					<s:enumeration value="SectorAnalysis_MeanLongTermGrowthEstimateCompanyCurrentFiscalYear" />
					<s:enumeration value="SectorAnalysis_MeanRecommendationCompany" />
					<s:enumeration value="SectorAnalysis_PERatioCompanyPerCurrentFiscalYearMean" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearPriceEarningsGrowthCompanyCurrentFiscalYear" />
					<s:enumeration value="SectorAnalysis_ThreeQuartersPriorActualIndustry" />
					<s:enumeration value="SectorAnalysis_TwoQuartersPriorActualIndustry" />
					<s:enumeration value="SectorAnalysis_CurrentQuarterEstimateIndustry" />
					<s:enumeration value="SectorAnalysis_NextQuarterEstimateIndustry" />
					<s:enumeration value="SectorAnalysis_IndustryMostRecentFiscalYearActualIndustry" />
					<s:enumeration value="SectorAnalysis_IndustryCurrentFiscalYearEstimateIndustry" />
					<s:enumeration value="SectorAnalysis_IndustryNextFiscalYearEstimateIndustry" />
					<s:enumeration value="SectorAnalysis_MeanEstimateIndustryLongTermGrowth" />
					<s:enumeration value="SectorAnalysis_MeanRecommendationIndustry" />
					<s:enumeration value="SectorAnalysis_PERatioIndustryPerIndustryNextFiscalYearMean" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearPriceEarningsGrowthIndustry" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceCurrentQuarterVsThreeQuartersPriorIndustry" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceNextQuarterVsTwoQuartersPriorIndustry" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceIndustryCurrentFiscalYearVsIndustryMostRecentFiscalYearIndustry" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceIndustryNextFiscalYearVsIndustryCurrentFiscalYearIndustry" />
					<s:enumeration value="SectorAnalysis_ThreeQuartersPriorActualSector" />
					<s:enumeration value="SectorAnalysis_TwoQuartersPriorActualSector" />
					<s:enumeration value="SectorAnalysis_CurrentQuarterEstimateSector" />
					<s:enumeration value="SectorAnalysis_NextQuarterEstimateSector" />
					<s:enumeration value="SectorAnalysis_IndustryMostRecentFiscalYearActualSector" />
					<s:enumeration value="SectorAnalysis_IndustryCurrentFiscalYearEstimateSector" />
					<s:enumeration value="SectorAnalysis_IndustryNextFiscalYearEstimateSector" />
					<s:enumeration value="SectorAnalysis_MeanEstimateSectorLongTermGrowth" />
					<s:enumeration value="SectorAnalysis_MeanRecommendationSector" />
					<s:enumeration value="SectorAnalysis_PERatioSectorPerIndustryCurrentFiscalYearMean" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearPriceEarningsGrowthSector" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceCurrentQuarterVsThreeQuartersPriorSector" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceNextQuarterVsTwoQuartersPriorSector" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceIndustryCurrentFiscalYearVsIndustryMostRecentFiscalYearSector" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceIndustryNextFiscalYearVsIndustryCurrentFiscalYearSector" />
					<s:enumeration value="SectorAnalysis_ThreeQuartersPriorActualSP500" />
					<s:enumeration value="SectorAnalysis_TwoQuartersPriorActualSP500" />
					<s:enumeration value="SectorAnalysis_CurrentQuarterEstimateSP500" />
					<s:enumeration value="SectorAnalysis_NextQuarterEstimateSP500" />
					<s:enumeration value="SectorAnalysis_MostRecentFiscalYearEstimateDividedByActualSP500" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearEstimateSP500" />
					<s:enumeration value="SectorAnalysis_NextFiscalYearEstimateSP500" />
					<s:enumeration value="SectorAnalysis_MeanEstimateSP500LongTermGrowth" />
					<s:enumeration value="SectorAnalysis_MeanRecommendationSP500" />
					<s:enumeration value="SectorAnalysis_PERatioSP500PerCurrentFiscalYearMean" />
					<s:enumeration value="SectorAnalysis_CurrentFiscalYearPriceEarningsGrowthSP500" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceCurrentQuarterVsThreeQuartersPriorSP500" />
					<s:enumeration value="SectorAnalysis_PercentDifferrenceNextQuarterVsTwoQuartersPriorSP500" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceCurrentFiscalYearVsMostRecentFiscalYearSP500" />
					<s:enumeration value="SectorAnalysis_PercentDifferenceNextFiscalYearVsCurrentFiscalYearSP500" />
					<s:enumeration value="SectorAnalysis_FiveYearHistoricEarningsPerShareGrowthCompany" />
					<s:enumeration value="SectorAnalysis_FiveYearHistoricEarningsPerShareGrowthIndustry" />
					<s:enumeration value="SectorAnalysis_FiveYearHistoricEarningsPerShareGrowthSector" />
					<s:enumeration value="SectorAnalysis_FiveYearHistoricEarningsPerShareGrowthSP500" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStock" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStockAsAStrongBuy" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStockAsAModerateBuy" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStockAsAHold" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStockAsAModerateSell" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfBrokersRecommendingStockAsAStrongSell" />
					<s:enumeration value="EPSEstimatesAndRecommendations_CurrentAverageRecommendation" />
					<s:enumeration value="EPSEstimatesAndRecommendations_PreviousAverageRecommendation" />
					<s:enumeration value="EPSEstimatesAndRecommendations_EarningsPerShareForMostRecentlyReportedQuarter" />
					<s:enumeration value="EPSEstimatesAndRecommendations_PercentEarningsPerShareSurpriseForMostRecentlyReportedQuarter" />
					<s:enumeration value="EPSEstimatesAndRecommendations_ConsensusEarningsPerShareEstimateForNextQuarterToReport" />
					<s:enumeration value="EPSEstimatesAndRecommendations_ConsensusEarningsPerShareEstimateForNextFiscalYearToReport" />
					<s:enumeration value="EPSEstimatesAndRecommendations_ConsensusEarningsPerShareEstimateForFiscalYearAfterFr1" />
					<s:enumeration value="EPSEstimatesAndRecommendations_IndustryName" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NumberOfCompaniesInIndustryWithRecommendations" />
					<s:enumeration value="EPSEstimatesAndRecommendations_RecommendationRankOfCompany" />
					<s:enumeration value="EPSEstimatesAndRecommendations_MonthEndAssociatedWithMostRecentReportedQuarter" />
					<s:enumeration value="EPSEstimatesAndRecommendations_MonthEndAssociatedWithNextQuarterToReport" />
					<s:enumeration value="EPSEstimatesAndRecommendations_DateAssociatedWithMostRecentlyReportedFiscalYear" />
					<s:enumeration value="EPSEstimatesAndRecommendations_MostRecentlyReportedQuarterFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_MostRecentlyReportedQuarterConsensusEstimate" />
					<s:enumeration value="EPSEstimatesAndRecommendations_MostRecentlyReportedQuarterReportDate" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NextQuarterToReportFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NextQuarterToReportExpectedReportDate" />
					<s:enumeration value="EPSEstimatesAndRecommendations_TwoQuartersOutFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_TwoQuartersOutConsensusEstimate" />
					<s:enumeration value="EPSEstimatesAndRecommendations_NextFiscalYearFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_TwoFiscalYearsOutFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_ThreeFiscalYearsOutFiscalReferencePeriod" />
					<s:enumeration value="EPSEstimatesAndRecommendations_FourFiscalYearsOutFiscalReferencePeriod" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetResearchFieldResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldResult" type="tns:EstimatesResearchField" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="EstimatesResearchField">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:EstimateFieldTypes" />
							<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="DataFormat" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="DataSource" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Common">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="OutcomeTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Success" />
					<s:enumeration value="SystemError" />
					<s:enumeration value="RequestError" />
					<s:enumeration value="RegistrationError" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="Security">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="Header" type="tns:Header" />
			<s:complexType name="Header">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="GetResearchFields">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="EstimateFieldType" type="tns:EstimateFieldTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchFieldsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldsResult" type="tns:ArrayOfEstimatesResearchField" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfEstimatesResearchField">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="EstimatesResearchField" nillable="true"
						type="tns:EstimatesResearchField" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetResearchFieldListsByCollection">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="0" maxOccurs="1" name="EstimateFieldTypes" type="tns:ArrayOfEstimateFieldTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfEstimateFieldTypes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="EstimateFieldTypes" type="tns:EstimateFieldTypes" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetResearchFieldListsByCollectionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldListsByCollectionResult" type="tns:ArrayOfEstimatesResearchFieldList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfEstimatesResearchFieldList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="EstimatesResearchFieldList" nillable="true"
						type="tns:EstimatesResearchFieldList" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="EstimatesResearchFieldList">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="0" maxOccurs="1" name="EstimatesResearchFields" type="tns:ArrayOfEstimatesResearchField" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetResearchFieldListByCollection">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="0" maxOccurs="1" name="EstimateFieldTypes" type="tns:ArrayOfEstimateFieldTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchFieldListByCollectionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldListByCollectionResult" type="tns:EstimatesResearchFieldList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchFieldList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="EstimateGroup" type="tns:EstimateGroups" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="EstimateGroups">
				<s:restriction base="s:string">
					<s:enumeration value="EarningsEstimates" />
					<s:enumeration value="EarningsEstimatesConsensusTrend" />
					<s:enumeration value="EarningsSurprise" />
					<s:enumeration value="EPSGrowthRates" />
					<s:enumeration value="SectorAnalysis" />
					<s:enumeration value="EPSEstimatesAndRecommendations" />
					<s:enumeration value="All" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetResearchFieldListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldListResult" type="tns:EstimatesResearchFieldList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchFieldLists">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="EstimateGroup" type="tns:EstimateGroups" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchFieldListsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchFieldListsResult" type="tns:ArrayOfEstimatesResearchFieldList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchReport">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="EstimatesResearchReportType" type="tns:EstimatesResearchReportTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="EstimatesResearchReportTypes">
				<s:restriction base="s:string">
					<s:enumeration value="EarningsEstimates" />
					<s:enumeration value="EstimatesRecommendations" />
					<s:enumeration value="YahooFinanceEstimates" />
					<s:enumeration value="EarningsSurprise" />
					<s:enumeration value="AnalystRecommendations" />
					<s:enumeration value="AnalystRecommendationsAndHistogram" />
					<s:enumeration value="SectorAnalysis" />
					<s:enumeration value="EPSGrowthRates" />
					<s:enumeration value="EarningsEstimatesConsensusTrend" />
					<s:enumeration value="Default" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetResearchReportResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchReportResult" type="tns:ResearchReport" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ResearchReport">
				<s:complexContent mixed="false">
					<s:extension base="tns:AbstractZacksObject">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="ResearchReportType" type="tns:ResearchReportTypes" />
							<s:element minOccurs="0" maxOccurs="1" name="ResearchReportLines" type="tns:ArrayOfResearchReportLine" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="AbstractZacksObject" abstract="true">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common" />
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ResearchReportLine">
				<s:complexContent mixed="false">
					<s:extension base="tns:AbstractZacksObject">
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="ResearchReportLineType" type="tns:ResearchReportLineTypes" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:simpleType name="ResearchReportLineTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Heading" />
					<s:enumeration value="SubHeading" />
					<s:enumeration value="Line" />
					<s:enumeration value="Default" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="ResearchReportTypes">
				<s:restriction base="s:string">
					<s:enumeration value="EarningsEstimates" />
					<s:enumeration value="EstimatesRecommendations" />
					<s:enumeration value="YahooFinanceEstimates" />
					<s:enumeration value="EarningsSurprise" />
					<s:enumeration value="AnalystRecommendations" />
					<s:enumeration value="AnalystRecommendationsAndHistogram" />
					<s:enumeration value="SectorAnalysis" />
					<s:enumeration value="EPSGrowthRates" />
					<s:enumeration value="EarningsEstimatesConsensusTrend" />
					<s:enumeration value="CurrentSalesConsensus" />
					<s:enumeration value="CurrentSalesConsensusChange" />
					<s:enumeration value="SummaryCurrentStatistics" />
					<s:enumeration value="SummaryCurrentStatisticsChange" />
					<s:enumeration value="GeneratedFromUserTemplate" />
					<s:enumeration value="Default" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ArrayOfResearchReportLine">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ResearchReportLine" nillable="true"
						type="tns:ResearchReportLine" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetResearchReportCustom">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="0" maxOccurs="1" name="ReportTemplate" type="tns:ResearchReportTemplate" />
						<s:element minOccurs="0" maxOccurs="1" name="DefaultValue" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ResearchReportTemplate">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ResearchReportLineTemplates" type="tns:ArrayOfResearchReportLineTemplate" />
					<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfResearchReportLineTemplate">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ResearchReportLineTemplate" nillable="true"
						type="tns:ResearchReportLineTemplate" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResearchReportLineTemplate">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ResearchReportLineType" type="tns:ResearchReportLineTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetResearchReportCustomResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchReportCustomResult" type="tns:ResearchReport" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchReportTemplate">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="EstimatesResearchReportType" type="tns:EstimatesResearchReportTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchReportTemplateResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchReportTemplateResult" type="tns:ResearchReportTemplate" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ListResearchFields">
				<s:complexType />
			</s:element>
			<s:element name="ListResearchFieldsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ListResearchFieldsResult" type="tns:ArrayOfEstimatesResearchField" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SearchResearchFields">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SearchResearchFieldsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SearchResearchFieldsResult" type="tns:ArrayOfEstimatesResearchField" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetMultiResearchField">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="0" maxOccurs="1" name="EstimateFieldTypes" type="tns:ArrayOfEstimateFieldTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetMultiResearchFieldResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetMultiResearchFieldResult" type="tns:MultiEstimatesResearchField" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="MultiEstimatesResearchField">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="0" maxOccurs="1" name="EstimatesResearchFields" type="tns:ArrayOfEstimatesResearchField" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="EstimatesResearchField" nillable="true" type="tns:EstimatesResearchField" />
			<s:element name="ArrayOfEstimatesResearchField" nillable="true" type="tns:ArrayOfEstimatesResearchField" />
			<s:element name="ArrayOfEstimatesResearchFieldList" nillable="true" type="tns:ArrayOfEstimatesResearchFieldList" />
			<s:element name="EstimatesResearchFieldList" nillable="true" type="tns:EstimatesResearchFieldList" />
			<s:element name="ResearchReport" nillable="true" type="tns:ResearchReport" />
			<s:element name="ResearchReportTemplate" nillable="true" type="tns:ResearchReportTemplate" />
			<s:element name="MultiEstimatesResearchField" nillable="true" type="tns:MultiEstimatesResearchField" />
		</s:schema>
		<s:schema targetNamespace="http://www.xignite.com/services/AbstractTypes">
			<s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<s:complexType name="StringArray">
				<s:complexContent mixed="false">
					<s:restriction base="soapenc:Array">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
						</s:sequence>
					</s:restriction>
				</s:complexContent>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetResearchFieldSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchFields" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldsResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListsByCollection" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListsByCollectionResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListByCollection" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListByCollectionResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchFieldLists" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchFieldListsResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchReport" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchReportResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportCustomSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchReportCustom" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportCustomSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchReportCustomResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportCustomHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateSoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchReportTemplate" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateSoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchReportTemplateResponse" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="ListResearchFieldsSoapIn">
		<wsdl:part name="parameters" element="tns:ListResearchFields" />
	</wsdl:message>
	<wsdl:message name="ListResearchFieldsSoapOut">
		<wsdl:part name="parameters" element="tns:ListResearchFieldsResponse" />
	</wsdl:message>
	<wsdl:message name="ListResearchFieldsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsSoapIn">
		<wsdl:part name="parameters" element="tns:SearchResearchFields" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsSoapOut">
		<wsdl:part name="parameters" element="tns:SearchResearchFieldsResponse" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldSoapIn">
		<wsdl:part name="parameters" element="tns:GetMultiResearchField" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldSoapOut">
		<wsdl:part name="parameters" element="tns:GetMultiResearchFieldResponse" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldHttpGetOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsHttpGetIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionHttpGetIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionHttpGetOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateGroup" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListHttpGetOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsHttpGetIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateGroup" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimatesResearchReportType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportHttpGetOut">
		<wsdl:part name="Body" element="tns:ResearchReport" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateHttpGetIn">
		<wsdl:part name="EstimatesResearchReportType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateHttpGetOut">
		<wsdl:part name="Body" element="tns:ResearchReportTemplate" />
	</wsdl:message>
	<wsdl:message name="ListResearchFieldsHttpGetIn" />
	<wsdl:message name="ListResearchFieldsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsHttpGetIn">
		<wsdl:part name="pattern" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldHttpGetOut">
		<wsdl:part name="Body" element="tns:MultiEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldHttpPostOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsHttpPostIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionHttpPostIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsByCollectionHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListByCollectionHttpPostOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateGroup" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListHttpPostOut">
		<wsdl:part name="Body" element="tns:EstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsHttpPostIn">
		<wsdl:part name="Identifiers" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateGroup" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchFieldListsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchFieldList" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimatesResearchReportType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportHttpPostOut">
		<wsdl:part name="Body" element="tns:ResearchReport" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateHttpPostIn">
		<wsdl:part name="EstimatesResearchReportType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetResearchReportTemplateHttpPostOut">
		<wsdl:part name="Body" element="tns:ResearchReportTemplate" />
	</wsdl:message>
	<wsdl:message name="ListResearchFieldsHttpPostIn" />
	<wsdl:message name="ListResearchFieldsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsHttpPostIn">
		<wsdl:part name="pattern" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SearchResearchFieldsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEstimatesResearchField" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="EstimateFieldTypes" type="s1:StringArray" />
	</wsdl:message>
	<wsdl:message name="GetMultiResearchFieldHttpPostOut">
		<wsdl:part name="Body" element="tns:MultiEstimatesResearchField" />
	</wsdl:message>
	<wsdl:portType name="XigniteEstimatesSoap">
		<wsdl:operation name="GetResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchField object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldSoapIn" />
			<wsdl:output message="tns:GetResearchFieldSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchField objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldsSoapIn" />
			<wsdl:output message="tns:GetResearchFieldsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsByCollectionSoapIn" />
			<wsdl:output message="tns:GetResearchFieldListsByCollectionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
				and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListByCollectionSoapIn" />
			<wsdl:output message="tns:GetResearchFieldListByCollectionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListSoapIn" />
			<wsdl:output message="tns:GetResearchFieldListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsSoapIn" />
			<wsdl:output message="tns:GetResearchFieldListsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the requested ResearchReport for the identifier.
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportSoapIn" />
			<wsdl:output message="tns:GetResearchReportSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportCustom">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the requested custom ResearchReport for the identifier.
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportCustomSoapIn" />
			<wsdl:output message="tns:GetResearchReportCustomSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the a ResearchReportTemplate populated for the specified
				kind of report.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportTemplateSoapIn" />
			<wsdl:output message="tns:GetResearchReportTemplateSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all the Research Fields that are supported by this service.
			</wsdl:documentation>
			<wsdl:input message="tns:ListResearchFieldsSoapIn" />
			<wsdl:output message="tns:ListResearchFieldsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search Research Field names and description</wsdl:documentation>
			<wsdl:input message="tns:SearchResearchFieldsSoapIn" />
			<wsdl:output message="tns:SearchResearchFieldsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a a multiple research fields for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetMultiResearchFieldSoapIn" />
			<wsdl:output message="tns:GetMultiResearchFieldSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteEstimatesHttpGet">
		<wsdl:operation name="GetResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchField object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchField objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldsHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsByCollectionHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldListsByCollectionHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
				and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListByCollectionHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldListByCollectionHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldListHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsHttpGetIn" />
			<wsdl:output message="tns:GetResearchFieldListsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the requested ResearchReport for the identifier.
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportHttpGetIn" />
			<wsdl:output message="tns:GetResearchReportHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the a ResearchReportTemplate populated for the specified
				kind of report.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportTemplateHttpGetIn" />
			<wsdl:output message="tns:GetResearchReportTemplateHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all the Research Fields that are supported by this service.
			</wsdl:documentation>
			<wsdl:input message="tns:ListResearchFieldsHttpGetIn" />
			<wsdl:output message="tns:ListResearchFieldsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search Research Field names and description</wsdl:documentation>
			<wsdl:input message="tns:SearchResearchFieldsHttpGetIn" />
			<wsdl:output message="tns:SearchResearchFieldsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a a multiple research fields for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetMultiResearchFieldHttpGetIn" />
			<wsdl:output message="tns:GetMultiResearchFieldHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteEstimatesHttpPost">
		<wsdl:operation name="GetResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchField object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchField objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldsHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsByCollectionHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldListsByCollectionHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
				and an array of EstimateFieldTypes.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListByCollectionHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldListByCollectionHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a EstimatesResearchFieldList object for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldListHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return an array of EstimatesResearchFieldList objects for multiple
				identifiers</wsdl:documentation>
			<wsdl:input message="tns:GetResearchFieldListsHttpPostIn" />
			<wsdl:output message="tns:GetResearchFieldListsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the requested ResearchReport for the identifier.
			</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportHttpPostIn" />
			<wsdl:output message="tns:GetResearchReportHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return the a ResearchReportTemplate populated for the specified
				kind of report.</wsdl:documentation>
			<wsdl:input message="tns:GetResearchReportTemplateHttpPostIn" />
			<wsdl:output message="tns:GetResearchReportTemplateHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all the Research Fields that are supported by this service.
			</wsdl:documentation>
			<wsdl:input message="tns:ListResearchFieldsHttpPostIn" />
			<wsdl:output message="tns:ListResearchFieldsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search Research Field names and description</wsdl:documentation>
			<wsdl:input message="tns:SearchResearchFieldsHttpPostIn" />
			<wsdl:output message="tns:SearchResearchFieldsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a a multiple research fields for a single identifier
			</wsdl:documentation>
			<wsdl:input message="tns:GetMultiResearchFieldHttpPostIn" />
			<wsdl:output message="tns:GetMultiResearchFieldHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="XigniteEstimatesSoap" type="tns:XigniteEstimatesSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetResearchField">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchField" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchFields" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchFieldListsByCollection" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldListsByCollectionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchFieldListByCollection" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldListByCollectionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchFieldList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldListHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchFieldLists" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchFieldListsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchReport" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchReportHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportCustom">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchReportCustom" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchReportCustomHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<soap:operation soapAction="http://www.xignite.com/services/GetResearchReportTemplate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetResearchReportTemplateHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<soap:operation soapAction="http://www.xignite.com/services/ListResearchFields" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:ListResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<soap:operation soapAction="http://www.xignite.com/services/SearchResearchFields" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:SearchResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<soap:operation soapAction="http://www.xignite.com/services/GetMultiResearchField" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetMultiResearchFieldHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEstimatesSoap12" type="tns:XigniteEstimatesSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetResearchField">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchField" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchFields" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchFieldListsByCollection"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldListsByCollectionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchFieldListByCollection"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldListByCollectionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchFieldList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldListHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchFieldLists" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchFieldListsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchReport" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchReportHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportCustom">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchReportCustom" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchReportCustomHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<soap12:operation soapAction="http://www.xignite.com/services/GetResearchReportTemplate" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetResearchReportTemplateHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<soap12:operation soapAction="http://www.xignite.com/services/ListResearchFields" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:ListResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<soap12:operation soapAction="http://www.xignite.com/services/SearchResearchFields" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:SearchResearchFieldsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<soap12:operation soapAction="http://www.xignite.com/services/GetMultiResearchField" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetMultiResearchFieldHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEstimatesHttpGet" type="tns:XigniteEstimatesHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetResearchField">
			<http:operation location="/GetResearchField" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<http:operation location="/GetResearchFields" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<http:operation location="/GetResearchFieldListsByCollection" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<http:operation location="/GetResearchFieldListByCollection" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<http:operation location="/GetResearchFieldList" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<http:operation location="/GetResearchFieldLists" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<http:operation location="/GetResearchReport" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<http:operation location="/GetResearchReportTemplate" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<http:operation location="/ListResearchFields" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<http:operation location="/SearchResearchFields" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<http:operation location="/GetMultiResearchField" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEstimatesHttpPost" type="tns:XigniteEstimatesHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetResearchField">
			<http:operation location="/GetResearchField" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFields">
			<http:operation location="/GetResearchFields" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListsByCollection">
			<http:operation location="/GetResearchFieldListsByCollection" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldListByCollection">
			<http:operation location="/GetResearchFieldListByCollection" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldList">
			<http:operation location="/GetResearchFieldList" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchFieldLists">
			<http:operation location="/GetResearchFieldLists" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReport">
			<http:operation location="/GetResearchReport" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetResearchReportTemplate">
			<http:operation location="/GetResearchReportTemplate" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListResearchFields">
			<http:operation location="/ListResearchFields" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchResearchFields">
			<http:operation location="/SearchResearchFields" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMultiResearchField">
			<http:operation location="/GetMultiResearchField" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XigniteEstimates">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zacks Estimates</wsdl:documentation>
		<wsdl:port name="XigniteEstimatesSoap" binding="tns:XigniteEstimatesSoap">
			<soap:address location="http://www.xignite.com/xEstimates.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEstimatesSoap12" binding="tns:XigniteEstimatesSoap12">
			<soap12:address location="http://www.xignite.com/xEstimates.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEstimatesHttpGet" binding="tns:XigniteEstimatesHttpGet">
			<http:address location="http://www.xignite.com/xEstimates.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEstimatesHttpPost" binding="tns:XigniteEstimatesHttpPost">
			<http:address location="http://www.xignite.com/xEstimates.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>