wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__nsi-ltd.demon.co.uk_axis_services_DigDNS_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nsi-ltd.demon.co.uk/axis/services/DigDNS" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://nsi-ltd.demon.co.uk/axis/services/DigDNS" xmlns:intf="http://nsi-ltd.demon.co.uk/axis/services/DigDNS"
	xmlns:tns1="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.4Built on Apr 22, 2006 (06:55:48 PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<element name="getQueryString">
				<complexType>
					<sequence>
						<element name="sTarget" type="xsd:string" />
						<element name="index" type="xsd:int" />
						<element name="sType" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getQueryStringResponse">
				<complexType>
					<sequence>
						<element name="getQueryStringReturn" type="apachesoap:Vector" />
					</sequence>
				</complexType>
			</element>
			<element name="getNumberOfNameservers">
				<complexType />
			</element>
			<element name="getNumberOfNameserversResponse">
				<complexType>
					<sequence>
						<element name="getNumberOfNameserversReturn" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="getNameserver">
				<complexType>
					<sequence>
						<element name="index" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="getNameserverResponse">
				<complexType>
					<sequence>
						<element name="getNameserverReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getRecordTypes">
				<complexType />
			</element>
			<element name="getRecordTypesResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="getRecordTypesReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getRecordTypesResponse">
		<wsdl:part element="tns1:getRecordTypesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getNumberOfNameserversResponse">
		<wsdl:part element="tns1:getNumberOfNameserversResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getNameserverResponse">
		<wsdl:part element="tns1:getNameserverResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getNameserverRequest">
		<wsdl:part element="tns1:getNameserver" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRecordTypesRequest">
		<wsdl:part element="tns1:getRecordTypes" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getQueryStringRequest">
		<wsdl:part element="tns1:getQueryString" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getNumberOfNameserversRequest">
		<wsdl:part element="tns1:getNumberOfNameservers" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getQueryStringResponse">
		<wsdl:part element="tns1:getQueryStringResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="DigDNS">
		<wsdl:operation name="getQueryString">
			<wsdl:input message="impl:getQueryStringRequest" name="getQueryStringRequest" />
			<wsdl:output message="impl:getQueryStringResponse" name="getQueryStringResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumberOfNameservers">
			<wsdl:input message="impl:getNumberOfNameserversRequest" name="getNumberOfNameserversRequest" />
			<wsdl:output message="impl:getNumberOfNameserversResponse" name="getNumberOfNameserversResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNameserver">
			<wsdl:input message="impl:getNameserverRequest" name="getNameserverRequest" />
			<wsdl:output message="impl:getNameserverResponse" name="getNameserverResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRecordTypes">
			<wsdl:input message="impl:getRecordTypesRequest" name="getRecordTypesRequest" />
			<wsdl:output message="impl:getRecordTypesResponse" name="getRecordTypesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DigDNSSoapBinding" type="impl:DigDNS">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getQueryString">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getQueryStringRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getQueryStringResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumberOfNameservers">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumberOfNameserversRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getNumberOfNameserversResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNameserver">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNameserverRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getNameserverResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRecordTypes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getRecordTypesRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRecordTypesResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DigDNSService">
		<wsdl:port binding="impl:DigDNSSoapBinding" name="DigDNS">
			<wsdlsoap:address location="http://nsi-ltd.demon.co.uk/axis/services/DigDNS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>