wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_ZacksCompany3_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="GetCompanyProfile">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCompanyProfileResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCompanyProfileResult" type="tns:ZacksCompanyOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ZacksCompanyOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:ZacksCompanyProfile" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ServiceOutput">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsStatus">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ZacksCompanyProfile">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Number_Of_Employees" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Address_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Address_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="State_Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Country_Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Zip_Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Phone_Number" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fax_Number" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Email_Address" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_URL" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Executive_Officer_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title_Of_Officer_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Executive_Officer_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title_Of_Officer_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Executive_Officer_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title_Of_Officer_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Executive_Officer_4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title_Of_Officer_4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Executive_Officer_5" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title_Of_Officer_5" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Analyst_Coverage" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Zacks_X_Industry_Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Zacks_M_Industry_Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Zacks_X_Sector_Description" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Exchange_Traded_Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Sic_Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_1_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_2_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_3_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_4_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_5_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_5" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_6_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_6" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peer_7_Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Peer_7" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Current_Price" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="D_20_AVG_VOL" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Shares_Out" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Beta" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="M_Short_Interest_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="M_Short_Interest_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="M_Short_Interest_Ratio_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="M_Short_Interest_Ratio_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="W52_High_Price" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="W52_Low_Price" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Wk_4_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Wk_12_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ytd_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="R_4_WK_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="R_12_WK_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="R_YTD_Price_Change" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Most_Recent_Split_Date" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Most_Recent_Split_Factor" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market_Value" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fiscal_Year_End" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Last_Reported_Fiscal_Q" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Next_Expected_Report_Date" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Est_EPS_Q1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Est_EPS_F1" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_Of_Analysts_F1" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Est_EPS_GR" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Dividend_YLD" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Indicated_AVG_DIV" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Payout_Ratio" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Change_In_Payout_Ratio" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Last_Date_Of_Dividend_Paid" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Sum_Of_Last_3_Months_Dividends" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Pe_F1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Pe_12M" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Peg_Ratio" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Price_book" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Price_Cash" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Price_Sales" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Eps_GR_Q0_Q4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Eps_GR_Q0_Q1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Sales_GR_Q0_Q4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Sales_GR_Q0_Q1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROE_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROE_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROE_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROA_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROA_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_ROA_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Current_Ratio_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Current_Ratio_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Current_Ratio_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Quick_Ratio_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Quick_Ratio_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Quick_Ratio_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Operating_BNRI_Margin_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Operating_BNRI_Margin_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Operating_BNRI_Margin_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Net_Margin_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Net_Margin_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Net_Margin_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Pre_Tax_Margin_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Pre_Tax_Margin_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Pre_Tax_Margin_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_BVPS_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_BVPS_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_BVPS_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Inventory_Turnover_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Inventory_Turnover_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Inventory_Turnover_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltd_Common_Equity_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltd_Common_Equity_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltd_Common_Equity_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Debt_Total_Cap_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Debt_Total_Cap_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Q_Debt_Total_Cap_3" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIWsResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAllCompanies">
				<s:complexType />
			</s:element>
			<s:element name="GetAllCompaniesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllCompaniesResult" type="tns:SupportedCompaniesOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SupportedCompaniesOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SupportedCompaniesResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SupportedCompaniesResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Listings" type="tns:ArrayOfCompany" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfCompany">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Company">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAllStatuses">
				<s:complexType />
			</s:element>
			<s:element name="GetAllStatusesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="tns:StatusCodeOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="StatusCodeOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:StatusCodeResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="StatusCodeResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Statuses" type="tns:ArrayOfSIWsStatus" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfSIWsStatus">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetServiceInfo">
				<s:complexType />
			</s:element>
			<s:element name="GetServiceInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:ServiceInfoOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ServiceInfoOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIServiceInfoResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIServiceInfoResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="tns:ArrayOfServiceInfoRecord" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetCompanyProfileSoapIn">
		<wsdl:part name="parameters" element="tns:GetCompanyProfile" />
	</wsdl:message>
	<wsdl:message name="GetCompanyProfileSoapOut">
		<wsdl:part name="parameters" element="tns:GetCompanyProfileResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllCompaniesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllCompanies" />
	</wsdl:message>
	<wsdl:message name="GetAllCompaniesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllStatuses" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllStatusesResponse" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetServiceInfo" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="ZacksCompanySoap">
		<wsdl:operation name="GetCompanyProfile">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Zacks profile of the company requested by its ticker</documentation>
			<wsdl:input message="tns:GetCompanyProfileSoapIn" />
			<wsdl:output message="tns:GetCompanyProfileSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllCompanies">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the list of companies including their tickers and descriptions
			</documentation>
			<wsdl:input message="tns:GetAllCompaniesSoapIn" />
			<wsdl:output message="tns:GetAllCompaniesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
			<wsdl:input message="tns:GetAllStatusesSoapIn" />
			<wsdl:output message="tns:GetAllStatusesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
			<wsdl:input message="tns:GetServiceInfoSoapIn" />
			<wsdl:output message="tns:GetServiceInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZacksCompanySoap" type="tns:ZacksCompanySoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetCompanyProfile">
			<soap:operation soapAction="http://www.strikeiron.com/GetCompanyProfile" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllCompanies">
			<soap:operation soapAction="http://www.strikeiron.com/GetAllCompanies" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/ZacksCompany3/ZacksCompany/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZacksCompany">
		<wsdl:port name="ZacksCompanySoap" binding="tns:ZacksCompanySoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/ZacksCompany3/ZacksCompany" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>