wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__trial.serviceobjects.com_gpp_GeoPinPoint.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.serviceobjects.com/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://www.serviceobjects.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
			<s:element name="GetLocationByIP">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLocationByIPResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLocationByIPResult" type="tns:Location" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Location">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Certainty" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="IsProxy" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IsPublicProxy" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Network" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Err">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCountryByIP">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryByIPResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryByIPResult" type="tns:CountryLocation" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CountryLocation">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
					<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Cntry" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Ctry" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="IsPublicProxy" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetLocationByIP_V2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLocationByIP_V2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLocationByIP_V2Result" type="tns:IP" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="IP">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CountryISO3" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CountryISO2" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Certainty" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="IsProxy" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ProxyType" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ISP" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NetblockOwner" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Debug" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="Location" nillable="true" type="tns:Location" />
			<s:element name="CountryLocation" nillable="true" type="tns:CountryLocation" />
			<s:element name="IP" nillable="true" type="tns:IP" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetLocationByIPSoapIn">
		<wsdl:part name="parameters" element="tns:GetLocationByIP" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIPSoapOut">
		<wsdl:part name="parameters" element="tns:GetLocationByIPResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryByIP" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryByIPResponse" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2SoapIn">
		<wsdl:part name="parameters" element="tns:GetLocationByIP_V2" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2SoapOut">
		<wsdl:part name="parameters" element="tns:GetLocationByIP_V2Response" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIPHttpGetIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIPHttpGetOut">
		<wsdl:part name="Body" element="tns:Location" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPHttpGetIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPHttpGetOut">
		<wsdl:part name="Body" element="tns:CountryLocation" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2HttpGetIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2HttpGetOut">
		<wsdl:part name="Body" element="tns:IP" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIPHttpPostIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIPHttpPostOut">
		<wsdl:part name="Body" element="tns:Location" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPHttpPostIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetCountryByIPHttpPostOut">
		<wsdl:part name="Body" element="tns:CountryLocation" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2HttpPostIn">
		<wsdl:part name="IPAddress" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLocationByIP_V2HttpPostOut">
		<wsdl:part name="Body" element="tns:IP" />
	</wsdl:message>
	<wsdl:portType name="DOTSGeoPinPointSoap">
		<wsdl:operation name="GetLocationByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location information for a given IP address.</documentation>
			<wsdl:input message="tns:GetLocationByIPSoapIn" />
			<wsdl:output message="tns:GetLocationByIPSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the country that the IP address is located in.</documentation>
			<wsdl:input message="tns:GetCountryByIPSoapIn" />
			<wsdl:output message="tns:GetCountryByIPSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location and proxy information for a given IP address.
			</documentation>
			<wsdl:input message="tns:GetLocationByIP_V2SoapIn" />
			<wsdl:output message="tns:GetLocationByIP_V2SoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoPinPointHttpGet">
		<wsdl:operation name="GetLocationByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location information for a given IP address.</documentation>
			<wsdl:input message="tns:GetLocationByIPHttpGetIn" />
			<wsdl:output message="tns:GetLocationByIPHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the country that the IP address is located in.</documentation>
			<wsdl:input message="tns:GetCountryByIPHttpGetIn" />
			<wsdl:output message="tns:GetCountryByIPHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location and proxy information for a given IP address.
			</documentation>
			<wsdl:input message="tns:GetLocationByIP_V2HttpGetIn" />
			<wsdl:output message="tns:GetLocationByIP_V2HttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSGeoPinPointHttpPost">
		<wsdl:operation name="GetLocationByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location information for a given IP address.</documentation>
			<wsdl:input message="tns:GetLocationByIPHttpPostIn" />
			<wsdl:output message="tns:GetLocationByIPHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the country that the IP address is located in.</documentation>
			<wsdl:input message="tns:GetCountryByIPHttpPostIn" />
			<wsdl:output message="tns:GetCountryByIPHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns geographic location and proxy information for a given IP address.
			</documentation>
			<wsdl:input message="tns:GetLocationByIP_V2HttpPostIn" />
			<wsdl:output message="tns:GetLocationByIP_V2HttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DOTSGeoPinPointSoap" type="tns:DOTSGeoPinPointSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="GetLocationByIP">
			<soap:operation soapAction="http://www.serviceobjects.com/GetLocationByIP" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<soap:operation soapAction="http://www.serviceobjects.com/GetCountryByIP" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<soap:operation soapAction="http://www.serviceobjects.com/GetLocationByIP_V2" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoPinPointHttpGet" type="tns:DOTSGeoPinPointHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetLocationByIP">
			<http:operation location="/GetLocationByIP" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<http:operation location="/GetCountryByIP" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<http:operation location="/GetLocationByIP_V2" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSGeoPinPointHttpPost" type="tns:DOTSGeoPinPointHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetLocationByIP">
			<http:operation location="/GetLocationByIP" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryByIP">
			<http:operation location="/GetCountryByIP" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLocationByIP_V2">
			<http:operation location="/GetLocationByIP_V2" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DOTSGeoPinPoint">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a
			href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our
			website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img
			src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
		<wsdl:port name="DOTSGeoPinPointSoap" binding="tns:DOTSGeoPinPointSoap">
			<soap:address location="http://trial.serviceobjects.com/gpp/GeoPinPoint.asmx" />
		</wsdl:port>
		<wsdl:port name="DOTSGeoPinPointHttpGet" binding="tns:DOTSGeoPinPointHttpGet">
			<http:address location="http://trial.serviceobjects.com/gpp/GeoPinPoint.asmx" />
		</wsdl:port>
		<wsdl:port name="DOTSGeoPinPointHttpPost" binding="tns:DOTSGeoPinPointHttpPost">
			<http:address location="http://trial.serviceobjects.com/gpp/GeoPinPoint.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>