wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.unifiedsoftware.co.uk_BankValinternationalall.wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BankValinternationalall" targetNamespace="http://www.unifiedsoftware.co.uk/BankValinternationalall.wsdl"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.unifiedsoftware.co.uk/BankValinternationalall.wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<message name="ValidateInput">
		<part name="params" type="xsd:string" />
	</message>
	<message name="ValidateResult">
		<part name="result" type="xsd:string" />
	</message>
	<portType name="BankValPortType">
		<operation name="ibanvalidate">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
		<operation name="swiftvalidate">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
		<operation name="getbankdetails">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
		<operation name="getbankdetails2">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
		<operation name="abavalidate">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
		<operation name="getabadetails">
			<input message="tns:ValidateInput" />
			<output message="tns:ValidateResult" />
		</operation>
	</portType>
	<binding name="BankValBinding" type="tns:BankValPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ibanvalidate">
			<soap:operation soapAction="urn:intBankValSOAP#ibanvalidate" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
		<operation name="swiftvalidate">
			<soap:operation soapAction="urn:intBankValSOAP#swiftvalidate" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
		<operation name="getbankdetails">
			<soap:operation soapAction="urn:intBankValSOAP#getbankdetails" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
		<operation name="getbankdetails2">
			<soap:operation soapAction="urn:intBankValSOAP#getbankdetails2" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
		<operation name="abavalidate">
			<soap:operation soapAction="urn:intBankValSOAP#abavalidate" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
		<operation name="getabadetails">
			<soap:operation soapAction="urn:intBankValSOAP#getabadetails" />
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:intBankValSOAP" />
			</output>
		</operation>
	</binding>
	<service name="intBankValSOAP">
		<port name="BankValPort" binding="tns:BankValBinding">
			<soap:address location="https://www.unifiedsoftware.co.uk/cgi-bin/intbankvalSOAP.cgi" />
		</port>
	</service>
</definitions>