wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.forta.com_cf_tips_syndicate.cfc_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tips.cf.forta" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://tips.cf.forta" xmlns:intf="http://tips.cf.forta" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by ColdFusion version 8,0,1,195765 -->
	<wsdl:types>
		<schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://tips.cf.forta" />
			<import namespace="http://rpc.xml.coldfusion" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="mapItem">
				<sequence>
					<element name="key" nillable="true" type="xsd:anyType" />
					<element name="value" nillable="true" type="xsd:anyType" />
				</sequence>
			</complexType>
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://tips.cf.forta" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="CFCInvocationException">
				<sequence />
			</complexType>
			<complexType name="QueryBean">
				<sequence>
					<element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string" />
					<element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://tips.cf.forta" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://rpc.xml.coldfusion" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="SearchResponse">
		<wsdl:part name="SearchReturn" type="tns1:QueryBean" />
	</wsdl:message>
	<wsdl:message name="GetRequest">
		<wsdl:part name="date" type="xsd:dateTime" />
	</wsdl:message>
	<wsdl:message name="GetResponse">
		<wsdl:part name="GetReturn" type="apachesoap:Map" />
	</wsdl:message>
	<wsdl:message name="BrowseResponse">
		<wsdl:part name="BrowseReturn" type="apachesoap:Map" />
	</wsdl:message>
	<wsdl:message name="CFCInvocationException">
		<wsdl:part name="fault" type="tns1:CFCInvocationException" />
	</wsdl:message>
	<wsdl:message name="BrowseRequest">
		<wsdl:part name="age" type="xsd:double" />
	</wsdl:message>
	<wsdl:message name="SearchRequest">
		<wsdl:part name="text" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="Syndicate">
		<wsdl:operation name="Get" parameterOrder="date">
			<wsdl:input message="impl:GetRequest" name="GetRequest" />
			<wsdl:output message="impl:GetResponse" name="GetResponse" />
			<wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" />
		</wsdl:operation>
		<wsdl:operation name="Browse" parameterOrder="age">
			<wsdl:input message="impl:BrowseRequest" name="BrowseRequest" />
			<wsdl:output message="impl:BrowseResponse" name="BrowseResponse" />
			<wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" />
		</wsdl:operation>
		<wsdl:operation name="Search" parameterOrder="text">
			<wsdl:input message="impl:SearchRequest" name="SearchRequest" />
			<wsdl:output message="impl:SearchResponse" name="SearchResponse" />
			<wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="syndicate.cfcSoapBinding" type="impl:Syndicate">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Get">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="GetRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="GetResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="CFCInvocationException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException"
					namespace="http://tips.cf.forta" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Browse">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="BrowseRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="BrowseResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="CFCInvocationException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException"
					namespace="http://tips.cf.forta" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Search">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="SearchRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="SearchResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tips.cf.forta"
					use="encoded" />
			</wsdl:output>
			<wsdl:fault name="CFCInvocationException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException"
					namespace="http://tips.cf.forta" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SyndicateService">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ben Forta's ColdFusion Tip-of-the-Day  </wsdl:documentation>
		<wsdl:port binding="impl:syndicate.cfcSoapBinding" name="syndicate.cfc">
			<wsdlsoap:address location="http://www.forta.com/cf/tips/syndicate.cfc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>