wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_DesertSoft_PHONEval_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.desertsoft.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.desertsoft.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.desertsoft.com">
			<s:element name="PhoneVal">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="strPhoneLine" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="PhoneValResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PhoneValResult" type="tns:ReturnObject" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ReturnObject">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DecoratedPhoneNumber" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Timezone" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1" name="DST" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="CountyPopulation" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="ValidZipInfo" type="tns:ArrayOfValidZipCodes" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfValidZipCodes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ValidZipCodes" nillable="true" type="tns:ValidZipCodes" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ValidZipCodes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="ZipCodeCount" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="ZipCodeFrequency" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="ReturnObject" nillable="true" type="tns:ReturnObject" />
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PhoneValSoapIn">
		<wsdl:part name="parameters" element="tns:PhoneVal" />
	</wsdl:message>
	<wsdl:message name="PhoneValSoapOut">
		<wsdl:part name="parameters" element="tns:PhoneValResponse" />
	</wsdl:message>
	<wsdl:message name="PhoneValHttpGetIn">
		<wsdl:part name="strPhoneLine" type="s:string" />
		<wsdl:part name="strUser" type="s:string" />
		<wsdl:part name="strPass" type="s:string" />
	</wsdl:message>
	<wsdl:message name="PhoneValHttpGetOut">
		<wsdl:part name="Body" element="tns:ReturnObject" />
	</wsdl:message>
	<wsdl:message name="PhoneValHttpPostIn">
		<wsdl:part name="strPhoneLine" type="s:string" />
		<wsdl:part name="strUser" type="s:string" />
		<wsdl:part name="strPass" type="s:string" />
	</wsdl:message>
	<wsdl:message name="PhoneValHttpPostOut">
		<wsdl:part name="Body" element="tns:ReturnObject" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="PhoneValidatorSoap">
		<wsdl:operation name="PhoneVal">
			<wsdl:input message="tns:PhoneValSoapIn" />
			<wsdl:output message="tns:PhoneValSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PhoneValidatorSoap" type="tns:PhoneValidatorSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PhoneVal">
			<soap:operation soapAction="http://www.desertsoft.com/PhoneVal" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/DesertSoft/PHONEval/PhoneValidator/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PhoneValidator">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Validates area codes and prefixes.</documentation>
		<wsdl:port name="PhoneValidatorSoap" binding="tns:PhoneValidatorSoap">
			<soap:address location="http://ws.strikeiron.com/DesertSoft/PHONEval/PhoneValidator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>