wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.supplychainserver.com_webservices_CommuneInfoservice.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://supplychainserver.com/webservices/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://supplychainserver.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://supplychainserver.com/webservices/">
			<s:element name="RechercherCommune">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="commune" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="departement" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RechercherCommuneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RechercherCommuneResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="RechercherCommuneSoapIn">
		<wsdl:part name="parameters" element="tns:RechercherCommune" />
	</wsdl:message>
	<wsdl:message name="RechercherCommuneSoapOut">
		<wsdl:part name="parameters" element="tns:RechercherCommuneResponse" />
	</wsdl:message>
	<wsdl:message name="RechercherCommuneHttpGetIn">
		<wsdl:part name="commune" type="s:string" />
		<wsdl:part name="departement" type="s:string" />
	</wsdl:message>
	<wsdl:message name="RechercherCommuneHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="RechercherCommuneHttpPostIn">
		<wsdl:part name="commune" type="s:string" />
		<wsdl:part name="departement" type="s:string" />
	</wsdl:message>
	<wsdl:message name="RechercherCommuneHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="CommuneInfoServiceSoap">
		<wsdl:operation name="RechercherCommune">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks a city name by searching in the official INSEE dictionnary (2004 edition)
				and provides the list of cities that match your query. For France and demo usage only. Powered by
				SupplyChainServer.com</documentation>
			<wsdl:input message="tns:RechercherCommuneSoapIn" />
			<wsdl:output message="tns:RechercherCommuneSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CommuneInfoServiceHttpGet">
		<wsdl:operation name="RechercherCommune">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks a city name by searching in the official INSEE dictionnary (2004 edition)
				and provides the list of cities that match your query. For France and demo usage only. Powered by
				SupplyChainServer.com</documentation>
			<wsdl:input message="tns:RechercherCommuneHttpGetIn" />
			<wsdl:output message="tns:RechercherCommuneHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CommuneInfoServiceHttpPost">
		<wsdl:operation name="RechercherCommune">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks a city name by searching in the official INSEE dictionnary (2004 edition)
				and provides the list of cities that match your query. For France and demo usage only. Powered by
				SupplyChainServer.com</documentation>
			<wsdl:input message="tns:RechercherCommuneHttpPostIn" />
			<wsdl:output message="tns:RechercherCommuneHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CommuneInfoServiceSoap" type="tns:CommuneInfoServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="RechercherCommune">
			<soap:operation soapAction="http://supplychainserver.com/webservices/RechercherCommune" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CommuneInfoServiceHttpGet" type="tns:CommuneInfoServiceHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="RechercherCommune">
			<http:operation location="/RechercherCommune" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CommuneInfoServiceHttpPost" type="tns:CommuneInfoServiceHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="RechercherCommune">
			<http:operation location="/RechercherCommune" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CommuneInfoService">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
		<wsdl:port name="CommuneInfoServiceSoap" binding="tns:CommuneInfoServiceSoap">
			<soap:address location="http://www.supplychainserver.com/webservices/CommuneInfoservice.asmx" />
		</wsdl:port>
		<wsdl:port name="CommuneInfoServiceHttpGet" binding="tns:CommuneInfoServiceHttpGet">
			<http:address location="http://www.supplychainserver.com/webservices/CommuneInfoservice.asmx" />
		</wsdl:port>
		<wsdl:port name="CommuneInfoServiceHttpPost" binding="tns:CommuneInfoServiceHttpPost">
			<http:address location="http://www.supplychainserver.com/webservices/CommuneInfoservice.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>