wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xignite.com_xHoldings.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xignite.com/services/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.xignite.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provide information on institutional holdings.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/">
			<s:element name="GetFormSC13XDetails">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="HTMLUrl" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFormSC13XDetailsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetFormSC13XDetailsResult" type="tns:FormSC13X" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="FormSC13X">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="FilingHeader" type="tns:SECHeader" />
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ReportingEntities" type="tns:ArrayOfReportingEntity" />
							<s:element minOccurs="0" maxOccurs="1" name="CUSIP" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Common">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="OutcomeTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Success" />
					<s:enumeration value="SystemError" />
					<s:enumeration value="RequestError" />
					<s:enumeration value="RegistrationError" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ReportingEntity">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="IRSNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="PlaceOfOrganization" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="SoleVotingPower" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="SharedVotingPower" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="SoleDispositivePower" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="SharedDispositivePower" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="AggregateAmountBeneficiallyOwned" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="PercentOfClassOwned" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="TypeOfReportingPerson" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Security">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SICCode">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Office" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SECHeader">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AccessionNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ConformedSubmissionType" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="PublicDocumentCount" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ConformedPeriodOfReport" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ItemInformation" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="FiledAsOfDate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="DateOfFilingChange" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="SROS" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Filer" type="tns:SECFiler" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SECFiler">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="CompanyData" type="tns:SECCompanyData" />
					<s:element minOccurs="0" maxOccurs="1" name="FilingValues" type="tns:SECFilingValues" />
					<s:element minOccurs="0" maxOccurs="1" name="BusinessAddress" type="tns:SECBusinessAddress" />
					<s:element minOccurs="0" maxOccurs="1" name="MailAddress" type="tns:SECBusinessAddress" />
					<s:element minOccurs="0" maxOccurs="1" name="FormerCompanyNames" type="tns:ArrayOfSECFormerCompanyName" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SECCompanyData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="CompanyConformedName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CentralIndexKey" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SICCode" type="tns:SICCode" />
					<s:element minOccurs="0" maxOccurs="1" name="IRSNumber" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="StateOfIncorporation" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FiscalYearEnd" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SECFilingValues">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="FormType" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SECFileNumber" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FilmNumber" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SECAct" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SECBusinessAddress">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ZIP" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="BusinessPhone" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSECFormerCompanyName">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SECFormerCompanyName" nillable="true"
						type="tns:SECFormerCompanyName" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SECFormerCompanyName">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DateOfNameChange" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfReportingEntity">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ReportingEntity" nillable="true" type="tns:ReportingEntity" />
				</s:sequence>
			</s:complexType>
			<s:element name="Header" type="tns:Header" />
			<s:complexType name="Header">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="LookupManager">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LookupManagerResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LookupManagerResult" type="tns:ArrayOfManager" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfManager">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Manager" nillable="true" type="tns:Manager" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Manager">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BusinessAddress" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="MailingAddress" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="LookupManagerByCIK">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LookupManagerByCIKResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LookupManagerByCIKResult" type="tns:Manager" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLatestHoldings">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ManagerCIK" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLatestHoldingsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLatestHoldingsResult" type="tns:ManagerHoldings" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ManagerHoldings">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Manager" type="tns:Manager" />
							<s:element minOccurs="0" maxOccurs="1" name="Filing" type="tns:Filing" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Filing">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="FileNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="FilingDate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="QuarterEndDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Restatement" type="s:boolean" />
							<s:element minOccurs="1" maxOccurs="1" name="AddEntries" type="s:boolean" />
							<s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Holdings" type="tns:ArrayOfHolding" />
							<s:element minOccurs="1" maxOccurs="1" name="TotalEntries" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="FilingId" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfHolding">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Holding" nillable="true" type="tns:Holding" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Holding">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="OwnerCIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CUSIP" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Shares" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="OptionType" type="tns:OptionTypes" />
							<s:element minOccurs="0" maxOccurs="1" name="InvestmentType" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:simpleType name="OptionTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Call" />
					<s:enumeration value="Put" />
					<s:enumeration value="None" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetHistoricalHoldings">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ManagerCIK" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalHoldingsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalHoldingsResult" type="tns:ManagerHoldings" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFivePercentHoldings">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ManagerCIK" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFivePercentHoldingsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetFivePercentHoldingsResult" type="tns:FivePercentHoldings" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="FivePercentHoldings">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Manager" type="tns:Manager" />
							<s:element minOccurs="0" maxOccurs="1" name="Holdings" type="tns:ArrayOfFivePercentHolding" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfFivePercentHolding">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="FivePercentHolding" nillable="true"
						type="tns:FivePercentHolding" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="FivePercentHolding">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="OwnerCIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CUSIP" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="NameOfReportingPerson" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="1" maxOccurs="1" name="AggregrateAmountOwned" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="PercentOfClass" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetLatestHolders">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="IdentifierTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Symbol" />
					<s:enumeration value="CIK" />
					<s:enumeration value="CUSIP" />
					<s:enumeration value="ISIN" />
					<s:enumeration value="Valoren" />
					<s:enumeration value="SEDOL" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetLatestHoldersResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLatestHoldersResult" type="tns:SecurityHolders" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SecurityHolders">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="0" maxOccurs="1" name="Holders" type="tns:ArrayOfHolder" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfHolder">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Holder" nillable="true" type="tns:Holder" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Holder">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Manager" type="tns:Manager" />
							<s:element minOccurs="0" maxOccurs="1" name="Filing" type="tns:Filing" />
							<s:element minOccurs="0" maxOccurs="1" name="Holding" type="tns:Holding" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetTopHolders">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTopHoldersResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetTopHoldersResult" type="tns:SecurityHolders" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalHolders">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalHoldersResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalHoldersResult" type="tns:SecurityHolders" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalAmendedHoldings">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ManagerCIK" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalAmendedHoldingsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalAmendedHoldingsResult" type="tns:ManagerHoldings" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalOriginalHoldings">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ManagerCIK" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHistoricalOriginalHoldingsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHistoricalOriginalHoldingsResult" type="tns:ManagerHoldings" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FormSC13X" nillable="true" type="tns:FormSC13X" />
			<s:element name="ArrayOfManager" nillable="true" type="tns:ArrayOfManager" />
			<s:element name="Manager" nillable="true" type="tns:Manager" />
			<s:element name="ManagerHoldings" nillable="true" type="tns:ManagerHoldings" />
			<s:element name="FivePercentHoldings" nillable="true" type="tns:FivePercentHoldings" />
			<s:element name="SecurityHolders" nillable="true" type="tns:SecurityHolders" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetFormSC13XDetailsSoapIn">
		<wsdl:part name="parameters" element="tns:GetFormSC13XDetails" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsSoapOut">
		<wsdl:part name="parameters" element="tns:GetFormSC13XDetailsResponse" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="LookupManagerSoapIn">
		<wsdl:part name="parameters" element="tns:LookupManager" />
	</wsdl:message>
	<wsdl:message name="LookupManagerSoapOut">
		<wsdl:part name="parameters" element="tns:LookupManagerResponse" />
	</wsdl:message>
	<wsdl:message name="LookupManagerHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKSoapIn">
		<wsdl:part name="parameters" element="tns:LookupManagerByCIK" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKSoapOut">
		<wsdl:part name="parameters" element="tns:LookupManagerByCIKResponse" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetLatestHoldings" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetLatestHoldingsResponse" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetHistoricalHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetHistoricalHoldingsResponse" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetFivePercentHoldings" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetFivePercentHoldingsResponse" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersSoapIn">
		<wsdl:part name="parameters" element="tns:GetLatestHolders" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersSoapOut">
		<wsdl:part name="parameters" element="tns:GetLatestHoldersResponse" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersSoapIn">
		<wsdl:part name="parameters" element="tns:GetTopHolders" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersSoapOut">
		<wsdl:part name="parameters" element="tns:GetTopHoldersResponse" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersSoapIn">
		<wsdl:part name="parameters" element="tns:GetHistoricalHolders" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersSoapOut">
		<wsdl:part name="parameters" element="tns:GetHistoricalHoldersResponse" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetHistoricalAmendedHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetHistoricalAmendedHoldingsResponse" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetHistoricalOriginalHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetHistoricalOriginalHoldingsResponse" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsHttpGetIn">
		<wsdl:part name="HTMLUrl" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsHttpGetOut">
		<wsdl:part name="Body" element="tns:FormSC13X" />
	</wsdl:message>
	<wsdl:message name="LookupManagerHttpGetIn">
		<wsdl:part name="Name" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LookupManagerHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfManager" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKHttpGetIn">
		<wsdl:part name="CIK" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKHttpGetOut">
		<wsdl:part name="Body" element="tns:Manager" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsHttpGetIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsHttpGetOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsHttpGetIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsHttpGetOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsHttpGetIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsHttpGetOut">
		<wsdl:part name="Body" element="tns:FivePercentHoldings" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersHttpGetOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Count" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersHttpGetOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersHttpGetOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsHttpGetIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsHttpGetOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsHttpGetIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsHttpGetOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsHttpPostIn">
		<wsdl:part name="HTMLUrl" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFormSC13XDetailsHttpPostOut">
		<wsdl:part name="Body" element="tns:FormSC13X" />
	</wsdl:message>
	<wsdl:message name="LookupManagerHttpPostIn">
		<wsdl:part name="Name" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LookupManagerHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfManager" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKHttpPostIn">
		<wsdl:part name="CIK" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LookupManagerByCIKHttpPostOut">
		<wsdl:part name="Body" element="tns:Manager" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsHttpPostIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldingsHttpPostOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsHttpPostIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldingsHttpPostOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsHttpPostIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFivePercentHoldingsHttpPostOut">
		<wsdl:part name="Body" element="tns:FivePercentHoldings" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLatestHoldersHttpPostOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Count" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetTopHoldersHttpPostOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalHoldersHttpPostOut">
		<wsdl:part name="Body" element="tns:SecurityHolders" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsHttpPostIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalAmendedHoldingsHttpPostOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsHttpPostIn">
		<wsdl:part name="ManagerCIK" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetHistoricalOriginalHoldingsHttpPostOut">
		<wsdl:part name="Body" element="tns:ManagerHoldings" />
	</wsdl:message>
	<wsdl:portType name="XigniteHoldingsSoap">
		<wsdl:operation name="GetFormSC13XDetails">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get detailed information on a SEC 13 D or G form.
			</wsdl:documentation>
			<wsdl:input message="tns:GetFormSC13XDetailsSoapIn" />
			<wsdl:output message="tns:GetFormSC13XDetailsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager's CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerSoapIn" />
			<wsdl:output message="tns:LookupManagerSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager by CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerByCIKSoapIn" />
			<wsdl:output message="tns:LookupManagerByCIKSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for an investment manager.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldingsSoapIn" />
			<wsdl:output message="tns:GetLatestHoldingsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldingsSoapIn" />
			<wsdl:output message="tns:GetHistoricalHoldingsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns 5% (13D) holding information for an investment manager as
				of a historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetFivePercentHoldingsSoapIn" />
			<wsdl:output message="tns:GetFivePercentHoldingsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldersSoapIn" />
			<wsdl:output message="tns:GetLatestHoldersSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetTopHoldersSoapIn" />
			<wsdl:output message="tns:GetTopHoldersSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldersSoapIn" />
			<wsdl:output message="tns:GetHistoricalHoldersSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalAmendedHoldingsSoapIn" />
			<wsdl:output message="tns:GetHistoricalAmendedHoldingsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalOriginalHoldingsSoapIn" />
			<wsdl:output message="tns:GetHistoricalOriginalHoldingsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteHoldingsHttpGet">
		<wsdl:operation name="GetFormSC13XDetails">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get detailed information on a SEC 13 D or G form.
			</wsdl:documentation>
			<wsdl:input message="tns:GetFormSC13XDetailsHttpGetIn" />
			<wsdl:output message="tns:GetFormSC13XDetailsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager's CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerHttpGetIn" />
			<wsdl:output message="tns:LookupManagerHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager by CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerByCIKHttpGetIn" />
			<wsdl:output message="tns:LookupManagerByCIKHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for an investment manager.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldingsHttpGetIn" />
			<wsdl:output message="tns:GetLatestHoldingsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldingsHttpGetIn" />
			<wsdl:output message="tns:GetHistoricalHoldingsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns 5% (13D) holding information for an investment manager as
				of a historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetFivePercentHoldingsHttpGetIn" />
			<wsdl:output message="tns:GetFivePercentHoldingsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldersHttpGetIn" />
			<wsdl:output message="tns:GetLatestHoldersHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetTopHoldersHttpGetIn" />
			<wsdl:output message="tns:GetTopHoldersHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldersHttpGetIn" />
			<wsdl:output message="tns:GetHistoricalHoldersHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalAmendedHoldingsHttpGetIn" />
			<wsdl:output message="tns:GetHistoricalAmendedHoldingsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalOriginalHoldingsHttpGetIn" />
			<wsdl:output message="tns:GetHistoricalOriginalHoldingsHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteHoldingsHttpPost">
		<wsdl:operation name="GetFormSC13XDetails">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get detailed information on a SEC 13 D or G form.
			</wsdl:documentation>
			<wsdl:input message="tns:GetFormSC13XDetailsHttpPostIn" />
			<wsdl:output message="tns:GetFormSC13XDetailsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager's CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerHttpPostIn" />
			<wsdl:output message="tns:LookupManagerHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup a manager by CIK.</wsdl:documentation>
			<wsdl:input message="tns:LookupManagerByCIKHttpPostIn" />
			<wsdl:output message="tns:LookupManagerByCIKHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for an investment manager.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldingsHttpPostIn" />
			<wsdl:output message="tns:GetLatestHoldingsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldingsHttpPostIn" />
			<wsdl:output message="tns:GetHistoricalHoldingsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns 5% (13D) holding information for an investment manager as
				of a historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetFivePercentHoldingsHttpPostIn" />
			<wsdl:output message="tns:GetFivePercentHoldingsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLatestHoldersHttpPostIn" />
			<wsdl:output message="tns:GetLatestHoldersHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns latest holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetTopHoldersHttpPostIn" />
			<wsdl:output message="tns:GetTopHoldersHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical holding information for a security.
			</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalHoldersHttpPostIn" />
			<wsdl:output message="tns:GetHistoricalHoldersHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalAmendedHoldingsHttpPostIn" />
			<wsdl:output message="tns:GetHistoricalAmendedHoldingsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns holding information for an investment manager as of a
				historical date.</wsdl:documentation>
			<wsdl:input message="tns:GetHistoricalOriginalHoldingsHttpPostIn" />
			<wsdl:output message="tns:GetHistoricalOriginalHoldingsHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="XigniteHoldingsSoap" type="tns:XigniteHoldingsSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetFormSC13XDetails">
			<soap:operation soapAction="http://www.xignite.com/services/GetFormSC13XDetails" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetFormSC13XDetailsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<soap:operation soapAction="http://www.xignite.com/services/LookupManager" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LookupManagerHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<soap:operation soapAction="http://www.xignite.com/services/LookupManagerByCIK" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LookupManagerByCIKHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<soap:operation soapAction="http://www.xignite.com/services/GetLatestHoldings" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetLatestHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<soap:operation soapAction="http://www.xignite.com/services/GetHistoricalHoldings" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetHistoricalHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<soap:operation soapAction="http://www.xignite.com/services/GetFivePercentHoldings" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetFivePercentHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<soap:operation soapAction="http://www.xignite.com/services/GetLatestHolders" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetLatestHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<soap:operation soapAction="http://www.xignite.com/services/GetTopHolders" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetTopHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<soap:operation soapAction="http://www.xignite.com/services/GetHistoricalHolders" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetHistoricalHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<soap:operation soapAction="http://www.xignite.com/services/GetHistoricalAmendedHoldings" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetHistoricalAmendedHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<soap:operation soapAction="http://www.xignite.com/services/GetHistoricalOriginalHoldings" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetHistoricalOriginalHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteHoldingsSoap12" type="tns:XigniteHoldingsSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetFormSC13XDetails">
			<soap12:operation soapAction="http://www.xignite.com/services/GetFormSC13XDetails" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetFormSC13XDetailsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<soap12:operation soapAction="http://www.xignite.com/services/LookupManager" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:LookupManagerHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<soap12:operation soapAction="http://www.xignite.com/services/LookupManagerByCIK" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:LookupManagerByCIKHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<soap12:operation soapAction="http://www.xignite.com/services/GetLatestHoldings" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetLatestHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalHoldings" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetHistoricalHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<soap12:operation soapAction="http://www.xignite.com/services/GetFivePercentHoldings" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetFivePercentHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<soap12:operation soapAction="http://www.xignite.com/services/GetLatestHolders" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetLatestHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<soap12:operation soapAction="http://www.xignite.com/services/GetTopHolders" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetTopHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalHolders" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetHistoricalHoldersHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalAmendedHoldings" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetHistoricalAmendedHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalOriginalHoldings" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetHistoricalOriginalHoldingsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteHoldingsHttpGet" type="tns:XigniteHoldingsHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetFormSC13XDetails">
			<http:operation location="/GetFormSC13XDetails" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<http:operation location="/LookupManager" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<http:operation location="/LookupManagerByCIK" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<http:operation location="/GetLatestHoldings" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<http:operation location="/GetHistoricalHoldings" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<http:operation location="/GetFivePercentHoldings" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<http:operation location="/GetLatestHolders" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<http:operation location="/GetTopHolders" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<http:operation location="/GetHistoricalHolders" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<http:operation location="/GetHistoricalAmendedHoldings" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<http:operation location="/GetHistoricalOriginalHoldings" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteHoldingsHttpPost" type="tns:XigniteHoldingsHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetFormSC13XDetails">
			<http:operation location="/GetFormSC13XDetails" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManager">
			<http:operation location="/LookupManager" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LookupManagerByCIK">
			<http:operation location="/LookupManagerByCIK" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHoldings">
			<http:operation location="/GetLatestHoldings" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHoldings">
			<http:operation location="/GetHistoricalHoldings" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFivePercentHoldings">
			<http:operation location="/GetFivePercentHoldings" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestHolders">
			<http:operation location="/GetLatestHolders" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTopHolders">
			<http:operation location="/GetTopHolders" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalHolders">
			<http:operation location="/GetHistoricalHolders" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalAmendedHoldings">
			<http:operation location="/GetHistoricalAmendedHoldings" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHistoricalOriginalHoldings">
			<http:operation location="/GetHistoricalOriginalHoldings" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XigniteHoldings">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provide information on institutional holdings.</wsdl:documentation>
		<wsdl:port name="XigniteHoldingsSoap" binding="tns:XigniteHoldingsSoap">
			<soap:address location="http://www.xignite.com/xHoldings.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteHoldingsSoap12" binding="tns:XigniteHoldingsSoap12">
			<soap12:address location="http://www.xignite.com/xHoldings.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteHoldingsHttpGet" binding="tns:XigniteHoldingsHttpGet">
			<http:address location="http://www.xignite.com/xHoldings.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteHoldingsHttpPost" binding="tns:XigniteHoldingsHttpPost">
			<http:address location="http://www.xignite.com/xHoldings.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>