wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.eoddata.com_EndOfDay.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.eoddata.com/Data"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://ws.eoddata.com/Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">EODData Financial Information Web Service</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ws.eoddata.com/Data">
			<s:element name="Login">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LoginResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LOGINRESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="LOGINRESPONSE">
				<s:attribute name="Message" type="s:string" />
				<s:attribute name="Token" type="s:string" />
			</s:complexType>
			<s:element name="ExchangeList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ExchangeListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ExchangeListResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="RESPONSE">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="EXCHANGE" type="tns:EXCHANGE" />
					<s:element minOccurs="0" maxOccurs="1" name="EXCHANGES" type="tns:ArrayOfEXCHANGE" />
					<s:element minOccurs="0" maxOccurs="1" name="SYMBOL" type="tns:SYMBOL" />
					<s:element minOccurs="0" maxOccurs="1" name="SYMBOLS" type="tns:ArrayOfSYMBOL" />
					<s:element minOccurs="0" maxOccurs="1" name="QUOTE" type="tns:QUOTE" />
					<s:element minOccurs="0" maxOccurs="1" name="QUOTES" type="tns:ArrayOfQUOTE" />
					<s:element minOccurs="0" maxOccurs="1" name="SPLITS" type="tns:ArrayOfSPLIT" />
					<s:element minOccurs="0" maxOccurs="1" name="COUNTRIES" type="tns:ArrayOfCountryBase" />
					<s:element minOccurs="0" maxOccurs="1" name="CHART" type="s:string" />
				</s:sequence>
				<s:attribute name="Source" type="s:string" />
				<s:attribute name="Message" type="s:string" />
			</s:complexType>
			<s:complexType name="EXCHANGE">
				<s:attribute name="Code" type="s:string" />
				<s:attribute name="Name" type="s:string" />
				<s:attribute name="LastTradeDateTime" type="s:dateTime" use="required" />
				<s:attribute name="Country" type="s:string" />
				<s:attribute name="Currency" type="s:string" />
				<s:attribute name="Advances" type="s:int" use="required" />
				<s:attribute name="Declines" type="s:int" use="required" />
				<s:attribute name="Suffix" type="s:string" />
				<s:attribute name="TimeZone" type="s:string" />
			</s:complexType>
			<s:complexType name="ArrayOfEXCHANGE">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGE" nillable="true" type="tns:EXCHANGE" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SYMBOL">
				<s:attribute name="Code" type="s:string" />
				<s:attribute name="Name" type="s:string" />
				<s:attribute name="LongName" type="s:string" />
				<s:attribute name="DateTime" type="s:dateTime" use="required" />
			</s:complexType>
			<s:complexType name="ArrayOfSYMBOL">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SYMBOL" nillable="true" type="tns:SYMBOL" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="QUOTE">
				<s:attribute name="Symbol" type="s:string" />
				<s:attribute name="Description" type="s:string" />
				<s:attribute name="Name" type="s:string" />
				<s:attribute name="DateTime" type="s:dateTime" use="required" />
				<s:attribute name="Open" type="s:double" use="required" />
				<s:attribute name="High" type="s:double" use="required" />
				<s:attribute name="Low" type="s:double" use="required" />
				<s:attribute name="Close" type="s:double" use="required" />
				<s:attribute name="Volume" type="s:long" use="required" />
				<s:attribute name="OpenInterest" type="s:long" use="required" />
				<s:attribute name="Previous" type="s:double" use="required" />
				<s:attribute name="Change" type="s:double" use="required" />
				<s:attribute name="Bid" type="s:double" use="required" />
				<s:attribute name="Ask" type="s:double" use="required" />
			</s:complexType>
			<s:complexType name="ArrayOfQUOTE">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="QUOTE" nillable="true" type="tns:QUOTE" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSPLIT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SPLIT" nillable="true" type="tns:SPLIT" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SPLIT">
				<s:attribute name="Exchange" type="s:string" />
				<s:attribute name="Symbol" type="s:string" />
				<s:attribute name="DateTime" type="s:dateTime" use="required" />
				<s:attribute name="Ratio" type="s:string" />
			</s:complexType>
			<s:complexType name="ArrayOfCountryBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="CountryBase" nillable="true" type="tns:CountryBase" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CountryBase">
				<s:attribute name="Code" type="s:string" />
				<s:attribute name="Name" type="s:string" />
			</s:complexType>
			<s:element name="ExchangeGet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ExchangeGetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ExchangeGetResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SymbolListResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteGet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteGetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="QuoteGetResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteList2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteList2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="QuoteList2Result" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolGet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolGetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SymbolGetResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="QuoteListResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteListByDate">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="QuoteDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteListByDateResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="QuoteListByDateResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolHistory">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolHistoryResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SymbolHistoryResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Top10Gains">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Top10GainsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Top10GainsResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Top10Losses">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Top10LossesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Top10LossesResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolChart">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolChartResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SymbolChartResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SplitListByExchange">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SplitListByExchangeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SplitListByExchangeResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SplitListBySymbol">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SplitListBySymbolResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SplitListBySymbolResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CountryList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CountryListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CountryListResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolHistoryPeriod">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Period" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SymbolHistoryPeriodResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SymbolHistoryPeriodResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteListByDatePeriod">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="QuoteDate" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Period" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuoteListByDatePeriodResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="QuoteListByDatePeriodResult" type="tns:RESPONSE" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LOGINRESPONSE" nillable="true" type="tns:LOGINRESPONSE" />
			<s:element name="RESPONSE" nillable="true" type="tns:RESPONSE" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="LoginSoapIn">
		<wsdl:part name="parameters" element="tns:Login" />
	</wsdl:message>
	<wsdl:message name="LoginSoapOut">
		<wsdl:part name="parameters" element="tns:LoginResponse" />
	</wsdl:message>
	<wsdl:message name="ExchangeListSoapIn">
		<wsdl:part name="parameters" element="tns:ExchangeList" />
	</wsdl:message>
	<wsdl:message name="ExchangeListSoapOut">
		<wsdl:part name="parameters" element="tns:ExchangeListResponse" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetSoapIn">
		<wsdl:part name="parameters" element="tns:ExchangeGet" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetSoapOut">
		<wsdl:part name="parameters" element="tns:ExchangeGetResponse" />
	</wsdl:message>
	<wsdl:message name="SymbolListSoapIn">
		<wsdl:part name="parameters" element="tns:SymbolList" />
	</wsdl:message>
	<wsdl:message name="SymbolListSoapOut">
		<wsdl:part name="parameters" element="tns:SymbolListResponse" />
	</wsdl:message>
	<wsdl:message name="QuoteGetSoapIn">
		<wsdl:part name="parameters" element="tns:QuoteGet" />
	</wsdl:message>
	<wsdl:message name="QuoteGetSoapOut">
		<wsdl:part name="parameters" element="tns:QuoteGetResponse" />
	</wsdl:message>
	<wsdl:message name="QuoteList2SoapIn">
		<wsdl:part name="parameters" element="tns:QuoteList2" />
	</wsdl:message>
	<wsdl:message name="QuoteList2SoapOut">
		<wsdl:part name="parameters" element="tns:QuoteList2Response" />
	</wsdl:message>
	<wsdl:message name="SymbolGetSoapIn">
		<wsdl:part name="parameters" element="tns:SymbolGet" />
	</wsdl:message>
	<wsdl:message name="SymbolGetSoapOut">
		<wsdl:part name="parameters" element="tns:SymbolGetResponse" />
	</wsdl:message>
	<wsdl:message name="QuoteListSoapIn">
		<wsdl:part name="parameters" element="tns:QuoteList" />
	</wsdl:message>
	<wsdl:message name="QuoteListSoapOut">
		<wsdl:part name="parameters" element="tns:QuoteListResponse" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateSoapIn">
		<wsdl:part name="parameters" element="tns:QuoteListByDate" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateSoapOut">
		<wsdl:part name="parameters" element="tns:QuoteListByDateResponse" />
	</wsdl:message>
	<wsdl:message name="SymbolHistorySoapIn">
		<wsdl:part name="parameters" element="tns:SymbolHistory" />
	</wsdl:message>
	<wsdl:message name="SymbolHistorySoapOut">
		<wsdl:part name="parameters" element="tns:SymbolHistoryResponse" />
	</wsdl:message>
	<wsdl:message name="Top10GainsSoapIn">
		<wsdl:part name="parameters" element="tns:Top10Gains" />
	</wsdl:message>
	<wsdl:message name="Top10GainsSoapOut">
		<wsdl:part name="parameters" element="tns:Top10GainsResponse" />
	</wsdl:message>
	<wsdl:message name="Top10LossesSoapIn">
		<wsdl:part name="parameters" element="tns:Top10Losses" />
	</wsdl:message>
	<wsdl:message name="Top10LossesSoapOut">
		<wsdl:part name="parameters" element="tns:Top10LossesResponse" />
	</wsdl:message>
	<wsdl:message name="SymbolChartSoapIn">
		<wsdl:part name="parameters" element="tns:SymbolChart" />
	</wsdl:message>
	<wsdl:message name="SymbolChartSoapOut">
		<wsdl:part name="parameters" element="tns:SymbolChartResponse" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeSoapIn">
		<wsdl:part name="parameters" element="tns:SplitListByExchange" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeSoapOut">
		<wsdl:part name="parameters" element="tns:SplitListByExchangeResponse" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolSoapIn">
		<wsdl:part name="parameters" element="tns:SplitListBySymbol" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolSoapOut">
		<wsdl:part name="parameters" element="tns:SplitListBySymbolResponse" />
	</wsdl:message>
	<wsdl:message name="CountryListSoapIn">
		<wsdl:part name="parameters" element="tns:CountryList" />
	</wsdl:message>
	<wsdl:message name="CountryListSoapOut">
		<wsdl:part name="parameters" element="tns:CountryListResponse" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodSoapIn">
		<wsdl:part name="parameters" element="tns:SymbolHistoryPeriod" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodSoapOut">
		<wsdl:part name="parameters" element="tns:SymbolHistoryPeriodResponse" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodSoapIn">
		<wsdl:part name="parameters" element="tns:QuoteListByDatePeriod" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodSoapOut">
		<wsdl:part name="parameters" element="tns:QuoteListByDatePeriodResponse" />
	</wsdl:message>
	<wsdl:message name="LoginHttpGetIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LoginHttpGetOut">
		<wsdl:part name="Body" element="tns:LOGINRESPONSE" />
	</wsdl:message>
	<wsdl:message name="ExchangeListHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ExchangeListHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolListHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolListHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteGetHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteGetHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteList2HttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbols" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteList2HttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolGetHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolGetHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="QuoteDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="StartDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="Top10GainsHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Top10GainsHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="Top10LossesHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Top10LossesHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolChartHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolChartHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="CountryListHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
	</wsdl:message>
	<wsdl:message name="CountryListHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="Date" type="s:string" />
		<wsdl:part name="Period" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodHttpGetIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="QuoteDate" type="s:string" />
		<wsdl:part name="Period" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodHttpGetOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="LoginHttpPostIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
	</wsdl:message>
	<wsdl:message name="LoginHttpPostOut">
		<wsdl:part name="Body" element="tns:LOGINRESPONSE" />
	</wsdl:message>
	<wsdl:message name="ExchangeListHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ExchangeListHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ExchangeGetHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolListHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolListHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteGetHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteGetHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteList2HttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbols" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteList2HttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolGetHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolGetHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="QuoteDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDateHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="StartDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="Top10GainsHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Top10GainsHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="Top10LossesHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="Top10LossesHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolChartHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolChartHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SplitListByExchangeHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SplitListBySymbolHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="CountryListHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
	</wsdl:message>
	<wsdl:message name="CountryListHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="Date" type="s:string" />
		<wsdl:part name="Period" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SymbolHistoryPeriodHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodHttpPostIn">
		<wsdl:part name="Token" type="s:string" />
		<wsdl:part name="Exchange" type="s:string" />
		<wsdl:part name="QuoteDate" type="s:string" />
		<wsdl:part name="Period" type="s:string" />
	</wsdl:message>
	<wsdl:message name="QuoteListByDatePeriodHttpPostOut">
		<wsdl:part name="Body" element="tns:RESPONSE" />
	</wsdl:message>
	<wsdl:portType name="DataSoap">
		<wsdl:operation name="Login">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used for Authentication</wsdl:documentation>
			<wsdl:input message="tns:LoginSoapIn" />
			<wsdl:output message="tns:LoginSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available exchanges</wsdl:documentation>
			<wsdl:input message="tns:ExchangeListSoapIn" />
			<wsdl:output message="tns:ExchangeListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:ExchangeGetSoapIn" />
			<wsdl:output message="tns:ExchangeGetSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of symbols for a given Exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolListSoapIn" />
			<wsdl:output message="tns:SymbolListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an end of day quote for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:QuoteGetSoapIn" />
			<wsdl:output message="tns:QuoteGetSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns end of day quotes for a list of symbols (eg:
				NASDAQ,MSFT,INTC)</wsdl:documentation>
			<wsdl:input message="tns:QuoteList2SoapIn" />
			<wsdl:output message="tns:QuoteList2SoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolGetSoapIn" />
			<wsdl:output message="tns:SymbolGetSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				(eg: NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListSoapIn" />
			<wsdl:output message="tns:QuoteListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDateSoapIn" />
			<wsdl:output message="tns:QuoteListByDateSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistorySoapIn" />
			<wsdl:output message="tns:SymbolHistorySoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Gains for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10GainsSoapIn" />
			<wsdl:output message="tns:Top10GainsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Losses for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10LossesSoapIn" />
			<wsdl:output message="tns:Top10LossesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a URL to a chart image for a given exchange and symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolChartSoapIn" />
			<wsdl:output message="tns:SymbolChartSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Exchange</wsdl:documentation>
			<wsdl:input message="tns:SplitListByExchangeSoapIn" />
			<wsdl:output message="tns:SplitListByExchangeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Symbol</wsdl:documentation>
			<wsdl:input message="tns:SplitListBySymbolSoapIn" />
			<wsdl:output message="tns:SplitListBySymbolSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available countries</wsdl:documentation>
			<wsdl:input message="tns:CountryListSoapIn" />
			<wsdl:output message="tns:CountryListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol, date and
				period (eg: NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistoryPeriodSoapIn" />
			<wsdl:output message="tns:SymbolHistoryPeriodSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDatePeriodSoapIn" />
			<wsdl:output message="tns:QuoteListByDatePeriodSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DataHttpGet">
		<wsdl:operation name="Login">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used for Authentication</wsdl:documentation>
			<wsdl:input message="tns:LoginHttpGetIn" />
			<wsdl:output message="tns:LoginHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available exchanges</wsdl:documentation>
			<wsdl:input message="tns:ExchangeListHttpGetIn" />
			<wsdl:output message="tns:ExchangeListHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:ExchangeGetHttpGetIn" />
			<wsdl:output message="tns:ExchangeGetHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of symbols for a given Exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolListHttpGetIn" />
			<wsdl:output message="tns:SymbolListHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an end of day quote for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:QuoteGetHttpGetIn" />
			<wsdl:output message="tns:QuoteGetHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns end of day quotes for a list of symbols (eg:
				NASDAQ,MSFT,INTC)</wsdl:documentation>
			<wsdl:input message="tns:QuoteList2HttpGetIn" />
			<wsdl:output message="tns:QuoteList2HttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolGetHttpGetIn" />
			<wsdl:output message="tns:SymbolGetHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				(eg: NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListHttpGetIn" />
			<wsdl:output message="tns:QuoteListHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDateHttpGetIn" />
			<wsdl:output message="tns:QuoteListByDateHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistoryHttpGetIn" />
			<wsdl:output message="tns:SymbolHistoryHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Gains for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10GainsHttpGetIn" />
			<wsdl:output message="tns:Top10GainsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Losses for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10LossesHttpGetIn" />
			<wsdl:output message="tns:Top10LossesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a URL to a chart image for a given exchange and symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolChartHttpGetIn" />
			<wsdl:output message="tns:SymbolChartHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Exchange</wsdl:documentation>
			<wsdl:input message="tns:SplitListByExchangeHttpGetIn" />
			<wsdl:output message="tns:SplitListByExchangeHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Symbol</wsdl:documentation>
			<wsdl:input message="tns:SplitListBySymbolHttpGetIn" />
			<wsdl:output message="tns:SplitListBySymbolHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available countries</wsdl:documentation>
			<wsdl:input message="tns:CountryListHttpGetIn" />
			<wsdl:output message="tns:CountryListHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol, date and
				period (eg: NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistoryPeriodHttpGetIn" />
			<wsdl:output message="tns:SymbolHistoryPeriodHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDatePeriodHttpGetIn" />
			<wsdl:output message="tns:QuoteListByDatePeriodHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DataHttpPost">
		<wsdl:operation name="Login">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used for Authentication</wsdl:documentation>
			<wsdl:input message="tns:LoginHttpPostIn" />
			<wsdl:output message="tns:LoginHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available exchanges</wsdl:documentation>
			<wsdl:input message="tns:ExchangeListHttpPostIn" />
			<wsdl:output message="tns:ExchangeListHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:ExchangeGetHttpPostIn" />
			<wsdl:output message="tns:ExchangeGetHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of symbols for a given Exchange (eg: NASDAQ)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolListHttpPostIn" />
			<wsdl:output message="tns:SymbolListHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an end of day quote for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:QuoteGetHttpPostIn" />
			<wsdl:output message="tns:QuoteGetHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns end of day quotes for a list of symbols (eg:
				NASDAQ,MSFT,INTC)</wsdl:documentation>
			<wsdl:input message="tns:QuoteList2HttpPostIn" />
			<wsdl:output message="tns:QuoteList2HttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a given symbol (eg: NASDAQ,MSFT)
			</wsdl:documentation>
			<wsdl:input message="tns:SymbolGetHttpPostIn" />
			<wsdl:output message="tns:SymbolGetHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				(eg: NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListHttpPostIn" />
			<wsdl:output message="tns:QuoteListHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDateHttpPostIn" />
			<wsdl:output message="tns:QuoteListByDateHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistoryHttpPostIn" />
			<wsdl:output message="tns:SymbolHistoryHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Gains for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10GainsHttpPostIn" />
			<wsdl:output message="tns:Top10GainsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the Top 10 Losses for a given exchange (eg:
				NASDAQ)</wsdl:documentation>
			<wsdl:input message="tns:Top10LossesHttpPostIn" />
			<wsdl:output message="tns:Top10LossesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a URL to a chart image for a given exchange and symbol (eg:
				NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolChartHttpPostIn" />
			<wsdl:output message="tns:SymbolChartHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Exchange</wsdl:documentation>
			<wsdl:input message="tns:SplitListByExchangeHttpPostIn" />
			<wsdl:output message="tns:SplitListByExchangeHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Splits for a given Symbol</wsdl:documentation>
			<wsdl:input message="tns:SplitListBySymbolHttpPostIn" />
			<wsdl:output message="tns:SplitListBySymbolHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of available countries</wsdl:documentation>
			<wsdl:input message="tns:CountryListHttpPostIn" />
			<wsdl:output message="tns:CountryListHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns historical end of day data for a given symbol, date and
				period (eg: NASDAQ,MSFT)</wsdl:documentation>
			<wsdl:input message="tns:SymbolHistoryPeriodHttpPostIn" />
			<wsdl:output message="tns:SymbolHistoryPeriodHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a complete list of end of day quotes for an entire exchange
				and date (eg: NASDAQ, 20080225)</wsdl:documentation>
			<wsdl:input message="tns:QuoteListByDatePeriodHttpPostIn" />
			<wsdl:output message="tns:QuoteListByDatePeriodHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DataSoap" type="tns:DataSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Login">
			<soap:operation soapAction="http://ws.eoddata.com/Data/Login" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<soap:operation soapAction="http://ws.eoddata.com/Data/ExchangeList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<soap:operation soapAction="http://ws.eoddata.com/Data/ExchangeGet" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SymbolList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<soap:operation soapAction="http://ws.eoddata.com/Data/QuoteGet" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<soap:operation soapAction="http://ws.eoddata.com/Data/QuoteList2" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SymbolGet" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<soap:operation soapAction="http://ws.eoddata.com/Data/QuoteList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<soap:operation soapAction="http://ws.eoddata.com/Data/QuoteListByDate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SymbolHistory" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<soap:operation soapAction="http://ws.eoddata.com/Data/Top10Gains" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<soap:operation soapAction="http://ws.eoddata.com/Data/Top10Losses" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SymbolChart" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SplitListByExchange" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SplitListBySymbol" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<soap:operation soapAction="http://ws.eoddata.com/Data/CountryList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<soap:operation soapAction="http://ws.eoddata.com/Data/SymbolHistoryPeriod" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<soap:operation soapAction="http://ws.eoddata.com/Data/QuoteListByDatePeriod" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DataSoap12" type="tns:DataSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Login">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/Login" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/ExchangeList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/ExchangeGet" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SymbolList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/QuoteGet" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/QuoteList2" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SymbolGet" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/QuoteList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/QuoteListByDate" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SymbolHistory" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/Top10Gains" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/Top10Losses" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SymbolChart" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SplitListByExchange" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SplitListBySymbol" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/CountryList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/SymbolHistoryPeriod" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<soap12:operation soapAction="http://ws.eoddata.com/Data/QuoteListByDatePeriod" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DataHttpGet" type="tns:DataHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="Login">
			<http:operation location="/Login" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<http:operation location="/ExchangeList" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<http:operation location="/ExchangeGet" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<http:operation location="/SymbolList" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<http:operation location="/QuoteGet" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<http:operation location="/QuoteList2" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<http:operation location="/SymbolGet" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<http:operation location="/QuoteList" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<http:operation location="/QuoteListByDate" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<http:operation location="/SymbolHistory" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<http:operation location="/Top10Gains" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<http:operation location="/Top10Losses" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<http:operation location="/SymbolChart" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<http:operation location="/SplitListByExchange" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<http:operation location="/SplitListBySymbol" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<http:operation location="/CountryList" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<http:operation location="/SymbolHistoryPeriod" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<http:operation location="/QuoteListByDatePeriod" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DataHttpPost" type="tns:DataHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="Login">
			<http:operation location="/Login" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeList">
			<http:operation location="/ExchangeList" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExchangeGet">
			<http:operation location="/ExchangeGet" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolList">
			<http:operation location="/SymbolList" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteGet">
			<http:operation location="/QuoteGet" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList2">
			<http:operation location="/QuoteList2" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolGet">
			<http:operation location="/SymbolGet" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteList">
			<http:operation location="/QuoteList" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDate">
			<http:operation location="/QuoteListByDate" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistory">
			<http:operation location="/SymbolHistory" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Gains">
			<http:operation location="/Top10Gains" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Top10Losses">
			<http:operation location="/Top10Losses" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolChart">
			<http:operation location="/SymbolChart" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListByExchange">
			<http:operation location="/SplitListByExchange" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SplitListBySymbol">
			<http:operation location="/SplitListBySymbol" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CountryList">
			<http:operation location="/CountryList" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SymbolHistoryPeriod">
			<http:operation location="/SymbolHistoryPeriod" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuoteListByDatePeriod">
			<http:operation location="/QuoteListByDatePeriod" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Data">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">EODData Financial Information Web Service</wsdl:documentation>
		<wsdl:port name="DataSoap" binding="tns:DataSoap">
			<soap:address location="http://ws.eoddata.com/EndOfDay.asmx" />
		</wsdl:port>
		<wsdl:port name="DataSoap12" binding="tns:DataSoap12">
			<soap12:address location="http://ws.eoddata.com/EndOfDay.asmx" />
		</wsdl:port>
		<wsdl:port name="DataHttpGet" binding="tns:DataHttpGet">
			<http:address location="http://ws.eoddata.com/EndOfDay.asmx" />
		</wsdl:port>
		<wsdl:port name="DataHttpPost" binding="tns:DataHttpPost">
			<http:address location="http://ws.eoddata.com/EndOfDay.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>