wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__service.ecocoma.com_video_video.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.ecocoma.com/video/video"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://service.ecocoma.com/video/video" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma Video Web Services.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://service.ecocoma.com/video/video">
			<s:element name="GetVideo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetVideoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetVideoResult" type="tns:rss" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="rss">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="channel" type="tns:ArrayOfItem" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItem">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:item" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="item">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="pubDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="thumbnail" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="swf" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetExtendedVideo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Include" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Exclude" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetExtendedVideoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetExtendedVideoResult" type="tns:rss" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetVideoSoapIn">
		<wsdl:part name="parameters" element="tns:GetVideo" />
	</wsdl:message>
	<wsdl:message name="GetVideoSoapOut">
		<wsdl:part name="parameters" element="tns:GetVideoResponse" />
	</wsdl:message>
	<wsdl:message name="GetExtendedVideoSoapIn">
		<wsdl:part name="parameters" element="tns:GetExtendedVideo" />
	</wsdl:message>
	<wsdl:message name="GetExtendedVideoSoapOut">
		<wsdl:part name="parameters" element="tns:GetExtendedVideoResponse" />
	</wsdl:message>
	<wsdl:portType name="Video_ServiceSoap">
		<wsdl:operation name="GetVideo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List all videos that have the specified keyword from Google, MSN,
				Yahoo, AOL.</wsdl:documentation>
			<wsdl:input message="tns:GetVideoSoapIn" />
			<wsdl:output message="tns:GetVideoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetExtendedVideo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List and filter all videos that have the specified keyword from
				Google, MSN, Yahoo, AOL.</wsdl:documentation>
			<wsdl:input message="tns:GetExtendedVideoSoapIn" />
			<wsdl:output message="tns:GetExtendedVideoSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Video_ServiceSoap" type="tns:Video_ServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetVideo">
			<soap:operation soapAction="http://service.ecocoma.com/video/video/GetVideo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExtendedVideo">
			<soap:operation soapAction="http://service.ecocoma.com/video/video/GetExtendedVideo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Video_ServiceSoap12" type="tns:Video_ServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetVideo">
			<soap12:operation soapAction="http://service.ecocoma.com/video/video/GetVideo" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExtendedVideo">
			<soap12:operation soapAction="http://service.ecocoma.com/video/video/GetExtendedVideo" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Video_Service">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma Video Web Services.</wsdl:documentation>
		<wsdl:port name="Video_ServiceSoap" binding="tns:Video_ServiceSoap">
			<soap:address location="http://service.ecocoma.com/video/video.asmx" />
		</wsdl:port>
		<wsdl:port name="Video_ServiceSoap12" binding="tns:Video_ServiceSoap12">
			<soap12:address location="http://service.ecocoma.com/video/video.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>