wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xmlme.com_WSVideoGames.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xmlme.com/WebServices"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://xmlme.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlme.com/WebServices">
			<s:element name="FindVideoGames">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindVideoGamesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="FindVideoGamesResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="FindVideoGamesSoapIn">
		<wsdl:part name="parameters" element="tns:FindVideoGames" />
	</wsdl:message>
	<wsdl:message name="FindVideoGamesSoapOut">
		<wsdl:part name="parameters" element="tns:FindVideoGamesResponse" />
	</wsdl:message>
	<wsdl:portType name="VideoGamesFinderSoap">
		<wsdl:operation name="FindVideoGames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts a search string and returns a URL pointing to the video
				games search results. See http://www.xmlme.com for a sample client and additional details.</wsdl:documentation>
			<wsdl:input message="tns:FindVideoGamesSoapIn" />
			<wsdl:output message="tns:FindVideoGamesSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VideoGamesFinderSoap" type="tns:VideoGamesFinderSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindVideoGames">
			<soap:operation soapAction="http://xmlme.com/WebServices/FindVideoGames" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="VideoGamesFinderSoap12" type="tns:VideoGamesFinderSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindVideoGames">
			<soap12:operation soapAction="http://xmlme.com/WebServices/FindVideoGames" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VideoGamesFinder">
		<wsdl:port name="VideoGamesFinderSoap" binding="tns:VideoGamesFinderSoap">
			<soap:address location="http://www.xmlme.com/WSVideoGames.asmx" />
		</wsdl:port>
		<wsdl:port name="VideoGamesFinderSoap12" binding="tns:VideoGamesFinderSoap12">
			<soap12:address location="http://www.xmlme.com/WSVideoGames.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>