wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__gw1.aql.com_soap_sendservice.php_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:aqlsoap="http://soap.sendsms.aql.com" targetNamespace="http://soap.sendsms.aql.com" xmlns:aqltype="http://soap.sendsms.aql.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://soap.sendsms.aql.com" xmlns="http://soap.sendsms.aql.com"
			elementFormDefault="qualified">
			<xs:element name="auth" type="aqltype:auth" />
			<xs:complexType name="auth">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="username" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SoapSendSms">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="destinationarray" minOccurs="1" maxOccurs="1" type="aqltype:ArrayOfString" />
						<xs:element name="originator" minOccurs="0" maxOccurs="1" type="xs:string" />
						<xs:element name="message" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="messagetype" minOccurs="1" maxOccurs="1" type="aqltype:mtype" />
						<xs:element name="maxconcat" minOccurs="0" maxOccurs="1" type="aqltype:maxconcat" />
						<xs:element name="sendtime" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
						<xs:element name="dlrep" minOccurs="0" maxOccurs="1" type="aqltype:callbackelement" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ArrayOfString">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="10" name="number" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="maxconcat">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1" />
					<xs:maxInclusive value="255" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="mtype">
				<xs:restriction base="xs:string">
					<xs:enumeration value="text" />
					<xs:enumeration value="flash" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="callbackelement">
				<xs:sequence>
					<xs:element name="callbackurl" minOccurs="1" maxOccurs="1" type="xs:string" />
					<xs:element name="callbacktype" minOccurs="1" maxOccurs="1" type="aqltype:callbacktypeoptions" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="callbacktypeoptions">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NONE" />
					<xs:enumeration value="HTTPGET" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="SoapSendSmsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="responsecode" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="creditsused" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoapSendBinarySms">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="destinationarray" minOccurs="1" maxOccurs="1" type="aqltype:ArrayOfString" />
						<xs:element name="originator" minOccurs="0" maxOccurs="1" type="xs:string" />
						<xs:element name="data" minOccurs="1" maxOccurs="1" type="xs:hexBinary" />
						<xs:element name="udh" minOccurs="1" maxOccurs="1" type="xs:hexBinary" />
						<xs:element name="sendtime" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
						<xs:element name="dlrep" minOccurs="0" maxOccurs="1" type="aqltype:callbackelement" />
						<xs:element name="encoding" minOccurs="0" maxOccurs="1" type="aqltype:encodingvalues" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="encodingvalues">
				<xs:restriction base="xs:integer">
					<xs:enumeration value="7" />
					<xs:enumeration value="8" />
					<xs:enumeration value="16" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="SoapSendBinarySmsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="responsecode" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="creditsused" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoapSendWapPush">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="destinationarray" minOccurs="1" maxOccurs="1" type="aqltype:ArrayOfString" />
						<xs:element name="originator" minOccurs="0" maxOccurs="1" type="xs:string" />
						<xs:element name="waptitle" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="wapurl" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="sendtime" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
						<xs:element name="dlrep" minOccurs="0" maxOccurs="1" type="aqltype:callbackelement" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoapSendWapPushResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="responsecode" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="creditsused" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoapSendMMSNot">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="destinationarray" minOccurs="1" maxOccurs="1" type="aqltype:ArrayOfString" />
						<xs:element name="originator" minOccurs="0" maxOccurs="1" type="xs:string" />
						<xs:element name="subject" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="mmsurl" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="filesize" minOccurs="1" maxOccurs="1" type="xs:integer" />
						<xs:element name="class" minOccurs="1" maxOccurs="1" type="aqltype:mmsclass" />
						<xs:element name="expiry" minOccurs="1" maxOccurs="1" type="aqltype:mmsexpirytype" />
						<xs:element name="sendtime" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
						<xs:element name="dlrep" minOccurs="0" maxOccurs="1" type="aqltype:callbackelement" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoapSendMMSNotResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="responsecode" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="creditsused" minOccurs="1" maxOccurs="1" type="xs:string" />
						<xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="mmsclass">
				<xs:restriction base="xs:integer">
					<xs:enumeration value="80" />
					<xs:enumeration value="81" />
					<xs:enumeration value="82" />
					<xs:enumeration value="83" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="mmsexpirytype">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="authheader">
		<wsdl:part name="auth" element="aqltype:auth" />
	</wsdl:message>
	<wsdl:message name="sendsmsmessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendSms" />
	</wsdl:message>
	<wsdl:message name="sendsmsresponsemessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendSmsResponse" />
	</wsdl:message>
	<wsdl:message name="sendbinarysmsmessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendBinarySms" />
	</wsdl:message>
	<wsdl:message name="sendbinarysmsresponsemessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendBinarySmsResponse" />
	</wsdl:message>
	<wsdl:message name="sendwappushmessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendWapPush" />
	</wsdl:message>
	<wsdl:message name="sendwappushresponsemessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendWapPushResponse" />
	</wsdl:message>
	<wsdl:message name="sendmmsnotmessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendMMSNot" />
	</wsdl:message>
	<wsdl:message name="sendmmsnotresponsemessage">
		<wsdl:part name="parameters" element="aqltype:SoapSendMMSNotResponse" />
	</wsdl:message>
	<wsdl:portType name="SendSmsService">
		<wsdl:operation name="SoapSendSms">
			<wsdl:input message="aqlsoap:sendsmsmessage" />
			<wsdl:output message="aqlsoap:sendsmsresponsemessage" />
		</wsdl:operation>
		<wsdl:operation name="SoapSendBinarySms">
			<wsdl:input message="aqlsoap:sendbinarysmsmessage" />
			<wsdl:output message="aqlsoap:sendbinarysmsresponsemessage" />
		</wsdl:operation>
		<wsdl:operation name="SoapSendWapPush">
			<wsdl:input message="aqlsoap:sendwappushmessage" />
			<wsdl:output message="aqlsoap:sendwappushresponsemessage" />
		</wsdl:operation>
		<wsdl:operation name="SoapSendMMSNot">
			<wsdl:input message="aqlsoap:sendmmsnotmessage" />
			<wsdl:output message="aqlsoap:sendmmsnotresponsemessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendSmsSoapHttpBinding" type="aqlsoap:SendSmsService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SoapSendSms">
			<soap:operation soapAction="http://soap.sendsms.aql.com#sendsms" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header use="literal" part="auth" message="aqlsoap:authheader" namespace="http://soap.sendsms.aql.com" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SoapSendBinarySms">
			<soap:operation soapAction="http://soap.sendsms.aql.com#sendbinarysms" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header use="literal" part="auth" message="aqlsoap:authheader" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SoapSendWapPush">
			<soap:operation soapAction="http://soap.sendsms.aql.com#sendwappush" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header use="literal" part="auth" message="aqlsoap:authheader" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SoapSendMMSNot">
			<soap:operation soapAction="http://soap.sendsms.aql.com#sendmmsnot" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header use="literal" part="auth" message="aqlsoap:authheader" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendSmsService">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This Web Service is provided by aql.com and exposes the following functionality:
			sending SMS messages, Binary SMS messages, Wap Push messages and MMS Notifications</documentation>
		<wsdl:port name="SendSmsEndPoint" binding="aqlsoap:SendSmsSoapHttpBinding">
			<soap:address location="http://gw1.aql.com/soap/sendsmsservice.php" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>