wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.webservicemart.com_icd9code.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservicemart.com/ws/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://webservicemart.com/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://webservicemart.com/ws/">
			<s:element name="ICD9Codes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="CodeLenght" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ICD9CodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ICD9CodesResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ICD9CodesSoapIn">
		<wsdl:part name="parameters" element="tns:ICD9Codes" />
	</wsdl:message>
	<wsdl:message name="ICD9CodesSoapOut">
		<wsdl:part name="parameters" element="tns:ICD9CodesResponse" />
	</wsdl:message>
	<wsdl:message name="ICD9CodesHttpGetIn">
		<wsdl:part name="Code" type="s:string" />
		<wsdl:part name="CodeLenght" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ICD9CodesHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="ICD9CodesHttpPostIn">
		<wsdl:part name="Code" type="s:string" />
		<wsdl:part name="CodeLenght" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ICD9CodesHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="ICD9CodeSoap">
		<wsdl:operation name="ICD9Codes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ICD9 code description. List of codes could be filtered by
				first character(s): E*, 37* and/or length (3, 4, 5)&lt;br/&gt;Unfiltered list consists of 7234 items
			</wsdl:documentation>
			<wsdl:input message="tns:ICD9CodesSoapIn" />
			<wsdl:output message="tns:ICD9CodesSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ICD9CodeHttpGet">
		<wsdl:operation name="ICD9Codes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ICD9 code description. List of codes could be filtered by
				first character(s): E*, 37* and/or length (3, 4, 5)&lt;br/&gt;Unfiltered list consists of 7234 items
			</wsdl:documentation>
			<wsdl:input message="tns:ICD9CodesHttpGetIn" />
			<wsdl:output message="tns:ICD9CodesHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ICD9CodeHttpPost">
		<wsdl:operation name="ICD9Codes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ICD9 code description. List of codes could be filtered by
				first character(s): E*, 37* and/or length (3, 4, 5)&lt;br/&gt;Unfiltered list consists of 7234 items
			</wsdl:documentation>
			<wsdl:input message="tns:ICD9CodesHttpPostIn" />
			<wsdl:output message="tns:ICD9CodesHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ICD9CodeSoap" type="tns:ICD9CodeSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ICD9Codes">
			<soap:operation soapAction="http://webservicemart.com/ws/ICD9Codes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9CodeSoap12" type="tns:ICD9CodeSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ICD9Codes">
			<soap12:operation soapAction="http://webservicemart.com/ws/ICD9Codes" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9CodeHttpGet" type="tns:ICD9CodeHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="ICD9Codes">
			<http:operation location="/ICD9Codes" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9CodeHttpPost" type="tns:ICD9CodeHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="ICD9Codes">
			<http:operation location="/ICD9Codes" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ICD9Code">
		<wsdl:port name="ICD9CodeSoap" binding="tns:ICD9CodeSoap">
			<soap:address location="http://www.webservicemart.com/icd9code.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9CodeSoap12" binding="tns:ICD9CodeSoap12">
			<soap12:address location="http://www.webservicemart.com/icd9code.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9CodeHttpGet" binding="tns:ICD9CodeHttpGet">
			<http:address location="http://www.webservicemart.com/icd9code.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9CodeHttpPost" binding="tns:ICD9CodeHttpPost">
			<http:address location="http://www.webservicemart.com/icd9code.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>