wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__services.bio.ifi.lmu.de.1046_prothesaurus_services_BiologicalNameService_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:de.lmu.ifi.bio:biological-name-service" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:de.lmu.ifi.bio:biological-name-service" xmlns:intf="urn:de.lmu.ifi.bio:biological-name-service"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="urn:de.lmu.ifi.bio:biological-name-service" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="BiologicalObject">
				<annotation>
					<documentation>A BiologicalObject identifies a biological object (e.g. a protein) through a name, a list of
						database identifiers (biological object keys) and a list of frequently used names (so called synonyms).
					</documentation>
				</annotation>
				<sequence>
					<element name="keys" nillable="true" type="impl:ArrayOf_xsd_string">
						<annotation>
							<documentation>A list of biological object keys (of the form DB:ID) uniquely identifying the biological object.
							</documentation>
						</annotation>
					</element>
					<element name="name" nillable="true" type="xsd:string">
						<annotation>
							<documentation>A (non unique) name for the biological object.</documentation>
						</annotation>
					</element>
					<element name="organismName" nillable="true" type="xsd:string">
						<annotation>
							<documentation>The name of the organism the biological object is descended from.</documentation>
						</annotation>
					</element>
					<element name="synonyms" nillable="true" type="impl:ArrayOf_xsd_string">
						<annotation>
							<documentation>A list of synonyms for the biological object. The name of the biological object should be included
								in this list.</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="ArrayOfBiologicalObject">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="impl:BiologicalObject[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="listOrganismsRequest" />
	<wsdl:message name="listOrganismsResponse">
		<wsdl:part name="listOrganismsReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="getObjectsResponse">
		<wsdl:part name="getObjectsReturn" type="impl:ArrayOfBiologicalObject" />
	</wsdl:message>
	<wsdl:message name="getURLRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getURLResponse">
		<wsdl:part name="getURLReturn" type="xsd:anyURI" />
	</wsdl:message>
	<wsdl:message name="proposeObjectResponse" />
	<wsdl:message name="getLSIDResponse">
		<wsdl:part name="getLSIDReturn" type="xsd:anyURI" />
	</wsdl:message>
	<wsdl:message name="lookupKeysRequest">
		<wsdl:part name="identifier" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getKeysRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getKeysResponse">
		<wsdl:part name="getKeysReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="getObjectsRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="lookupKeysResponse">
		<wsdl:part name="lookupKeysReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="findObjectsRequest">
		<wsdl:part name="searchQuery" type="xsd:string" />
		<wsdl:part name="limitObjects" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getLSIDRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getOrganismsRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getSynonymsRequest">
		<wsdl:part name="objectKey" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="findObjectsResponse">
		<wsdl:part name="findObjectsReturn" type="impl:ArrayOfBiologicalObject" />
	</wsdl:message>
	<wsdl:message name="getSynonymsResponse">
		<wsdl:part name="getSynonymsReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="proposeObjectRequest">
		<wsdl:part name="object" type="impl:BiologicalObject" />
		<wsdl:part name="comment" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="listDatabasesResponse">
		<wsdl:part name="listDatabasesReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="getOrganismsResponse">
		<wsdl:part name="getOrganismsReturn" type="impl:ArrayOf_xsd_string" />
	</wsdl:message>
	<wsdl:message name="listDatabasesRequest" />
	<wsdl:portType name="BiologicalNameService">
		<wsdl:documentation>A Biological Name Services offers mapping between biological object identifiers and names or vice
			versa.</wsdl:documentation>
		<wsdl:operation name="getURL" parameterOrder="objectKey">
			<wsdl:documentation>Gets a URL describing the biological object identified by the given biological object key.
			</wsdl:documentation>
			<wsdl:input message="impl:getURLRequest" name="getURLRequest" />
			<wsdl:output message="impl:getURLResponse" name="getURLResponse" />
		</wsdl:operation>
		<wsdl:operation name="getKeys" parameterOrder="objectKey">
			<wsdl:documentation>Gets the biological object keys for a biological object identified by a given biological object
				key. The returned list of biological object keys must include the given biological object key if it is a valid
				biological object key. Otherwise the method should return null.</wsdl:documentation>
			<wsdl:input message="impl:getKeysRequest" name="getKeysRequest" />
			<wsdl:output message="impl:getKeysResponse" name="getKeysResponse" />
		</wsdl:operation>
		<wsdl:operation name="getLSID" parameterOrder="objectKey">
			<wsdl:documentation>Gets the equivalent LSID (see http://www.i3c.org/wgr/ta/resources/lsid/docs) for a given
				biological object key.</wsdl:documentation>
			<wsdl:input message="impl:getLSIDRequest" name="getLSIDRequest" />
			<wsdl:output message="impl:getLSIDResponse" name="getLSIDResponse" />
		</wsdl:operation>
		<wsdl:operation name="getSynonyms" parameterOrder="objectKey">
			<wsdl:documentation>Gets the (plain text) names of a biological object identified by a biological object key.
			</wsdl:documentation>
			<wsdl:input message="impl:getSynonymsRequest" name="getSynonymsRequest" />
			<wsdl:output message="impl:getSynonymsResponse" name="getSynonymsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getOrganisms" parameterOrder="objectKey">
			<wsdl:documentation>Gets the names of the organisms the biological object identified by the biological object key is
				descended from.</wsdl:documentation>
			<wsdl:input message="impl:getOrganismsRequest" name="getOrganismsRequest" />
			<wsdl:output message="impl:getOrganismsResponse" name="getOrganismsResponse" />
		</wsdl:operation>
		<wsdl:operation name="lookupKeys" parameterOrder="identifier">
			<wsdl:documentation>Searches for biological object keys on the basis of a given database identifier or a probable
				biological object key. E.g. passing TIM4_HUMAN as a value for identifier should return SWISSPROT:TIM4_HUMAN or any
				other key having TIM4_HUMAN in the identifier part of the biological object key.</wsdl:documentation>
			<wsdl:input message="impl:lookupKeysRequest" name="lookupKeysRequest" />
			<wsdl:output message="impl:lookupKeysResponse" name="lookupKeysResponse" />
		</wsdl:operation>
		<wsdl:operation name="getObjects" parameterOrder="objectKey">
			<wsdl:documentation>Gets information about the biological objects identified by a biological object key.
			</wsdl:documentation>
			<wsdl:input message="impl:getObjectsRequest" name="getObjectsRequest" />
			<wsdl:output message="impl:getObjectsResponse" name="getObjectsResponse" />
		</wsdl:operation>
		<wsdl:operation name="findObjects" parameterOrder="searchQuery limitObjects">
			<wsdl:documentation>Searches for biological objects on the basis of its (plain text) names. The search query syntax
				follows the MySql Boolean Full-Text Searches as described in the MySql manual (see
				http://dev.mysql.com/doc/mysql/en/fulltext-boolean.html). As a minimum requirement the double
				quote-(&quot;)-operator must be supported.</wsdl:documentation>
			<wsdl:input message="impl:findObjectsRequest" name="findObjectsRequest" />
			<wsdl:output message="impl:findObjectsResponse" name="findObjectsResponse" />
		</wsdl:operation>
		<wsdl:operation name="listDatabases">
			<wsdl:documentation>Returns a name list of the supported databases.</wsdl:documentation>
			<wsdl:input message="impl:listDatabasesRequest" name="listDatabasesRequest" />
			<wsdl:output message="impl:listDatabasesResponse" name="listDatabasesResponse" />
		</wsdl:operation>
		<wsdl:operation name="listOrganisms">
			<wsdl:documentation>Returns a name list of the supported organisms.</wsdl:documentation>
			<wsdl:input message="impl:listOrganismsRequest" name="listOrganismsRequest" />
			<wsdl:output message="impl:listOrganismsResponse" name="listOrganismsResponse" />
		</wsdl:operation>
		<wsdl:operation name="proposeObject" parameterOrder="object comment">
			<wsdl:documentation>Proposes a new biological object or changes to an existing biological object (additional database
				identifiers or synonyms, corrections to existing identifiers or synonyms). It depends on the actual implementation
				how user proposals are handled, e.g. if there are first curated manually or if they are visible immediately to other
				clients of the web service.</wsdl:documentation>
			<wsdl:input message="impl:proposeObjectRequest" name="proposeObjectRequest" />
			<wsdl:output message="impl:proposeObjectResponse" name="proposeObjectResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BiologicalNameServiceSoapBinding" type="impl:BiologicalNameService">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getURL">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getURLRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getURLResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getKeys">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getKeysRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getKeysResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLSID">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getLSIDRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getLSIDResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSynonyms">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSynonymsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getSynonymsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganisms">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getOrganismsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getOrganismsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookupKeys">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="lookupKeysRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="lookupKeysResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getObjects">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getObjectsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getObjectsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findObjects">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="findObjectsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="findObjectsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listDatabases">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="listDatabasesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="listDatabasesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listOrganisms">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="listOrganismsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="listOrganismsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="proposeObject">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="proposeObjectRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="proposeObjectResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:de.lmu.ifi.bio:biological-name-service"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BiologicalNameService">
		<wsdl:port binding="impl:BiologicalNameServiceSoapBinding" name="ProThesaurus">
			<wsdl:documentation>ProThesaurus offers mapping between protein identifiers and names and vice versa. A documentation
				can be found on http://services.bio.ifi.lmu.de/prothesaurus/doc/</wsdl:documentation>
			<wsdlsoap:address location="http://services.bio.ifi.lmu.de:1046/prothesaurus/services/BiologicalNameService" />
		</wsdl:port>
		<wsdl:port binding="impl:BiologicalNameServiceSoapBinding" name="BeThesaurus">
			<wsdl:documentation>BeThesaurus offers mapping between user proposed identifiers and names and vice versa. A
				documentation can be found on http://services.bio.ifi.lmu.de/prothesaurus/doc/</wsdl:documentation>
			<wsdlsoap:address location="http://services.bio.ifi.lmu.de:1046/bethesaurus/services/BiologicalNameService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>