wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.ecubicle.net_iptocountry.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ecubicle.net/webservices/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.ecubicle.net/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.ecubicle.net/webservices/">
			<s:element name="FindCountryAsString">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="V4IPAddress" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindCountryAsStringResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="FindCountryAsStringResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindCountryAsXml">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="V4IPAddress" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindCountryAsXmlResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="FindCountryAsXmlResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="FindCountryAsStringSoapIn">
		<wsdl:part name="parameters" element="tns:FindCountryAsString" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsStringSoapOut">
		<wsdl:part name="parameters" element="tns:FindCountryAsStringResponse" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlSoapIn">
		<wsdl:part name="parameters" element="tns:FindCountryAsXml" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlSoapOut">
		<wsdl:part name="parameters" element="tns:FindCountryAsXmlResponse" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsStringHttpGetIn">
		<wsdl:part name="V4IPAddress" type="s:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsStringHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlHttpGetIn">
		<wsdl:part name="V4IPAddress" type="s:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlHttpGetOut">
		<wsdl:part name="Body" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsStringHttpPostIn">
		<wsdl:part name="V4IPAddress" type="s:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsStringHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlHttpPostIn">
		<wsdl:part name="V4IPAddress" type="s:string" />
	</wsdl:message>
	<wsdl:message name="FindCountryAsXmlHttpPostOut">
		<wsdl:part name="Body" />
	</wsdl:message>
	<wsdl:portType name="iptocountrySoap">
		<wsdl:operation name="FindCountryAsString">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This returns a string value</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsStringSoapIn" />
			<wsdl:output message="tns:FindCountryAsStringSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XML Document&lt;br/&gt;</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsXmlSoapIn" />
			<wsdl:output message="tns:FindCountryAsXmlSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="iptocountryHttpGet">
		<wsdl:operation name="FindCountryAsString">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This returns a string value</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsStringHttpGetIn" />
			<wsdl:output message="tns:FindCountryAsStringHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XML Document&lt;br/&gt;</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsXmlHttpGetIn" />
			<wsdl:output message="tns:FindCountryAsXmlHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="iptocountryHttpPost">
		<wsdl:operation name="FindCountryAsString">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This returns a string value</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsStringHttpPostIn" />
			<wsdl:output message="tns:FindCountryAsStringHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XML Document&lt;br/&gt;</wsdl:documentation>
			<wsdl:input message="tns:FindCountryAsXmlHttpPostIn" />
			<wsdl:output message="tns:FindCountryAsXmlHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="iptocountrySoap" type="tns:iptocountrySoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindCountryAsString">
			<soap:operation soapAction="http://www.ecubicle.net/webservices/FindCountryAsString" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<soap:operation soapAction="http://www.ecubicle.net/webservices/FindCountryAsXml" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="iptocountrySoap12" type="tns:iptocountrySoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindCountryAsString">
			<soap12:operation soapAction="http://www.ecubicle.net/webservices/FindCountryAsString" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<soap12:operation soapAction="http://www.ecubicle.net/webservices/FindCountryAsXml" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="iptocountryHttpGet" type="tns:iptocountryHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="FindCountryAsString">
			<http:operation location="/FindCountryAsString" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<http:operation location="/FindCountryAsXml" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="iptocountryHttpPost" type="tns:iptocountryHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="FindCountryAsString">
			<http:operation location="/FindCountryAsString" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindCountryAsXml">
			<http:operation location="/FindCountryAsXml" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="iptocountry">
		<wsdl:port name="iptocountrySoap" binding="tns:iptocountrySoap">
			<soap:address location="http://www.ecubicle.net/iptocountry.asmx" />
		</wsdl:port>
		<wsdl:port name="iptocountrySoap12" binding="tns:iptocountrySoap12">
			<soap12:address location="http://www.ecubicle.net/iptocountry.asmx" />
		</wsdl:port>
		<wsdl:port name="iptocountryHttpGet" binding="tns:iptocountryHttpGet">
			<http:address location="http://www.ecubicle.net/iptocountry.asmx" />
		</wsdl:port>
		<wsdl:port name="iptocountryHttpPost" binding="tns:iptocountryHttpPost">
			<http:address location="http://www.ecubicle.net/iptocountry.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>