wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xignite.com_xEmerging.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xignite.com/services/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.xignite.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provide information about emerging markets around the world.
	</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/">
			<s:element name="GetEmergingMarkets">
				<s:complexType />
			</s:element>
			<s:element name="GetEmergingMarketsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEmergingMarketsResult" type="tns:ArrayOfEmergingMarket" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfEmergingMarket">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="EmergingMarket" nillable="true" type="tns:EmergingMarket" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="EmergingMarket">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Common">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="OutcomeTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Success" />
					<s:enumeration value="SystemError" />
					<s:enumeration value="RequestError" />
					<s:enumeration value="RegistrationError" />
				</s:restriction>
			</s:simpleType>
			<s:element name="Header" type="tns:Header" />
			<s:complexType name="Header">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="IsEmergingMarket">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="IsEmergingMarketResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="IsEmergingMarketResult" type="tns:BooleanResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="BooleanResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="Value" type="s:boolean" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetYieldCurve">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ExtendedYieldCurveTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="ExtendedYieldCurveTypes">
				<s:restriction base="s:string">
					<s:enumeration value="LongCurveActualMaturity" />
					<s:enumeration value="ShortCurveActualMaturity" />
					<s:enumeration value="LongCurveDaysToMaturity" />
					<s:enumeration value="ShortCurveDaysToMaturity" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetYieldCurveResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetYieldCurveResult" type="tns:TreasuryYieldCurve" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TreasuryYieldCurve">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="TotalObservations" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="InterpolatedObservations" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Yields" type="tns:ArrayOfTreasuryYield" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfTreasuryYield">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="TreasuryYield" nillable="true" type="tns:TreasuryYield" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="TreasuryYield">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="DaysToMaturity" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="MaturityDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="YieldToMaturity" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="AccruedInterest" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Term" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Interpolated" type="s:boolean" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetLastYieldCurve">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ExtendedYieldCurveTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLastYieldCurveResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLastYieldCurveResult" type="tns:TreasuryYieldCurve" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAllYieldCurves">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ExtendedYieldCurveTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAllYieldCurvesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllYieldCurvesResult" type="tns:ArrayOfTreasuryYieldCurve" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfTreasuryYieldCurve">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="TreasuryYieldCurve" nillable="true"
						type="tns:TreasuryYieldCurve" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAllLastYieldCurves">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ExtendedYieldCurveTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAllLastYieldCurvesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllLastYieldCurvesResult" type="tns:ArrayOfTreasuryYieldCurve" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetIssueData">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetIssueDataResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetIssueDataResult" type="tns:ArrayOfIssueData" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfIssueData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="IssueData" nillable="true" type="tns:IssueData" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IssueData">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="IssueType" type="tns:IssueTypes" />
							<s:element minOccurs="0" maxOccurs="1" name="AdditionalSecurityCode" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="OfferDate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="MaturityDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Coupon" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="CouponFrequency" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="OfferPrice" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Term" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="AuctionYield" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:simpleType name="IssueTypes">
				<s:restriction base="s:string">
					<s:enumeration value="TreasuryBill" />
					<s:enumeration value="Note" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetPrices">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetPricesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetPricesResult" type="tns:ArrayOfPrice" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfPrice">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Price" nillable="true" type="tns:Price" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Price">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetRatesByTenor">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ExtendedYieldCurveTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Tenor" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetRatesByTenorResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetRatesByTenorResult" type="tns:ArrayOfTenor" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfTenor">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Tenor" nillable="true" type="tns:Tenor" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Tenor">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="Tenor" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Yield" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetModeledPrices">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetModeledPricesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetModeledPricesResult" type="tns:ArrayOfModeledPrice" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfModeledPrice">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ModeledPrice" nillable="true" type="tns:ModeledPrice" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ModeledPrice">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="USDPrice" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetAnalytics">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAnalyticsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAnalyticsResult" type="tns:ArrayOfAnalytics" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfAnalytics">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Analytics" nillable="true" type="tns:Analytics" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Analytics">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="YieldToMaturity" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="AccruedInterest" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="DaysToMaturity" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="ModifiedDuration" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Term" type="s:int" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="ArrayOfEmergingMarket" nillable="true" type="tns:ArrayOfEmergingMarket" />
			<s:element name="BooleanResult" nillable="true" type="tns:BooleanResult" />
			<s:element name="TreasuryYieldCurve" nillable="true" type="tns:TreasuryYieldCurve" />
			<s:element name="ArrayOfTreasuryYieldCurve" nillable="true" type="tns:ArrayOfTreasuryYieldCurve" />
			<s:element name="ArrayOfIssueData" nillable="true" type="tns:ArrayOfIssueData" />
			<s:element name="ArrayOfPrice" nillable="true" type="tns:ArrayOfPrice" />
			<s:element name="ArrayOfTenor" nillable="true" type="tns:ArrayOfTenor" />
			<s:element name="ArrayOfModeledPrice" nillable="true" type="tns:ArrayOfModeledPrice" />
			<s:element name="ArrayOfAnalytics" nillable="true" type="tns:ArrayOfAnalytics" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetEmergingMarketsSoapIn">
		<wsdl:part name="parameters" element="tns:GetEmergingMarkets" />
	</wsdl:message>
	<wsdl:message name="GetEmergingMarketsSoapOut">
		<wsdl:part name="parameters" element="tns:GetEmergingMarketsResponse" />
	</wsdl:message>
	<wsdl:message name="GetEmergingMarketsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketSoapIn">
		<wsdl:part name="parameters" element="tns:IsEmergingMarket" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketSoapOut">
		<wsdl:part name="parameters" element="tns:IsEmergingMarketResponse" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveSoapIn">
		<wsdl:part name="parameters" element="tns:GetYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveSoapOut">
		<wsdl:part name="parameters" element="tns:GetYieldCurveResponse" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveSoapIn">
		<wsdl:part name="parameters" element="tns:GetLastYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveSoapOut">
		<wsdl:part name="parameters" element="tns:GetLastYieldCurveResponse" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllYieldCurves" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllYieldCurvesResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllLastYieldCurves" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllLastYieldCurvesResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataSoapIn">
		<wsdl:part name="parameters" element="tns:GetIssueData" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataSoapOut">
		<wsdl:part name="parameters" element="tns:GetIssueDataResponse" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetPricesSoapIn">
		<wsdl:part name="parameters" element="tns:GetPrices" />
	</wsdl:message>
	<wsdl:message name="GetPricesSoapOut">
		<wsdl:part name="parameters" element="tns:GetPricesResponse" />
	</wsdl:message>
	<wsdl:message name="GetPricesHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorSoapIn">
		<wsdl:part name="parameters" element="tns:GetRatesByTenor" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorSoapOut">
		<wsdl:part name="parameters" element="tns:GetRatesByTenorResponse" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesSoapIn">
		<wsdl:part name="parameters" element="tns:GetModeledPrices" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesSoapOut">
		<wsdl:part name="parameters" element="tns:GetModeledPricesResponse" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAnalytics" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAnalyticsResponse" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEmergingMarketsHttpGetIn" />
	<wsdl:message name="GetEmergingMarketsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfEmergingMarket" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketHttpGetIn">
		<wsdl:part name="Name" type="s:string" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketHttpGetOut">
		<wsdl:part name="Body" element="tns:BooleanResult" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveHttpGetOut">
		<wsdl:part name="Body" element="tns:TreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveHttpGetOut">
		<wsdl:part name="Body" element="tns:TreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesHttpGetIn">
		<wsdl:part name="AsOfDate" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfTreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesHttpGetIn">
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfTreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfIssueData" />
	</wsdl:message>
	<wsdl:message name="GetPricesHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetPricesHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfPrice" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Tenor" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfTenor" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfModeledPrice" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsHttpGetIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfAnalytics" />
	</wsdl:message>
	<wsdl:message name="GetEmergingMarketsHttpPostIn" />
	<wsdl:message name="GetEmergingMarketsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfEmergingMarket" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketHttpPostIn">
		<wsdl:part name="Name" type="s:string" />
	</wsdl:message>
	<wsdl:message name="IsEmergingMarketHttpPostOut">
		<wsdl:part name="Body" element="tns:BooleanResult" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetYieldCurveHttpPostOut">
		<wsdl:part name="Body" element="tns:TreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetLastYieldCurveHttpPostOut">
		<wsdl:part name="Body" element="tns:TreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesHttpPostIn">
		<wsdl:part name="AsOfDate" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllYieldCurvesHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfTreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesHttpPostIn">
		<wsdl:part name="Type" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllLastYieldCurvesHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfTreasuryYieldCurve" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetIssueDataHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfIssueData" />
	</wsdl:message>
	<wsdl:message name="GetPricesHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetPricesHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfPrice" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Tenor" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetRatesByTenorHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfTenor" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="FromDate" type="s:string" />
		<wsdl:part name="ToDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetModeledPricesHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfModeledPrice" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsHttpPostIn">
		<wsdl:part name="Market" type="s:string" />
		<wsdl:part name="AsOfDate" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAnalyticsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfAnalytics" />
	</wsdl:message>
	<wsdl:portType name="XigniteEmergingSoap">
		<wsdl:operation name="GetEmergingMarkets">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List all supported emerging markets,</wsdl:documentation>
			<wsdl:input message="tns:GetEmergingMarketsSoapIn" />
			<wsdl:output message="tns:GetEmergingMarketsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<wsdl:input message="tns:IsEmergingMarketSoapIn" />
			<wsdl:output message="tns:IsEmergingMarketSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a yield curve for an emerging market as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetYieldCurveSoapIn" />
			<wsdl:output message="tns:GetYieldCurveSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the last yield curve for an emerging market.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLastYieldCurveSoapIn" />
			<wsdl:output message="tns:GetLastYieldCurveSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get yield curves for all emerging markets as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllYieldCurvesSoapIn" />
			<wsdl:output message="tns:GetAllYieldCurvesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the most recent yield curves for all emerging markets.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllLastYieldCurvesSoapIn" />
			<wsdl:output message="tns:GetAllLastYieldCurvesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<wsdl:input message="tns:GetIssueDataSoapIn" />
			<wsdl:output message="tns:GetIssueDataSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<wsdl:input message="tns:GetPricesSoapIn" />
			<wsdl:output message="tns:GetPricesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns time-series rate data for a given market over a given time
				for specific tenor of the yield curve.</wsdl:documentation>
			<wsdl:input message="tns:GetRatesByTenorSoapIn" />
			<wsdl:output message="tns:GetRatesByTenorSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<wsdl:input message="tns:GetModeledPricesSoapIn" />
			<wsdl:output message="tns:GetModeledPricesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns analytics information about the securities for an emerging
				market as of a date.</wsdl:documentation>
			<wsdl:input message="tns:GetAnalyticsSoapIn" />
			<wsdl:output message="tns:GetAnalyticsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteEmergingHttpGet">
		<wsdl:operation name="GetEmergingMarkets">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List all supported emerging markets,</wsdl:documentation>
			<wsdl:input message="tns:GetEmergingMarketsHttpGetIn" />
			<wsdl:output message="tns:GetEmergingMarketsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<wsdl:input message="tns:IsEmergingMarketHttpGetIn" />
			<wsdl:output message="tns:IsEmergingMarketHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a yield curve for an emerging market as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetYieldCurveHttpGetIn" />
			<wsdl:output message="tns:GetYieldCurveHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the last yield curve for an emerging market.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLastYieldCurveHttpGetIn" />
			<wsdl:output message="tns:GetLastYieldCurveHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get yield curves for all emerging markets as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllYieldCurvesHttpGetIn" />
			<wsdl:output message="tns:GetAllYieldCurvesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the most recent yield curves for all emerging markets.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllLastYieldCurvesHttpGetIn" />
			<wsdl:output message="tns:GetAllLastYieldCurvesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<wsdl:input message="tns:GetIssueDataHttpGetIn" />
			<wsdl:output message="tns:GetIssueDataHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<wsdl:input message="tns:GetPricesHttpGetIn" />
			<wsdl:output message="tns:GetPricesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns time-series rate data for a given market over a given time
				for specific tenor of the yield curve.</wsdl:documentation>
			<wsdl:input message="tns:GetRatesByTenorHttpGetIn" />
			<wsdl:output message="tns:GetRatesByTenorHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<wsdl:input message="tns:GetModeledPricesHttpGetIn" />
			<wsdl:output message="tns:GetModeledPricesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns analytics information about the securities for an emerging
				market as of a date.</wsdl:documentation>
			<wsdl:input message="tns:GetAnalyticsHttpGetIn" />
			<wsdl:output message="tns:GetAnalyticsHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteEmergingHttpPost">
		<wsdl:operation name="GetEmergingMarkets">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List all supported emerging markets,</wsdl:documentation>
			<wsdl:input message="tns:GetEmergingMarketsHttpPostIn" />
			<wsdl:output message="tns:GetEmergingMarketsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<wsdl:input message="tns:IsEmergingMarketHttpPostIn" />
			<wsdl:output message="tns:IsEmergingMarketHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a yield curve for an emerging market as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetYieldCurveHttpPostIn" />
			<wsdl:output message="tns:GetYieldCurveHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the last yield curve for an emerging market.
			</wsdl:documentation>
			<wsdl:input message="tns:GetLastYieldCurveHttpPostIn" />
			<wsdl:output message="tns:GetLastYieldCurveHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get yield curves for all emerging markets as of a specific date.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllYieldCurvesHttpPostIn" />
			<wsdl:output message="tns:GetAllYieldCurvesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the most recent yield curves for all emerging markets.
			</wsdl:documentation>
			<wsdl:input message="tns:GetAllLastYieldCurvesHttpPostIn" />
			<wsdl:output message="tns:GetAllLastYieldCurvesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<wsdl:input message="tns:GetIssueDataHttpPostIn" />
			<wsdl:output message="tns:GetIssueDataHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<wsdl:input message="tns:GetPricesHttpPostIn" />
			<wsdl:output message="tns:GetPricesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns time-series rate data for a given market over a given time
				for specific tenor of the yield curve.</wsdl:documentation>
			<wsdl:input message="tns:GetRatesByTenorHttpPostIn" />
			<wsdl:output message="tns:GetRatesByTenorHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<wsdl:input message="tns:GetModeledPricesHttpPostIn" />
			<wsdl:output message="tns:GetModeledPricesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns analytics information about the securities for an emerging
				market as of a date.</wsdl:documentation>
			<wsdl:input message="tns:GetAnalyticsHttpPostIn" />
			<wsdl:output message="tns:GetAnalyticsHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="XigniteEmergingSoap" type="tns:XigniteEmergingSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetEmergingMarkets">
			<soap:operation soapAction="http://www.xignite.com/services/GetEmergingMarkets" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEmergingMarketsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<soap:operation soapAction="http://www.xignite.com/services/IsEmergingMarket" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:IsEmergingMarketHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<soap:operation soapAction="http://www.xignite.com/services/GetYieldCurve" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetYieldCurveHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<soap:operation soapAction="http://www.xignite.com/services/GetLastYieldCurve" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetLastYieldCurveHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<soap:operation soapAction="http://www.xignite.com/services/GetAllYieldCurves" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAllYieldCurvesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<soap:operation soapAction="http://www.xignite.com/services/GetAllLastYieldCurves" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAllLastYieldCurvesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<soap:operation soapAction="http://www.xignite.com/services/GetIssueData" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetIssueDataHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<soap:operation soapAction="http://www.xignite.com/services/GetPrices" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetPricesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<soap:operation soapAction="http://www.xignite.com/services/GetRatesByTenor" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetRatesByTenorHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<soap:operation soapAction="http://www.xignite.com/services/GetModeledPrices" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetModeledPricesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<soap:operation soapAction="http://www.xignite.com/services/GetAnalytics" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAnalyticsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEmergingSoap12" type="tns:XigniteEmergingSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetEmergingMarkets">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEmergingMarkets" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEmergingMarketsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<soap12:operation soapAction="http://www.xignite.com/services/IsEmergingMarket" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:IsEmergingMarketHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<soap12:operation soapAction="http://www.xignite.com/services/GetYieldCurve" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetYieldCurveHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<soap12:operation soapAction="http://www.xignite.com/services/GetLastYieldCurve" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetLastYieldCurveHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<soap12:operation soapAction="http://www.xignite.com/services/GetAllYieldCurves" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAllYieldCurvesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<soap12:operation soapAction="http://www.xignite.com/services/GetAllLastYieldCurves" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAllLastYieldCurvesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<soap12:operation soapAction="http://www.xignite.com/services/GetIssueData" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetIssueDataHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<soap12:operation soapAction="http://www.xignite.com/services/GetPrices" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetPricesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<soap12:operation soapAction="http://www.xignite.com/services/GetRatesByTenor" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetRatesByTenorHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<soap12:operation soapAction="http://www.xignite.com/services/GetModeledPrices" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetModeledPricesHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<soap12:operation soapAction="http://www.xignite.com/services/GetAnalytics" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAnalyticsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEmergingHttpGet" type="tns:XigniteEmergingHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetEmergingMarkets">
			<http:operation location="/GetEmergingMarkets" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<http:operation location="/IsEmergingMarket" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<http:operation location="/GetYieldCurve" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<http:operation location="/GetLastYieldCurve" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<http:operation location="/GetAllYieldCurves" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<http:operation location="/GetAllLastYieldCurves" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<http:operation location="/GetIssueData" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<http:operation location="/GetPrices" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<http:operation location="/GetRatesByTenor" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<http:operation location="/GetModeledPrices" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<http:operation location="/GetAnalytics" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteEmergingHttpPost" type="tns:XigniteEmergingHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetEmergingMarkets">
			<http:operation location="/GetEmergingMarkets" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IsEmergingMarket">
			<http:operation location="/IsEmergingMarket" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetYieldCurve">
			<http:operation location="/GetYieldCurve" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLastYieldCurve">
			<http:operation location="/GetLastYieldCurve" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllYieldCurves">
			<http:operation location="/GetAllYieldCurves" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLastYieldCurves">
			<http:operation location="/GetAllLastYieldCurves" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIssueData">
			<http:operation location="/GetIssueData" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPrices">
			<http:operation location="/GetPrices" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRatesByTenor">
			<http:operation location="/GetRatesByTenor" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetModeledPrices">
			<http:operation location="/GetModeledPrices" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAnalytics">
			<http:operation location="/GetAnalytics" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XigniteEmerging">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provide information about emerging markets around the world.
		</wsdl:documentation>
		<wsdl:port name="XigniteEmergingSoap" binding="tns:XigniteEmergingSoap">
			<soap:address location="http://www.xignite.com/xEmerging.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEmergingSoap12" binding="tns:XigniteEmergingSoap12">
			<soap12:address location="http://www.xignite.com/xEmerging.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEmergingHttpGet" binding="tns:XigniteEmergingHttpGet">
			<http:address location="http://www.xignite.com/xEmerging.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteEmergingHttpPost" binding="tns:XigniteEmergingHttpPost">
			<http:address location="http://www.xignite.com/xEmerging.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>