wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xignite.com_xoptions.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xignite.com/services/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.xignite.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Complete stock option management application.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/">
			<s:element name="GetBlackScholesOptionValue">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionType" />
						<s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
						<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
						<s:element minOccurs="1" maxOccurs="1" name="YearsToMaturity" type="s:double" />
						<s:element minOccurs="1" maxOccurs="1" name="RiskFreeRate" type="s:double" />
						<s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="OptionType">
				<s:restriction base="s:string">
					<s:enumeration value="Call" />
					<s:enumeration value="Put" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetBlackScholesOptionValueResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetBlackScholesOptionValueResult" type="tns:NumericResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="NumericResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Common">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
					<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="OutcomeTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Success" />
					<s:enumeration value="SystemError" />
					<s:enumeration value="RequestError" />
					<s:enumeration value="RegistrationError" />
				</s:restriction>
			</s:simpleType>
			<s:element name="Header" type="tns:Header" />
			<s:complexType name="Header">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="GetAllEquityOptionChain">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="IdentifierTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Symbol" />
					<s:enumeration value="CIK" />
					<s:enumeration value="CUSIP" />
					<s:enumeration value="ISIN" />
					<s:enumeration value="Valoren" />
					<s:enumeration value="SEDOL" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetAllEquityOptionChainResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllEquityOptionChainResult" type="tns:Options" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Options">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
							<s:element minOccurs="0" maxOccurs="1" name="Quote" type="tns:QuickQuote" />
							<s:element minOccurs="0" maxOccurs="1" name="Expirations" type="tns:ArrayOfExpiration" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Security">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="QuickQuote">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:double" />
							<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfExpiration">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Expiration" nillable="true" type="tns:Expiration" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Expiration">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Calls" type="tns:ArrayOfOption" />
							<s:element minOccurs="0" maxOccurs="1" name="Puts" type="tns:ArrayOfOption" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfOption">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Option">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BaseSymbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="OptionSymbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
							<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="PercentChange" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="OpenInterest" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="InTheMoney" type="s:boolean" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:simpleType name="OptionTypes">
				<s:restriction base="s:string">
					<s:enumeration value="Call" />
					<s:enumeration value="Put" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetEquityOptionChain">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionChainResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEquityOptionChainResult" type="tns:Options" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOption">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEquityOptionResult" type="tns:Option" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionSymbol">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionSymbolResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEquityOptionSymbolResult" type="tns:OptionSymbol" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="OptionSymbol">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BaseSymbol" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
							<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetEquityOptionBySymbol">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionBySymbolResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEquityOptionBySymbolResult" type="tns:Option" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionBySymbols">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Symbols" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEquityOptionBySymbolsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEquityOptionBySymbolsResult" type="tns:ArrayOfOption" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFutureOption">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
						<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFutureOptionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetFutureOptionResult" type="tns:FutureOption" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="FutureOption">
				<s:complexContent mixed="false">
					<s:extension base="tns:Common">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BaseSymbol" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OptionTypes" />
							<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="PercentChange" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="OpenInterest" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="High" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double" />
							<s:element minOccurs="1" maxOccurs="1" name="Previous" type="s:double" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="NumericResult" nillable="true" type="tns:NumericResult" />
			<s:element name="Options" nillable="true" type="tns:Options" />
			<s:element name="Option" nillable="true" type="tns:Option" />
			<s:element name="OptionSymbol" nillable="true" type="tns:OptionSymbol" />
			<s:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
			<s:element name="FutureOption" nillable="true" type="tns:FutureOption" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetBlackScholesOptionValueSoapIn">
		<wsdl:part name="parameters" element="tns:GetBlackScholesOptionValue" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueSoapOut">
		<wsdl:part name="parameters" element="tns:GetBlackScholesOptionValueResponse" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllEquityOptionChain" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllEquityOptionChainResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainSoapIn">
		<wsdl:part name="parameters" element="tns:GetEquityOptionChain" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainSoapOut">
		<wsdl:part name="parameters" element="tns:GetEquityOptionChainResponse" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSoapIn">
		<wsdl:part name="parameters" element="tns:GetEquityOption" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSoapOut">
		<wsdl:part name="parameters" element="tns:GetEquityOptionResponse" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolSoapIn">
		<wsdl:part name="parameters" element="tns:GetEquityOptionSymbol" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolSoapOut">
		<wsdl:part name="parameters" element="tns:GetEquityOptionSymbolResponse" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolSoapIn">
		<wsdl:part name="parameters" element="tns:GetEquityOptionBySymbol" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolSoapOut">
		<wsdl:part name="parameters" element="tns:GetEquityOptionBySymbolResponse" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsSoapIn">
		<wsdl:part name="parameters" element="tns:GetEquityOptionBySymbols" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsSoapOut">
		<wsdl:part name="parameters" element="tns:GetEquityOptionBySymbolsResponse" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionSoapIn">
		<wsdl:part name="parameters" element="tns:GetFutureOption" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionSoapOut">
		<wsdl:part name="parameters" element="tns:GetFutureOptionResponse" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionHeader">
		<wsdl:part name="Header" element="tns:Header" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueHttpGetIn">
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="StockPrice" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
		<wsdl:part name="YearsToMaturity" type="s:string" />
		<wsdl:part name="RiskFreeRate" type="s:string" />
		<wsdl:part name="Volatility" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueHttpGetOut">
		<wsdl:part name="Body" element="tns:NumericResult" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainHttpGetOut">
		<wsdl:part name="Body" element="tns:Options" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainHttpGetOut">
		<wsdl:part name="Body" element="tns:Options" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionHttpGetOut">
		<wsdl:part name="Body" element="tns:Option" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolHttpGetIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolHttpGetOut">
		<wsdl:part name="Body" element="tns:OptionSymbol" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolHttpGetIn">
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolHttpGetOut">
		<wsdl:part name="Body" element="tns:Option" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsHttpGetIn">
		<wsdl:part name="Symbols" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfOption" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionHttpGetIn">
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionHttpGetOut">
		<wsdl:part name="Body" element="tns:FutureOption" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueHttpPostIn">
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="StockPrice" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
		<wsdl:part name="YearsToMaturity" type="s:string" />
		<wsdl:part name="RiskFreeRate" type="s:string" />
		<wsdl:part name="Volatility" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetBlackScholesOptionValueHttpPostOut">
		<wsdl:part name="Body" element="tns:NumericResult" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetAllEquityOptionChainHttpPostOut">
		<wsdl:part name="Body" element="tns:Options" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionChainHttpPostOut">
		<wsdl:part name="Body" element="tns:Options" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionHttpPostOut">
		<wsdl:part name="Body" element="tns:Option" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolHttpPostIn">
		<wsdl:part name="Identifier" type="s:string" />
		<wsdl:part name="IdentifierType" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionSymbolHttpPostOut">
		<wsdl:part name="Body" element="tns:OptionSymbol" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolHttpPostIn">
		<wsdl:part name="Symbol" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolHttpPostOut">
		<wsdl:part name="Body" element="tns:Option" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsHttpPostIn">
		<wsdl:part name="Symbols" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetEquityOptionBySymbolsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfOption" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionHttpPostIn">
		<wsdl:part name="Symbol" type="s:string" />
		<wsdl:part name="Type" type="s:string" />
		<wsdl:part name="Month" type="s:string" />
		<wsdl:part name="Year" type="s:string" />
		<wsdl:part name="StrikePrice" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetFutureOptionHttpPostOut">
		<wsdl:part name="Body" element="tns:FutureOption" />
	</wsdl:message>
	<wsdl:portType name="XigniteOptionsSoap">
		<wsdl:operation name="GetBlackScholesOptionValue">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the value of an option using the Black-Scholes formula.
			</wsdl:documentation>
			<wsdl:input message="tns:GetBlackScholesOptionValueSoapIn" />
			<wsdl:output message="tns:GetBlackScholesOptionValueSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetAllEquityOptionChainSoapIn" />
			<wsdl:output message="tns:GetAllEquityOptionChainSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionChainSoapIn" />
			<wsdl:output message="tns:GetEquityOptionChainSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionSoapIn" />
			<wsdl:output message="tns:GetEquityOptionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the symbol for an equity option based on month, year and
				strike price.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionSymbolSoapIn" />
			<wsdl:output message="tns:GetEquityOptionSymbolSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolSoapIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolsSoapIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific future option.</wsdl:documentation>
			<wsdl:input message="tns:GetFutureOptionSoapIn" />
			<wsdl:output message="tns:GetFutureOptionSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteOptionsHttpGet">
		<wsdl:operation name="GetBlackScholesOptionValue">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the value of an option using the Black-Scholes formula.
			</wsdl:documentation>
			<wsdl:input message="tns:GetBlackScholesOptionValueHttpGetIn" />
			<wsdl:output message="tns:GetBlackScholesOptionValueHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetAllEquityOptionChainHttpGetIn" />
			<wsdl:output message="tns:GetAllEquityOptionChainHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionChainHttpGetIn" />
			<wsdl:output message="tns:GetEquityOptionChainHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionHttpGetIn" />
			<wsdl:output message="tns:GetEquityOptionHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the symbol for an equity option based on month, year and
				strike price.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionSymbolHttpGetIn" />
			<wsdl:output message="tns:GetEquityOptionSymbolHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolHttpGetIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolsHttpGetIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific future option.</wsdl:documentation>
			<wsdl:input message="tns:GetFutureOptionHttpGetIn" />
			<wsdl:output message="tns:GetFutureOptionHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="XigniteOptionsHttpPost">
		<wsdl:operation name="GetBlackScholesOptionValue">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates the value of an option using the Black-Scholes formula.
			</wsdl:documentation>
			<wsdl:input message="tns:GetBlackScholesOptionValueHttpPostIn" />
			<wsdl:output message="tns:GetBlackScholesOptionValueHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetAllEquityOptionChainHttpPostIn" />
			<wsdl:output message="tns:GetAllEquityOptionChainHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns options chains for an equity.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionChainHttpPostIn" />
			<wsdl:output message="tns:GetEquityOptionChainHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionHttpPostIn" />
			<wsdl:output message="tns:GetEquityOptionHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the symbol for an equity option based on month, year and
				strike price.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionSymbolHttpPostIn" />
			<wsdl:output message="tns:GetEquityOptionSymbolHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolHttpPostIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific equity option.</wsdl:documentation>
			<wsdl:input message="tns:GetEquityOptionBySymbolsHttpPostIn" />
			<wsdl:output message="tns:GetEquityOptionBySymbolsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a specific future option.</wsdl:documentation>
			<wsdl:input message="tns:GetFutureOptionHttpPostIn" />
			<wsdl:output message="tns:GetFutureOptionHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="XigniteOptionsSoap" type="tns:XigniteOptionsSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetBlackScholesOptionValue">
			<soap:operation soapAction="http://www.xignite.com/services/GetBlackScholesOptionValue" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetBlackScholesOptionValueHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<soap:operation soapAction="http://www.xignite.com/services/GetAllEquityOptionChain" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAllEquityOptionChainHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<soap:operation soapAction="http://www.xignite.com/services/GetEquityOptionChain" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEquityOptionChainHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<soap:operation soapAction="http://www.xignite.com/services/GetEquityOption" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEquityOptionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<soap:operation soapAction="http://www.xignite.com/services/GetEquityOptionSymbol" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEquityOptionSymbolHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<soap:operation soapAction="http://www.xignite.com/services/GetEquityOptionBySymbol" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEquityOptionBySymbolHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<soap:operation soapAction="http://www.xignite.com/services/GetEquityOptionBySymbols" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetEquityOptionBySymbolsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<soap:operation soapAction="http://www.xignite.com/services/GetFutureOption" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetFutureOptionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteOptionsSoap12" type="tns:XigniteOptionsSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetBlackScholesOptionValue">
			<soap12:operation soapAction="http://www.xignite.com/services/GetBlackScholesOptionValue" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetBlackScholesOptionValueHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<soap12:operation soapAction="http://www.xignite.com/services/GetAllEquityOptionChain" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAllEquityOptionChainHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEquityOptionChain" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEquityOptionChainHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEquityOption" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEquityOptionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEquityOptionSymbol" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEquityOptionSymbolHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEquityOptionBySymbol" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEquityOptionBySymbolHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<soap12:operation soapAction="http://www.xignite.com/services/GetEquityOptionBySymbols" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetEquityOptionBySymbolsHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<soap12:operation soapAction="http://www.xignite.com/services/GetFutureOption" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetFutureOptionHeader" part="Header" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteOptionsHttpGet" type="tns:XigniteOptionsHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetBlackScholesOptionValue">
			<http:operation location="/GetBlackScholesOptionValue" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<http:operation location="/GetAllEquityOptionChain" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<http:operation location="/GetEquityOptionChain" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<http:operation location="/GetEquityOption" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<http:operation location="/GetEquityOptionSymbol" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<http:operation location="/GetEquityOptionBySymbol" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<http:operation location="/GetEquityOptionBySymbols" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<http:operation location="/GetFutureOption" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="XigniteOptionsHttpPost" type="tns:XigniteOptionsHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetBlackScholesOptionValue">
			<http:operation location="/GetBlackScholesOptionValue" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllEquityOptionChain">
			<http:operation location="/GetAllEquityOptionChain" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionChain">
			<http:operation location="/GetEquityOptionChain" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOption">
			<http:operation location="/GetEquityOption" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionSymbol">
			<http:operation location="/GetEquityOptionSymbol" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbol">
			<http:operation location="/GetEquityOptionBySymbol" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEquityOptionBySymbols">
			<http:operation location="/GetEquityOptionBySymbols" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFutureOption">
			<http:operation location="/GetFutureOption" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XigniteOptions">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Complete stock option management application.</wsdl:documentation>
		<wsdl:port name="XigniteOptionsSoap" binding="tns:XigniteOptionsSoap">
			<soap:address location="http://www.xignite.com/xoptions.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteOptionsSoap12" binding="tns:XigniteOptionsSoap12">
			<soap12:address location="http://www.xignite.com/xoptions.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteOptionsHttpGet" binding="tns:XigniteOptionsHttpGet">
			<http:address location="http://www.xignite.com/xoptions.asmx" />
		</wsdl:port>
		<wsdl:port name="XigniteOptionsHttpPost" binding="tns:XigniteOptionsHttpPost">
			<http:address location="http://www.xignite.com/xoptions.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>