wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.srlink.com_GeoServices_TownlandProfileService.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.levelsoft.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.levelsoft.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft GeoServices TownlandProfile web services a comprehensive
		view of townland, providing detailed information country by country.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ws.levelsoft.net/">
			<s:element name="GetCallPermssion">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="member" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="UserCredentials">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCallPermssionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GetCallPermssionResult" type="tns:AuthoriseType" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="AuthoriseType">
				<s:restriction base="s:string">
					<s:enumeration value="None" />
					<s:enumeration value="Denied" />
					<s:enumeration value="Open" />
					<s:enumeration value="SuperRole" />
					<s:enumeration value="SubscribedRole" />
					<s:enumeration value="SuperDemoRole" />
					<s:enumeration value="SubscribedDemoRole" />
					<s:enumeration value="SubscribedByHit" />
				</s:restriction>
			</s:simpleType>
			<s:element name="SEKHeader" type="tns:SEKHeader" />
			<s:complexType name="SEKHeader">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="SEK" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="GetDivisionCode">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="CountyDivisions">
				<s:restriction base="s:string">
					<s:enumeration value="Country" />
					<s:enumeration value="Region" />
					<s:enumeration value="Prefecture" />
					<s:enumeration value="County" />
					<s:enumeration value="Municipality" />
					<s:enumeration value="Townland" />
				</s:restriction>
			</s:simpleType>
			<s:element name="GetDivisionCodeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetDivisionCodeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSubDivisionCodes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSubDivisionCodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSubDivisionCodesResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetNames">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNamesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetNamesResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTimezone">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTimezoneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetTimezoneResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetGeoCodes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetGeoCodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetGeoCodesResult" type="tns:Geocode" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Geocode">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Elevation" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAreaSqKm">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAreaSqKmResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GetAreaSqKmResult" type="s:double" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStreetCount">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStreetCountResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GetStreetCountResult" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTownlandCount">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTownlandCountResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GetTownlandCountResult" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAgeAnalysis">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCountry" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="division" type="tns:CountyDivisions" />
						<s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAgeAnalysisResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAgeAnalysisResult" type="tns:ArrayOfAgeOfResidents" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfAgeOfResidents">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="AgeOfResidents" nillable="true" type="tns:AgeOfResidents" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="AgeOfResidents">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Male" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Female" type="s:int" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetCallPermssionSoapIn">
		<wsdl:part name="parameters" element="tns:GetCallPermssion" />
	</wsdl:message>
	<wsdl:message name="GetCallPermssionSoapOut">
		<wsdl:part name="parameters" element="tns:GetCallPermssionResponse" />
	</wsdl:message>
	<wsdl:message name="GetCallPermssionSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetDivisionCodeSoapIn">
		<wsdl:part name="parameters" element="tns:GetDivisionCode" />
	</wsdl:message>
	<wsdl:message name="GetDivisionCodeSoapOut">
		<wsdl:part name="parameters" element="tns:GetDivisionCodeResponse" />
	</wsdl:message>
	<wsdl:message name="GetDivisionCodeSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetSubDivisionCodesSoapIn">
		<wsdl:part name="parameters" element="tns:GetSubDivisionCodes" />
	</wsdl:message>
	<wsdl:message name="GetSubDivisionCodesSoapOut">
		<wsdl:part name="parameters" element="tns:GetSubDivisionCodesResponse" />
	</wsdl:message>
	<wsdl:message name="GetSubDivisionCodesSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetNames" />
	</wsdl:message>
	<wsdl:message name="GetNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetNamesResponse" />
	</wsdl:message>
	<wsdl:message name="GetNamesSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetTimezoneSoapIn">
		<wsdl:part name="parameters" element="tns:GetTimezone" />
	</wsdl:message>
	<wsdl:message name="GetTimezoneSoapOut">
		<wsdl:part name="parameters" element="tns:GetTimezoneResponse" />
	</wsdl:message>
	<wsdl:message name="GetTimezoneSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetGeoCodesSoapIn">
		<wsdl:part name="parameters" element="tns:GetGeoCodes" />
	</wsdl:message>
	<wsdl:message name="GetGeoCodesSoapOut">
		<wsdl:part name="parameters" element="tns:GetGeoCodesResponse" />
	</wsdl:message>
	<wsdl:message name="GetGeoCodesSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetAreaSqKmSoapIn">
		<wsdl:part name="parameters" element="tns:GetAreaSqKm" />
	</wsdl:message>
	<wsdl:message name="GetAreaSqKmSoapOut">
		<wsdl:part name="parameters" element="tns:GetAreaSqKmResponse" />
	</wsdl:message>
	<wsdl:message name="GetAreaSqKmSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetStreetCountSoapIn">
		<wsdl:part name="parameters" element="tns:GetStreetCount" />
	</wsdl:message>
	<wsdl:message name="GetStreetCountSoapOut">
		<wsdl:part name="parameters" element="tns:GetStreetCountResponse" />
	</wsdl:message>
	<wsdl:message name="GetStreetCountSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetTownlandCountSoapIn">
		<wsdl:part name="parameters" element="tns:GetTownlandCount" />
	</wsdl:message>
	<wsdl:message name="GetTownlandCountSoapOut">
		<wsdl:part name="parameters" element="tns:GetTownlandCountResponse" />
	</wsdl:message>
	<wsdl:message name="GetTownlandCountSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetAgeAnalysisSoapIn">
		<wsdl:part name="parameters" element="tns:GetAgeAnalysis" />
	</wsdl:message>
	<wsdl:message name="GetAgeAnalysisSoapOut">
		<wsdl:part name="parameters" element="tns:GetAgeAnalysisResponse" />
	</wsdl:message>
	<wsdl:message name="GetAgeAnalysisSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:portType name="TownlandProfileServiceSoap">
		<wsdl:operation name="GetCallPermssion">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Queries whether there is available credit or security permission to
				successfully query the service.</wsdl:documentation>
			<wsdl:input message="tns:GetCallPermssionSoapIn" />
			<wsdl:output message="tns:GetCallPermssionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetDivisionCode">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a townland for the code for a country division, this method
				requires a valid 2 digit ISO country code.</wsdl:documentation>
			<wsdl:input message="tns:GetDivisionCodeSoapIn" />
			<wsdl:output message="tns:GetDivisionCodeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetSubDivisionCodes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a list of code for a country division, this method requires a
				valid 2 digit ISO country code.</wsdl:documentation>
			<wsdl:input message="tns:GetSubDivisionCodesSoapIn" />
			<wsdl:output message="tns:GetSubDivisionCodesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a division name (English and local language), this method
				requires a valid 2 digit ISO country code and a valid region code.</wsdl:documentation>
			<wsdl:input message="tns:GetNamesSoapIn" />
			<wsdl:output message="tns:GetNamesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTimezone">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a division timezone, this method requires a valid 2 digit ISO
				country code and a valid region code.</wsdl:documentation>
			<wsdl:input message="tns:GetTimezoneSoapIn" />
			<wsdl:output message="tns:GetTimezoneSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetGeoCodes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a division GeoCodes, this method requires a valid 2 digit ISO
				country code and a valid code.</wsdl:documentation>
			<wsdl:input message="tns:GetGeoCodesSoapIn" />
			<wsdl:output message="tns:GetGeoCodesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAreaSqKm">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a Country division AreaSqKm, this method requires a valid 2
				digit ISO country code and a valid code.</wsdl:documentation>
			<wsdl:input message="tns:GetAreaSqKmSoapIn" />
			<wsdl:output message="tns:GetAreaSqKmSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetStreetCount">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a Country division StreetCount, this method requires a valid
				2 digit ISO country code and a valid code.</wsdl:documentation>
			<wsdl:input message="tns:GetStreetCountSoapIn" />
			<wsdl:output message="tns:GetStreetCountSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTownlandCount">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a Country division TownlandCount, this method requires a
				valid 2 digit ISO country code and a valid code.</wsdl:documentation>
			<wsdl:input message="tns:GetTownlandCountSoapIn" />
			<wsdl:output message="tns:GetTownlandCountSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAgeAnalysis">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a Country division Age Analysis, this method requires a valid
				2 digit ISO country code and a valid code.</wsdl:documentation>
			<wsdl:input message="tns:GetAgeAnalysisSoapIn" />
			<wsdl:output message="tns:GetAgeAnalysisSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TownlandProfileServiceSoap" type="tns:TownlandProfileServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetCallPermssion">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDivisionCode">
			<soap:operation soapAction="http://ws.levelsoft.net/GetDivisionCode" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetDivisionCodeSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSubDivisionCodes">
			<soap:operation soapAction="http://ws.levelsoft.net/GetSubDivisionCodes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetSubDivisionCodesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNames">
			<soap:operation soapAction="http://ws.levelsoft.net/GetNames" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetNamesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTimezone">
			<soap:operation soapAction="http://ws.levelsoft.net/GetTimezone" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetTimezoneSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGeoCodes">
			<soap:operation soapAction="http://ws.levelsoft.net/GetGeoCodes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetGeoCodesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAreaSqKm">
			<soap:operation soapAction="http://ws.levelsoft.net/GetAreaSqKm" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAreaSqKmSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStreetCount">
			<soap:operation soapAction="http://ws.levelsoft.net/GetStreetCount" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetStreetCountSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTownlandCount">
			<soap:operation soapAction="http://ws.levelsoft.net/GetTownlandCount" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetTownlandCountSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgeAnalysis">
			<soap:operation soapAction="http://ws.levelsoft.net/GetAgeAnalysis" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetAgeAnalysisSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TownlandProfileServiceSoap12" type="tns:TownlandProfileServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetCallPermssion">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDivisionCode">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetDivisionCode" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetDivisionCodeSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSubDivisionCodes">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetSubDivisionCodes" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetSubDivisionCodesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNames">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetNames" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetNamesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTimezone">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetTimezone" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetTimezoneSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGeoCodes">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetGeoCodes" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetGeoCodesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAreaSqKm">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetAreaSqKm" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAreaSqKmSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStreetCount">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetStreetCount" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetStreetCountSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTownlandCount">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetTownlandCount" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetTownlandCountSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgeAnalysis">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetAgeAnalysis" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetAgeAnalysisSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TownlandProfileService">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft GeoServices TownlandProfile web services a comprehensive
			view of townland, providing detailed information country by country.</wsdl:documentation>
		<wsdl:port name="TownlandProfileServiceSoap" binding="tns:TownlandProfileServiceSoap">
			<soap:address location="http://ws.srlink.com/GeoServices/TownlandProfileService.asmx" />
		</wsdl:port>
		<wsdl:port name="TownlandProfileServiceSoap12" binding="tns:TownlandProfileServiceSoap12">
			<soap12:address location="http://ws.srlink.com/GeoServices/TownlandProfileService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>