wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__crickscore.com_services_Statistics_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://crickscore.com/services/Statistics" xmlns:tns1="http://www.crickscore.com/services"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://crickscore.com/services/Statistics"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:intf="http://crickscore.com/services/Statistics"><!--WSDL created by Apache Axis version: 1.4Built on Apr 22, 2006 (06:55:48 PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.crickscore.com/services">
			<import namespace="http://crickscore.com/services/Statistics" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="PlayerWrapper">
				<sequence>
					<element name="ID" nillable="true" type="soapenc:long" />
					<element name="displayName" nillable="true" type="soapenc:string" />
					<element name="firstName" nillable="true" type="soapenc:string" />
					<element name="initials" nillable="true" type="soapenc:string" />
					<element name="lastName" nillable="true" type="soapenc:string" />
					<element name="userID" nillable="true" type="soapenc:long" />
				</sequence>
			</complexType>
			<complexType name="StatisticRemote">
				<sequence>
					<element name="ID" nillable="true" type="soapenc:long" />
					<element name="decimals" nillable="true" type="soapenc:int" />
					<element name="formattedValue" nillable="true" type="soapenc:string" />
					<element name="key" nillable="true" type="soapenc:string" />
					<element name="name" nillable="true" type="soapenc:string" />
					<element name="playDate" nillable="true" type="soapenc:long" />
					<element name="player" nillable="true" type="tns1:PlayerWrapper" />
					<element name="playerID" nillable="true" type="soapenc:long" />
					<element name="roundName" nillable="true" type="soapenc:string" />
					<element name="seasonID" nillable="true" type="soapenc:long" />
					<element name="value" nillable="true" type="soapenc:float" />
				</sequence>
			</complexType>
			<complexType name="StatisticDefinitionRemote">
				<sequence>
					<element name="ID" nillable="true" type="soapenc:long" />
					<element name="className" nillable="true" type="soapenc:string" />
					<element name="key" nillable="true" type="soapenc:string" />
					<element name="name" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
			<complexType name="SeasonRemote">
				<sequence>
					<element name="ID" nillable="true" type="soapenc:long" />
					<element name="name" nillable="true" type="soapenc:string" />
					<element name="startDttm" nillable="true" type="soapenc:long" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://crickscore.com/services/Statistics">
			<import namespace="http://www.crickscore.com/services" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_tns1_StatisticRemote">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StatisticRemote[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_StatisticDefinitionRemote">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StatisticDefinitionRemote[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_SeasonRemote">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SeasonRemote[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_PlayerWrapper">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:PlayerWrapper[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getStatisticsForSeasonRequest1">
		<wsdl:part name="seasonID" type="soapenc:long" />
		<wsdl:part name="playerID" type="soapenc:long" />
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonRequest2">
		<wsdl:part name="seasonID" type="soapenc:long" />
		<wsdl:part name="code" type="soapenc:string" />
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonRequest3">
		<wsdl:part name="seasonID" type="soapenc:long" />
	</wsdl:message>
	<wsdl:message name="getAllSeasonsResponse">
		<wsdl:part name="getAllSeasonsReturn" type="impl:ArrayOf_tns1_SeasonRemote" />
	</wsdl:message>
	<wsdl:message name="getAllPlayersRequest">
	</wsdl:message>
	<wsdl:message name="getStatisticDefinitionsRequest">
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonResponse2">
		<wsdl:part name="getStatisticsForSeasonReturn" type="impl:ArrayOf_tns1_StatisticRemote" />
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonResponse3">
		<wsdl:part name="getStatisticsForSeasonReturn" type="impl:ArrayOf_tns1_StatisticRemote" />
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonResponse1">
		<wsdl:part name="getStatisticsForSeasonReturn" type="impl:ArrayOf_tns1_StatisticRemote" />
	</wsdl:message>
	<wsdl:message name="getStatisticDefinitionsResponse">
		<wsdl:part name="getStatisticDefinitionsReturn" type="impl:ArrayOf_tns1_StatisticDefinitionRemote" />
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonResponse">
		<wsdl:part name="getStatisticsForSeasonReturn" type="impl:ArrayOf_tns1_StatisticRemote" />
	</wsdl:message>
	<wsdl:message name="getAllPlayersResponse">
		<wsdl:part name="getAllPlayersReturn" type="impl:ArrayOf_tns1_PlayerWrapper" />
	</wsdl:message>
	<wsdl:message name="getAllSeasonsRequest">
	</wsdl:message>
	<wsdl:message name="getStatisticsForSeasonRequest">
		<wsdl:part name="seasonID" type="soapenc:long" />
		<wsdl:part name="code" type="soapenc:string" />
		<wsdl:part name="playerID" type="soapenc:long" />
	</wsdl:message>
	<wsdl:portType name="StatisticService">
		<wsdl:operation name="getStatisticsForSeason" parameterOrder="seasonID code playerID">
			<wsdl:input name="getStatisticsForSeasonRequest" message="impl:getStatisticsForSeasonRequest" />
			<wsdl:output name="getStatisticsForSeasonResponse" message="impl:getStatisticsForSeasonResponse" />
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason" parameterOrder="seasonID playerID">
			<wsdl:input name="getStatisticsForSeasonRequest1" message="impl:getStatisticsForSeasonRequest1" />
			<wsdl:output name="getStatisticsForSeasonResponse1" message="impl:getStatisticsForSeasonResponse1" />
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason" parameterOrder="seasonID code">
			<wsdl:input name="getStatisticsForSeasonRequest2" message="impl:getStatisticsForSeasonRequest2" />
			<wsdl:output name="getStatisticsForSeasonResponse2" message="impl:getStatisticsForSeasonResponse2" />
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason" parameterOrder="seasonID">
			<wsdl:input name="getStatisticsForSeasonRequest3" message="impl:getStatisticsForSeasonRequest3" />
			<wsdl:output name="getStatisticsForSeasonResponse3" message="impl:getStatisticsForSeasonResponse3" />
		</wsdl:operation>
		<wsdl:operation name="getStatisticDefinitions">
			<wsdl:input name="getStatisticDefinitionsRequest" message="impl:getStatisticDefinitionsRequest" />
			<wsdl:output name="getStatisticDefinitionsResponse" message="impl:getStatisticDefinitionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getAllSeasons">
			<wsdl:input name="getAllSeasonsRequest" message="impl:getAllSeasonsRequest" />
			<wsdl:output name="getAllSeasonsResponse" message="impl:getAllSeasonsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getAllPlayers">
			<wsdl:input name="getAllPlayersRequest" message="impl:getAllPlayersRequest" />
			<wsdl:output name="getAllPlayersResponse" message="impl:getAllPlayersResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StatisticsSoapBinding" type="impl:StatisticService">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getStatisticsForSeason">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStatisticsForSeasonRequest">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getStatisticsForSeasonResponse">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStatisticsForSeasonRequest1">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getStatisticsForSeasonResponse1">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStatisticsForSeasonRequest2">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getStatisticsForSeasonResponse2">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatisticsForSeason">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStatisticsForSeasonRequest3">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getStatisticsForSeasonResponse3">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatisticDefinitions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStatisticDefinitionsRequest">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getStatisticDefinitionsResponse">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllSeasons">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getAllSeasonsRequest">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getAllSeasonsResponse">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllPlayers">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getAllPlayersRequest">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.indoorscore.whitesquare.com.au" />
			</wsdl:input>
			<wsdl:output name="getAllPlayersResponse">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crickscore.com/services/Statistics" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StatisticServiceService">
		<wsdl:port name="Statistics" binding="impl:StatisticsSoapBinding">
			<wsdlsoap:address location="http://crickscore.com/services/Statistics" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>