wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.c6.hu_ws_huzip.wsdl.wsdl

<?xml version="1.0" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:y="http://www.c6.hu/ws/zip.php" xmlns:ys="http://www.c6.hu/ws/zip.php"
	targetNamespace="http://www.c6.hu/ws/zip.php">
	<types>
		<xs:schema targetNamespace="http://www.c6.hu/ws/zip.php">
			<xs:element name="soapVal">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="item" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="zip" type="xs:integer" />
									<xs:element name="city" type="xs:string" />
									<xs:element name="street" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="searchRequest">
		<part name="city" type="xs:string" />
		<part name="street" type="xs:string" />
		<part name="license" type="xs:string" />
	</message>
	<message name="searchResponse">
		<part name="soapVal" element="y:soapVal" />
	</message>
	<message name="searchFault">
		<part name="faultCode" type="xs:string" />
		<part name="faultString" type="xs:string" />
	</message>
	<portType name="huzip">
		<operation name="search">
			<input message="y:searchRequest" />
			<output message="y:searchResponse" />
			<fault name="searchFault" message="y:searchFault" />
		</operation>
	</portType>
	<binding name="huzipBinding" type="y:huzip">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="search">
			<soap:operation soapAction="" />
			<input>
				<soap:body parts="city street license" use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault>
				<soap:fault name="searchFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="huzipService">
		<port name="searchPort" binding="y:huzipBinding">
			<soap:address location="http://www.c6.hu/ws/zip.php" />
		</port>
	</service>
</definitions>