wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__xml.nig.ac.jp_wsdl_Blast.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Thu Sep 27 16:33:08 JST 2007 -->
<definitions name='Blast' targetNamespace='http://www.themindelectric.com/wsdl/Blast/' xmlns:tns='http://www.themindelectric.com/wsdl/Blast/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
	<message name='searchParam0In'>
		<part name='program' type='xsd:string' />
		<part name='database' type='xsd:string' />
		<part name='query' type='xsd:string' />
		<part name='param' type='xsd:string' />
	</message>
	<message name='searchParam0Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='searchSimple1In'>
		<part name='program' type='xsd:string' />
		<part name='database' type='xsd:string' />
		<part name='query' type='xsd:string' />
	</message>
	<message name='searchSimple1Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='extractPosition2In'>
		<part name='result' type='xsd:string' />
	</message>
	<message name='extractPosition2Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getSupportDatabaseList3In' />
	<message name='getSupportDatabaseList3Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='searchParamAsync4In'>
		<part name='program' type='xsd:string' />
		<part name='database' type='xsd:string' />
		<part name='query' type='xsd:string' />
		<part name='param' type='xsd:string' />
	</message>
	<message name='searchParamAsync4Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='searchSimpleAsync5In'>
		<part name='program' type='xsd:string' />
		<part name='database' type='xsd:string' />
		<part name='query' type='xsd:string' />
	</message>
	<message name='searchSimpleAsync5Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='Blast'>
		<operation name='searchParam' parameterOrder='program database query param'>
			<documentation>Execute Blast with parameter</documentation>
			<input name='searchParam0In' message='tns:searchParam0In' />
			<output name='searchParam0Out' message='tns:searchParam0Out' />
		</operation>
		<operation name='searchSimple' parameterOrder='program database query'>
			<documentation>Execute Blast</documentation>
			<input name='searchSimple1In' message='tns:searchSimple1In' />
			<output name='searchSimple1Out' message='tns:searchSimple1Out' />
		</operation>
		<operation name='extractPosition' parameterOrder='result'>
			<documentation>get position information from BLAST</documentation>
			<input name='extractPosition2In' message='tns:extractPosition2In' />
			<output name='extractPosition2Out' message='tns:extractPosition2Out' />
		</operation>
		<operation name='getSupportDatabaseList' parameterOrder=''>
			<documentation>get a list of support databases</documentation>
			<input name='getSupportDatabaseList3In' message='tns:getSupportDatabaseList3In' />
			<output name='getSupportDatabaseList3Out' message='tns:getSupportDatabaseList3Out' />
		</operation>
		<operation name='searchParamAsync' parameterOrder='program database query param'>
			<documentation>Execute Blast with parameter</documentation>
			<input name='searchParamAsync4In' message='tns:searchParamAsync4In' />
			<output name='searchParamAsync4Out' message='tns:searchParamAsync4Out' />
		</operation>
		<operation name='searchSimpleAsync' parameterOrder='program database query'>
			<documentation>Execute Blast</documentation>
			<input name='searchSimpleAsync5In' message='tns:searchSimpleAsync5In' />
			<output name='searchSimpleAsync5Out' message='tns:searchSimpleAsync5Out' />
		</operation>
	</portType>
	<binding name='Blast' type='tns:Blast'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='searchParam'>
			<soap:operation soapAction='searchParam' style='rpc' />
			<input name='searchParam0In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchParam0Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='searchSimple'>
			<soap:operation soapAction='searchSimple' style='rpc' />
			<input name='searchSimple1In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchSimple1Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='extractPosition'>
			<soap:operation soapAction='extractPosition' style='rpc' />
			<input name='extractPosition2In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='extractPosition2Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getSupportDatabaseList'>
			<soap:operation soapAction='getSupportDatabaseList' style='rpc' />
			<input name='getSupportDatabaseList3In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getSupportDatabaseList3Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='searchParamAsync'>
			<soap:operation soapAction='searchParamAsync' style='rpc' />
			<input name='searchParamAsync4In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchParamAsync4Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='searchSimpleAsync'>
			<soap:operation soapAction='searchSimpleAsync' style='rpc' />
			<input name='searchSimpleAsync5In'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchSimpleAsync5Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='Blast'>
		<port name='Blast' binding='tns:Blast'>
			<soap:address location='http://xml.nig.ac.jp/xddbj/Blast' />
		</port>
	</service>
</definitions>