wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.jasongaylord.com_webservices_zipcodes.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.jasongaylord.com/webservices/zipcodes"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.jasongaylord.com/webservices/zipcodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.jasongaylord.com/webservices/zipcodes">
			<s:element name="ZipCodeToLatitudeLogitude">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ZipCodeToLatitudeLogitudeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCodeToLatitudeLogitudeResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema" />
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ZipCodesFromCityState">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ZipCodesFromCityStateResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCodesFromCityStateResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema" />
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ZipCodeToDetails">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ZipCodeToDetailsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCodeToDetailsResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema" />
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DistanceBetweenZipCodes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode1" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode2" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DistanceBetweenZipCodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DistanceBetweenZipCodesResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema" />
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ZipCodeToLatitudeLogitudeSoapIn">
		<wsdl:part name="parameters" element="tns:ZipCodeToLatitudeLogitude" />
	</wsdl:message>
	<wsdl:message name="ZipCodeToLatitudeLogitudeSoapOut">
		<wsdl:part name="parameters" element="tns:ZipCodeToLatitudeLogitudeResponse" />
	</wsdl:message>
	<wsdl:message name="ZipCodesFromCityStateSoapIn">
		<wsdl:part name="parameters" element="tns:ZipCodesFromCityState" />
	</wsdl:message>
	<wsdl:message name="ZipCodesFromCityStateSoapOut">
		<wsdl:part name="parameters" element="tns:ZipCodesFromCityStateResponse" />
	</wsdl:message>
	<wsdl:message name="ZipCodeToDetailsSoapIn">
		<wsdl:part name="parameters" element="tns:ZipCodeToDetails" />
	</wsdl:message>
	<wsdl:message name="ZipCodeToDetailsSoapOut">
		<wsdl:part name="parameters" element="tns:ZipCodeToDetailsResponse" />
	</wsdl:message>
	<wsdl:message name="DistanceBetweenZipCodesSoapIn">
		<wsdl:part name="parameters" element="tns:DistanceBetweenZipCodes" />
	</wsdl:message>
	<wsdl:message name="DistanceBetweenZipCodesSoapOut">
		<wsdl:part name="parameters" element="tns:DistanceBetweenZipCodesResponse" />
	</wsdl:message>
	<wsdl:portType name="ZipCodesSoap">
		<wsdl:operation name="ZipCodeToLatitudeLogitude">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns latitude and longitude information based on a
				zip code.</wsdl:documentation>
			<wsdl:input message="tns:ZipCodeToLatitudeLogitudeSoapIn" />
			<wsdl:output message="tns:ZipCodeToLatitudeLogitudeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ZipCodesFromCityState">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns all zip codes contained within a city and
				state.</wsdl:documentation>
			<wsdl:input message="tns:ZipCodesFromCityStateSoapIn" />
			<wsdl:output message="tns:ZipCodesFromCityStateSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ZipCodeToDetails">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns latitude, longitude, city, county, state, and
				address type information based on a zip code.</wsdl:documentation>
			<wsdl:input message="tns:ZipCodeToDetailsSoapIn" />
			<wsdl:output message="tns:ZipCodeToDetailsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DistanceBetweenZipCodes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns the distance between two zip codes.
			</wsdl:documentation>
			<wsdl:input message="tns:DistanceBetweenZipCodesSoapIn" />
			<wsdl:output message="tns:DistanceBetweenZipCodesSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZipCodesSoap" type="tns:ZipCodesSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ZipCodeToLatitudeLogitude">
			<soap:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodeToLatitudeLogitude"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZipCodesFromCityState">
			<soap:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodesFromCityState"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZipCodeToDetails">
			<soap:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodeToDetails" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DistanceBetweenZipCodes">
			<soap:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/DistanceBetweenZipCodes"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZipCodesSoap12" type="tns:ZipCodesSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ZipCodeToLatitudeLogitude">
			<soap12:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodeToLatitudeLogitude"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZipCodesFromCityState">
			<soap12:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodesFromCityState"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZipCodeToDetails">
			<soap12:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/ZipCodeToDetails"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DistanceBetweenZipCodes">
			<soap12:operation soapAction="http://www.jasongaylord.com/webservices/zipcodes/DistanceBetweenZipCodes"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZipCodes">
		<wsdl:port name="ZipCodesSoap" binding="tns:ZipCodesSoap">
			<soap:address location="http://www.jasongaylord.com/webservices/zipcodes.asmx" />
		</wsdl:port>
		<wsdl:port name="ZipCodesSoap12" binding="tns:ZipCodesSoap12">
			<soap12:address location="http://www.jasongaylord.com/webservices/zipcodes.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>