wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_USGeocoding_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="GetGeocodeUSA">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="addressLine1" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="addressLine2" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="city_state_zip" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetGeocodeUSAResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetGeocodeUSAResult" type="tns:USGeoCode" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="USGeoCode">
				<s:complexContent mixed="false">
					<s:extension base="tns:GeoCode">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="CensusTract" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="StateNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CountyNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BlockNumber" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="BlockGroup" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="GeoCode">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="ResponseInfo" type="tns:ResponseInfo" />
			<s:complexType name="ResponseInfo">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetGeocodeUSASoapIn">
		<wsdl:part name="parameters" element="tns:GetGeocodeUSA" />
	</wsdl:message>
	<wsdl:message name="GetGeocodeUSASoapOut">
		<wsdl:part name="parameters" element="tns:GetGeocodeUSAResponse" />
	</wsdl:message>
	<wsdl:message name="GetGeocodeUSAResponseInfo">
		<wsdl:part name="ResponseInfo" element="tns:ResponseInfo" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="USGeocodingSoap">
		<wsdl:operation name="GetGeocodeUSA">
			<wsdl:input message="tns:GetGeocodeUSASoapIn" />
			<wsdl:output message="tns:GetGeocodeUSASoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="USGeocodingSoap" type="tns:USGeocodingSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetGeocodeUSA">
			<soap:operation soapAction="http://www.strikeiron.com/GetGeocodeUSA" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:GetGeocodeUSAResponseInfo" part="ResponseInfo" use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/USGeocoding/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="USGeocoding">
		<wsdl:port name="USGeocodingSoap" binding="tns:USGeocodingSoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/USGeocoding" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>