wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__207.59.236.123_pricer-cgi_pricer_out.dll_wsdl_IBRSClaimPricer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IBRSClaimPricerservice"
	targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://www.borland.com/namespaces/Types">
	<xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
	<types>
		<xs:schema targetNamespace="http://www.borland.com/namespaces/Types" xmlns="http://www.borland.com/namespaces/Types">
			<xs:complexType name="TStringDynArray">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="PhysicianServicesClaim0Request">
		<part name="FeeId" type="xs:int" />
		<part name="Year" type="xs:int" />
		<part name="PhyType" type="xs:int" />
		<part name="Specialty" type="xs:int" />
		<part name="PayType" type="xs:int" />
		<part name="zip" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="PhysicianServicesClaim0Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="AmbulatorySurgeryClaim1Request">
		<part name="FeeId" type="xs:int" />
		<part name="Year" type="xs:int" />
		<part name="PayType" type="xs:int" />
		<part name="zip" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="AmbulatorySurgeryClaim1Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="HospitalOutpatientClaim2Request">
		<part name="FeeId" type="xs:int" />
		<part name="Year" type="xs:int" />
		<part name="PayType" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="HospitalNo" type="xs:string" />
		<part name="Zip" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="Sex" type="xs:string" />
		<part name="Dob" type="xs:string" />
		<part name="FromDate" type="xs:string" />
		<part name="ThroughDate" type="xs:string" />
		<part name="ConditionCodes" type="xs:string" />
		<part name="DiagCodes" type="xs:string" />
		<part name="AdmitDiagCode" type="xs:string" />
		<part name="PatientStatus" type="xs:string" />
		<part name="Occurrences" type="xs:string" />
		<part name="PhysDrugRatesForStatusLVaccines" type="xs:boolean" />
		<part name="OutlierOverride" type="xs:boolean" />
		<part name="OL_CCR" type="xs:double" />
		<part name="OL_Threshold" type="xs:double" />
		<part name="OL_Limit" type="xs:double" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="HospitalOutpatientClaim2Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="AmbulanceClaim3Request">
		<part name="FeeId" type="xs:int" />
		<part name="Year" type="xs:int" />
		<part name="PayType" type="xs:int" />
		<part name="zip" type="xs:string" />
		<part name="UseCMSPrevailingRates" type="xs:boolean" />
		<part name="AmbulanceHangerState" type="xs:string" />
		<part name="BillingMethod" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="AmbulanceClaim3Response">
		<part name="CmsShare" type="xs:string" />
		<part name="ProviderShare" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="EsrdClaim4Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="Zip" type="xs:string" />
		<part name="Dob" type="xs:string" />
		<part name="FromDate" type="xs:string" />
		<part name="ThroughDate" type="xs:string" />
		<part name="ConditionCodes" type="xs:string" />
		<part name="ValueCodes" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="EsrdClaim4Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="SnfClaim5Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="Zip" type="xs:string" />
		<part name="PrincDiagCode" type="xs:string" />
		<part name="OtherDiagCodes" type="xs:string" />
		<part name="FromDate" type="xs:string" />
		<part name="ThroughDate" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="SnfClaim5Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="HhaClaim6Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="AdmitDate" type="xs:string" />
		<part name="FromDate" type="xs:string" />
		<part name="ThroughDate" type="xs:string" />
		<part name="AdmitSrc" type="xs:string" />
		<part name="PatientZip" type="xs:string" />
		<part name="PatientStatus" type="xs:string" />
		<part name="ValueCodes" type="xs:string" />
		<part name="RAP_WasSubmitted" type="xs:boolean" />
		<part name="EpisodeSequence" type="xs:int" />
		<part name="TreatmentAuthorizationCode" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="HhaClaim6Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="InpatientPsychClaim7Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="Sex" type="xs:string" />
		<part name="Dob" type="xs:string" />
		<part name="AdmitDate" type="xs:string" />
		<part name="DischargeDate" type="xs:string" />
		<part name="AdmitSrc" type="xs:string" />
		<part name="DischargeStatus" type="xs:string" />
		<part name="PrincDiagCode" type="xs:string" />
		<part name="OtherDiagCodes" type="xs:string" />
		<part name="PrincProcedure" type="xs:string" />
		<part name="OtherProcedures" type="xs:string" />
		<part name="Drg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="InpatientPsychClaim7Response">
		<part name="Drg" type="xs:int" />
		<part name="GroupedDrg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="LtcClaim8Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="Sex" type="xs:string" />
		<part name="Dob" type="xs:string" />
		<part name="AdmitDate" type="xs:string" />
		<part name="DischargeDate" type="xs:string" />
		<part name="DischargeStatus" type="xs:string" />
		<part name="PrincDiagCode" type="xs:string" />
		<part name="OtherDiagCodes" type="xs:string" />
		<part name="PrincProcedure" type="xs:string" />
		<part name="OtherProcedures" type="xs:string" />
		<part name="Drg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="LtcClaim8Response">
		<part name="Drg" type="xs:int" />
		<part name="GroupedDrg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="InpatientRehabClaim9Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="AdmitDate" type="xs:string" />
		<part name="DischargeDate" type="xs:string" />
		<part name="CoveredDays" type="xs:int" />
		<part name="PatientStatus" type="xs:string" />
		<part name="ConditionCodes" type="xs:string" />
		<part name="LifetimeReserveDays" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="InpatientRehabClaim9Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="DRGClaim10Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="TypeOfBill" type="xs:string" />
		<part name="Sex" type="xs:string" />
		<part name="Dob" type="xs:string" />
		<part name="AdmitDate" type="xs:string" />
		<part name="DischargeDate" type="xs:string" />
		<part name="DischargeStatus" type="xs:string" />
		<part name="PrincDiagCode" type="xs:string" />
		<part name="OtherDiagCodes" type="xs:string" />
		<part name="PrincProcedure" type="xs:string" />
		<part name="OtherProcedures" type="xs:string" />
		<part name="ConditionCodes" type="xs:string" />
		<part name="ValueCodes" type="xs:string" />
		<part name="POA" type="xs:string" />
		<part name="Drg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="DRGClaim10Response">
		<part name="Drg" type="xs:int" />
		<part name="GroupedDrg" type="xs:int" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="HospiceClaim11Request">
		<part name="FeeId" type="xs:int" />
		<part name="NPI" type="xs:string" />
		<part name="ProviderNo" type="xs:string" />
		<part name="ValueCodes" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
	</message>
	<message name="HospiceClaim11Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="ClaimLinesSchema12Request">
		<part name="ProviderType" type="xs:int" />
	</message>
	<message name="ClaimLinesSchema12Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="HcpcsDescription13Request">
		<part name="Year" type="xs:int" />
		<part name="Hcpcs" type="xs:string" />
		<part name="Mod1" type="xs:string" />
		<part name="Mod2" type="xs:string" />
	</message>
	<message name="HcpcsDescription13Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="RevCodeDescription14Request">
		<part name="RevCode" type="xs:string" />
	</message>
	<message name="RevCodeDescription14Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="Version15Request" />
	<message name="Version15Response">
		<part name="Details" type="xs:string" />
		<part name="return" type="xs:string" />
	</message>
	<message name="PriceH145016Request">
		<part name="FeeId" type="xs:int" />
		<part name="ID" type="xs:string" />
		<part name="Incomplete" type="xs:boolean" />
		<part name="ProviderType" type="xs:int" />
		<part name="ClaimFields" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
		<part name="OverrideInstructions" type="xs:string" />
		<part name="Info" type="xs:string" />
	</message>
	<message name="PriceH145016Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Allowance" type="xs:double" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="Errors" type="xs:string" />
		<part name="return" type="xs:string" />
	</message>
	<message name="PriceCMS150017Request">
		<part name="FeeId" type="xs:int" />
		<part name="ID" type="xs:string" />
		<part name="Incomplete" type="xs:boolean" />
		<part name="ProviderType" type="xs:int" />
		<part name="ClaimFields" type="xs:string" />
		<part name="ClaimLines" type="xs:string" />
		<part name="ShowDescription" type="xs:boolean" />
		<part name="ShowNarrative" type="xs:boolean" />
		<part name="ShowDetails" type="xs:boolean" />
		<part name="OverrideInstructions" type="xs:string" />
		<part name="Info" type="xs:string" />
	</message>
	<message name="PriceCMS150017Response">
		<part name="ClaimLines" type="xs:string" />
		<part name="Allowance" type="xs:double" />
		<part name="Info" type="xs:string" />
		<part name="Warnings" type="xs:string" />
		<part name="Errors" type="xs:string" />
		<part name="return" type="xs:string" />
	</message>
	<message name="SqlSelect18Request">
		<part name="DbId" type="xs:int" />
		<part name="Statement" type="xs:string" />
	</message>
	<message name="SqlSelect18Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="GetModelingSchedule19Request">
		<part name="FeeId" type="xs:int" />
		<part name="Global" type="xs:boolean" />
	</message>
	<message name="GetModelingSchedule19Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="ListModelingSchedules20Request" />
	<message name="ListModelingSchedules20Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="PriceClaim21Request">
		<part name="FeeId" type="xs:int" />
		<part name="HeaderFields" type="xs:string" />
		<part name="LineFields" type="xs:string" />
		<part name="Header" type="xs:string" />
		<part name="Lines" type="ns1:TStringDynArray" />
	</message>
	<message name="PriceClaim21Response">
		<part name="Header" type="xs:string" />
		<part name="Lines" type="ns1:TStringDynArray" />
		<part name="return" type="xs:double" />
	</message>
	<message name="PhysicianSpecialty22Request">
		<part name="Id" type="xs:int" />
	</message>
	<message name="PhysicianSpecialty22Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="PriceClaimXML23Request">
		<part name="FeeId" type="xs:int" />
		<part name="WeirdCode" type="xs:int" />
		<part name="ClaimXMLData" type="xs:string" />
	</message>
	<message name="PriceClaimXML23Response">
		<part name="ClaimXMLData" type="xs:string" />
		<part name="return" type="xs:double" />
	</message>
	<message name="MessageDescription24Request">
		<part name="Code" type="xs:string" />
	</message>
	<message name="MessageDescription24Response">
		<part name="return" type="xs:string" />
	</message>
	<portType name="IBRSClaimPricer">
		<operation name="PhysicianServicesClaim">
			<input message="tns:PhysicianServicesClaim0Request" />
			<output message="tns:PhysicianServicesClaim0Response" />
		</operation>
		<operation name="AmbulatorySurgeryClaim">
			<input message="tns:AmbulatorySurgeryClaim1Request" />
			<output message="tns:AmbulatorySurgeryClaim1Response" />
		</operation>
		<operation name="HospitalOutpatientClaim">
			<input message="tns:HospitalOutpatientClaim2Request" />
			<output message="tns:HospitalOutpatientClaim2Response" />
		</operation>
		<operation name="AmbulanceClaim">
			<input message="tns:AmbulanceClaim3Request" />
			<output message="tns:AmbulanceClaim3Response" />
		</operation>
		<operation name="EsrdClaim">
			<input message="tns:EsrdClaim4Request" />
			<output message="tns:EsrdClaim4Response" />
		</operation>
		<operation name="SnfClaim">
			<input message="tns:SnfClaim5Request" />
			<output message="tns:SnfClaim5Response" />
		</operation>
		<operation name="HhaClaim">
			<input message="tns:HhaClaim6Request" />
			<output message="tns:HhaClaim6Response" />
		</operation>
		<operation name="InpatientPsychClaim">
			<input message="tns:InpatientPsychClaim7Request" />
			<output message="tns:InpatientPsychClaim7Response" />
		</operation>
		<operation name="LtcClaim">
			<input message="tns:LtcClaim8Request" />
			<output message="tns:LtcClaim8Response" />
		</operation>
		<operation name="InpatientRehabClaim">
			<input message="tns:InpatientRehabClaim9Request" />
			<output message="tns:InpatientRehabClaim9Response" />
		</operation>
		<operation name="DRGClaim">
			<input message="tns:DRGClaim10Request" />
			<output message="tns:DRGClaim10Response" />
		</operation>
		<operation name="HospiceClaim">
			<input message="tns:HospiceClaim11Request" />
			<output message="tns:HospiceClaim11Response" />
		</operation>
		<operation name="ClaimLinesSchema">
			<input message="tns:ClaimLinesSchema12Request" />
			<output message="tns:ClaimLinesSchema12Response" />
		</operation>
		<operation name="HcpcsDescription">
			<input message="tns:HcpcsDescription13Request" />
			<output message="tns:HcpcsDescription13Response" />
		</operation>
		<operation name="RevCodeDescription">
			<input message="tns:RevCodeDescription14Request" />
			<output message="tns:RevCodeDescription14Response" />
		</operation>
		<operation name="Version">
			<input message="tns:Version15Request" />
			<output message="tns:Version15Response" />
		</operation>
		<operation name="PriceH1450">
			<input message="tns:PriceH145016Request" />
			<output message="tns:PriceH145016Response" />
		</operation>
		<operation name="PriceCMS1500">
			<input message="tns:PriceCMS150017Request" />
			<output message="tns:PriceCMS150017Response" />
		</operation>
		<operation name="SqlSelect">
			<input message="tns:SqlSelect18Request" />
			<output message="tns:SqlSelect18Response" />
		</operation>
		<operation name="GetModelingSchedule">
			<input message="tns:GetModelingSchedule19Request" />
			<output message="tns:GetModelingSchedule19Response" />
		</operation>
		<operation name="ListModelingSchedules">
			<input message="tns:ListModelingSchedules20Request" />
			<output message="tns:ListModelingSchedules20Response" />
		</operation>
		<operation name="PriceClaim">
			<input message="tns:PriceClaim21Request" />
			<output message="tns:PriceClaim21Response" />
		</operation>
		<operation name="PhysicianSpecialty">
			<input message="tns:PhysicianSpecialty22Request" />
			<output message="tns:PhysicianSpecialty22Response" />
		</operation>
		<operation name="PriceClaimXML">
			<input message="tns:PriceClaimXML23Request" />
			<output message="tns:PriceClaimXML23Response" />
		</operation>
		<operation name="MessageDescription">
			<input message="tns:MessageDescription24Request" />
			<output message="tns:MessageDescription24Response" />
		</operation>
	</portType>
	<binding name="IBRSClaimPricerbinding" type="tns:IBRSClaimPricer">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="PhysicianServicesClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PhysicianServicesClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="AmbulatorySurgeryClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#AmbulatorySurgeryClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="HospitalOutpatientClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#HospitalOutpatientClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="AmbulanceClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#AmbulanceClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="EsrdClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#EsrdClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="SnfClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#SnfClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="HhaClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#HhaClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="InpatientPsychClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#InpatientPsychClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="LtcClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#LtcClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="InpatientRehabClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#InpatientRehabClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="DRGClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#DRGClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="HospiceClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#HospiceClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="ClaimLinesSchema">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#ClaimLinesSchema" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="HcpcsDescription">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#HcpcsDescription" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="RevCodeDescription">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#RevCodeDescription" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="Version">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#Version" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="PriceH1450">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PriceH1450" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="PriceCMS1500">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PriceCMS1500" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="SqlSelect">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#SqlSelect" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="GetModelingSchedule">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#GetModelingSchedule" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="ListModelingSchedules">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#ListModelingSchedules" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="PriceClaim">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PriceClaim" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="PhysicianSpecialty">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PhysicianSpecialty" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="PriceClaimXML">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#PriceClaimXML" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
		<operation name="MessageDescription">
			<soap:operation soapAction="urn:uBRSClaimPricerIntf-IBRSClaimPricer#MessageDescription" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uBRSClaimPricerIntf-IBRSClaimPricer" />
			</output>
		</operation>
	</binding>
	<service name="IBRSClaimPricerservice">
		<port name="IBRSClaimPricerPort" binding="tns:IBRSClaimPricerbinding">
			<soap:address location="http://207.59.236.123/pricer-cgi/pricer_out.dll/soap/IBRSClaimPricer" />
		</port>
	</service>
</definitions>