wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xmlme.com_WSDailyNet.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xmlme.com/WebServices"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://xmlme.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlme.com/WebServices">
			<s:element name="GetDotnetDailyFact">
				<s:complexType />
			</s:element>
			<s:element name="GetDotnetDailyFactResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetDotnetDailyFactResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetDotnetDailyFactSoapIn">
		<wsdl:part name="parameters" element="tns:GetDotnetDailyFact" />
	</wsdl:message>
	<wsdl:message name="GetDotnetDailyFactSoapOut">
		<wsdl:part name="parameters" element="tns:GetDotnetDailyFactResponse" />
	</wsdl:message>
	<wsdl:portType name="DotnetDailyFactSoap">
		<wsdl:operation name="GetDotnetDailyFact">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a fact of the day reflecting all aspects of the .NET
				platform. See http://www.xmlme.com for a sample client and additional details.</wsdl:documentation>
			<wsdl:input message="tns:GetDotnetDailyFactSoapIn" />
			<wsdl:output message="tns:GetDotnetDailyFactSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DotnetDailyFactSoap" type="tns:DotnetDailyFactSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetDotnetDailyFact">
			<soap:operation soapAction="http://xmlme.com/WebServices/GetDotnetDailyFact" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DotnetDailyFactSoap12" type="tns:DotnetDailyFactSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetDotnetDailyFact">
			<soap12:operation soapAction="http://xmlme.com/WebServices/GetDotnetDailyFact" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DotnetDailyFact">
		<wsdl:port name="DotnetDailyFactSoap" binding="tns:DotnetDailyFactSoap">
			<soap:address location="http://www.xmlme.com/WSDailyNet.asmx" />
		</wsdl:port>
		<wsdl:port name="DotnetDailyFactSoap12" binding="tns:DotnetDailyFactSoap12">
			<soap12:address location="http://www.xmlme.com/WSDailyNet.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>