wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__arcweb.esri.com_services_v2_Proximity.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Wed May 20 04:48:25 PDT 2009 -->
<definitions name='Proximity' targetNamespace='http://arcweb.esri.com/v2' xmlns:tns='http://arcweb.esri.com/v2'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'
	xmlns:ns11='http://www.themindelectric.com/package/com.esri.is.services.common.v2/' xmlns:ns12='http://www.themindelectric.com/package/java.lang/'
	xmlns:ns13='http://www.themindelectric.com/package/com.esri.is.services.common.v2.geom/' xmlns:ns14='http://www.themindelectric.com/package/'
	xmlns:ns15='http://www.themindelectric.com/package/com.esri.is.services.glue.v2.proximity/'>
	<types>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2/'>
			<xsd:import namespace='http://www.themindelectric.com/package/java.lang/' />
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:complexType name='FieldDesc'>
				<xsd:sequence>
					<xsd:element name='fieldName' nillable='true' type='xsd:string' />
					<xsd:element name='fieldType' nillable='true' type='xsd:string' />
					<xsd:element name='fieldShortDesc' nillable='true' type='xsd:string' />
					<xsd:element name='fieldLength' type='xsd:int' />
					<xsd:element name='fieldPrecision' type='xsd:int' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ArrayOfFieldDesc'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='ns11:FieldDesc[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name='ResultSetRange'>
				<xsd:sequence>
					<xsd:element name='startIndex' type='xsd:int' />
					<xsd:element name='count' type='xsd:int' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ResultSet'>
				<xsd:sequence>
					<xsd:element name='totalCount' type='xsd:int' />
					<xsd:element name='fields' nillable='true' type='ns11:ArrayOfFieldDesc' />
					<xsd:element name='rows' nillable='true' type='ns11:ArrayOfRowData' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='RowData'>
				<xsd:sequence>
					<xsd:element name='fieldValues' nillable='true' type='ns12:ArrayOfstring' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ArrayOfRowData'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='ns11:RowData[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.glue.v2.proximity/'>
			<xsd:import namespace='http://www.themindelectric.com/package/java.lang/' />
			<xsd:import namespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2/' />
			<xsd:complexType name='ProximityOptions'>
				<xsd:sequence>
					<xsd:element name='resultRange' nillable='true' type='ns11:ResultSetRange' />
					<xsd:element name='dataSource' nillable='true' type='xsd:string' />
					<xsd:element name='whereClause' nillable='true' type='xsd:string' />
					<xsd:element name='returnFieldsList' nillable='true' type='ns12:ArrayOfstring' />
					<xsd:element name='units' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/java.lang/'>
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:complexType name='ArrayOfstring'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='xsd:string[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2.geom/'>
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:import namespace='http://www.themindelectric.com/package/' />
			<xsd:complexType name='Geometry'>
				<xsd:sequence>
					<xsd:element name='points' nillable='true' type='ns13:ArrayOfSimplePoint' />
					<xsd:element name='parts' nillable='true' type='ns14:ArrayOfint' />
					<xsd:element name='type' type='xsd:int' />
					<xsd:element name='coordinateSystem' nillable='true' type='ns13:CoordinateSystem' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='SimplePoint'>
				<xsd:sequence>
					<xsd:element name='x' type='xsd:double' />
					<xsd:element name='y' type='xsd:double' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ArrayOfSimplePoint'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='ns13:SimplePoint[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name='CoordinateSystem'>
				<xsd:sequence>
					<xsd:element name='projection' nillable='true' type='xsd:string' />
					<xsd:element name='datumTransformation' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='Point'>
				<xsd:sequence>
					<xsd:element name='x' type='xsd:double' />
					<xsd:element name='y' type='xsd:double' />
					<xsd:element name='coordinateSystem' nillable='true' type='ns13:CoordinateSystem' />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/'>
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:complexType name='ArrayOfint'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='xsd:int[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name='getAvailableFieldNames0In'>
		<part name='proximityOptions' type='ns15:ProximityOptions' />
	</message>
	<message name='getAvailableFieldNames0Out'>
		<part name='Result' type='ns11:ArrayOfFieldDesc'>
			<documentation>FieldDesc[] - Array of field names and description. </documentation>
		</part>
	</message>
	<message name='findWithin1In'>
		<part name='line' type='ns13:Geometry'>
			<documentation>- Geometry object containing only line types.</documentation>
		</part>
		<part name='radius' type='xsd:double' />
		<part name='proximityOptions' type='ns15:ProximityOptions' />
		<part name='token' type='xsd:string'>
			<documentation>Authentication token for accessing Query Web Service.</documentation>
		</part>
	</message>
	<message name='findWithin1Out'>
		<part name='Result' type='ns11:ResultSet'>
			<documentation>ResultSet - ResultSet contains data from the ArcWeb Service. </documentation>
		</part>
	</message>
	<message name='findWithin2In'>
		<part name='point' type='ns13:Point'>
			<documentation>- Point.</documentation>
		</part>
		<part name='radius' type='xsd:double' />
		<part name='proximityOptions' type='ns15:ProximityOptions' />
		<part name='token' type='xsd:string'>
			<documentation>Authentication token for accessing Query Web Service.</documentation>
		</part>
	</message>
	<message name='findWithin2Out'>
		<part name='Result' type='ns11:ResultSet'>
			<documentation>ResultSet - ResultSet contains data from the ArcWeb Service. </documentation>
		</part>
	</message>
	<message name='findNearest3In'>
		<part name='point' type='ns13:Point'>
			<documentation>- Point.</documentation>
		</part>
		<part name='proximityOptions' type='ns15:ProximityOptions' />
		<part name='token' type='xsd:string'>
			<documentation>Authentication token for accessing Query Web Service.</documentation>
		</part>
	</message>
	<message name='findNearest3Out'>
		<part name='Result' type='ns11:ResultSet'>
			<documentation>ResultSet - ResultSet contains data from the ArcWeb Service. </documentation>
		</part>
	</message>
	<message name='findNearest4In'>
		<part name='line' type='ns13:Geometry'>
			<documentation>- Geometry object containing only line types.</documentation>
		</part>
		<part name='proximityOptions' type='ns15:ProximityOptions' />
		<part name='token' type='xsd:string'>
			<documentation>Authentication token for accessing Query Web Service.</documentation>
		</part>
	</message>
	<message name='findNearest4Out'>
		<part name='Result' type='ns11:ResultSet'>
			<documentation>ResultSet - ResultSet contains data from the ArcWeb Service. </documentation>
		</part>
	</message>
	<message name='getVersion5In' />
	<message name='getVersion5Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='IProximity'>
		<operation name='getAvailableFieldNames' parameterOrder='proximityOptions'>
			<documentation>Returns the fields (attributes) available for a given data source.</documentation>
			<input name='getAvailableFieldNames0In' message='tns:getAvailableFieldNames0In' />
			<output name='getAvailableFieldNames0Out' message='tns:getAvailableFieldNames0Out' />
		</operation>
		<operation name='findWithin' parameterOrder='line radius proximityOptions token'>
			<documentation>Returns rows of fields and their values for a given line and a radius.</documentation>
			<input name='findWithin1In' message='tns:findWithin1In' />
			<output name='findWithin1Out' message='tns:findWithin1Out' />
		</operation>
		<operation name='findWithin' parameterOrder='point radius proximityOptions token'>
			<documentation>Returns rows of fields and their values for a given point and a radius.</documentation>
			<input name='findWithin2In' message='tns:findWithin2In' />
			<output name='findWithin2Out' message='tns:findWithin2Out' />
		</operation>
		<operation name='findNearest' parameterOrder='point proximityOptions token'>
			<documentation>Returns rows of fields and their values that are closest to a given point.</documentation>
			<input name='findNearest3In' message='tns:findNearest3In' />
			<output name='findNearest3Out' message='tns:findNearest3Out' />
		</operation>
		<operation name='findNearest' parameterOrder='line proximityOptions token'>
			<documentation>Returns rows of fields and their values that are closest to a given line.</documentation>
			<input name='findNearest4In' message='tns:findNearest4In' />
			<output name='findNearest4Out' message='tns:findNearest4Out' />
		</operation>
		<operation name='getVersion' parameterOrder=''>
			<input name='getVersion5In' message='tns:getVersion5In' />
			<output name='getVersion5Out' message='tns:getVersion5Out' />
		</operation>
	</portType>
	<binding name='IProximity' type='tns:IProximity'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='getAvailableFieldNames'>
			<soap:operation soapAction='getAvailableFieldNames' style='rpc' />
			<input name='getAvailableFieldNames0In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getAvailableFieldNames0Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='findWithin'>
			<soap:operation soapAction='findWithin' style='rpc' />
			<input name='findWithin1In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='findWithin1Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='findWithin'>
			<soap:operation soapAction='findWithin' style='rpc' />
			<input name='findWithin2In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='findWithin2Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='findNearest'>
			<soap:operation soapAction='findNearest' style='rpc' />
			<input name='findNearest3In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='findNearest3Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='findNearest'>
			<soap:operation soapAction='findNearest' style='rpc' />
			<input name='findNearest4In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='findNearest4Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getVersion'>
			<soap:operation soapAction='getVersion' style='rpc' />
			<input name='getVersion5In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getVersion5Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='Proximity'>
		<documentation>The Proximity Service allows you to find all points of interest (POI) locations within a specified
			distance to a specified location (e.g., find all POI&apos;s within 5 miles of x,y) or to determine the nearest
			specified number of POI locations to a specified location (e.g., find nearest 3 POI&apos;s to x,y).</documentation>
		<port name='IProximity' binding='tns:IProximity'>
			<soap:address location='http://arcweb.esri.com/services/v2/Proximity' />
		</port>
	</service>
</definitions>