wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.cs.fsu.edu_%7Eengelen_magic.wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="magic" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.cs.fsu.edu/~engelen/magic.wsdl"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.cs.fsu.edu/~engelen/magic.wsdl" xmlns:ns1="http://www.cs.fsu.edu/~engelen/ns1.xsd">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cs.fsu.edu/~engelen/ns1.xsd"
			xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
			<complexType name="ArrayOfint" base="SOAP:Array">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="int[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfArrayOfint" base="SOAP:Array">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="int[][]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="magicResponse">
				<all>
					<element name="result" type="ArrayOfArrayOfint" minOccurs="0" maxOccurs="1" nillable="true" />
				</all>
				<anyAttribute namespace="##other" />
			</complexType>
		</schema>
	</types>
	<message name="magicRequest">
		<part name="rank" type="xsd:int" />
	</message>
	<message name="magicResponse">
		<part name="result" type="ns1:ArrayOfArrayOfint" />
	</message>
	<portType name="magicPortType">
		<documentation>Service definition of function ns1__magic</documentation>
		<operation name="magic">
			<input message="tns:magicRequest" />
			<output message="tns:magicResponse" />
		</operation>
	</portType>
	<binding name="magicBinding" type="tns:magicPortType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="magic">
			<SOAP:operation soapAction="" />
			<input>
				<SOAP:body use="encoded" namespace="urn:MagicSquare" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<SOAP:body use="encoded" namespace="urn:MagicSquare" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="magic">
		<documentation>gSOAP Stub and Skeleton Compiler for C and C++ 1.2.5 generated service definition</documentation>
		<port name="magicPort" binding="tns:magicBinding">
			<SOAP:address location="http://www.cs.fsu.edu/~engelen/magicserver.cgi" />
		</port>
	</service>
</definitions>