wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_ZacksSummary3_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="GetResearchSummaryByCompany">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetResearchSummaryByCompanyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetResearchSummaryByCompanyResult" type="tns:ZacksSummaryOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ZacksSummaryOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:ZacksResearchSummary" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ServiceOutput">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsStatus">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ZacksResearchSummary">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Fiscal_Year_1_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Fiscal_Year_2_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr0_Quarter_1_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr_1_Quarter_2_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr_2_Quarter_3_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr_3_Quarter_4_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr_4_Quarter_4_End_Date" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR0_quarter" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Eps_Surprise_percentage_for_QR0_quarter" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Average_Recommendation_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Average_Recommendation_Previous" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Buy_Recommendations_Current" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Buy_Recommendations_Current" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Hold_Recommendations_Current" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Sell_Recommendations_Current" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Sell_Recommendations_Current" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Buy_Recommendations_1_Month_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Buy_Recommendations_1_Month_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Hold_Recommendations_1_Month_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Sell_Recommendations_1_Month_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Sell_Recommendations_1_Month_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Buy_Recommendations_2_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Buy_Recommendations_2_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Hold_Recommendations_2_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Sell_Recommendations_2_Months_Ago"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Sell_Recommendations_2_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Buy_Recommendations_3_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Buy_Recommendations_3_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Hold_Recommendations_3_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Moderate_Sell_Recommendations_3_Months_Ago"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_Strong_Sell_Recommendations_3_Months_Ago" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_QR1_Estimates" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Current_Mean" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Low_Estimate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_High_Estimate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_QR2_Estimates" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Current_Mean" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Low_Estimate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_High_Estimate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_FR1_Estimates" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Current_Mean" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Low_Estimate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_High_Estimate" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Number_of_FR2_Estimates" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Current_Mean" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Low_Estimate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_High_Estimate" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Estimated_EPS_for_QR0" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR0" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr0_Difference" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr0_Surprise_Percent" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Estimated_EPS_for_QR_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR_1" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_1_Difference" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_1_Surprise_Percent" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Estimated_EPS_for_QR_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR_2" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_2_Difference" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_2_Surprise_Percent" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Estimated_EPS_for_QR_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR_3" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_3_Difference" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_3_Surprise_Percent" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Estimated_EPS_for_QR_4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Actual_EPS_for_QR_4" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_4_Difference" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr_4_Surprise_Percent" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Last_5_year_actual_percent_earnings_growth_for_Company"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FR1_estimated_EPS_vs_FR0_Actual_EPS_for_Company"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FR2_estimated_EPS_vs_FR1_Estimated_EPS_for_Company"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1"
								name="Ltg_Long_Term_Growth_annualized_percentage_growth_rate_estimate_for_Company" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Pe_Ratio_based_on_F1_Estimated_EPS_for_Company" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Last_5_year_actual_percent_earnings_growth_for_Industry"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FY1_estimated_EPS_vs_FY0_Actual_EPS_for_Industry"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FY2_estimated_EPS_vs_FY1_Estimated_EPS_for_Industry"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1"
								name="Ltg_Long_Term_Growth_annualized_percentage_growth_rate_estimate_for_Industry" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Pe_Ratio_based_on_FY1_Estimated_EPS_for_Industry" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Last_5_year_actual_percent_earnings_growth_for_SP500"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FR1_estimated_EPS_vs_FR0_Actual_EPS_for_SP500"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Percent_growth_FR2_estimated_EPS_vs_FR1_Estimated_EPS_for_SP500"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1"
								name="Ltg_Long_Term_Growth_annualized_percentage_growth_rate_estimate_for_SP500" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Pe_Ratio_based_on_F1_Estimated_EPS_for_SP500" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIWsResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAllStatuses">
				<s:complexType />
			</s:element>
			<s:element name="GetAllStatusesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="tns:StatusCodeOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="StatusCodeOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:StatusCodeResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="StatusCodeResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Statuses" type="tns:ArrayOfSIWsStatus" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfSIWsStatus">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetServiceInfo">
				<s:complexType />
			</s:element>
			<s:element name="GetServiceInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:ServiceInfoOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ServiceInfoOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIServiceInfoResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIServiceInfoResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="tns:ArrayOfServiceInfoRecord" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetResearchSummaryByCompanySoapIn">
		<wsdl:part name="parameters" element="tns:GetResearchSummaryByCompany" />
	</wsdl:message>
	<wsdl:message name="GetResearchSummaryByCompanySoapOut">
		<wsdl:part name="parameters" element="tns:GetResearchSummaryByCompanyResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllStatuses" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllStatusesResponse" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetServiceInfo" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="ZacksSummarySoap">
		<wsdl:operation name="GetResearchSummaryByCompany">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Zacks research summary for the company requested by its ticker
			</documentation>
			<wsdl:input message="tns:GetResearchSummaryByCompanySoapIn" />
			<wsdl:output message="tns:GetResearchSummaryByCompanySoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
			<wsdl:input message="tns:GetAllStatusesSoapIn" />
			<wsdl:output message="tns:GetAllStatusesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
			<wsdl:input message="tns:GetServiceInfoSoapIn" />
			<wsdl:output message="tns:GetServiceInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZacksSummarySoap" type="tns:ZacksSummarySoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetResearchSummaryByCompany">
			<soap:operation soapAction="http://www.strikeiron.com/GetResearchSummaryByCompany" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/ZacksSummary3/ZacksSummary/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZacksSummary">
		<wsdl:port name="ZacksSummarySoap" binding="tns:ZacksSummarySoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/ZacksSummary3/ZacksSummary" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>