wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__tstsvr.achworks.com_testexec_testckver.tss_wsdl_ItestckvSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ItestckvSOAPservice"
	targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:testckvSOAPIntf">
	<types>
		<xs:schema targetNamespace="urn:testckvSOAPIntf" xmlns="urn:testckvSOAPIntf">
			<xs:complexType name="CompanyInfo">
				<xs:sequence>
					<xs:element name="LocID" type="xs:string" />
					<xs:element name="Company" type="xs:string" />
					<xs:element name="CompanyKey" type="xs:string" />
					<xs:element name="Email" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AcctInfo">
				<xs:sequence>
					<xs:element name="Amount" type="xs:string" />
					<xs:element name="AcctType" type="xs:string" />
					<xs:element name="AcctNo" type="xs:string" />
					<xs:element name="RoutingNo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultCKV">
				<xs:sequence>
					<xs:element name="Amount" type="xs:string" />
					<xs:element name="AcctType" type="xs:string" />
					<xs:element name="AcctNo" type="xs:string" />
					<xs:element name="RoutingNo" type="xs:string" />
					<xs:element name="RefNo" type="xs:string" />
					<xs:element name="Code" type="xs:string" />
					<xs:element name="Result" type="xs:string" />
					<xs:element name="Meaning" type="xs:string" />
					<xs:element name="Description" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfString">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="ConnectionCheck0Request">
		<part name="LocID" type="xs:string" />
		<part name="Company" type="xs:string" />
		<part name="CompanyKey" type="xs:string" />
	</message>
	<message name="ConnectionCheck0Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="VerifyCheck1Request">
		<part name="InpCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpAcctInfo" type="ns1:AcctInfo" />
	</message>
	<message name="VerifyCheck1Response">
		<part name="return" type="ns1:ResultCKV" />
	</message>
	<message name="VerifyCheckBatch2Request">
		<part name="InpCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchAcctInfo" type="ns1:ArrayOfString" />
	</message>
	<message name="VerifyCheckBatch2Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<portType name="ItestckvSOAP">
		<operation name="ConnectionCheck">
			<input message="tns:ConnectionCheck0Request" />
			<output message="tns:ConnectionCheck0Response" />
		</operation>
		<operation name="VerifyCheck">
			<input message="tns:VerifyCheck1Request" />
			<output message="tns:VerifyCheck1Response" />
		</operation>
		<operation name="VerifyCheckBatch">
			<input message="tns:VerifyCheckBatch2Request" />
			<output message="tns:VerifyCheckBatch2Response" />
		</operation>
	</portType>
	<binding name="ItestckvSOAPbinding" type="tns:ItestckvSOAP">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ConnectionCheck">
			<soap:operation soapAction="urn:testckvSOAPIntf-ItestckvSOAP#ConnectionCheck" style="rpc" />
			<input message="tns:ConnectionCheck0Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</input>
			<output message="tns:ConnectionCheck0Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</output>
		</operation>
		<operation name="VerifyCheck">
			<soap:operation soapAction="urn:testckvSOAPIntf-ItestckvSOAP#VerifyCheck" style="rpc" />
			<input message="tns:VerifyCheck1Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</input>
			<output message="tns:VerifyCheck1Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</output>
		</operation>
		<operation name="VerifyCheckBatch">
			<soap:operation soapAction="urn:testckvSOAPIntf-ItestckvSOAP#VerifyCheckBatch" style="rpc" />
			<input message="tns:VerifyCheckBatch2Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</input>
			<output message="tns:VerifyCheckBatch2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:testckvSOAPIntf-ItestckvSOAP" />
			</output>
		</operation>
	</binding>
	<service name="ItestckvSOAPservice">
		<port name="ItestckvSOAPPort" binding="tns:ItestckvSOAPbinding">
			<soap:address location="http://tstsvr.achworks.com/testexec/testckver.tss/soap/ItestckvSOAP" />
		</port>
	</service>
</definitions>