wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.xmlme.com_WSElectronics.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xmlme.com/WebServices"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://xmlme.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlme.com/WebServices">
			<s:element name="FindElectronicProducts">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindElectronicProductsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="FindElectronicProductsResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="FindElectronicProductsSoapIn">
		<wsdl:part name="parameters" element="tns:FindElectronicProducts" />
	</wsdl:message>
	<wsdl:message name="FindElectronicProductsSoapOut">
		<wsdl:part name="parameters" element="tns:FindElectronicProductsResponse" />
	</wsdl:message>
	<wsdl:portType name="ElectronicProductsFinderSoap">
		<wsdl:operation name="FindElectronicProducts">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts a search string and returns a URL pointing to the
				electronic products search results. See http://www.xmlme.com for a sample client and additional details.
			</wsdl:documentation>
			<wsdl:input message="tns:FindElectronicProductsSoapIn" />
			<wsdl:output message="tns:FindElectronicProductsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ElectronicProductsFinderSoap" type="tns:ElectronicProductsFinderSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindElectronicProducts">
			<soap:operation soapAction="http://xmlme.com/WebServices/FindElectronicProducts" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ElectronicProductsFinderSoap12" type="tns:ElectronicProductsFinderSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindElectronicProducts">
			<soap12:operation soapAction="http://xmlme.com/WebServices/FindElectronicProducts" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ElectronicProductsFinder">
		<wsdl:port name="ElectronicProductsFinderSoap" binding="tns:ElectronicProductsFinderSoap">
			<soap:address location="http://www.xmlme.com/WSElectronics.asmx" />
		</wsdl:port>
		<wsdl:port name="ElectronicProductsFinderSoap12" binding="tns:ElectronicProductsFinderSoap12">
			<soap12:address location="http://www.xmlme.com/WSElectronics.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>