wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.info-me-sms.it_ws.php_wsdl.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:si="http://soapinterop.org/xsd" xmlns:tns="urn:smswsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:smswsdl">
	<types>
		<xsd:schema targetNamespace="urn:smswsdl">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
		</xsd:schema>
	</types>
	<message name="smsRequest">
		<part name="username" type="xsd:string" />
		<part name="password" type="xsd:string" />
		<part name="mittente" type="xsd:string" />
		<part name="destinatario" type="xsd:string" />
		<part name="testo" type="xsd:string" />
	</message>
	<message name="smsResponse">
		<part name="risultato" type="xsd:string" />
	</message>
	<message name="sms_checkRequest">
		<part name="username" type="xsd:string" />
		<part name="password" type="xsd:string" />
		<part name="id" type="xsd:int" />
	</message>
	<message name="sms_checkResponse">
		<part name="risultato" type="xsd:string" />
	</message>
	<message name="sendRequest">
		<part name="username" type="xsd:string" />
		<part name="password" type="xsd:string" />
		<part name="mittente" type="xsd:string" />
		<part name="destinatario" type="xsd:string" />
		<part name="testo" type="xsd:string" />
	</message>
	<message name="sendResponse">
		<part name="risultato" type="xsd:string" />
	</message>
	<portType name="smsPortType">
		<operation name="sms">
			<documentation>Invia un messaggio SMS con testo e mittente al destinatario restituendo il codice spedizione. Se non
				si impostano mittente, destinatario, testo restituisce il credito residuo Il risultato può essere: - credito
				insufficiente - errore destinatario - errore mittente - errore testo - id:CODICE_NUMERICO_SPEDIZIONE -
				credito:NUMERO_SMS_RESIDUI Per maggiori info: http://www.info-me.it/faq.php</documentation>
			<input message="tns:smsRequest" />
			<output message="tns:smsResponse" />
		</operation>
		<operation name="sms_check">
			<documentation>Prende username, password e l'id di una spedizione e ritorna gli status. Per maggiori info:
				http://www.info-me.it/faq.php</documentation>
			<input message="tns:sms_checkRequest" />
			<output message="tns:sms_checkResponse" />
		</operation>
		<operation name="send">
			<documentation>Alias della funzione sms - questo metodo è esposto solo per gli utenti che hanno problemi con oggetti
				omonimi ai metodi.</documentation>
			<input message="tns:sendRequest" />
			<output message="tns:sendResponse" />
		</operation>
	</portType>
	<binding name="smsBinding" type="tns:smsPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="sms">
			<soap:operation soapAction="urn:smswsdl#sms" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="sms_check">
			<soap:operation soapAction="urn:smswsdl#sms" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="send">
			<soap:operation soapAction="urn:smswsdl#sms" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:smswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="sms">
		<port name="smsPort" binding="tns:smsBinding">
			<soap:address location="http://www.info-me-sms.it/ws.php" />
		</port>
	</service>
</definitions>