wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.webservicex.com_icd9toicd10.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ICD-9-CM to ICD-10-CM and ICD-10-CM to ICD-9-CM</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
			<s:element name="GetICD9Code">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ICD10Code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetICD9CodeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetICD9CodeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetICD10Code">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ICD9Code" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetICD10CodeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetICD10CodeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetICD9CodeSoapIn">
		<wsdl:part name="parameters" element="tns:GetICD9Code" />
	</wsdl:message>
	<wsdl:message name="GetICD9CodeSoapOut">
		<wsdl:part name="parameters" element="tns:GetICD9CodeResponse" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeSoapIn">
		<wsdl:part name="parameters" element="tns:GetICD10Code" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeSoapOut">
		<wsdl:part name="parameters" element="tns:GetICD10CodeResponse" />
	</wsdl:message>
	<wsdl:message name="GetICD9CodeHttpGetIn">
		<wsdl:part name="ICD10Code" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetICD9CodeHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeHttpGetIn">
		<wsdl:part name="ICD9Code" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetICD9CodeHttpPostIn">
		<wsdl:part name="ICD10Code" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetICD9CodeHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeHttpPostIn">
		<wsdl:part name="ICD9Code" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetICD10CodeHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="ICD9ToICD10Soap">
		<wsdl:operation name="GetICD9Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-9-CM code for ICD10 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD9CodeSoapIn" />
			<wsdl:output message="tns:GetICD9CodeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-10-CM code for ICD 9 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD10CodeSoapIn" />
			<wsdl:output message="tns:GetICD10CodeSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ICD9ToICD10HttpGet">
		<wsdl:operation name="GetICD9Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-9-CM code for ICD10 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD9CodeHttpGetIn" />
			<wsdl:output message="tns:GetICD9CodeHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-10-CM code for ICD 9 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD10CodeHttpGetIn" />
			<wsdl:output message="tns:GetICD10CodeHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ICD9ToICD10HttpPost">
		<wsdl:operation name="GetICD9Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-9-CM code for ICD10 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD9CodeHttpPostIn" />
			<wsdl:output message="tns:GetICD9CodeHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ICD-10-CM code for ICD 9 code</wsdl:documentation>
			<wsdl:input message="tns:GetICD10CodeHttpPostIn" />
			<wsdl:output message="tns:GetICD10CodeHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ICD9ToICD10Soap" type="tns:ICD9ToICD10Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetICD9Code">
			<soap:operation soapAction="http://www.webserviceX.NET/GetICD9Code" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<soap:operation soapAction="http://www.webserviceX.NET/GetICD10Code" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9ToICD10Soap12" type="tns:ICD9ToICD10Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetICD9Code">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetICD9Code" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<soap12:operation soapAction="http://www.webserviceX.NET/GetICD10Code" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9ToICD10HttpGet" type="tns:ICD9ToICD10HttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetICD9Code">
			<http:operation location="/GetICD9Code" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<http:operation location="/GetICD10Code" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ICD9ToICD10HttpPost" type="tns:ICD9ToICD10HttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetICD9Code">
			<http:operation location="/GetICD9Code" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetICD10Code">
			<http:operation location="/GetICD10Code" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ICD9ToICD10">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ICD-9-CM to ICD-10-CM and ICD-10-CM to ICD-9-CM</wsdl:documentation>
		<wsdl:port name="ICD9ToICD10Soap" binding="tns:ICD9ToICD10Soap">
			<soap:address location="http://www.webservicex.com/icd9toicd10.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9ToICD10Soap12" binding="tns:ICD9ToICD10Soap12">
			<soap12:address location="http://www.webservicex.com/icd9toicd10.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9ToICD10HttpGet" binding="tns:ICD9ToICD10HttpGet">
			<http:address location="http://www.webservicex.com/icd9toicd10.asmx" />
		</wsdl:port>
		<wsdl:port name="ICD9ToICD10HttpPost" binding="tns:ICD9ToICD10HttpPost">
			<http:address location="http://www.webservicex.com/icd9toicd10.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>