wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.boyzoid.com_comp_threat.cfc_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://comp" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://comp" xmlns:intf="http://comp" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rpc.xml.coldfusion"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL 
		created by ColdFusion version 8,0,1,195765 -->
	<wsdl:types>
		<schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://rpc.xml.coldfusion" />
			<import namespace="http://comp" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="mapItem">
				<sequence>
					<element name="key" nillable="true" type="xsd:anyType" />
					<element name="value" nillable="true" type="xsd:anyType" />
				</sequence>
			</complexType>
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://comp" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="CFCInvocationException">
				<sequence />
			</complexType>
			<complexType name="QueryBean">
				<sequence>
					<element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string" />
					<element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://comp" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://rpc.xml.coldfusion" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="threatLevelResponse">
		<wsdl:part name="threatLevelReturn" type="apachesoap:Map" />
	</wsdl:message>
	<wsdl:message name="threatLevelRequest">
	</wsdl:message>
	<wsdl:message name="CFCInvocationException">
		<wsdl:part name="fault" type="tns1:CFCInvocationException" />
	</wsdl:message>
	<wsdl:portType name="Threat">
		<wsdl:operation name="threatLevel">
			<wsdl:input message="impl:threatLevelRequest" name="threatLevelRequest" />
			<wsdl:output message="impl:threatLevelResponse" name="threatLevelResponse" />
			<wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="threat.cfcSoapBinding" type="impl:Threat">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="threatLevel">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="threatLevelRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://comp" use="encoded" />
			</wsdl:input>
			<wsdl:output name="threatLevelResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://comp" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="CFCInvocationException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException"
					namespace="http://comp" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Current Homeland Security Threat Level">
		<wsdl:port binding="impl:threat.cfcSoapBinding" name="threat.cfc">
			<wsdlsoap:address location="http://www.boyzoid.com/comp/threat.cfc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>		