wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.west-wind.com_wconnect_soap_wwhelpservice.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8' ?> <!-- Generated 12/24/2001 11:42:12 PM by West Wind wwSOAP WSDL Generator 1.50 -->
<definitions name='wwhelpservice' targetNamespace='http://tempuri.org/wsdl/' xmlns:wsdlns='http://tempuri.org/wsdl/'
	xmlns:typens='http://tempuri.org/type' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	xmlns:stk='http://schemas.microsoft.com/soap-toolkit/wsdl-extension' xmlns='http://schemas.xmlsoap.org/wsdl/'>
	<types>
		<schema targetNamespace='http://tempuri.org/type' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
			xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' elementFormDefault='qualified'>
		</schema>
	</types>
	<message name='wwhelpservice.CreateWebServiceDocumentation'>
		<part name='lcUrl' type='xsd:string' />
		<part name='lcTitle' type='xsd:string' />
		<part name='lcScheme' type='xsd:string' />
	</message>
	<message name='wwhelpservice.CreateWebServiceDocumentationResponse'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='wwhelpservice.CreateTypeLibraryDocumentation'>
		<part name='lcTypeLib' type='xsd:base64Binary' />
		<part name='lcTypeLibFileName' type='xsd:string' />
		<part name='lcTitle' type='xsd:string' />
		<part name='lcScheme' type='xsd:string' />
	</message>
	<message name='wwhelpservice.CreateTypeLibraryDocumentationResponse'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='wwhelpserviceSoapPort'>
		<operation name="CreateWebServiceDocumentation" parameterOrder="lcUrl lcTitle lcScheme">
			<documentation>Documents a Web Service through its WSDL document. Creates HTML Help (.chm) and a set of HTML
				documentation pages for the Service interface.</documentation>
			<input message="wsdlns:wwhelpservice.CreateWebServiceDocumentation" />
			<output message="wsdlns:wwhelpservice.CreateWebServiceDocumentationResponse" />
		</operation>
		<operation name="CreateTypeLibraryDocumentation" parameterOrder="lcTypeLib lcTypeLibFileName lcTitle lcScheme">
			<documentation>Documents a COM Type library. Creates HTML Help (.chm) and a set of HTML documentation pages for the
				Service interface.</documentation>
			<input message="wsdlns:wwhelpservice.CreateTypeLibraryDocumentation" />
			<output message="wsdlns:wwhelpservice.CreateTypeLibraryDocumentationResponse" />
		</operation>
	</portType>
	<binding name='wwhelpserviceSoapBinding' type='wsdlns:wwhelpserviceSoapPort'>
		<stk:binding preferredEncoding='UTF-8' />
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name="CreateWebServiceDocumentation">
			<soap:operation soapAction="http://wwSoap.com/action/wwhelpservice.CreateWebServiceDocumentation" />
			<input>
				<soap:body use="encoded" namespace="http://wwSoap.com/wwhelpservice/CreateWebServiceDocumentation/"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="http://wwSoap.com/wwhelpservice/CreateWebServiceDocumentation/"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CreateTypeLibraryDocumentation">
			<soap:operation soapAction="http://wwSoap.com/action/wwhelpservice.CreateTypeLibraryDocumentation" />
			<input>
				<soap:body use="encoded" namespace="http://wwSoap.com/wwhelpservice/CreateTypeLibraryDocumentation/"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="http://wwSoap.com/wwhelpservice/CreateTypeLibraryDocumentation/"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name='wwhelpservice'>
		<port name='wwhelpserviceSoapPort' binding='wsdlns:wwhelpserviceSoapBinding'>
			<soap:address location='http://www.west-wind.com/wconnect/soap/wwhelpservice.wwsoap' />
		</port>
	</service>
</definitions>