wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__xml.nig.ac.jp_wsdl_ClustalW.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Thu Sep 27 16:33:12 JST 2007 -->
<definitions name='ClustalW' targetNamespace='http://www.themindelectric.com/wsdl/ClustalW/' xmlns:tns='http://www.themindelectric.com/wsdl/ClustalW/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
	<message name='analyzeParam0In'>
		<part name='query' type='xsd:string' />
		<part name='param' type='xsd:string' />
	</message>
	<message name='analyzeParam0Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='analyzeSimple1In'>
		<part name='query' type='xsd:string' />
	</message>
	<message name='analyzeSimple1Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='analyzeParamAsync2In'>
		<part name='query' type='xsd:string' />
		<part name='param' type='xsd:string' />
	</message>
	<message name='analyzeParamAsync2Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='analyzeSimpleAsync3In'>
		<part name='query' type='xsd:string' />
	</message>
	<message name='analyzeSimpleAsync3Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='ClustalW'>
		<operation name='analyzeParam' parameterOrder='query param'>
			<documentation>Execute ClustalW with parameter</documentation>
			<input name='analyzeParam0In' message='tns:analyzeParam0In' />
			<output name='analyzeParam0Out' message='tns:analyzeParam0Out' />
		</operation>
		<operation name='analyzeSimple' parameterOrder='query'>
			<documentation>Execute ClustalW</documentation>
			<input name='analyzeSimple1In' message='tns:analyzeSimple1In' />
			<output name='analyzeSimple1Out' message='tns:analyzeSimple1Out' />
		</operation>
		<operation name='analyzeParamAsync' parameterOrder='query param'>
			<documentation>Execute ClustalW with parameter</documentation>
			<input name='analyzeParamAsync2In' message='tns:analyzeParamAsync2In' />
			<output name='analyzeParamAsync2Out' message='tns:analyzeParamAsync2Out' />
		</operation>
		<operation name='analyzeSimpleAsync' parameterOrder='query'>
			<documentation>Execute ClustalW</documentation>
			<input name='analyzeSimpleAsync3In' message='tns:analyzeSimpleAsync3In' />
			<output name='analyzeSimpleAsync3Out' message='tns:analyzeSimpleAsync3Out' />
		</operation>
	</portType>
	<binding name='ClustalW' type='tns:ClustalW'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='analyzeParam'>
			<soap:operation soapAction='analyzeParam' style='rpc' />
			<input name='analyzeParam0In'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='analyzeParam0Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='analyzeSimple'>
			<soap:operation soapAction='analyzeSimple' style='rpc' />
			<input name='analyzeSimple1In'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='analyzeSimple1Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='analyzeParamAsync'>
			<soap:operation soapAction='analyzeParamAsync' style='rpc' />
			<input name='analyzeParamAsync2In'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='analyzeParamAsync2Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='analyzeSimpleAsync'>
			<soap:operation soapAction='analyzeSimpleAsync' style='rpc' />
			<input name='analyzeSimpleAsync3In'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='analyzeSimpleAsync3Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='ClustalW'>
		<port name='ClustalW' binding='tns:ClustalW'>
			<soap:address location='http://xml.nig.ac.jp/xddbj/ClustalW' />
		</port>
	</service>
</definitions>