wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws2.serviceobjects.net_nw_namewizard.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.serviceobjects.com/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://www.serviceobjects.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
			<s:element name="GetNameInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNameInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetNameInfoResult" type="tns:NameInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="NameInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FirstNameCorrected" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FirstNameOrigin" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="FirstNameFound" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="LastNameFound" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleVulgarity" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleCelebrity" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleBogus" type="s:boolean" />
					<s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Err">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetNameInfo_V2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNameInfo_V2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetNameInfo_V2Result" type="tns:NameInfo_V2" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="NameInfo_V2">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FirstNameAlt" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MiddleNameAlt" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LastNameAlt" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GenderAlt" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FirstNameOrigin" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="FirstNameFound" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="LastNameFound" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="FirstNameAltFound" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="LastNameAltFound" type="s:boolean" />
					<s:element minOccurs="0" maxOccurs="1" name="RelatedNames" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleVulgarity" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleCelebrity" type="s:boolean" />
					<s:element minOccurs="1" maxOccurs="1" name="PossibleBogus" type="s:boolean" />
					<s:element minOccurs="0" maxOccurs="1" name="PossibleGarbage" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
				</s:sequence>
			</s:complexType>
			<s:element name="NameInfo" nillable="true" type="tns:NameInfo" />
			<s:element name="NameInfo_V2" nillable="true" type="tns:NameInfo_V2" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetNameInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetNameInfo" />
	</wsdl:message>
	<wsdl:message name="GetNameInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetNameInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2SoapIn">
		<wsdl:part name="parameters" element="tns:GetNameInfo_V2" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2SoapOut">
		<wsdl:part name="parameters" element="tns:GetNameInfo_V2Response" />
	</wsdl:message>
	<wsdl:message name="GetNameInfoHttpGetIn">
		<wsdl:part name="Name" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetNameInfoHttpGetOut">
		<wsdl:part name="Body" element="tns:NameInfo" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2HttpGetIn">
		<wsdl:part name="Name" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2HttpGetOut">
		<wsdl:part name="Body" element="tns:NameInfo_V2" />
	</wsdl:message>
	<wsdl:message name="GetNameInfoHttpPostIn">
		<wsdl:part name="Name" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetNameInfoHttpPostOut">
		<wsdl:part name="Body" element="tns:NameInfo" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2HttpPostIn">
		<wsdl:part name="Name" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetNameInfo_V2HttpPostOut">
		<wsdl:part name="Body" element="tns:NameInfo_V2" />
	</wsdl:message>
	<wsdl:portType name="DOTSNameWizardSoap">
		<wsdl:operation name="GetNameInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name.</documentation>
			<wsdl:input message="tns:GetNameInfoSoapIn" />
			<wsdl:output message="tns:GetNameInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name. Returns proper cased names. Includes
				support for multi-person names.</documentation>
			<wsdl:input message="tns:GetNameInfo_V2SoapIn" />
			<wsdl:output message="tns:GetNameInfo_V2SoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSNameWizardHttpGet">
		<wsdl:operation name="GetNameInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name.</documentation>
			<wsdl:input message="tns:GetNameInfoHttpGetIn" />
			<wsdl:output message="tns:GetNameInfoHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name. Returns proper cased names. Includes
				support for multi-person names.</documentation>
			<wsdl:input message="tns:GetNameInfo_V2HttpGetIn" />
			<wsdl:output message="tns:GetNameInfo_V2HttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DOTSNameWizardHttpPost">
		<wsdl:operation name="GetNameInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name.</documentation>
			<wsdl:input message="tns:GetNameInfoHttpPostIn" />
			<wsdl:output message="tns:GetNameInfoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns information on a person's name. Returns proper cased names. Includes
				support for multi-person names.</documentation>
			<wsdl:input message="tns:GetNameInfo_V2HttpPostIn" />
			<wsdl:output message="tns:GetNameInfo_V2HttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DOTSNameWizardSoap" type="tns:DOTSNameWizardSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="GetNameInfo">
			<soap:operation soapAction="http://www.serviceobjects.com/GetNameInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<soap:operation soapAction="http://www.serviceobjects.com/GetNameInfo_V2" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSNameWizardHttpGet" type="tns:DOTSNameWizardHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="GetNameInfo">
			<http:operation location="/GetNameInfo" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<http:operation location="/GetNameInfo_V2" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DOTSNameWizardHttpPost" type="tns:DOTSNameWizardHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="GetNameInfo">
			<http:operation location="/GetNameInfo" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNameInfo_V2">
			<http:operation location="/GetNameInfo_V2" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DOTSNameWizard">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a
			href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our
			website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img
			src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
		<wsdl:port name="DOTSNameWizardSoap" binding="tns:DOTSNameWizardSoap">
			<soap:address location="http://ws2.serviceobjects.net/nw/namewizard.asmx" />
		</wsdl:port>
		<wsdl:port name="DOTSNameWizardHttpGet" binding="tns:DOTSNameWizardHttpGet">
			<http:address location="http://ws2.serviceobjects.net/nw/namewizard.asmx" />
		</wsdl:port>
		<wsdl:port name="DOTSNameWizardHttpPost" binding="tns:DOTSNameWizardHttpPost">
			<http:address location="http://ws2.serviceobjects.net/nw/namewizard.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>