wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_Graphing_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate graph images based on user input</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="BarGraphStandard">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphOrientation" type="tns:GraphOrientation" />
						<s:element minOccurs="0" maxOccurs="1" name="BarColor" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XPoints" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="YPoints" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="GraphOrientation">
				<s:restriction base="s:string">
					<s:enumeration value="VERTICAL" />
					<s:enumeration value="HORIZONTAL" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ColorGradientPair">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BaseColor" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GradientColor" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="BarGraphStandardResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BarGraphStandardResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SIWsOutputOfSIGraphingProResult">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIGraphingProResult" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsStatus">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIGraphingProResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="GraphImage" type="s:base64Binary" />
							<s:element minOccurs="0" maxOccurs="1" name="GraphColors" type="tns:ArrayOfString" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIWsResult" abstract="true">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="BarGraphEnhanced">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphOrientation" type="tns:GraphOrientation" />
						<s:element minOccurs="0" maxOccurs="1" name="BarColors" type="tns:BarColorsAndGradient" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="0" maxOccurs="1" name="BarImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseBarImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowXGridLines" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowYGridLines" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="LegendBarName" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="LegendPosition" type="tns:LegendPos" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XPoints" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="YPoints" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="BarColorsAndGradient">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BaseColor1" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="BaseColor2" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GradientColor" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="LegendPos">
				<s:restriction base="s:string">
					<s:enumeration value="Top" />
					<s:enumeration value="Left" />
					<s:enumeration value="Right" />
					<s:enumeration value="Bottom" />
					<s:enumeration value="InsideTopLeft" />
					<s:enumeration value="InsideTopRight" />
					<s:enumeration value="InsideBotLeft" />
					<s:enumeration value="InsideBotRight" />
					<s:enumeration value="Float" />
					<s:enumeration value="TopCenter" />
					<s:enumeration value="BottomCenter" />
					<s:enumeration value="TopFlushLeft" />
					<s:enumeration value="BottomFlushLeft" />
				</s:restriction>
			</s:simpleType>
			<s:element name="BarGraphEnhancedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BarGraphEnhancedResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StackedBarGraphStandard">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphOrientation" type="tns:GraphOrientation" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BarNames" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="BarsStacked" type="tns:ArrayOfBarSegments" />
						<s:element minOccurs="0" maxOccurs="1" name="YDataPoints" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfBarSegments">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="BarSegments" nillable="true" type="tns:BarSegments" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="BarSegments">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BarNumber" type="tns:ArrayOfString" />
				</s:sequence>
			</s:complexType>
			<s:element name="StackedBarGraphStandardResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="StackedBarGraphStandardResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StackedBarGraphEnhanced">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphOrientation" type="tns:GraphOrientation" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BarNames" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="BarColors" type="tns:ArrayOfColorGradientPair" />
						<s:element minOccurs="0" maxOccurs="1" name="BarLabelFontColor" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="BarGraphType" type="tns:StackedBarType" />
						<s:element minOccurs="1" maxOccurs="1" name="LabelPlacement" type="tns:StackedBarLabelPlacement" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowXGridLines" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowYGridLines" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="LegendPosition" type="tns:LegendPos" />
						<s:element minOccurs="0" maxOccurs="1" name="BarsStacked" type="tns:ArrayOfBarSegments" />
						<s:element minOccurs="0" maxOccurs="1" name="YDataPoints" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfColorGradientPair">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ColorGradientPair" nillable="true" type="tns:ColorGradientPair" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="StackedBarType">
				<s:restriction base="s:string">
					<s:enumeration value="STACKED" />
					<s:enumeration value="CLUSTERED" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="StackedBarLabelPlacement">
				<s:restriction base="s:string">
					<s:enumeration value="INBAR" />
					<s:enumeration value="NONE" />
				</s:restriction>
			</s:simpleType>
			<s:element name="StackedBarGraphEnhancedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="StackedBarGraphEnhancedResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LineGraphStandard">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LineColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XPoints" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="YPoints" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LineGraphStandardResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LineGraphStandardResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="LineGraphEnhanced">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="LegendPosition" type="tns:LegendPos" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="XAxisLabel" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="YAxisLabel" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowXGridLines" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowYGridLines" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="LineColors" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="LineSymbol" type="tns:ArrayOfSymbolType" />
						<s:element minOccurs="0" maxOccurs="1" name="LineNames" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="InputLines" type="tns:ArrayOfLines" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfSymbolType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SymbolType" type="tns:SymbolType" />
				</s:sequence>
			</s:complexType>
			<s:simpleType name="SymbolType">
				<s:restriction base="s:string">
					<s:enumeration value="Square" />
					<s:enumeration value="Diamond" />
					<s:enumeration value="Triangle" />
					<s:enumeration value="Circle" />
					<s:enumeration value="XCross" />
					<s:enumeration value="Plus" />
					<s:enumeration value="Star" />
					<s:enumeration value="TriangleDown" />
					<s:enumeration value="HDash" />
					<s:enumeration value="VDash" />
					<s:enumeration value="Default" />
					<s:enumeration value="None" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ArrayOfLines">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Lines" nillable="true" type="tns:Lines" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Lines">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="XPoints" type="tns:ArrayOfString" />
					<s:element minOccurs="0" maxOccurs="1" name="YPoints" type="tns:ArrayOfString" />
				</s:sequence>
			</s:complexType>
			<s:element name="LineGraphEnhancedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LineGraphEnhancedResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="PieGraphStandard">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PieColors" type="tns:ArrayOfString" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="SliceLabels" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="DataPoints" type="tns:ArrayOfDouble" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfDouble">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="PieGraphStandardResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PieGraphStandardResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="PieGraphEnhanced">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PieSliceColors" type="tns:ArrayOfColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphHeight" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="GraphWidth" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="tns:ColorGradientPair" />
						<s:element minOccurs="1" maxOccurs="1" name="GradientAngle" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="GridLabelColor" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="s:base64Binary" />
						<s:element minOccurs="1" maxOccurs="1" name="UseMyBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="UseStandardBackgroundImage" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ShowLegend" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="LegendXCoordinate" type="s:double" />
						<s:element minOccurs="1" maxOccurs="1" name="LegendYCoordinate" type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="LegendHorizontalAlign" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LegendVerticalAlign" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="GraphTitle" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="SliceLabels" type="tns:ArrayOfString" />
						<s:element minOccurs="0" maxOccurs="1" name="DataPoints" type="tns:ArrayOfDouble" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="PieGraphEnhancedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PieGraphEnhancedResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetGraphColors">
				<s:complexType />
			</s:element>
			<s:element name="GetGraphColorsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetGraphColorsResult" type="tns:SIWsOutputOfSIGraphingProResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusCodesForMethod">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="methodname" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusCodesForMethodResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesForMethodResult" type="tns:SIWsOutputOfMethodStatusRecord" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SIWsOutputOfMethodStatusRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:MethodStatusRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="MethodStatusRecord">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResultArrayOfSIWsStatus">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIWsResultArrayOfSIWsStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfSIWsStatus" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfSIWsStatus">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetStatusCodes">
				<s:complexType />
			</s:element>
			<s:element name="GetStatusCodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesResult" type="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SIWsOutputOfSIWsResultArrayOfMethodStatusRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfMethodStatusRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsResultArrayOfMethodStatusRecord">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMethodStatusRecord" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfMethodStatusRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="MethodStatusRecord" nillable="true"
						type="tns:MethodStatusRecord" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetServiceInfo">
				<s:complexType />
			</s:element>
			<s:element name="GetServiceInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="SIWsOutputOfSIWsResultArrayOfServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
					<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfServiceInfoRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsResultArrayOfServiceInfoRecord">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfServiceInfoRecord" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ServiceInfoRecord">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="SIWsOutputOfSIGraphingProResult" nillable="true" type="tns:SIWsOutputOfSIGraphingProResult" />
			<s:element name="SIWsOutputOfMethodStatusRecord" nillable="true" type="tns:SIWsOutputOfMethodStatusRecord" />
			<s:element name="SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" nillable="true"
				type="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
			<s:element name="SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" nillable="true"
				type="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="BarGraphStandardSoapIn">
		<wsdl:part name="parameters" element="tns:BarGraphStandard" />
	</wsdl:message>
	<wsdl:message name="BarGraphStandardSoapOut">
		<wsdl:part name="parameters" element="tns:BarGraphStandardResponse" />
	</wsdl:message>
	<wsdl:message name="BarGraphEnhancedSoapIn">
		<wsdl:part name="parameters" element="tns:BarGraphEnhanced" />
	</wsdl:message>
	<wsdl:message name="BarGraphEnhancedSoapOut">
		<wsdl:part name="parameters" element="tns:BarGraphEnhancedResponse" />
	</wsdl:message>
	<wsdl:message name="StackedBarGraphStandardSoapIn">
		<wsdl:part name="parameters" element="tns:StackedBarGraphStandard" />
	</wsdl:message>
	<wsdl:message name="StackedBarGraphStandardSoapOut">
		<wsdl:part name="parameters" element="tns:StackedBarGraphStandardResponse" />
	</wsdl:message>
	<wsdl:message name="StackedBarGraphEnhancedSoapIn">
		<wsdl:part name="parameters" element="tns:StackedBarGraphEnhanced" />
	</wsdl:message>
	<wsdl:message name="StackedBarGraphEnhancedSoapOut">
		<wsdl:part name="parameters" element="tns:StackedBarGraphEnhancedResponse" />
	</wsdl:message>
	<wsdl:message name="LineGraphStandardSoapIn">
		<wsdl:part name="parameters" element="tns:LineGraphStandard" />
	</wsdl:message>
	<wsdl:message name="LineGraphStandardSoapOut">
		<wsdl:part name="parameters" element="tns:LineGraphStandardResponse" />
	</wsdl:message>
	<wsdl:message name="LineGraphEnhancedSoapIn">
		<wsdl:part name="parameters" element="tns:LineGraphEnhanced" />
	</wsdl:message>
	<wsdl:message name="LineGraphEnhancedSoapOut">
		<wsdl:part name="parameters" element="tns:LineGraphEnhancedResponse" />
	</wsdl:message>
	<wsdl:message name="PieGraphStandardSoapIn">
		<wsdl:part name="parameters" element="tns:PieGraphStandard" />
	</wsdl:message>
	<wsdl:message name="PieGraphStandardSoapOut">
		<wsdl:part name="parameters" element="tns:PieGraphStandardResponse" />
	</wsdl:message>
	<wsdl:message name="PieGraphEnhancedSoapIn">
		<wsdl:part name="parameters" element="tns:PieGraphEnhanced" />
	</wsdl:message>
	<wsdl:message name="PieGraphEnhancedSoapOut">
		<wsdl:part name="parameters" element="tns:PieGraphEnhancedResponse" />
	</wsdl:message>
	<wsdl:message name="GetGraphColorsSoapIn">
		<wsdl:part name="parameters" element="tns:GetGraphColors" />
	</wsdl:message>
	<wsdl:message name="GetGraphColorsSoapOut">
		<wsdl:part name="parameters" element="tns:GetGraphColorsResponse" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodSoapIn">
		<wsdl:part name="parameters" element="tns:GetStatusCodesForMethod" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodSoapOut">
		<wsdl:part name="parameters" element="tns:GetStatusCodesForMethodResponse" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesSoapIn">
		<wsdl:part name="parameters" element="tns:GetStatusCodes" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesSoapOut">
		<wsdl:part name="parameters" element="tns:GetStatusCodesResponse" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetServiceInfo" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetGraphColorsHttpGetIn" />
	<wsdl:message name="GetGraphColorsHttpGetOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIGraphingProResult" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodHttpGetIn">
		<wsdl:part name="methodname" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodHttpGetOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfMethodStatusRecord" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesHttpGetIn" />
	<wsdl:message name="GetStatusCodesHttpGetOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoHttpGetIn" />
	<wsdl:message name="GetServiceInfoHttpGetOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
	</wsdl:message>
	<wsdl:message name="GetGraphColorsHttpPostIn" />
	<wsdl:message name="GetGraphColorsHttpPostOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIGraphingProResult" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodHttpPostIn">
		<wsdl:part name="methodname" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesForMethodHttpPostOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfMethodStatusRecord" />
	</wsdl:message>
	<wsdl:message name="GetStatusCodesHttpPostIn" />
	<wsdl:message name="GetStatusCodesHttpPostOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoHttpPostIn" />
	<wsdl:message name="GetServiceInfoHttpPostOut">
		<wsdl:part name="Body" element="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="SIGraphingProWSSoap">
		<wsdl:operation name="BarGraphStandard">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Standard Bar Graph.</wsdl:documentation>
			<wsdl:input message="tns:BarGraphStandardSoapIn" />
			<wsdl:output message="tns:BarGraphStandardSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="BarGraphEnhanced">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Customized Bar Graph.</wsdl:documentation>
			<wsdl:input message="tns:BarGraphEnhancedSoapIn" />
			<wsdl:output message="tns:BarGraphEnhancedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="StackedBarGraphStandard">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Standard Stacked Bar Graph.</wsdl:documentation>
			<wsdl:input message="tns:StackedBarGraphStandardSoapIn" />
			<wsdl:output message="tns:StackedBarGraphStandardSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="StackedBarGraphEnhanced">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Customized Stacked Bar Graph.</wsdl:documentation>
			<wsdl:input message="tns:StackedBarGraphEnhancedSoapIn" />
			<wsdl:output message="tns:StackedBarGraphEnhancedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="LineGraphStandard">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Standard Line Graph.</wsdl:documentation>
			<wsdl:input message="tns:LineGraphStandardSoapIn" />
			<wsdl:output message="tns:LineGraphStandardSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="LineGraphEnhanced">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Customized Line Graph.</wsdl:documentation>
			<wsdl:input message="tns:LineGraphEnhancedSoapIn" />
			<wsdl:output message="tns:LineGraphEnhancedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="PieGraphStandard">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Standard Pie Graph.</wsdl:documentation>
			<wsdl:input message="tns:PieGraphStandardSoapIn" />
			<wsdl:output message="tns:PieGraphStandardSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="PieGraphEnhanced">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Customized Pie Graph.</wsdl:documentation>
			<wsdl:input message="tns:PieGraphEnhancedSoapIn" />
			<wsdl:output message="tns:PieGraphEnhancedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetGraphColors">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a string array of colors.</wsdl:documentation>
			<wsdl:input message="tns:GetGraphColorsSoapIn" />
			<wsdl:output message="tns:GetGraphColorsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetStatusCodesForMethod">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all status codes a method in the service might return.
			</wsdl:documentation>
			<wsdl:input message="tns:GetStatusCodesForMethodSoapIn" />
			<wsdl:output message="tns:GetStatusCodesForMethodSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetStatusCodes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return.</wsdl:documentation>
			<wsdl:input message="tns:GetStatusCodesSoapIn" />
			<wsdl:output message="tns:GetStatusCodesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</wsdl:documentation>
			<wsdl:input message="tns:GetServiceInfoSoapIn" />
			<wsdl:output message="tns:GetServiceInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SIGraphingProWSSoap" type="tns:SIGraphingProWSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BarGraphStandard">
			<soap:operation soapAction="http://www.strikeiron.com/BarGraphStandard" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BarGraphEnhanced">
			<soap:operation soapAction="http://www.strikeiron.com/BarGraphEnhanced" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StackedBarGraphStandard">
			<soap:operation soapAction="http://www.strikeiron.com/StackedBarGraphStandard" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StackedBarGraphEnhanced">
			<soap:operation soapAction="http://www.strikeiron.com/StackedBarGraphEnhanced" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LineGraphStandard">
			<soap:operation soapAction="http://www.strikeiron.com/LineGraphStandard" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LineGraphEnhanced">
			<soap:operation soapAction="http://www.strikeiron.com/LineGraphEnhanced" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PieGraphStandard">
			<soap:operation soapAction="http://www.strikeiron.com/PieGraphStandard" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PieGraphEnhanced">
			<soap:operation soapAction="http://www.strikeiron.com/PieGraphEnhanced" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGraphColors">
			<soap:operation soapAction="http://www.strikeiron.com/GetGraphColors" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatusCodesForMethod">
			<soap:operation soapAction="http://www.strikeiron.com/GetStatusCodesForMethod" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatusCodes">
			<soap:operation soapAction="http://www.strikeiron.com/GetStatusCodes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/Graphing/SIGraphingProWS/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SIGraphingProWS">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate graph images based on user input</wsdl:documentation>
		<wsdl:port name="SIGraphingProWSSoap" binding="tns:SIGraphingProWSSoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/Graphing/SIGraphingProWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>