wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.strikeiron.com_ZacksConsensus3_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="GetEpsConsensusByCompany">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetEpsConsensusByCompanyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetEpsConsensusByCompanyResult" type="tns:ZacksConsensusOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ZacksConsensusOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:ZacksEpsConsensus" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ServiceOutput">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIWsStatus">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ZacksEpsConsensus">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Fiscal_Year_1_End_Date" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Fiscal_Year_2_End_Date" type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_of_3_Most_Recent_Estimates" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_3_Most_Recent_Estimates_number_of_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_added_to_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_removed_from_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_unchanged_in_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_Number_of_estimates_revised_upwards_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_Number_of_estimates_revised_downwards_last_7_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_of_3_Most_Recent_Estimates" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_3_Most_Recent_Estimates_number_of_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_added_to_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_removed_from_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_unchanged_in_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_Number_of_estimates_revised_upwards_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_Number_of_estimates_revised_downwards_last_7_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_of_3_Most_Recent_Estimates" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_3_Most_Recent_Estimates_number_of_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_added_to_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_removed_from_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_unchanged_in_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Number_of_estimates_revised_upwards_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Number_of_estimates_revised_downwards_last_7_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_of_3_Most_Recent_Estimates" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_3_Most_Recent_Estimates_number_of_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_added_to_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_removed_from_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_unchanged_in_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Number_of_estimates_revised_upwards_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Number_of_estimates_revised_downwards_last_7_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_Current" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_of_3_Most_Recent_Estimates" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_3_Most_Recent_Estimates_number_of_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_added_to_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_removed_from_consensus_in_last_7_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_unchanged_in_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_Number_of_estimates_revised_upwards_last_7_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_Number_of_estimates_revised_downwards_last_7_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_30_day_Consensus_Mean" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_30_day_Consensus_number_of_estimates" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_added_to_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_removed_from_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_number_of_estimates_unchanged_in_last_30_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_Number_of_estimates_revised_upwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr1_Number_of_estimates_revised_downwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_30_day_Consensus_Mean" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_30_day_Consensus_number_of_estimates" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_added_to_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_removed_from_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_number_of_estimates_unchanged_in_last_30_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_Number_of_estimates_revised_upwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Qr2_Number_of_estimates_revised_downwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_30_day_Consensus_Mean" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_30_day_Consensus_number_of_estimates" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_added_to_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_removed_from_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_number_of_estimates_unchanged_in_last_30_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Number_of_estimates_revised_upwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr1_Number_of_estimates_revised_downwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_30_day_Consensus_Mean" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_30_day_Consensus_number_of_estimates" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_added_to_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_removed_from_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_number_of_estimates_unchanged_in_last_30_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Number_of_estimates_revised_upwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Fr2_Number_of_estimates_revised_downwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_30_day_Consensus_Mean" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_30_day_Consensus_number_of_estimates" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_added_to_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_removed_from_consensus_in_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_number_of_estimates_unchanged_in_last_30_days" type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_Number_of_estimates_revised_upwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="1" maxOccurs="1" name="Ltg_Number_of_estimates_revised_downwards_last_30_days"
								type="s:int" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_Mean_Estimate_6_months_ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr1_percentage_change_in_Mean_estimate_since_last_6_months"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_Mean_Estimate_6_months_ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Qr2_percentage_change_in_Mean_estimate_since_last_6_months"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_Mean_Estimate_6_months_ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr1_percentage_change_in_Mean_estimate_since_last_6_months"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_Mean_Estimate_6_months_ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Fr2_percentage_change_in_Mean_estimate_since_last_6_months"
								type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_7_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_30_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_60_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_90_Days_Ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_Mean_Estimate_6_months_ago" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Ltg_percentage_change_in_Mean_estimate_since_last_6_months"
								type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIWsResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetAllStatuses">
				<s:complexType />
			</s:element>
			<s:element name="GetAllStatusesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="tns:StatusCodeOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="StatusCodeOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:StatusCodeResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="StatusCodeResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Statuses" type="tns:ArrayOfSIWsStatus" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfSIWsStatus">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetServiceInfo">
				<s:complexType />
			</s:element>
			<s:element name="GetServiceInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:ServiceInfoOutput" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ServiceInfoOutput">
				<s:complexContent mixed="false">
					<s:extension base="tns:ServiceOutput">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIServiceInfoResult" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SIServiceInfoResult">
				<s:complexContent mixed="false">
					<s:extension base="tns:SIWsResult">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="tns:ArrayOfServiceInfoRecord" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ServiceInfoRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" />
					<xs:element minOccurs="0" name="Password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
					<xs:element name="LicenseActionCode" type="xs:int" />
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
					<xs:element name="RemainingHits" type="xs:int" />
					<xs:element name="Amount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRemainingHits">
				<xs:complexType />
			</xs:element>
			<xs:element name="GetRemainingHitsResponse">
				<xs:complexType />
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetEpsConsensusByCompanySoapIn">
		<wsdl:part name="parameters" element="tns:GetEpsConsensusByCompany" />
	</wsdl:message>
	<wsdl:message name="GetEpsConsensusByCompanySoapOut">
		<wsdl:part name="parameters" element="tns:GetEpsConsensusByCompanyResponse" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllStatuses" />
	</wsdl:message>
	<wsdl:message name="GetAllStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllStatusesResponse" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetServiceInfo" />
	</wsdl:message>
	<wsdl:message name="GetServiceInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapIn">
		<wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
	</wsdl:message>
	<wsdl:message name="GetRemainingHitsSoapOut">
		<wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
	</wsdl:message>
	<wsdl:portType name="ZacksConsensusSoap">
		<wsdl:operation name="GetEpsConsensusByCompany">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Zacks EPS consensus estimates for the company requested by its ticker
			</documentation>
			<wsdl:input message="tns:GetEpsConsensusByCompanySoapIn" />
			<wsdl:output message="tns:GetEpsConsensusByCompanySoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
			<wsdl:input message="tns:GetAllStatusesSoapIn" />
			<wsdl:output message="tns:GetAllStatusesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
			<wsdl:input message="tns:GetServiceInfoSoapIn" />
			<wsdl:output message="tns:GetServiceInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<wsdl:input message="tns:GetRemainingHitsSoapIn" />
			<wsdl:output message="tns:GetRemainingHitsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZacksConsensusSoap" type="tns:ZacksConsensusSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetEpsConsensusByCompany">
			<soap:operation soapAction="http://www.strikeiron.com/GetEpsConsensusByCompany" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllStatuses">
			<soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceInfo">
			<soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRemainingHits">
			<soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/ZacksConsensus3/ZacksConsensus/GetRemainingHits" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZacksConsensus">
		<wsdl:port name="ZacksConsensusSoap" binding="tns:ZacksConsensusSoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/ZacksConsensus3/ZacksConsensus" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>