wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.srlink.com_GeoServices_CountryInfoService.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.levelsoft.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.levelsoft.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft GeoServices iso country web services provides detailed
		information country by country.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ws.levelsoft.net/">
			<s:element name="GetCallPermssion">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="member" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="UserCredentials">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCallPermssionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GetCallPermssionResult" type="tns:AuthoriseType" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:simpleType name="AuthoriseType">
				<s:restriction base="s:string">
					<s:enumeration value="None" />
					<s:enumeration value="Denied" />
					<s:enumeration value="Open" />
					<s:enumeration value="SuperRole" />
					<s:enumeration value="SubscribedRole" />
					<s:enumeration value="SuperDemoRole" />
					<s:enumeration value="SubscribedDemoRole" />
					<s:enumeration value="SubscribedByHit" />
				</s:restriction>
			</s:simpleType>
			<s:element name="SEKHeader" type="tns:SEKHeader" />
			<s:complexType name="SEKHeader">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="SEK" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
			<s:element name="GetACNielsenCitySizes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetACNielsenCitySizesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetACNielsenCitySizesResult" type="tns:ArrayOfACNielsenCitySize" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfACNielsenCitySize">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ACNielsenCitySize" nillable="true" type="tns:ACNielsenCitySize" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ACNielsenCitySize">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DescriptionLocal" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetSrLinkCitySizes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSrLinkCitySizesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSrLinkCitySizesResult" type="tns:ArrayOfSrLinkCitySize" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfSrLinkCitySize">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SrLinkCitySize" nillable="true" type="tns:SrLinkCitySize" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SrLinkCitySize">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DescriptionLocal" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCountryFlag">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryFlagResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryFlagResult" type="s:base64Binary" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="isoCode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryInfoResult" type="tns:CountryInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CountryInfo">
				<s:complexContent mixed="false">
					<s:extension base="tns:Location">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="GeoStatistics" type="tns:GeoStatistics" />
							<s:element minOccurs="0" maxOccurs="1" name="ISO" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="CapitalName" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="TelCode" type="s:string" />
							<s:element minOccurs="0" maxOccurs="1" name="Continent" type="tns:Continent" />
							<s:element minOccurs="0" maxOccurs="1" name="Currency" type="tns:Currency" />
							<s:element minOccurs="0" maxOccurs="1" name="FlagImage" type="s:base64Binary" />
							<s:element minOccurs="0" maxOccurs="1" name="Languages" type="tns:ArrayOfLanguage" />
							<s:element minOccurs="0" maxOccurs="1" name="AgeGroups" type="tns:ArrayOfString" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Location">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DescriptionLocal" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Elevation" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="Timezone" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="GeoStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:GeoLocationBase">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="Population" type="tns:ArrayOfAgeOfResidents" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="GeoLocationBase">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Area" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Residents" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="ResidentsSqKm" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Voters" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="NumberOfStreets" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="NumberOfTownlands" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfAgeOfResidents">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="AgeOfResidents" nillable="true" type="tns:AgeOfResidents" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="AgeOfResidents">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Male" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Female" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Continent">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ISO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Currency">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ISO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfLanguage">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Language">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ISO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCountryList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryListResult" type="tns:ArrayOfCountry" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfCountry">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Country">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ISO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetSRLinkCountryList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSRLinkCountryListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSRLinkCountryListResult" type="tns:ArrayOfCountry" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetContinentList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetContinentListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetContinentListResult" type="tns:ArrayOfContinent" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfContinent">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Continent" nillable="true" type="tns:Continent" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCurrencyList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCurrencyListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCurrencyListResult" type="tns:ArrayOfCurrency" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfCurrency">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetLanguageList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetLanguageListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetLanguageListResult" type="tns:ArrayOfLanguage" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTimeZoneList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTimeZoneListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetTimeZoneListResult" type="tns:ArrayOfTimeZone" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfTimeZone">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="TimeZone" nillable="true" type="tns:TimeZone" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="TimeZone">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="DiffHours" type="s:float" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetCountryListByCurrency">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="currencycode" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryListByCurrencyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryListByCurrencyResult" type="tns:ArrayOfCountry" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryListByContinent">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
						<s:element minOccurs="0" maxOccurs="1" name="continent" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryListByContinentResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryListByContinentResult" type="tns:ArrayOfCountry" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryLanguageList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="iso" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCountryLanguageListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetCountryLanguageListResult" type="tns:ArrayOfLanguage" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetCallPermssionSoapIn">
		<wsdl:part name="parameters" element="tns:GetCallPermssion" />
	</wsdl:message>
	<wsdl:message name="GetCallPermssionSoapOut">
		<wsdl:part name="parameters" element="tns:GetCallPermssionResponse" />
	</wsdl:message>
	<wsdl:message name="GetCallPermssionSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetACNielsenCitySizesSoapIn">
		<wsdl:part name="parameters" element="tns:GetACNielsenCitySizes" />
	</wsdl:message>
	<wsdl:message name="GetACNielsenCitySizesSoapOut">
		<wsdl:part name="parameters" element="tns:GetACNielsenCitySizesResponse" />
	</wsdl:message>
	<wsdl:message name="GetACNielsenCitySizesSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetSrLinkCitySizesSoapIn">
		<wsdl:part name="parameters" element="tns:GetSrLinkCitySizes" />
	</wsdl:message>
	<wsdl:message name="GetSrLinkCitySizesSoapOut">
		<wsdl:part name="parameters" element="tns:GetSrLinkCitySizesResponse" />
	</wsdl:message>
	<wsdl:message name="GetSrLinkCitySizesSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryFlagSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryFlag" />
	</wsdl:message>
	<wsdl:message name="GetCountryFlagSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryFlagResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryFlagSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryInfo" />
	</wsdl:message>
	<wsdl:message name="GetCountryInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryInfoResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryInfoSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryListSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryList" />
	</wsdl:message>
	<wsdl:message name="GetCountryListSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryListResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetSRLinkCountryListSoapIn">
		<wsdl:part name="parameters" element="tns:GetSRLinkCountryList" />
	</wsdl:message>
	<wsdl:message name="GetSRLinkCountryListSoapOut">
		<wsdl:part name="parameters" element="tns:GetSRLinkCountryListResponse" />
	</wsdl:message>
	<wsdl:message name="GetSRLinkCountryListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetContinentListSoapIn">
		<wsdl:part name="parameters" element="tns:GetContinentList" />
	</wsdl:message>
	<wsdl:message name="GetContinentListSoapOut">
		<wsdl:part name="parameters" element="tns:GetContinentListResponse" />
	</wsdl:message>
	<wsdl:message name="GetContinentListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCurrencyListSoapIn">
		<wsdl:part name="parameters" element="tns:GetCurrencyList" />
	</wsdl:message>
	<wsdl:message name="GetCurrencyListSoapOut">
		<wsdl:part name="parameters" element="tns:GetCurrencyListResponse" />
	</wsdl:message>
	<wsdl:message name="GetCurrencyListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetLanguageListSoapIn">
		<wsdl:part name="parameters" element="tns:GetLanguageList" />
	</wsdl:message>
	<wsdl:message name="GetLanguageListSoapOut">
		<wsdl:part name="parameters" element="tns:GetLanguageListResponse" />
	</wsdl:message>
	<wsdl:message name="GetLanguageListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetTimeZoneListSoapIn">
		<wsdl:part name="parameters" element="tns:GetTimeZoneList" />
	</wsdl:message>
	<wsdl:message name="GetTimeZoneListSoapOut">
		<wsdl:part name="parameters" element="tns:GetTimeZoneListResponse" />
	</wsdl:message>
	<wsdl:message name="GetTimeZoneListSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByCurrencySoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryListByCurrency" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByCurrencySoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryListByCurrencyResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByCurrencySEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByContinentSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryListByContinent" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByContinentSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryListByContinentResponse" />
	</wsdl:message>
	<wsdl:message name="GetCountryListByContinentSEKHeader">
		<wsdl:part name="SEKHeader" element="tns:SEKHeader" />
	</wsdl:message>
	<wsdl:message name="GetCountryLanguageListSoapIn">
		<wsdl:part name="parameters" element="tns:GetCountryLanguageList" />
	</wsdl:message>
	<wsdl:message name="GetCountryLanguageListSoapOut">
		<wsdl:part name="parameters" element="tns:GetCountryLanguageListResponse" />
	</wsdl:message>
	<wsdl:portType name="CountryInfoServiceSoap">
		<wsdl:operation name="GetCallPermssion">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Queries whether there is available credit to successfully query
				FindTownlands service.</wsdl:documentation>
			<wsdl:input message="tns:GetCallPermssionSoapIn" />
			<wsdl:output message="tns:GetCallPermssionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetACNielsenCitySizes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a list of AC Nielsen city size codes.</wsdl:documentation>
			<wsdl:input message="tns:GetACNielsenCitySizesSoapIn" />
			<wsdl:output message="tns:GetACNielsenCitySizesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetSrLinkCitySizes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query a list of SR-Link city size codes.</wsdl:documentation>
			<wsdl:input message="tns:GetSrLinkCitySizesSoapIn" />
			<wsdl:output message="tns:GetSrLinkCitySizesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryFlag">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns country information for the give country 2 digit ISO code.
			</wsdl:documentation>
			<wsdl:input message="tns:GetCountryFlagSoapIn" />
			<wsdl:output message="tns:GetCountryFlagSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryInfo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns country information for the give country 2 digit ISO code.
			</wsdl:documentation>
			<wsdl:input message="tns:GetCountryInfoSoapIn" />
			<wsdl:output message="tns:GetCountryInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of ISO countries.</wsdl:documentation>
			<wsdl:input message="tns:GetCountryListSoapIn" />
			<wsdl:output message="tns:GetCountryListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetSRLinkCountryList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of active SR-Link ISO countries.
			</wsdl:documentation>
			<wsdl:input message="tns:GetSRLinkCountryListSoapIn" />
			<wsdl:output message="tns:GetSRLinkCountryListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetContinentList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of ISO continents.</wsdl:documentation>
			<wsdl:input message="tns:GetContinentListSoapIn" />
			<wsdl:output message="tns:GetContinentListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCurrencyList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of currencies.</wsdl:documentation>
			<wsdl:input message="tns:GetCurrencyListSoapIn" />
			<wsdl:output message="tns:GetCurrencyListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetLanguageList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of languages.</wsdl:documentation>
			<wsdl:input message="tns:GetLanguageListSoapIn" />
			<wsdl:output message="tns:GetLanguageListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetTimeZoneList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of world Timezones.</wsdl:documentation>
			<wsdl:input message="tns:GetTimeZoneListSoapIn" />
			<wsdl:output message="tns:GetTimeZoneListSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByCurrency">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of ISO countries by currency.</wsdl:documentation>
			<wsdl:input message="tns:GetCountryListByCurrencySoapIn" />
			<wsdl:output message="tns:GetCountryListByCurrencySoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByContinent">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of ISO countries by continent.</wsdl:documentation>
			<wsdl:input message="tns:GetCountryListByContinentSoapIn" />
			<wsdl:output message="tns:GetCountryListByContinentSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetCountryLanguageList">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of languages.</wsdl:documentation>
			<wsdl:input message="tns:GetCountryLanguageListSoapIn" />
			<wsdl:output message="tns:GetCountryLanguageListSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryInfoServiceSoap" type="tns:CountryInfoServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetCallPermssion">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetACNielsenCitySizes">
			<soap:operation soapAction="http://ws.levelsoft.net/GetACNielsenCitySizes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetACNielsenCitySizesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSrLinkCitySizes">
			<soap:operation soapAction="http://ws.levelsoft.net/GetSrLinkCitySizes" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetSrLinkCitySizesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryFlag">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryFlag" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCountryFlagSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryInfo">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCountryInfoSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCountryListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSRLinkCountryList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetSRLinkCountryList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetSRLinkCountryListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetContinentList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetContinentList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetContinentListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrencyList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCurrencyList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCurrencyListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLanguageList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetLanguageList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetLanguageListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTimeZoneList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetTimeZoneList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetTimeZoneListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByCurrency">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryListByCurrency" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCountryListByCurrencySEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByContinent">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryListByContinent" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:GetCountryListByContinentSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryLanguageList">
			<soap:operation soapAction="http://ws.levelsoft.net/GetCountryLanguageList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CountryInfoServiceSoap12" type="tns:CountryInfoServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetCallPermssion">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetACNielsenCitySizes">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetACNielsenCitySizes" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetACNielsenCitySizesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSrLinkCitySizes">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetSrLinkCitySizes" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetSrLinkCitySizesSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryFlag">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryFlag" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCountryFlagSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryInfo">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryInfo" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCountryInfoSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCountryListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSRLinkCountryList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetSRLinkCountryList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetSRLinkCountryListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetContinentList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetContinentList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetContinentListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrencyList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCurrencyList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCurrencyListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLanguageList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetLanguageList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetLanguageListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTimeZoneList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetTimeZoneList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetTimeZoneListSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByCurrency">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryListByCurrency" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCountryListByCurrencySEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryListByContinent">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryListByContinent" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap12:header message="tns:GetCountryListByContinentSEKHeader" part="SEKHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountryLanguageList">
			<soap12:operation soapAction="http://ws.levelsoft.net/GetCountryLanguageList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryInfoService">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft GeoServices iso country web services provides detailed
			information country by country.</wsdl:documentation>
		<wsdl:port name="CountryInfoServiceSoap" binding="tns:CountryInfoServiceSoap">
			<soap:address location="http://ws.srlink.com/GeoServices/CountryInfoService.asmx" />
		</wsdl:port>
		<wsdl:port name="CountryInfoServiceSoap12" binding="tns:CountryInfoServiceSoap12">
			<soap12:address location="http://ws.srlink.com/GeoServices/CountryInfoService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>