wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.quisque.com_fr_chasses_crypto_vigenere1.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.quisque.com/fr/chasses/crypto/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.quisque.com/fr/chasses/crypto/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vigenere cipher v1.0.1&lt;BR&gt;&lt;A
		HREF='http://www.quisque.com'&gt;http://www.quisque.com&lt;/A&gt;&lt;BR&gt;</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.quisque.com/fr/chasses/crypto/">
			<s:element name="Cipher">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CipherResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CipherResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Decipher">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DecipherResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DecipherResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Break">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="keyLength" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="ignoreWhiteSpace" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="ignoreCase" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="BreakResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BreakResult" type="tns:ArrayOfCVigenereResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfCVigenereResult">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="CVigenereResult" nillable="true" type="tns:CVigenereResult" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CVigenereResult">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="bestKeyLength" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="CipherSoapIn">
		<wsdl:part name="parameters" element="tns:Cipher" />
	</wsdl:message>
	<wsdl:message name="CipherSoapOut">
		<wsdl:part name="parameters" element="tns:CipherResponse" />
	</wsdl:message>
	<wsdl:message name="DecipherSoapIn">
		<wsdl:part name="parameters" element="tns:Decipher" />
	</wsdl:message>
	<wsdl:message name="DecipherSoapOut">
		<wsdl:part name="parameters" element="tns:DecipherResponse" />
	</wsdl:message>
	<wsdl:message name="BreakSoapIn">
		<wsdl:part name="parameters" element="tns:Break" />
	</wsdl:message>
	<wsdl:message name="BreakSoapOut">
		<wsdl:part name="parameters" element="tns:BreakResponse" />
	</wsdl:message>
	<wsdl:portType name="Vigenere1Soap">
		<wsdl:operation name="Cipher">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cipher a string using vigenere cipher.</wsdl:documentation>
			<wsdl:input message="tns:CipherSoapIn" />
			<wsdl:output message="tns:CipherSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Decipher">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decipher a string using vigenere cipher.</wsdl:documentation>
			<wsdl:input message="tns:DecipherSoapIn" />
			<wsdl:output message="tns:DecipherSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Break">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Breaks vigenere's key on frequency letters using french frequency.
			</wsdl:documentation>
			<wsdl:input message="tns:BreakSoapIn" />
			<wsdl:output message="tns:BreakSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Vigenere1Soap" type="tns:Vigenere1Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Cipher">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Cipher" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Decipher">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Decipher" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Break">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Break" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Vigenere1Soap12" type="tns:Vigenere1Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Cipher">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Cipher" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Decipher">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Decipher" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Break">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/Break" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Vigenere1">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vigenere cipher v1.0.1&lt;BR&gt;&lt;A
			HREF='http://www.quisque.com'&gt;http://www.quisque.com&lt;/A&gt;&lt;BR&gt;</wsdl:documentation>
		<wsdl:port name="Vigenere1Soap" binding="tns:Vigenere1Soap">
			<soap:address location="http://www.quisque.com/fr/chasses/crypto/vigenere1.asmx" />
		</wsdl:port>
		<wsdl:port name="Vigenere1Soap12" binding="tns:Vigenere1Soap12">
			<soap12:address location="http://www.quisque.com/fr/chasses/crypto/vigenere1.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>