wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__arcweb.esri.com_services_v2_AddressFinder.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Tue May 26 18:12:57 PDT 2009 -->
<definitions name='AddressFinder' targetNamespace='http://arcweb.esri.com/v2' xmlns:tns='http://arcweb.esri.com/v2'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'
	xmlns:ns11='http://www.themindelectric.com/package/com.esri.is.services.common.v2.geom/' xmlns:ns12='http://www.themindelectric.com/package/com.esri.is.services.common.v2/'
	xmlns:ns13='http://www.themindelectric.com/package/com.esri.is.services.glue.v2.addressfinder/' xmlns:ns14='http://www.themindelectric.com/package/java.lang/'>
	<types>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.glue.v2.addressfinder/'>
			<xsd:complexType name='Address'>
				<xsd:sequence>
					<xsd:element name='houseNumber' nillable='true' type='xsd:string' />
					<xsd:element name='street' nillable='true' type='xsd:string' />
					<xsd:element name='intersection' nillable='true' type='xsd:string' />
					<xsd:element name='city' nillable='true' type='xsd:string' />
					<xsd:element name='state_prov' nillable='true' type='xsd:string' />
					<xsd:element name='zone' nillable='true' type='xsd:string' />
					<xsd:element name='country' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='AddressFinderOptions'>
				<xsd:sequence>
					<xsd:element name='dataSource' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2.geom/'>
			<xsd:complexType name='Point'>
				<xsd:sequence>
					<xsd:element name='x' type='xsd:double' />
					<xsd:element name='y' type='xsd:double' />
					<xsd:element name='coordinateSystem' nillable='true' type='ns11:CoordinateSystem' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='CoordinateSystem'>
				<xsd:sequence>
					<xsd:element name='projection' nillable='true' type='xsd:string' />
					<xsd:element name='datumTransformation' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='Envelope'>
				<xsd:sequence>
					<xsd:element name='minx' type='xsd:double' />
					<xsd:element name='miny' type='xsd:double' />
					<xsd:element name='maxx' type='xsd:double' />
					<xsd:element name='maxy' type='xsd:double' />
					<xsd:element name='coordinateSystem' nillable='true' type='ns11:CoordinateSystem' />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2/'>
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:import namespace='http://www.themindelectric.com/package/com.esri.is.services.common.v2.geom/' />
			<xsd:complexType name='LocationInfo'>
				<xsd:sequence>
					<xsd:element name='matchType' nillable='true' type='xsd:string' />
					<xsd:element name='candidates' nillable='true' type='ns12:ArrayOfLocation' />
					<xsd:element name='hasMore' type='xsd:boolean' />
					<xsd:element name='errorCode' nillable='true' type='xsd:string' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='Location'>
				<xsd:sequence>
					<xsd:element name='point' nillable='true' type='ns11:Point' />
					<xsd:element name='description1' nillable='true' type='xsd:string' />
					<xsd:element name='description2' nillable='true' type='xsd:string' />
					<xsd:element name='score' type='xsd:double' />
					<xsd:element name='matchType' nillable='true' type='xsd:string' />
					<xsd:element name='type' nillable='true' type='xsd:string' />
					<xsd:element name='locationExtent' nillable='true' type='ns11:Envelope' />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name='ArrayOfLocation'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='ns12:Location[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.themindelectric.com/package/java.lang/'>
			<xsd:import namespace='http://schemas.xmlsoap.org/soap/encoding/' />
			<xsd:complexType name='ArrayOfstring'>
				<xsd:complexContent>
					<xsd:restriction base='soapenc:Array'>
						<xsd:attribute ref='soapenc:arrayType' wsdl:arrayType='xsd:string[]' />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name='getAddress0In'>
		<part name='point' type='ns11:Point'>
			<documentation>the x,y-coordinate.</documentation>
		</part>
		<part name='addressFinderOptions' type='ns13:AddressFinderOptions'>
			<documentation>options object.</documentation>
		</part>
		<part name='token' type='xsd:string'>
			<documentation>the authentication token.</documentation>
		</part>
	</message>
	<message name='getAddress0Out'>
		<part name='Result' type='ns13:Address'>
			<documentation>Address address object. </documentation>
		</part>
	</message>
	<message name='findAddress1In'>
		<part name='address' type='ns13:Address'>
			<documentation>the address find x,y-coordinates for.</documentation>
		</part>
		<part name='addressFinderOptions' type='ns13:AddressFinderOptions'>
			<documentation>options object.</documentation>
		</part>
		<part name='token' type='xsd:string'>
			<documentation>the authentication token.</documentation>
		</part>
	</message>
	<message name='findAddress1Out'>
		<part name='Result' type='ns12:LocationInfo'>
			<documentation>LocationInfo location information object. </documentation>
		</part>
	</message>
	<message name='getCountries2In'>
		<part name='datasource' type='xsd:string'>
			<documentation>the geocoder datasource.</documentation>
		</part>
		<part name='token' type='xsd:string'>
			<documentation>service authentication token.</documentation>
		</part>
	</message>
	<message name='getCountries2Out'>
		<part name='Result' type='ns14:ArrayOfstring'>
			<documentation>String[] String array of country names. </documentation>
		</part>
	</message>
	<message name='getVersion3In' />
	<message name='getVersion3Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='IAddressFinder'>
		<operation name='getAddress' parameterOrder='point addressFinderOptions token'>
			<documentation>Returns an address from an x,y-coordinate.</documentation>
			<input name='getAddress0In' message='tns:getAddress0In' />
			<output name='getAddress0Out' message='tns:getAddress0Out' />
		</operation>
		<operation name='findAddress' parameterOrder='address addressFinderOptions token'>
			<documentation>Returns an x,y-coordinate from an address.</documentation>
			<input name='findAddress1In' message='tns:findAddress1In' />
			<output name='findAddress1Out' message='tns:findAddress1Out' />
		</operation>
		<operation name='getCountries' parameterOrder='datasource token'>
			<documentation>Returnes an array of country names serviced by a specified datasource.</documentation>
			<input name='getCountries2In' message='tns:getCountries2In' />
			<output name='getCountries2Out' message='tns:getCountries2Out' />
		</operation>
		<operation name='getVersion' parameterOrder=''>
			<input name='getVersion3In' message='tns:getVersion3In' />
			<output name='getVersion3Out' message='tns:getVersion3Out' />
		</operation>
	</portType>
	<binding name='IAddressFinder' type='tns:IAddressFinder'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='getAddress'>
			<soap:operation soapAction='getAddress' style='rpc' />
			<input name='getAddress0In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getAddress0Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='findAddress'>
			<soap:operation soapAction='findAddress' style='rpc' />
			<input name='findAddress1In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='findAddress1Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getCountries'>
			<soap:operation soapAction='getCountries' style='rpc' />
			<input name='getCountries2In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getCountries2Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getVersion'>
			<soap:operation soapAction='getVersion' style='rpc' />
			<input name='getVersion3In'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getVersion3Out'>
				<soap:body use='encoded' namespace='http://arcweb.esri.com/v2' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='AddressFinder'>
		<documentation>The Address Finder Web Service enables users to input a street address and receive a candidate list of
			matching addresses and associated coordinates. It also enables users to input x,y-coordinates and receive a street
			address. ArcWeb Service is intended to support application developers who would like to provide &quot;find an
			address&quot; and &quot;get an address&quot; functionality within their Internet applications.</documentation>
		<port name='IAddressFinder' binding='tns:IAddressFinder'>
			<soap:address location='http://arcweb.esri.com/services/v2/AddressFinder' />
		</port>
	</service>
</definitions>