wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__slashdemocracy.org_links_ws4gotze.wsdl.wsdl

<?xml version="1.0" encoding="UTF-8" ?><!-- WSDL description of the WS4LsqlSL Web APIs. The WS4LsqlSL Web APIs are in beta 
	release. All interfaces are subject to change as we refine and extend our APIs. Please see the terms of use for more information. 
	$Id: ws4lsql.wsdl,v 1.4 2003/03/26 08:00:30 tandat Exp $ -->
<definitions name="WS4LsqlSL" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://slashdemocracy.org/WS4LsqlSL"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://slashdemocracy.org/WS4LsqlSL"
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns="http://schemas.xmlsoap.org/wsdl/">  <!-- Types for search - result elements, directory categories -->
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://slashdemocracy.org/WS4LsqlSL">
			<xsd:element name="doLinksSearch">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="query" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="catid" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="bool" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="substring" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="nh" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="mh" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="so" type="xsd:string" minOccurs="0" maxOccurs="1" /><!-- asc, des -->
						<xsd:element name="sb" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="ID" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Title" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="URL" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="LinkOwner" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Contact_Name" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Contact_Email" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Hits" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="isNew" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="isChanged" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="isPopular" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Rating" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Votes" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="LongDescription" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="BifogadFil" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Location" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="NIFid" type="xsd:string" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>       <!-- for search result -->
			<xsd:complexType name="LinkElementRec">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Title" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="URL" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Description" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CategoryElementRec">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Full_Name" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Description" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Number_of_Links" type="xsd:int" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LinkElementArray">
				<xsd:sequence>
					<xsd:element name="LinkElement" type="tns:LinkElementRec" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CategoryElementArray">
				<xsd:sequence>
					<xsd:element name="CategoryElement" type="tns:CategoryElementRec" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="doLinksSearchResultRec">
				<xsd:sequence>
					<xsd:element name="LinksResults" type="tns:LinkElementArray" minOccurs="0" maxOccurs="1" />
					<xsd:element name="CategoryResults" type="tns:CategoryElementArray" minOccurs="0" maxOccurs="1" />
					<xsd:element name="link_hits" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="category_hits" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="mh" type="xsd:int" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="doLinksSearchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="doLinksSearchResult" type="tns:doLinksSearchResultRec" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	<!-- Get 10 newest links -->
			<xsd:element name="GetTenNewestLinks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="catid" type="xsd:int" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTenNewestLinksResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LinksResults" type="tns:LinkElementArray" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	<!-- Add a new link -->
			<xsd:element name="AddLink">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Token" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="CategoryID" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="CategoryName" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Title" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="URL" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Contact_Name" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Contact_Email" type="xsd:string" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddLinkResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:int" minOccurs="0" maxOccurs="1" />
						<xsd:element name="Error" type="xsd:string" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>   <!-- Messages for WS4LsqlSL Web APIs - search links. -->
	<message name="doLinksSearchRequest">
		<part name="sinbody" element="tns:doLinksSearch" />
	</message>
	<message name="doLinksSearchResponse">
		<part name="soutbody" element="tns:doLinksSearchResponse" />
	</message>
	<message name="GetTenNewestLinksRequest">
		<part name="ginbody" element="tns:GetTenNewestLinks" />
	</message>
	<message name="GetTenNewestLinksResponse">
		<part name="goutbody" element="tns:GetTenNewestLinksResponse" />
	</message>
	<message name="AddLinkRequest">
		<part name="ainbody" element="tns:AddLink" />
	</message>
	<message name="AddLinkResponse">
		<part name="aoutbody" element="tns:AddLinkResponse" />
	</message>  <!-- Port for WS4lsqlSearchResults Web APIs, "LinksSearch" -->
	<portType name="WS4lsqlPortType">
		<operation name="doLinksSearch">
			<input message="tns:doLinksSearchRequest" />
			<output message="tns:doLinksSearchResponse" />
		</operation>
		<operation name="GetTenNewestLinks">
			<input message="tns:GetTenNewestLinksRequest" />
			<output message="tns:GetTenNewestLinksResponse" />
		</operation>
		<operation name="AddLink">
			<input message="tns:AddLinkRequest" />
			<output message="tns:AddLinkResponse" />
		</operation>
	</portType>  <!-- Binding for WS4LsqlSL Web APIs - Doc/Lit, SOAP over HTTP -->
	<binding name="WS4lsqlBinding" type="tns:WS4lsqlPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="doLinksSearch">
			<soap:operation soapAction="http://slashdemocracy.org/WS4LsqlSL#doLinksSearch" style="document" />
			<input>
				<soap:body parts="sinbody" use="literal" />
			</input>
			<output>
				<soap:body parts="soutbody" use="literal" />
			</output>
		</operation>
		<operation name="GetTenNewestLinks">
			<soap:operation soapAction="http://slashdemocracy.org/WS4LsqlSL#GetTenNewestLinks" style="document" />
			<input>
				<soap:body parts="ginbody" use="literal" />
			</input>
			<output>
				<soap:body parts="goutbody" use="literal" />
			</output>
		</operation>
		<operation name="AddLink">
			<soap:operation soapAction="http://slashdemocracy.org/WS4LsqlSL#AddLink" style="document" />
			<input>
				<soap:body parts="ainbody" use="literal" />
			</input>
			<output>
				<soap:body parts="aoutbody" use="literal" />
			</output>
		</operation>
	</binding>  <!-- Endpoint for WS4LsqlSL Web APIs -->
	<service name="WS4lsqlService">
		<port name="WS4lsqlPort" binding="tns:WS4lsqlBinding">
			<soapbind:address location="http://slashdemocracy.org/cgi-bin/ws4lsql.cgi" />
		</port>
	</service>
</definitions>