wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.barnaland.is_dev_names.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://barnaland.is/dev/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://barnaland.is/dev/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://barnaland.is/dev/">
			<s:element name="BoyNamesApproved">
				<s:complexType />
			</s:element>
			<s:element name="BoyNamesApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BoyNamesApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="BoyNamesDeclined">
				<s:complexType />
			</s:element>
			<s:element name="BoyNamesDeclinedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BoyNamesDeclinedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GirlNamesApproved">
				<s:complexType />
			</s:element>
			<s:element name="GirlNamesApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GirlNamesApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GirlNamesDeclined">
				<s:complexType />
			</s:element>
			<s:element name="GirlNamesDeclinedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GirlNamesDeclinedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="MiddleNamesApproved">
				<s:complexType />
			</s:element>
			<s:element name="MiddleNamesApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="MiddleNamesApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="MiddleNamesDeclined">
				<s:complexType />
			</s:element>
			<s:element name="MiddleNamesDeclinedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="MiddleNamesDeclinedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="NamesWithTHApproved">
				<s:complexType />
			</s:element>
			<s:element name="NamesWithTHApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="NamesWithTHApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="NamesWithTHDeclined">
				<s:complexType />
			</s:element>
			<s:element name="NamesWithTHDeclinedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="NamesWithTHDeclinedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByLetterApproved">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="letter" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="boys" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="girls" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="middle" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByLetterApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ByLetterApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByLetterDeclined">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="letter" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="boys" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="girls" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="middle" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByLetterDeclinedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ByLetterDeclinedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByNameApproved">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="boys" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="girls" type="s:boolean" />
						<s:element minOccurs="1" maxOccurs="1" name="middle" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ByNameApprovedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ByNameApprovedResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="BoyNamesApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:BoyNamesApproved" />
	</wsdl:message>
	<wsdl:message name="BoyNamesApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:BoyNamesApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="BoyNamesDeclinedSoapIn">
		<wsdl:part name="parameters" element="tns:BoyNamesDeclined" />
	</wsdl:message>
	<wsdl:message name="BoyNamesDeclinedSoapOut">
		<wsdl:part name="parameters" element="tns:BoyNamesDeclinedResponse" />
	</wsdl:message>
	<wsdl:message name="GirlNamesApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:GirlNamesApproved" />
	</wsdl:message>
	<wsdl:message name="GirlNamesApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:GirlNamesApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="GirlNamesDeclinedSoapIn">
		<wsdl:part name="parameters" element="tns:GirlNamesDeclined" />
	</wsdl:message>
	<wsdl:message name="GirlNamesDeclinedSoapOut">
		<wsdl:part name="parameters" element="tns:GirlNamesDeclinedResponse" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:MiddleNamesApproved" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:MiddleNamesApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesDeclinedSoapIn">
		<wsdl:part name="parameters" element="tns:MiddleNamesDeclined" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesDeclinedSoapOut">
		<wsdl:part name="parameters" element="tns:MiddleNamesDeclinedResponse" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:NamesWithTHApproved" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:NamesWithTHApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHDeclinedSoapIn">
		<wsdl:part name="parameters" element="tns:NamesWithTHDeclined" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHDeclinedSoapOut">
		<wsdl:part name="parameters" element="tns:NamesWithTHDeclinedResponse" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:ByLetterApproved" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:ByLetterApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedSoapIn">
		<wsdl:part name="parameters" element="tns:ByLetterDeclined" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedSoapOut">
		<wsdl:part name="parameters" element="tns:ByLetterDeclinedResponse" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedSoapIn">
		<wsdl:part name="parameters" element="tns:ByNameApproved" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedSoapOut">
		<wsdl:part name="parameters" element="tns:ByNameApprovedResponse" />
	</wsdl:message>
	<wsdl:message name="BoyNamesApprovedHttpGetIn" />
	<wsdl:message name="BoyNamesApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="BoyNamesDeclinedHttpGetIn" />
	<wsdl:message name="BoyNamesDeclinedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="GirlNamesApprovedHttpGetIn" />
	<wsdl:message name="GirlNamesApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="GirlNamesDeclinedHttpGetIn" />
	<wsdl:message name="GirlNamesDeclinedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesApprovedHttpGetIn" />
	<wsdl:message name="MiddleNamesApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesDeclinedHttpGetIn" />
	<wsdl:message name="MiddleNamesDeclinedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHApprovedHttpGetIn" />
	<wsdl:message name="NamesWithTHApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHDeclinedHttpGetIn" />
	<wsdl:message name="NamesWithTHDeclinedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedHttpGetIn">
		<wsdl:part name="letter" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedHttpGetIn">
		<wsdl:part name="letter" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedHttpGetIn">
		<wsdl:part name="name" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="BoyNamesApprovedHttpPostIn" />
	<wsdl:message name="BoyNamesApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="BoyNamesDeclinedHttpPostIn" />
	<wsdl:message name="BoyNamesDeclinedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="GirlNamesApprovedHttpPostIn" />
	<wsdl:message name="GirlNamesApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="GirlNamesDeclinedHttpPostIn" />
	<wsdl:message name="GirlNamesDeclinedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesApprovedHttpPostIn" />
	<wsdl:message name="MiddleNamesApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="MiddleNamesDeclinedHttpPostIn" />
	<wsdl:message name="MiddleNamesDeclinedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHApprovedHttpPostIn" />
	<wsdl:message name="NamesWithTHApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="NamesWithTHDeclinedHttpPostIn" />
	<wsdl:message name="NamesWithTHDeclinedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedHttpPostIn">
		<wsdl:part name="letter" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByLetterApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedHttpPostIn">
		<wsdl:part name="letter" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByLetterDeclinedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedHttpPostIn">
		<wsdl:part name="name" type="s:string" />
		<wsdl:part name="boys" type="s:string" />
		<wsdl:part name="girls" type="s:string" />
		<wsdl:part name="middle" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ByNameApprovedHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:portType name="NameLookupSoap">
		<wsdl:operation name="BoyNamesApproved">
			<wsdl:input message="tns:BoyNamesApprovedSoapIn" />
			<wsdl:output message="tns:BoyNamesApprovedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<wsdl:input message="tns:BoyNamesDeclinedSoapIn" />
			<wsdl:output message="tns:BoyNamesDeclinedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<wsdl:input message="tns:GirlNamesApprovedSoapIn" />
			<wsdl:output message="tns:GirlNamesApprovedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<wsdl:input message="tns:GirlNamesDeclinedSoapIn" />
			<wsdl:output message="tns:GirlNamesDeclinedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<wsdl:input message="tns:MiddleNamesApprovedSoapIn" />
			<wsdl:output message="tns:MiddleNamesApprovedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<wsdl:input message="tns:MiddleNamesDeclinedSoapIn" />
			<wsdl:output message="tns:MiddleNamesDeclinedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<wsdl:input message="tns:NamesWithTHApprovedSoapIn" />
			<wsdl:output message="tns:NamesWithTHApprovedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<wsdl:input message="tns:NamesWithTHDeclinedSoapIn" />
			<wsdl:output message="tns:NamesWithTHDeclinedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<wsdl:input message="tns:ByLetterApprovedSoapIn" />
			<wsdl:output message="tns:ByLetterApprovedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<wsdl:input message="tns:ByLetterDeclinedSoapIn" />
			<wsdl:output message="tns:ByLetterDeclinedSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<wsdl:input message="tns:ByNameApprovedSoapIn" />
			<wsdl:output message="tns:ByNameApprovedSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="NameLookupHttpGet">
		<wsdl:operation name="BoyNamesApproved">
			<wsdl:input message="tns:BoyNamesApprovedHttpGetIn" />
			<wsdl:output message="tns:BoyNamesApprovedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<wsdl:input message="tns:BoyNamesDeclinedHttpGetIn" />
			<wsdl:output message="tns:BoyNamesDeclinedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<wsdl:input message="tns:GirlNamesApprovedHttpGetIn" />
			<wsdl:output message="tns:GirlNamesApprovedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<wsdl:input message="tns:GirlNamesDeclinedHttpGetIn" />
			<wsdl:output message="tns:GirlNamesDeclinedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<wsdl:input message="tns:MiddleNamesApprovedHttpGetIn" />
			<wsdl:output message="tns:MiddleNamesApprovedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<wsdl:input message="tns:MiddleNamesDeclinedHttpGetIn" />
			<wsdl:output message="tns:MiddleNamesDeclinedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<wsdl:input message="tns:NamesWithTHApprovedHttpGetIn" />
			<wsdl:output message="tns:NamesWithTHApprovedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<wsdl:input message="tns:NamesWithTHDeclinedHttpGetIn" />
			<wsdl:output message="tns:NamesWithTHDeclinedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<wsdl:input message="tns:ByLetterApprovedHttpGetIn" />
			<wsdl:output message="tns:ByLetterApprovedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<wsdl:input message="tns:ByLetterDeclinedHttpGetIn" />
			<wsdl:output message="tns:ByLetterDeclinedHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<wsdl:input message="tns:ByNameApprovedHttpGetIn" />
			<wsdl:output message="tns:ByNameApprovedHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="NameLookupHttpPost">
		<wsdl:operation name="BoyNamesApproved">
			<wsdl:input message="tns:BoyNamesApprovedHttpPostIn" />
			<wsdl:output message="tns:BoyNamesApprovedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<wsdl:input message="tns:BoyNamesDeclinedHttpPostIn" />
			<wsdl:output message="tns:BoyNamesDeclinedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<wsdl:input message="tns:GirlNamesApprovedHttpPostIn" />
			<wsdl:output message="tns:GirlNamesApprovedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<wsdl:input message="tns:GirlNamesDeclinedHttpPostIn" />
			<wsdl:output message="tns:GirlNamesDeclinedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<wsdl:input message="tns:MiddleNamesApprovedHttpPostIn" />
			<wsdl:output message="tns:MiddleNamesApprovedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<wsdl:input message="tns:MiddleNamesDeclinedHttpPostIn" />
			<wsdl:output message="tns:MiddleNamesDeclinedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<wsdl:input message="tns:NamesWithTHApprovedHttpPostIn" />
			<wsdl:output message="tns:NamesWithTHApprovedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<wsdl:input message="tns:NamesWithTHDeclinedHttpPostIn" />
			<wsdl:output message="tns:NamesWithTHDeclinedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<wsdl:input message="tns:ByLetterApprovedHttpPostIn" />
			<wsdl:output message="tns:ByLetterApprovedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<wsdl:input message="tns:ByLetterDeclinedHttpPostIn" />
			<wsdl:output message="tns:ByLetterDeclinedHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<wsdl:input message="tns:ByNameApprovedHttpPostIn" />
			<wsdl:output message="tns:ByNameApprovedHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NameLookupSoap" type="tns:NameLookupSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BoyNamesApproved">
			<soap:operation soapAction="http://barnaland.is/dev/BoyNamesApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<soap:operation soapAction="http://barnaland.is/dev/BoyNamesDeclined" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<soap:operation soapAction="http://barnaland.is/dev/GirlNamesApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<soap:operation soapAction="http://barnaland.is/dev/GirlNamesDeclined" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<soap:operation soapAction="http://barnaland.is/dev/MiddleNamesApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<soap:operation soapAction="http://barnaland.is/dev/MiddleNamesDeclined" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<soap:operation soapAction="http://barnaland.is/dev/NamesWithTHApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<soap:operation soapAction="http://barnaland.is/dev/NamesWithTHDeclined" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<soap:operation soapAction="http://barnaland.is/dev/ByLetterApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<soap:operation soapAction="http://barnaland.is/dev/ByLetterDeclined" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<soap:operation soapAction="http://barnaland.is/dev/ByNameApproved" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="NameLookupSoap12" type="tns:NameLookupSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BoyNamesApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/BoyNamesApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<soap12:operation soapAction="http://barnaland.is/dev/BoyNamesDeclined" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/GirlNamesApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<soap12:operation soapAction="http://barnaland.is/dev/GirlNamesDeclined" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/MiddleNamesApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<soap12:operation soapAction="http://barnaland.is/dev/MiddleNamesDeclined" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/NamesWithTHApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<soap12:operation soapAction="http://barnaland.is/dev/NamesWithTHDeclined" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/ByLetterApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<soap12:operation soapAction="http://barnaland.is/dev/ByLetterDeclined" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<soap12:operation soapAction="http://barnaland.is/dev/ByNameApproved" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="NameLookupHttpGet" type="tns:NameLookupHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="BoyNamesApproved">
			<http:operation location="/BoyNamesApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<http:operation location="/BoyNamesDeclined" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<http:operation location="/GirlNamesApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<http:operation location="/GirlNamesDeclined" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<http:operation location="/MiddleNamesApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<http:operation location="/MiddleNamesDeclined" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<http:operation location="/NamesWithTHApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<http:operation location="/NamesWithTHDeclined" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<http:operation location="/ByLetterApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<http:operation location="/ByLetterDeclined" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<http:operation location="/ByNameApproved" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="NameLookupHttpPost" type="tns:NameLookupHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="BoyNamesApproved">
			<http:operation location="/BoyNamesApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BoyNamesDeclined">
			<http:operation location="/BoyNamesDeclined" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesApproved">
			<http:operation location="/GirlNamesApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GirlNamesDeclined">
			<http:operation location="/GirlNamesDeclined" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesApproved">
			<http:operation location="/MiddleNamesApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MiddleNamesDeclined">
			<http:operation location="/MiddleNamesDeclined" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHApproved">
			<http:operation location="/NamesWithTHApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NamesWithTHDeclined">
			<http:operation location="/NamesWithTHDeclined" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterApproved">
			<http:operation location="/ByLetterApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByLetterDeclined">
			<http:operation location="/ByLetterDeclined" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ByNameApproved">
			<http:operation location="/ByNameApproved" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NameLookup">
		<wsdl:port name="NameLookupSoap" binding="tns:NameLookupSoap">
			<soap:address location="http://www.barnaland.is/dev/names.asmx" />
		</wsdl:port>
		<wsdl:port name="NameLookupSoap12" binding="tns:NameLookupSoap12">
			<soap12:address location="http://www.barnaland.is/dev/names.asmx" />
		</wsdl:port>
		<wsdl:port name="NameLookupHttpGet" binding="tns:NameLookupHttpGet">
			<http:address location="http://www.barnaland.is/dev/names.asmx" />
		</wsdl:port>
		<wsdl:port name="NameLookupHttpPost" binding="tns:NameLookupHttpPost">
			<http:address location="http://www.barnaland.is/dev/names.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>