wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__xml.nig.ac.jp_wsdl_TxSearch.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Thu Sep 27 16:33:33 JST 2007 -->
<definitions name='TxSearch' targetNamespace='http://www.themindelectric.com/wsdl/TxSearch/' xmlns:tns='http://www.themindelectric.com/wsdl/TxSearch/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
	<message name='searchSimple0In'>
		<part name='tx_Name' type='xsd:string' />
	</message>
	<message name='searchSimple0Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='searchParam1In'>
		<part name='tx_Name' type='xsd:string' />
		<part name='tx_Clas' type='xsd:string' />
		<part name='tx_Rank' type='xsd:string' />
		<part name='tx_Rmax' type='xsd:string' />
		<part name='tx_Dcls' type='xsd:string' />
	</message>
	<message name='searchParam1Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getTxId2In'>
		<part name='tx_Name' type='xsd:string' />
	</message>
	<message name='getTxId2Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getTxName3In'>
		<part name='tx_Id' type='xsd:string' />
	</message>
	<message name='getTxName3Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='searchLineage4In'>
		<part name='query' type='xsd:string' />
		<part name='ranks' type='xsd:string' />
		<part name='superkingdom' type='xsd:string' />
	</message>
	<message name='searchLineage4Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='TxSearch'>
		<operation name='searchSimple' parameterOrder='tx_Name'>
			<documentation>Execute TxSearch</documentation>
			<input name='searchSimple0In' message='tns:searchSimple0In' />
			<output name='searchSimple0Out' message='tns:searchSimple0Out' />
		</operation>
		<operation name='searchParam' parameterOrder='tx_Name tx_Clas tx_Rank tx_Rmax tx_Dcls'>
			<documentation>Execute TxSearch with parameter</documentation>
			<input name='searchParam1In' message='tns:searchParam1In' />
			<output name='searchParam1Out' message='tns:searchParam1Out' />
		</operation>
		<operation name='getTxId' parameterOrder='tx_Name'>
			<documentation>Get Taxonomy ID</documentation>
			<input name='getTxId2In' message='tns:getTxId2In' />
			<output name='getTxId2Out' message='tns:getTxId2Out' />
		</operation>
		<operation name='getTxName' parameterOrder='tx_Id'>
			<documentation>Get Taxonomy name</documentation>
			<input name='getTxName3In' message='tns:getTxName3In' />
			<output name='getTxName3Out' message='tns:getTxName3Out' />
		</operation>
		<operation name='searchLineage' parameterOrder='query ranks superkingdom'>
			<documentation>Get Lineage</documentation>
			<input name='searchLineage4In' message='tns:searchLineage4In' />
			<output name='searchLineage4Out' message='tns:searchLineage4Out' />
		</operation>
	</portType>
	<binding name='TxSearch' type='tns:TxSearch'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='searchSimple'>
			<soap:operation soapAction='searchSimple' style='rpc' />
			<input name='searchSimple0In'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchSimple0Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='searchParam'>
			<soap:operation soapAction='searchParam' style='rpc' />
			<input name='searchParam1In'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchParam1Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getTxId'>
			<soap:operation soapAction='getTxId' style='rpc' />
			<input name='getTxId2In'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getTxId2Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getTxName'>
			<soap:operation soapAction='getTxName' style='rpc' />
			<input name='getTxName3In'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getTxName3Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='searchLineage'>
			<soap:operation soapAction='searchLineage' style='rpc' />
			<input name='searchLineage4In'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='searchLineage4Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='TxSearch'>
		<port name='TxSearch' binding='tns:TxSearch'>
			<soap:address location='http://xml.nig.ac.jp/xddbj/TxSearch' />
		</port>
	</service>
</definitions>