wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__api.eurocv.eu_euroserver.php_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="urn:eurocv" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:eurocv">
	<types>
		<xsd:schema targetNamespace="urn:eurocv">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
			<xsd:complexType name="Authorization">
				<xsd:all>
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="License">
				<xsd:all>
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="jobcategory">
				<xsd:all>
					<xsd:element name="license" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:integer" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Category">
				<xsd:all>
					<xsd:element name="category" type="xsd:integer" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="setCategory">
				<xsd:all>
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="category" type="xsd:integer" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="general_param">
				<xsd:all>
					<xsd:element name="security_code" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="file">
				<xsd:all>
					<xsd:element name="license" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="contents" type="xsd:string" />
					<xsd:element name="filetype" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="security_param">
				<xsd:all>
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="KEYWORDS">
				<xsd:all>
					<xsd:element name="keywords" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="LASTCV">
				<xsd:all>
					<xsd:element name="days" type="xsd:int" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PDfields">
				<xsd:all>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="gender" type="xsd:string" />
					<xsd:element name="mothertongue" type="xsd:string" />
					<xsd:element name="birthdate" type="xsd:string" />
					<xsd:element name="birthplace" type="xsd:string" />
					<xsd:element name="birthnation" type="xsd:string" />
					<xsd:element name="nationality" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:int" />
					<xsd:element name="idjobcategory" type="xsd:int" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="public" type="xsd:boolean" />
					<xsd:element name="privacy" type="xsd:boolean" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="WEfields">
				<xsd:all>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="startdate" type="xsd:date" />
					<xsd:element name="enddate" type="xsd:date" />
					<xsd:element name="employer" type="xsd:string" />
					<xsd:element name="sector" type="xsd:string" />
					<xsd:element name="position" type="xsd:string" />
					<xsd:element name="activities" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:int" />
					<xsd:element name="visible" type="xsd:boolean" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ETfields">
				<xsd:all>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="startdate" type="xsd:date" />
					<xsd:element name="enddate" type="xsd:date" />
					<xsd:element name="organisation" type="xsd:string" />
					<xsd:element name="skills" type="xsd:string" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="level" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:int" />
					<xsd:element name="visible" type="xsd:boolean" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="OLfields">
				<xsd:all>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="language" type="xsd:string" />
					<xsd:element name="understanding_listening" type="xsd:string" />
					<xsd:element name="understanding_reading" type="xsd:string" />
					<xsd:element name="spoken_interaction" type="xsd:string" />
					<xsd:element name="spoken_production" type="xsd:string" />
					<xsd:element name="writing" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:int" />
					<xsd:element name="visible" type="xsd:boolean" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CSfields">
				<xsd:all>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="annexes" type="xsd:string" />
					<xsd:element name="social" type="xsd:string" />
					<xsd:element name="organisational" type="xsd:string" />
					<xsd:element name="technical" type="xsd:string" />
					<xsd:element name="computer" type="xsd:string" />
					<xsd:element name="artistic" type="xsd:string" />
					<xsd:element name="other" type="xsd:string" />
					<xsd:element name="driving" type="xsd:string" />
					<xsd:element name="additional" type="xsd:string" />
					<xsd:element name="idlanguage" type="xsd:int" />
					<xsd:element name="visible" type="xsd:boolean" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ADD_APPLICANT_CATEGORY_fields">
				<xsd:all>
					<xsd:element name="category" type="xsd:string" />
					<xsd:element name="idparent" type="xsd:int" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DELETE_APPLICANT_CATEGORY_fields">
				<xsd:all>
					<xsd:element name="idcategory" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DELETE_APPLICANT_CURRICULUM_fields">
				<xsd:all>
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="HR_XML">
				<xsd:all>
					<xsd:element name="hr_xml" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="aboutResponse">
				<xsd:all>
					<xsd:element name="about" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AuthResponse">
				<xsd:all>
					<xsd:element name="auth" type="xsd:boolean" />
					<xsd:element name="license" type="xsd:string" />
					<xsd:element name="queries" type="xsd:integer" />
					<xsd:element name="level" type="xsd:integer" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SECURITYResponse">
				<xsd:all>
					<xsd:element name="security" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SUMMARYResponse">
				<xsd:all>
					<xsd:element name="WE" type="xsd:int" />
					<xsd:element name="ET" type="xsd:int" />
					<xsd:element name="OL" type="xsd:int" />
					<xsd:element name="CS" type="xsd:int" />
					<xsd:element name="CL" type="xsd:int" />
					<xsd:element name="CN" type="xsd:int" />
					<xsd:element name="RF" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PDResponse">
				<xsd:all>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="gender" type="xsd:string" />
					<xsd:element name="mothertongue" type="xsd:string" />
					<xsd:element name="birthdate" type="xsd:string" />
					<xsd:element name="birthplace" type="xsd:string" />
					<xsd:element name="birthnation" type="xsd:string" />
					<xsd:element name="nationality" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="idbaselanguage" type="xsd:integer" />
					<xsd:element name="defaultcvlanguage" type="xsd:string" />
					<xsd:element name="public" type="xsd:boolean" />
					<xsd:element name="idjobcategory" type="xsd:integer" />
					<xsd:element name="jobcategory" type="xsd:string" />
					<xsd:element name="keywords" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="iPDResponse">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="WElist">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:WEResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="WEResponse">
				<xsd:all>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="startdate" type="xsd:string" />
					<xsd:element name="enddate" type="xsd:string" />
					<xsd:element name="employer" type="xsd:string" />
					<xsd:element name="sector" type="xsd:string" />
					<xsd:element name="position" type="xsd:string" />
					<xsd:element name="activities" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="iWEResponse">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ETlist">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ETResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ETResponse">
				<xsd:all>
					<xsd:element name="startdate" type="xsd:string" />
					<xsd:element name="enddate" type="xsd:string" />
					<xsd:element name="organization" type="xsd:string" />
					<xsd:element name="skills" type="xsd:string" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="level" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="iETResponse">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="OLlist">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:OLResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="OLResponse">
				<xsd:all>
					<xsd:element name="language" type="xsd:string" />
					<xsd:element name="understanding_listening" type="xsd:string" />
					<xsd:element name="understanding_reading" type="xsd:string" />
					<xsd:element name="spoken_interation" type="xsd:string" />
					<xsd:element name="spoken_production" type="xsd:string" />
					<xsd:element name="writing" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="iOLResponse">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CSResponse">
				<xsd:all>
					<xsd:element name="personal" type="xsd:string" />
					<xsd:element name="annexes" type="xsd:string" />
					<xsd:element name="social" type="xsd:string" />
					<xsd:element name="technical" type="xsd:string" />
					<xsd:element name="organisational" type="xsd:string" />
					<xsd:element name="artistic" type="xsd:string" />
					<xsd:element name="computer" type="xsd:string" />
					<xsd:element name="other" type="xsd:string" />
					<xsd:element name="driving" type="xsd:string" />
					<xsd:element name="additional" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="iCSResponse">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CLResponse">
				<xsd:all>
					<xsd:element name="coverletter" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ENABLED_LANGUAGES_LIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ENABLED_LANGUAGES_Response[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ENABLED_LANGUAGES_Response">
				<xsd:all>
					<xsd:element name="idlanguage" type="xsd:integer" />
					<xsd:element name="language" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PACLIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:KSResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="KSResponse">
				<xsd:all>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="keywords" type="xsd:string" />
					<xsd:element name="public" type="xsd:string" />
					<xsd:element name="registrationdate" type="xsd:string" />
					<xsd:element name="lastupdate" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="APPLICANTResponse">
				<xsd:all>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="company" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="license" type="xsd:string" />
					<xsd:element name="registration_date" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="website" type="xsd:string" />
					<xsd:element name="webservice" type="xsd:string" />
					<xsd:element name="queries" type="xsd:string" />
					<xsd:element name="show_pd" type="xsd:string" />
					<xsd:element name="show_we" type="xsd:string" />
					<xsd:element name="show_et" type="xsd:string" />
					<xsd:element name="show_ol" type="xsd:string" />
					<xsd:element name="show_cs" type="xsd:string" />
					<xsd:element name="show_cl" type="xsd:string" />
					<xsd:element name="show_lg" type="xsd:string" />
					<xsd:element name="show_documents" type="xsd:string" />
					<xsd:element name="insert_pd" type="xsd:string" />
					<xsd:element name="insert_we" type="xsd:string" />
					<xsd:element name="insert_et" type="xsd:string" />
					<xsd:element name="insert_ol" type="xsd:string" />
					<xsd:element name="insert_cs" type="xsd:string" />
					<xsd:element name="keysearch" type="xsd:string" />
					<xsd:element name="view_applicant_categories" type="xsd:string" />
					<xsd:element name="summary" type="xsd:string" />
					<xsd:element name="show_lastcv" type="xsd:string" />
					<xsd:element name="showonlythispac" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="VIEW_APPLICANT_CATEGORIES_LIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:VIEW_APPLICANT_CATEGORIES_Response[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VIEW_APPLICANT_CATEGORIES_Response">
				<xsd:all>
					<xsd:element name="idcategory" type="xsd:integer" />
					<xsd:element name="category" type="xsd:string" />
					<xsd:element name="idparent" type="xsd:integer" />
					<xsd:element name="cvitems" type="xsd:integer" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="VIEW_APPLICANT_CURRICULUM_LIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:VIEW_APPLICANT_CURRICULUM_Response[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VIEW_APPLICANT_CURRICULUM_Response">
				<xsd:all>
					<xsd:element name="idapplicant_curriculum" type="xsd:integer" />
					<xsd:element name="date" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DELETE_APPLICANT_CURRICULUM_Response">
				<xsd:all>
					<xsd:element name="deleted" type="xsd:boolean" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ADD_APPLICANT_CURRICULUM_Response">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ADD_APPLICANT_CATEGORY_Response">
				<xsd:all>
					<xsd:element name="saved" type="xsd:boolean" />
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="notes" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="LASTCVLIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:LASTCVResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="LASTCVResponse">
				<xsd:all>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="pac" type="xsd:string" />
					<xsd:element name="keywords" type="xsd:string" />
					<xsd:element name="public" type="xsd:string" />
					<xsd:element name="registration_date" type="xsd:string" />
					<xsd:element name="updating_date" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DOCUMENTSlist">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:DOCUMENTSResponse[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DOCUMENTSResponse">
				<xsd:all>
					<xsd:element name="link" type="xsd:string" />
					<xsd:element name="mimetype" type="xsd:string" />
					<xsd:element name="size" type="xsd:string" />
					<xsd:element name="content" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="HR_XMLResponse">
				<xsd:all>
					<xsd:element name="hr_xml_format" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="JOB_CATEGORIES_LIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:JOB_CATEGORIES_Response[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="JOB_CATEGORIES_Response">
				<xsd:all>
					<xsd:element name="idcategory" type="xsd:integer" />
					<xsd:element name="category" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="COResponse">
				<xsd:all>
					<xsd:element name="career_objectives" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DELETE_APPLICANT_CATEGORY_Response">
				<xsd:all>
					<xsd:element name="deleted" type="xsd:boolean" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CV_LANGUAGES_LIST">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:CV_LANGUAGES_Response[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CV_LANGUAGES_Response">
				<xsd:all>
					<xsd:element name="idlanguage" type="xsd:integer" />
					<xsd:element name="language" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="IMPORTResponse">
				<xsd:all>
					<xsd:element name="result" type="xsd:integer" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="ABOUTRequest"></message>
	<message name="ABOUTResponse">
		<part name="return" type="tns:aboutResponse" />
	</message>
	<message name="AUTHUSERRequest">
		<part name="authorization" type="tns:Authorization" />
	</message>
	<message name="AUTHUSERResponse">
		<part name="return" type="tns:AuthResponse" />
	</message>
	<message name="SECURITYRequest">
		<part name="security" type="tns:security_param" />
	</message>
	<message name="SECURITYResponse">
		<part name="return" type="tns:SECURITYResponse" />
	</message>
	<message name="PDRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="PDResponse">
		<part name="return" type="tns:PDResponse" />
	</message>
	<message name="WERequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="WEResponse">
		<part name="return" type="tns:WElist" />
	</message>
	<message name="ETRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="ETResponse">
		<part name="return" type="tns:ETlist" />
	</message>
	<message name="OLRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="OLResponse">
		<part name="return" type="tns:OLlist" />
	</message>
	<message name="CSRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="CSResponse">
		<part name="return" type="tns:CSResponse" />
	</message>
	<message name="CLRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="CLResponse">
		<part name="return" type="tns:CLResponse" />
	</message>
	<message name="CORequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="COResponse">
		<part name="return" type="tns:COResponse" />
	</message>
	<message name="KSRequest">
		<part name="params" type="tns:KEYWORDS" />
	</message>
	<message name="KSResponse">
		<part name="return" type="tns:PACLIST" />
	</message>
	<message name="ENABLED_LANGUAGESRequest">
		<part name="License" type="tns:License" />
	</message>
	<message name="ENABLED_LANGUAGESResponse">
		<part name="return" type="tns:CV_LANGUAGES_LIST" />
	</message>
	<message name="CV_LANGUAGESRequest">
		<part name="License" type="tns:general_param" />
	</message>
	<message name="CV_LANGUAGESResponse">
		<part name="return" type="tns:ENABLED_LANGUAGES_LIST" />
	</message>
	<message name="JOB_CATEGORIESRequest">
		<part name="License" type="tns:jobcategory" />
	</message>
	<message name="JOB_CATEGORIESResponse">
		<part name="return" type="tns:JOB_CATEGORIES_LIST" />
	</message>
	<message name="APPLICANTRequest">
		<part name="License" type="tns:License" />
	</message>
	<message name="APPLICANTResponse">
		<part name="return" type="tns:APPLICANTResponse" />
	</message>
	<message name="VIEW_APPLICANT_CATEGORIESRequest">
		<part name="License" type="tns:License" />
	</message>
	<message name="VIEW_APPLICANT_CATEGORIESResponse">
		<part name="return" type="tns:VIEW_APPLICANT_CATEGORIES_LIST" />
	</message>
	<message name="ADD_APPLICANT_CATEGORYRequest">
		<part name="APPCAT" type="tns:ADD_APPLICANT_CATEGORY_fields" />
	</message>
	<message name="ADD_APPLICANT_CATEGORYResponse">
		<part name="return" type="tns:ADD_APPLICANT_CATEGORY_Response" />
	</message>
	<message name="DELETE_APPLICANT_CATEGORYRequest">
		<part name="APPCAT" type="tns:DELETE_APPLICANT_CATEGORY_fields" />
	</message>
	<message name="DELETE_APPLICANT_CATEGORYResponse">
		<part name="return" type="tns:DELETE_APPLICANT_CATEGORY_Response" />
	</message>
	<message name="VIEW_APPLICANT_CURRICULUMRequest">
		<part name="License" type="tns:Category" />
	</message>
	<message name="VIEW_APPLICANT_CURRICULUMResponse">
		<part name="return" type="tns:VIEW_APPLICANT_CURRICULUM_LIST" />
	</message>
	<message name="ADD_APPLICANT_CURRICULUMRequest">
		<part name="License" type="tns:setCategory" />
	</message>
	<message name="ADD_APPLICANT_CURRICULUMResponse">
		<part name="return" type="tns:ADD_APPLICANT_CURRICULUM_Response" />
	</message>
	<message name="DELETE_APPLICANT_CURRICULUMRequest">
		<part name="APPCV" type="tns:DELETE_APPLICANT_CURRICULUM_fields" />
	</message>
	<message name="DELETE_APPLICANT_CURRICULUMResponse">
		<part name="return" type="tns:DELETE_APPLICANT_CURRICULUM_Response" />
	</message>
	<message name="LASTCVRequest">
		<part name="LASTCV" type="tns:LASTCV" />
	</message>
	<message name="LASTCVResponse">
		<part name="return" type="tns:LASTCVLIST" />
	</message>
	<message name="SUMMARYRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="SUMMARYResponse">
		<part name="return" type="tns:SUMMARYResponse" />
	</message>
	<message name="DOCUMENTSRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="DOCUMENTSResponse">
		<part name="return" type="tns:DOCUMENTSlist" />
	</message>
	<message name="HR_XMLRequest">
		<part name="params" type="tns:general_param" />
	</message>
	<message name="HR_XMLResponse">
		<part name="return" type="tns:HR_XMLResponse" />
	</message>
	<message name="IMPORTRequest">
		<part name="params" type="tns:file" />
	</message>
	<message name="IMPORTResponse">
		<part name="return" type="tns:IMPORTResponse" />
	</message>
	<message name="iPDRequest">
		<part name="PDfields" type="tns:PDfields" />
	</message>
	<message name="iPDResponse">
		<part name="return" type="tns:iPDResponse" />
	</message>
	<message name="iWERequest">
		<part name="WEfields" type="tns:WEfields" />
	</message>
	<message name="iWEResponse">
		<part name="return" type="tns:iWEResponse" />
	</message>
	<message name="iETRequest">
		<part name="ETfields" type="tns:ETfields" />
	</message>
	<message name="iETResponse">
		<part name="return" type="tns:iETResponse" />
	</message>
	<message name="iOLRequest">
		<part name="OLfields" type="tns:OLfields" />
	</message>
	<message name="iOLResponse">
		<part name="return" type="tns:iOLResponse" />
	</message>
	<message name="iCSRequest">
		<part name="CSfields" type="tns:CSfields" />
	</message>
	<message name="iCSResponse">
		<part name="return" type="tns:CSResponse" />
	</message>
	<portType name="eurocvPortType">
		<operation name="ABOUT">
			<documentation>About EuroCv.eu and its services.</documentation>
			<input message="tns:ABOUTRequest" />
			<output message="tns:ABOUTResponse" />
		</operation>
		<operation name="AUTHUSER">
			<documentation>Check the permission of the applicant.</documentation>
			<input message="tns:AUTHUSERRequest" />
			<output message="tns:AUTHUSERResponse" />
		</operation>
		<operation name="SECURITY">
			<documentation>One Time Security Code System.</documentation>
			<input message="tns:SECURITYRequest" />
			<output message="tns:SECURITYResponse" />
		</operation>
		<operation name="PD">
			<documentation>Retrieve all information about the Personal data of a user in public mode.</documentation>
			<input message="tns:PDRequest" />
			<output message="tns:PDResponse" />
		</operation>
		<operation name="WE">
			<documentation>Retrieve all information about the Work Experiences of a user.</documentation>
			<input message="tns:WERequest" />
			<output message="tns:WEResponse" />
		</operation>
		<operation name="ET">
			<documentation>Retrieve all information about the Education &amp; Training of a user.</documentation>
			<input message="tns:ETRequest" />
			<output message="tns:ETResponse" />
		</operation>
		<operation name="OL">
			<documentation>Retrieve all information about the Other Languages known by a user.</documentation>
			<input message="tns:OLRequest" />
			<output message="tns:OLResponse" />
		</operation>
		<operation name="CS">
			<documentation>Retrieve all information about the Competences &amp; Skills of a user.</documentation>
			<input message="tns:CSRequest" />
			<output message="tns:CSResponse" />
		</operation>
		<operation name="CL">
			<documentation>Retrieve the cover letter of the user selected by P.A.C.</documentation>
			<input message="tns:CLRequest" />
			<output message="tns:CLResponse" />
		</operation>
		<operation name="CO">
			<documentation>Retrieve the career objectives of the user selected by P.A.C.</documentation>
			<input message="tns:CORequest" />
			<output message="tns:COResponse" />
		</operation>
		<operation name="KS">
			<documentation>Retrieve the P.A.C. by Keywords.</documentation>
			<input message="tns:KSRequest" />
			<output message="tns:KSResponse" />
		</operation>
		<operation name="ENABLED_LANGUAGES">
			<documentation>Retrieve all enabled languages on EuroCv Service.</documentation>
			<input message="tns:ENABLED_LANGUAGESRequest" />
			<output message="tns:ENABLED_LANGUAGESResponse" />
		</operation>
		<operation name="CV_LANGUAGES">
			<documentation>Retrieve all enabled languages of a particular curriculum vitae.</documentation>
			<input message="tns:CV_LANGUAGESRequest" />
			<output message="tns:CV_LANGUAGESResponse" />
		</operation>
		<operation name="JOB_CATEGORIES">
			<documentation>Retrieve all enabled languages on EuroCv Service.</documentation>
			<input message="tns:JOB_CATEGORIESRequest" />
			<output message="tns:JOB_CATEGORIESResponse" />
		</operation>
		<operation name="APPLICANT">
			<documentation>Retrieve all applicant's data and settings.</documentation>
			<input message="tns:APPLICANTRequest" />
			<output message="tns:APPLICANTResponse" />
		</operation>
		<operation name="VIEW_APPLICANT_CATEGORIES">
			<documentation>Retrieve all applicant's categories.</documentation>
			<input message="tns:VIEW_APPLICANT_CATEGORIESRequest" />
			<output message="tns:VIEW_APPLICANT_CATEGORIESResponse" />
		</operation>
		<operation name="ADD_APPLICANT_CATEGORY">
			<documentation>Add applicant's categories.</documentation>
			<input message="tns:ADD_APPLICANT_CATEGORYRequest" />
			<output message="tns:ADD_APPLICANT_CATEGORYResponse" />
		</operation>
		<operation name="DELETE_APPLICANT_CATEGORY">
			<documentation>Delete applicant's categories.</documentation>
			<input message="tns:DELETE_APPLICANT_CATEGORYRequest" />
			<output message="tns:DELETE_APPLICANT_CATEGORYResponse" />
		</operation>
		<operation name="VIEW_APPLICANT_CURRICULUM">
			<documentation>Retrieve all applicant's curriculum vitae.</documentation>
			<input message="tns:VIEW_APPLICANT_CURRICULUMRequest" />
			<output message="tns:VIEW_APPLICANT_CURRICULUMResponse" />
		</operation>
		<operation name="ADD_APPLICANT_CURRICULUM">
			<documentation>Set a category to a curriculum vitae selected.</documentation>
			<input message="tns:ADD_APPLICANT_CURRICULUMRequest" />
			<output message="tns:ADD_APPLICANT_CURRICULUMResponse" />
		</operation>
		<operation name="DELETE_APPLICANT_CURRICULUM">
			<documentation>Delete the curriculum related to the applicant.</documentation>
			<input message="tns:DELETE_APPLICANT_CURRICULUMRequest" />
			<output message="tns:DELETE_APPLICANT_CURRICULUMResponse" />
		</operation>
		<operation name="LASTCV">
			<documentation>Retrieve all cv from the database.</documentation>
			<input message="tns:LASTCVRequest" />
			<output message="tns:LASTCVResponse" />
		</operation>
		<operation name="SUMMARY">
			<documentation>Retrieve the summary of the user selected by P.A.C.</documentation>
			<input message="tns:SUMMARYRequest" />
			<output message="tns:SUMMARYResponse" />
		</operation>
		<operation name="DOCUMENTS">
			<documentation>Retrieve all the documents of the user selected by P.A.C.</documentation>
			<input message="tns:DOCUMENTSRequest" />
			<output message="tns:DOCUMENTSResponse" />
		</operation>
		<operation name="HR_XML">
			<documentation>Retrieve all the information about a user in public mode and export the data in XML format. HR-XML is
				an independent, non-profit consortium dedicated to enabling e-commerce and inter-company exchange of human resources
				data worldwide. The work of the Consortium centers on the development and promotion of standardized XML vocabularies
				for Human Resources. HR-XML is current efforts are focused on standards for staffing and recruiting, compensation
				and benefits, training and workforce management. HR-XML is represented by its membership in 22 countries.
			</documentation>
			<input message="tns:HR_XMLRequest" />
			<output message="tns:HR_XMLResponse" />
		</operation>
		<operation name="IMPORT">
			<documentation>Import a cv inside the EuroCv service from a Europass file.</documentation>
			<input message="tns:IMPORTRequest" />
			<output message="tns:IMPORTResponse" />
		</operation>
		<operation name="iPD">
			<documentation>Insert all information about the Personal data of a user on EuroCv.</documentation>
			<input message="tns:iPDRequest" />
			<output message="tns:iPDResponse" />
		</operation>
		<operation name="iWE">
			<documentation>Insert user's Work Experiences on EuroCv.</documentation>
			<input message="tns:iWERequest" />
			<output message="tns:iWEResponse" />
		</operation>
		<operation name="iET">
			<documentation>Insert user's Education &amp; Training section on EuroCv.</documentation>
			<input message="tns:iETRequest" />
			<output message="tns:iETResponse" />
		</operation>
		<operation name="iOL">
			<documentation>Insert user's Other Languages Known section on EuroCv.</documentation>
			<input message="tns:iOLRequest" />
			<output message="tns:iOLResponse" />
		</operation>
		<operation name="iCS">
			<documentation>Insert user's Competences &amp; Skills section on EuroCv.</documentation>
			<input message="tns:iCSRequest" />
			<output message="tns:iCSResponse" />
		</operation>
	</portType>
	<binding name="eurocvBinding" type="tns:eurocvPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ABOUT">
			<soap:operation soapAction="urn:eurocv_licence#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="AUTHUSER">
			<soap:operation soapAction="urn:eurocv_licence#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SECURITY">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="PD">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="WE">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="ET">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="OL">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CS">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CL">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CO">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="KS">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="ENABLED_LANGUAGES">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CV_LANGUAGES">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="JOB_CATEGORIES">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="APPLICANT">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="VIEW_APPLICANT_CATEGORIES">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="ADD_APPLICANT_CATEGORY">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="DELETE_APPLICANT_CATEGORY">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="VIEW_APPLICANT_CURRICULUM">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="ADD_APPLICANT_CURRICULUM">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="DELETE_APPLICANT_CURRICULUM">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="LASTCV">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="SUMMARY">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="DOCUMENTS">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="HR_XML">
			<soap:operation soapAction="urn:eurocv_licence#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="IMPORT">
			<soap:operation soapAction="urn:eurocv_licence#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_licence" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="iPD">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="iWE">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="iET">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="iOL">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="iCS">
			<soap:operation soapAction="urn:eurocv_data#eurocv" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:eurocv_data" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="eurocv">
		<port name="eurocvPort" binding="tns:eurocvBinding">
			<soap:address location="http://api.eurocv.eu/euroserver.php" />
		</port>
	</service>
</definitions>