wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.esynaps.com_webservices_YourHostInfo.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="WhoAmI">
				<s:complexType />
			</s:element>
			<s:element name="WhoAmIResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="WhoAmIResult" type="tns:HostInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="HostInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IPList" type="tns:ArrayOfString" />
					<s:element minOccurs="0" maxOccurs="1" name="Aliases" type="tns:ArrayOfString1" />
					<s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="IPAddress" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfString1">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Alias" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetHostInfoByIP">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHostInfoByIPResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHostInfoByIPResult" type="tns:HostInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHostInfoByName">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetHostInfoByNameResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetHostInfoByNameResult" type="tns:HostInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="WhoAmISoapIn">
		<wsdl:part name="parameters" element="tns:WhoAmI" />
	</wsdl:message>
	<wsdl:message name="WhoAmISoapOut">
		<wsdl:part name="parameters" element="tns:WhoAmIResponse" />
	</wsdl:message>
	<wsdl:message name="GetHostInfoByIPSoapIn">
		<wsdl:part name="parameters" element="tns:GetHostInfoByIP" />
	</wsdl:message>
	<wsdl:message name="GetHostInfoByIPSoapOut">
		<wsdl:part name="parameters" element="tns:GetHostInfoByIPResponse" />
	</wsdl:message>
	<wsdl:message name="GetHostInfoByNameSoapIn">
		<wsdl:part name="parameters" element="tns:GetHostInfoByName" />
	</wsdl:message>
	<wsdl:message name="GetHostInfoByNameSoapOut">
		<wsdl:part name="parameters" element="tns:GetHostInfoByNameResponse" />
	</wsdl:message>
	<wsdl:portType name="YourHostSoap">
		<wsdl:operation name="WhoAmI">
			<wsdl:input message="tns:WhoAmISoapIn" />
			<wsdl:output message="tns:WhoAmISoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHostInfoByIP">
			<wsdl:input message="tns:GetHostInfoByIPSoapIn" />
			<wsdl:output message="tns:GetHostInfoByIPSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetHostInfoByName">
			<wsdl:input message="tns:GetHostInfoByNameSoapIn" />
			<wsdl:output message="tns:GetHostInfoByNameSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="YourHostSoap" type="tns:YourHostSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="WhoAmI">
			<soap:operation soapAction="http://tempuri.org/WhoAmI" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHostInfoByIP">
			<soap:operation soapAction="http://tempuri.org/GetHostInfoByIP" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHostInfoByName">
			<soap:operation soapAction="http://tempuri.org/GetHostInfoByName" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="YourHost">
		<wsdl:port name="YourHostSoap" binding="tns:YourHostSoap">
			<soap:address location="http://www.esynaps.com/webservices/YourHostInfo.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>