wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__hjnobrega.no.sapo.pt_CalPrz.wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://hjnobrega.no.sapo.pt/CalPrz" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://hjnobrega.no.sapo.pt/CalPrz" xmlns:intf="http://hjnobrega.no.sapo.pt/CalPrz" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL 
		created by Apache Axis version: 1.2.1Built on Jun 14, 2005 (09:15:57 EDT) -->
	<wsdl:message name="get_norRequest">
		<wsdl:part name="Dti" type="xsd:dateTime" />
		<wsdl:part name="Num" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="get_utlResponse">
		<wsdl:part name="get_utlReturn" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="get_norRequest1">
		<wsdl:part name="Dti" type="xsd:dateTime" />
		<wsdl:part name="Dtf" type="xsd:dateTime" />
	</wsdl:message>
	<wsdl:message name="get_norResponse">
		<wsdl:part name="get_norReturn" type="xsd:dateTime" />
	</wsdl:message>
	<wsdl:message name="get_utlRequest">
		<wsdl:part name="Dti" type="xsd:dateTime" />
		<wsdl:part name="Dtf" type="xsd:dateTime" />
	</wsdl:message>
	<wsdl:message name="get_utlRequest1">
		<wsdl:part name="Dti" type="xsd:dateTime" />
		<wsdl:part name="Num" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="get_utlResponse1">
		<wsdl:part name="get_utlReturn" type="xsd:dateTime" />
	</wsdl:message>
	<wsdl:message name="get_norResponse1">
		<wsdl:part name="get_norReturn" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="CalPrz">
		<wsdl:operation name="get_nor" parameterOrder="Dti Num">
			<wsdl:input message="impl:get_norRequest" name="get_norRequest" />
			<wsdl:output message="impl:get_norResponse" name="get_norResponse" />
		</wsdl:operation>
		<wsdl:operation name="get_nor" parameterOrder="Dti Dtf">
			<wsdl:input message="impl:get_norRequest1" name="get_norRequest1" />
			<wsdl:output message="impl:get_norResponse1" name="get_norResponse1" />
		</wsdl:operation>
		<wsdl:operation name="get_utl" parameterOrder="Dti Dtf">
			<wsdl:input message="impl:get_utlRequest" name="get_utlRequest" />
			<wsdl:output message="impl:get_utlResponse" name="get_utlResponse" />
		</wsdl:operation>
		<wsdl:operation name="get_utl" parameterOrder="Dti Num">
			<wsdl:input message="impl:get_utlRequest1" name="get_utlRequest1" />
			<wsdl:output message="impl:get_utlResponse1" name="get_utlResponse1" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalPrzSoapBinding" type="impl:CalPrz">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="get_nor">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="get_norRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_norResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://hjnobrega.no.sapo.pt/CalPrz"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get_nor">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="get_norRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_norResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://hjnobrega.no.sapo.pt/CalPrz"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get_utl">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="get_utlRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_utlResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://hjnobrega.no.sapo.pt/CalPrz"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get_utl">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="get_utlRequest1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_utlResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://hjnobrega.no.sapo.pt/CalPrz"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalPrzService">
		<wsdl:port binding="impl:CalPrzSoapBinding" name="CalPrz">
			<wsdlsoap:address location="http://hjnobrega.no.sapo.pt/CalPrz" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>