wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.dataaccess.nl_wk2006_footballpoolwebservice.wso_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dataaccess.nl/wk2006" name="FootballPoolWebService"
	targetNamespace="http://www.dataaccess.nl/wk2006">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.dataaccess.nl/wk2006">
			<xs:complexType name="tStadiumInfo">
				<xs:sequence>
					<xs:element name="sStadiumName" type="xs:string" />
					<xs:element name="iSeatsCapacity" type="xs:int" />
					<xs:element name="sCityName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tTeamInfo">
				<xs:sequence>
					<xs:element name="sName" type="xs:string" />
					<xs:element name="sCountryFlag" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tGroupInfo">
				<xs:sequence>
					<xs:element name="sCode" type="xs:string" />
					<xs:element name="sDescription" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tGamesInfo">
				<xs:sequence>
					<xs:element name="sDescription" type="xs:string" />
					<xs:element name="dPlayDate" type="xs:date" />
					<xs:element name="tPlayTime" type="xs:time" />
					<xs:element name="StadiumInfo" type="tns:tStadiumInfo" />
					<xs:element name="Team1" type="tns:tTeamInfo" />
					<xs:element name="Team2" type="tns:tTeamInfo" />
					<xs:element name="sResult" type="xs:string" />
					<xs:element name="sScore" type="xs:string" />
					<xs:element name="iYellowCards" type="xs:int" />
					<xs:element name="iRedCards" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tPersonInfo">
				<xs:sequence>
					<xs:element name="sFirstName" type="xs:string" />
					<xs:element name="sLastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tPersonRanking">
				<xs:sequence>
					<xs:element name="iScore" type="xs:int" />
					<xs:element name="Persons" type="tns:ArrayOftPersonInfo" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tBetHint">
				<xs:sequence>
					<xs:element name="iWins" type="xs:int" />
					<xs:element name="iLooses" type="xs:int" />
					<xs:element name="iDraw" type="xs:int" />
					<xs:element name="nYellowCards" type="xs:decimal" />
					<xs:element name="nRedCards" type="xs:decimal" />
					<xs:element name="iTotalBets" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tGamesBetHints">
				<xs:sequence>
					<xs:element name="GamesInfo" type="tns:tGamesInfo" />
					<xs:element name="BetHint" type="tns:tBetHint" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tCards">
				<xs:sequence>
					<xs:element name="iYellow" type="xs:int" />
					<xs:element name="iRed" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tWinningTeamBet">
				<xs:sequence>
					<xs:element name="sTeam" type="xs:string" />
					<xs:element name="iPersons" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tGameDatePoints">
				<xs:sequence>
					<xs:element name="dGameDate" type="xs:date" />
					<xs:element name="iPoints" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tPointsInfo">
				<xs:sequence>
					<xs:element name="dSince" type="xs:date" />
					<xs:element name="dUntil" type="xs:date" />
					<xs:element name="sLoginId" type="xs:string" />
					<xs:element name="iPoints" type="xs:int" />
					<xs:element name="GameDatePoints" type="tns:ArrayOftGameDatePoints" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tRankingHistory">
				<xs:sequence>
					<xs:element name="dDate" type="xs:date" />
					<xs:element name="iRank" type="xs:int" />
					<xs:element name="iScore" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tGameResultCode">
				<xs:sequence>
					<xs:element name="sCode" type="xs:string" />
					<xs:element name="sDescription" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tCompany">
				<xs:sequence>
					<xs:element name="iId" type="xs:int" />
					<xs:element name="sName" type="xs:string" />
					<xs:element name="iPersonCount" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tCoaches">
				<xs:sequence>
					<xs:element name="sName" type="xs:string" />
					<xs:element name="TeamInfo" type="tns:tTeamInfo" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tTeamCompete">
				<xs:sequence>
					<xs:element name="iCompeted" type="xs:int" />
					<xs:element name="iWon" type="xs:int" />
					<xs:element name="CoachInfo" type="tns:tCoaches" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftPersonInfo">
				<xs:sequence>
					<xs:element name="tPersonInfo" type="tns:tPersonInfo" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftGameDatePoints">
				<xs:sequence>
					<xs:element name="tGameDatePoints" type="tns:tGameDatePoints" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfString">
				<xs:sequence>
					<xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftStadiumInfo">
				<xs:sequence>
					<xs:element name="tStadiumInfo" type="tns:tStadiumInfo" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftTeamInfo">
				<xs:sequence>
					<xs:element name="tTeamInfo" type="tns:tTeamInfo" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftGroupInfo">
				<xs:sequence>
					<xs:element name="tGroupInfo" type="tns:tGroupInfo" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftGamesInfo">
				<xs:sequence>
					<xs:element name="tGamesInfo" type="tns:tGamesInfo" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftPersonRanking">
				<xs:sequence>
					<xs:element name="tPersonRanking" type="tns:tPersonRanking" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftGamesBetHints">
				<xs:sequence>
					<xs:element name="tGamesBetHints" type="tns:tGamesBetHints" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftWinningTeamBet">
				<xs:sequence>
					<xs:element name="tWinningTeamBet" type="tns:tWinningTeamBet" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftRankingHistory">
				<xs:sequence>
					<xs:element name="tRankingHistory" type="tns:tRankingHistory" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftGameResultCode">
				<xs:sequence>
					<xs:element name="tGameResultCode" type="tns:tGameResultCode" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftCompany">
				<xs:sequence>
					<xs:element name="tCompany" type="tns:tCompany" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftCoaches">
				<xs:sequence>
					<xs:element name="tCoaches" type="tns:tCoaches" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftTeamCompete">
				<xs:sequence>
					<xs:element name="tTeamCompete" type="tns:tTeamCompete" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Cities">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="CitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CitiesResult" type="tns:ArrayOfString" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StadiumNames">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="StadiumNamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StadiumNamesResult" type="tns:ArrayOfString" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StadiumInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sStadiumName" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StadiumInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StadiumInfoResult" type="tns:tStadiumInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AllStadiumInfo">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="AllStadiumInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AllStadiumInfoResult" type="tns:ArrayOftStadiumInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Teams">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="TeamsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TeamsResult" type="tns:ArrayOftTeamInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Groups">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="GroupsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GroupsResult" type="tns:ArrayOftGroupInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GroupCompetitors">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sPoule" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GroupCompetitorsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GroupCompetitorsResult" type="tns:ArrayOftTeamInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GameInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="iGameId" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GameInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GameInfoResult" type="tns:tGamesInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AllGames">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="AllGamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AllGamesResult" type="tns:ArrayOftGamesInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AllPersons">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="AllPersonsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AllPersonsResult" type="tns:ArrayOftPersonInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountryNames">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="CountryNamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CountryNamesResult" type="tns:ArrayOfString" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PersonsPerCountry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sCountryName" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PersonsPerCountryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonsPerCountryResult" type="tns:ArrayOftPersonInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ranking">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="RankingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RankingResult" type="tns:ArrayOftPersonRanking" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BetHint">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="iGameId" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BetHintResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BetHintResult" type="tns:tBetHint" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BetHintsAllGames">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="BetHintsAllGamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BetHintsAllGamesResult" type="tns:ArrayOftGamesBetHints" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GamesPerCity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sCityName" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GamesPerCityResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GamesPerCityResult" type="tns:ArrayOftGamesInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="YellowCardsTotal">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="YellowCardsTotalResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="YellowCardsTotalResult" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RedCardsTotal">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="RedCardsTotalResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RedCardsTotalResult" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="YellowAndRedCardsTotal">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="YellowAndRedCardsTotalResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="YellowAndRedCardsTotalResult" type="tns:tCards" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WinningTeamBet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bSorted" type="xs:boolean" />
						<xs:element name="bAscending" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WinningTeamBetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WinningTeamBetResult" type="tns:ArrayOftWinningTeamBet" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrentPoints">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sLoginId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrentPointsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CurrentPointsResult" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResultsSince">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dSince" type="xs:date" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResultsSinceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultsSinceResult" type="tns:ArrayOftGamesInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PointsSince">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dSince" type="xs:date" />
						<xs:element name="sLoginId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PointsSinceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PointsSinceResult" type="tns:tPointsInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RankHistory">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sLoginId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RankHistoryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RankHistoryResult" type="tns:ArrayOftRankingHistory" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GameResultCodes">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="GameResultCodesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GameResultCodesResult" type="tns:ArrayOftGameResultCode" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Companies">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="CompaniesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompaniesResult" type="tns:ArrayOftCompany" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Coaches">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="CoachesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CoachesResult" type="tns:ArrayOftCoaches" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PlayedAtWorldCup">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sTeamName" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PlayedAtWorldCupResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PlayedAtWorldCupResult" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TeamsCompeteList">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="TeamsCompeteListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TeamsCompeteListResult" type="tns:ArrayOftTeamCompete" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="CitiesSoapRequest">
		<part name="parameters" element="tns:Cities" />
	</message>
	<message name="CitiesSoapResponse">
		<part name="parameters" element="tns:CitiesResponse" />
	</message>
	<message name="StadiumNamesSoapRequest">
		<part name="parameters" element="tns:StadiumNames" />
	</message>
	<message name="StadiumNamesSoapResponse">
		<part name="parameters" element="tns:StadiumNamesResponse" />
	</message>
	<message name="StadiumInfoSoapRequest">
		<part name="parameters" element="tns:StadiumInfo" />
	</message>
	<message name="StadiumInfoSoapResponse">
		<part name="parameters" element="tns:StadiumInfoResponse" />
	</message>
	<message name="AllStadiumInfoSoapRequest">
		<part name="parameters" element="tns:AllStadiumInfo" />
	</message>
	<message name="AllStadiumInfoSoapResponse">
		<part name="parameters" element="tns:AllStadiumInfoResponse" />
	</message>
	<message name="TeamsSoapRequest">
		<part name="parameters" element="tns:Teams" />
	</message>
	<message name="TeamsSoapResponse">
		<part name="parameters" element="tns:TeamsResponse" />
	</message>
	<message name="GroupsSoapRequest">
		<part name="parameters" element="tns:Groups" />
	</message>
	<message name="GroupsSoapResponse">
		<part name="parameters" element="tns:GroupsResponse" />
	</message>
	<message name="GroupCompetitorsSoapRequest">
		<part name="parameters" element="tns:GroupCompetitors" />
	</message>
	<message name="GroupCompetitorsSoapResponse">
		<part name="parameters" element="tns:GroupCompetitorsResponse" />
	</message>
	<message name="GameInfoSoapRequest">
		<part name="parameters" element="tns:GameInfo" />
	</message>
	<message name="GameInfoSoapResponse">
		<part name="parameters" element="tns:GameInfoResponse" />
	</message>
	<message name="AllGamesSoapRequest">
		<part name="parameters" element="tns:AllGames" />
	</message>
	<message name="AllGamesSoapResponse">
		<part name="parameters" element="tns:AllGamesResponse" />
	</message>
	<message name="AllPersonsSoapRequest">
		<part name="parameters" element="tns:AllPersons" />
	</message>
	<message name="AllPersonsSoapResponse">
		<part name="parameters" element="tns:AllPersonsResponse" />
	</message>
	<message name="CountryNamesSoapRequest">
		<part name="parameters" element="tns:CountryNames" />
	</message>
	<message name="CountryNamesSoapResponse">
		<part name="parameters" element="tns:CountryNamesResponse" />
	</message>
	<message name="PersonsPerCountrySoapRequest">
		<part name="parameters" element="tns:PersonsPerCountry" />
	</message>
	<message name="PersonsPerCountrySoapResponse">
		<part name="parameters" element="tns:PersonsPerCountryResponse" />
	</message>
	<message name="RankingSoapRequest">
		<part name="parameters" element="tns:Ranking" />
	</message>
	<message name="RankingSoapResponse">
		<part name="parameters" element="tns:RankingResponse" />
	</message>
	<message name="BetHintSoapRequest">
		<part name="parameters" element="tns:BetHint" />
	</message>
	<message name="BetHintSoapResponse">
		<part name="parameters" element="tns:BetHintResponse" />
	</message>
	<message name="BetHintsAllGamesSoapRequest">
		<part name="parameters" element="tns:BetHintsAllGames" />
	</message>
	<message name="BetHintsAllGamesSoapResponse">
		<part name="parameters" element="tns:BetHintsAllGamesResponse" />
	</message>
	<message name="GamesPerCitySoapRequest">
		<part name="parameters" element="tns:GamesPerCity" />
	</message>
	<message name="GamesPerCitySoapResponse">
		<part name="parameters" element="tns:GamesPerCityResponse" />
	</message>
	<message name="YellowCardsTotalSoapRequest">
		<part name="parameters" element="tns:YellowCardsTotal" />
	</message>
	<message name="YellowCardsTotalSoapResponse">
		<part name="parameters" element="tns:YellowCardsTotalResponse" />
	</message>
	<message name="RedCardsTotalSoapRequest">
		<part name="parameters" element="tns:RedCardsTotal" />
	</message>
	<message name="RedCardsTotalSoapResponse">
		<part name="parameters" element="tns:RedCardsTotalResponse" />
	</message>
	<message name="YellowAndRedCardsTotalSoapRequest">
		<part name="parameters" element="tns:YellowAndRedCardsTotal" />
	</message>
	<message name="YellowAndRedCardsTotalSoapResponse">
		<part name="parameters" element="tns:YellowAndRedCardsTotalResponse" />
	</message>
	<message name="WinningTeamBetSoapRequest">
		<part name="parameters" element="tns:WinningTeamBet" />
	</message>
	<message name="WinningTeamBetSoapResponse">
		<part name="parameters" element="tns:WinningTeamBetResponse" />
	</message>
	<message name="CurrentPointsSoapRequest">
		<part name="parameters" element="tns:CurrentPoints" />
	</message>
	<message name="CurrentPointsSoapResponse">
		<part name="parameters" element="tns:CurrentPointsResponse" />
	</message>
	<message name="ResultsSinceSoapRequest">
		<part name="parameters" element="tns:ResultsSince" />
	</message>
	<message name="ResultsSinceSoapResponse">
		<part name="parameters" element="tns:ResultsSinceResponse" />
	</message>
	<message name="PointsSinceSoapRequest">
		<part name="parameters" element="tns:PointsSince" />
	</message>
	<message name="PointsSinceSoapResponse">
		<part name="parameters" element="tns:PointsSinceResponse" />
	</message>
	<message name="RankHistorySoapRequest">
		<part name="parameters" element="tns:RankHistory" />
	</message>
	<message name="RankHistorySoapResponse">
		<part name="parameters" element="tns:RankHistoryResponse" />
	</message>
	<message name="GameResultCodesSoapRequest">
		<part name="parameters" element="tns:GameResultCodes" />
	</message>
	<message name="GameResultCodesSoapResponse">
		<part name="parameters" element="tns:GameResultCodesResponse" />
	</message>
	<message name="CompaniesSoapRequest">
		<part name="parameters" element="tns:Companies" />
	</message>
	<message name="CompaniesSoapResponse">
		<part name="parameters" element="tns:CompaniesResponse" />
	</message>
	<message name="CoachesSoapRequest">
		<part name="parameters" element="tns:Coaches" />
	</message>
	<message name="CoachesSoapResponse">
		<part name="parameters" element="tns:CoachesResponse" />
	</message>
	<message name="PlayedAtWorldCupSoapRequest">
		<part name="parameters" element="tns:PlayedAtWorldCup" />
	</message>
	<message name="PlayedAtWorldCupSoapResponse">
		<part name="parameters" element="tns:PlayedAtWorldCupResponse" />
	</message>
	<message name="TeamsCompeteListSoapRequest">
		<part name="parameters" element="tns:TeamsCompeteList" />
	</message>
	<message name="TeamsCompeteListSoapResponse">
		<part name="parameters" element="tns:TeamsCompeteListResponse" />
	</message>
	<portType name="FootballPoolWebServiceSoapType">
		<operation name="Cities">
			<documentation>Returns an array with all the city names where games are played</documentation>
			<input message="tns:CitiesSoapRequest" />
			<output message="tns:CitiesSoapResponse" />
		</operation>
		<operation name="StadiumNames">
			<documentation>Returns an array of stadium names where the games are played</documentation>
			<input message="tns:StadiumNamesSoapRequest" />
			<output message="tns:StadiumNamesSoapResponse" />
		</operation>
		<operation name="StadiumInfo">
			<documentation>Returns the information we keep about a particular stadium, Pass the name of the stadium
			</documentation>
			<input message="tns:StadiumInfoSoapRequest" />
			<output message="tns:StadiumInfoSoapResponse" />
		</operation>
		<operation name="AllStadiumInfo">
			<documentation>Returns an array with all stadiums. The array contains the names, the city where the stadium can be
				found and the seat capacity</documentation>
			<input message="tns:AllStadiumInfoSoapRequest" />
			<output message="tns:AllStadiumInfoSoapResponse" />
		</operation>
		<operation name="Teams">
			<documentation>Returns an array of all teams that compete with a link to the picture of their flag</documentation>
			<input message="tns:TeamsSoapRequest" />
			<output message="tns:TeamsSoapResponse" />
		</operation>
		<operation name="Groups">
			<documentation>Returns an array of group id's and descriptions. Group is a poule collection of a knock out level
			</documentation>
			<input message="tns:GroupsSoapRequest" />
			<output message="tns:GroupsSoapResponse" />
		</operation>
		<operation name="GroupCompetitors">
			<documentation>List all the members of a group/poule</documentation>
			<input message="tns:GroupCompetitorsSoapRequest" />
			<output message="tns:GroupCompetitorsSoapResponse" />
		</operation>
		<operation name="GameInfo">
			<documentation>Returns the information about a particular game</documentation>
			<input message="tns:GameInfoSoapRequest" />
			<output message="tns:GameInfoSoapResponse" />
		</operation>
		<operation name="AllGames">
			<documentation>Returns an array of games information</documentation>
			<input message="tns:AllGamesSoapRequest" />
			<output message="tns:AllGamesSoapResponse" />
		</operation>
		<operation name="AllPersons">
			<documentation>Returns an array with the names of all people that compete</documentation>
			<input message="tns:AllPersonsSoapRequest" />
			<output message="tns:AllPersonsSoapResponse" />
		</operation>
		<operation name="CountryNames">
			<documentation>Returns an array of country names. The country is a property of a participant. You need the country
				name to call PersonsPerCountry.</documentation>
			<input message="tns:CountryNamesSoapRequest" />
			<output message="tns:CountryNamesSoapResponse" />
		</operation>
		<operation name="PersonsPerCountry">
			<documentation>Returns an array of persons for the passed country name</documentation>
			<input message="tns:PersonsPerCountrySoapRequest" />
			<output message="tns:PersonsPerCountrySoapResponse" />
		</operation>
		<operation name="Ranking">
			<documentation>Returns an array with ranking and per ranking the score</documentation>
			<input message="tns:RankingSoapRequest" />
			<output message="tns:RankingSoapResponse" />
		</operation>
		<operation name="BetHint">
			<documentation>Returns the hint per game</documentation>
			<input message="tns:BetHintSoapRequest" />
			<output message="tns:BetHintSoapResponse" />
		</operation>
		<operation name="BetHintsAllGames">
			<documentation>Returns an array with bet hints for all games</documentation>
			<input message="tns:BetHintsAllGamesSoapRequest" />
			<output message="tns:BetHintsAllGamesSoapResponse" />
		</operation>
		<operation name="GamesPerCity">
			<documentation>Returns an array of Games that are played in the passed city name</documentation>
			<input message="tns:GamesPerCitySoapRequest" />
			<output message="tns:GamesPerCitySoapResponse" />
		</operation>
		<operation name="YellowCardsTotal">
			<documentation>Returns the total number of yellow cards given during this tournament (so far)</documentation>
			<input message="tns:YellowCardsTotalSoapRequest" />
			<output message="tns:YellowCardsTotalSoapResponse" />
		</operation>
		<operation name="RedCardsTotal">
			<documentation>Returns the total number of red cards given during this tournament (so far)</documentation>
			<input message="tns:RedCardsTotalSoapRequest" />
			<output message="tns:RedCardsTotalSoapResponse" />
		</operation>
		<operation name="YellowAndRedCardsTotal">
			<documentation>Returns a combination of the total number of yellow and red cards given during this tournament (so
				far)</documentation>
			<input message="tns:YellowAndRedCardsTotalSoapRequest" />
			<output message="tns:YellowAndRedCardsTotalSoapResponse" />
		</operation>
		<operation name="WinningTeamBet">
			<documentation>Returns an array of teams that should win the tournament according to the participants</documentation>
			<input message="tns:WinningTeamBetSoapRequest" />
			<output message="tns:WinningTeamBetSoapResponse" />
		</operation>
		<operation name="CurrentPoints">
			<documentation>Returns the current number of points that you have. Pass your website login id (= email address)
			</documentation>
			<input message="tns:CurrentPointsSoapRequest" />
			<output message="tns:CurrentPointsSoapResponse" />
		</operation>
		<operation name="ResultsSince">
			<documentation>Returns an array of gamesinformation where the game dates are between the passed date and today
			</documentation>
			<input message="tns:ResultsSinceSoapRequest" />
			<output message="tns:ResultsSinceSoapResponse" />
		</operation>
		<operation name="PointsSince">
			<documentation>Returns the points you've earned since the passed date both as total and per game day</documentation>
			<input message="tns:PointsSinceSoapRequest" />
			<output message="tns:PointsSinceSoapResponse" />
		</operation>
		<operation name="RankHistory">
			<documentation>This function returns your ranking history in an array of Date, Rank and Score information
			</documentation>
			<input message="tns:RankHistorySoapRequest" />
			<output message="tns:RankHistorySoapResponse" />
		</operation>
		<operation name="GameResultCodes">
			<documentation>Returns an array with the status codes for the games</documentation>
			<input message="tns:GameResultCodesSoapRequest" />
			<output message="tns:GameResultCodesSoapResponse" />
		</operation>
		<operation name="Companies">
			<documentation>Returns an array with the company names to which the participants belong</documentation>
			<input message="tns:CompaniesSoapRequest" />
			<output message="tns:CompaniesSoapResponse" />
		</operation>
		<operation name="Coaches">
			<documentation>Returns an array with the names of all the coaches and the team information he/she is coaching
			</documentation>
			<input message="tns:CoachesSoapRequest" />
			<output message="tns:CoachesSoapResponse" />
		</operation>
		<operation name="PlayedAtWorldCup">
			<documentation>Returns a number on how many times the given team competed at a worldcup football</documentation>
			<input message="tns:PlayedAtWorldCupSoapRequest" />
			<output message="tns:PlayedAtWorldCupSoapResponse" />
		</operation>
		<operation name="TeamsCompeteList">
			<documentation>Returns an array with the team of this competition with the number of times competed and the number of
				times won</documentation>
			<input message="tns:TeamsCompeteListSoapRequest" />
			<output message="tns:TeamsCompeteListSoapResponse" />
		</operation>
	</portType>
	<binding name="FootballPoolWebServiceSoapBinding" type="tns:FootballPoolWebServiceSoapType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Cities">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="StadiumNames">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="StadiumInfo">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="AllStadiumInfo">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Teams">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Groups">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GroupCompetitors">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GameInfo">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="AllGames">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="AllPersons">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="CountryNames">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="PersonsPerCountry">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Ranking">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="BetHint">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="BetHintsAllGames">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GamesPerCity">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="YellowCardsTotal">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="RedCardsTotal">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="YellowAndRedCardsTotal">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="WinningTeamBet">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="CurrentPoints">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="ResultsSince">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="PointsSince">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="RankHistory">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GameResultCodes">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Companies">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Coaches">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="PlayedAtWorldCup">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="TeamsCompeteList">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="FootballPoolWebService">
		<documentation>This Visual DataFlex Web Service exposes functions for the Worldchampionships 2006 Football pool held
			in June and July in many cities in Germany</documentation>
		<port name="FootballPoolWebServiceSoap" binding="tns:FootballPoolWebServiceSoapBinding">
			<soap:address location="http://www.dataaccess.nl/wk2006/footballpoolwebservice.wso" />
		</port>
	</service>
</definitions>