wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.quisque.com_fr_chasses_crypto_cesar.asmx_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.quisque.com/fr/chasses/crypto/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://www.quisque.com/fr/chasses/crypto/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cesar cipher v1.0.1&lt;BR&gt;&lt;A
		HREF='http://www.quisque.com'&gt;http://www.quisque.com&lt;/A&gt;&lt;BR&gt;</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.quisque.com/fr/chasses/crypto/">
			<s:element name="CipherOne">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="decal" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CipherOneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CipherOneResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DecipherOne">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="decal" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DecipherOneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DecipherOneResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CipherAll">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CipherAllResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CipherAllResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="DecipherAll">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DecipherAllResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DecipherAllResult" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="CipherOneSoapIn">
		<wsdl:part name="parameters" element="tns:CipherOne" />
	</wsdl:message>
	<wsdl:message name="CipherOneSoapOut">
		<wsdl:part name="parameters" element="tns:CipherOneResponse" />
	</wsdl:message>
	<wsdl:message name="DecipherOneSoapIn">
		<wsdl:part name="parameters" element="tns:DecipherOne" />
	</wsdl:message>
	<wsdl:message name="DecipherOneSoapOut">
		<wsdl:part name="parameters" element="tns:DecipherOneResponse" />
	</wsdl:message>
	<wsdl:message name="CipherAllSoapIn">
		<wsdl:part name="parameters" element="tns:CipherAll" />
	</wsdl:message>
	<wsdl:message name="CipherAllSoapOut">
		<wsdl:part name="parameters" element="tns:CipherAllResponse" />
	</wsdl:message>
	<wsdl:message name="DecipherAllSoapIn">
		<wsdl:part name="parameters" element="tns:DecipherAll" />
	</wsdl:message>
	<wsdl:message name="DecipherAllSoapOut">
		<wsdl:part name="parameters" element="tns:DecipherAllResponse" />
	</wsdl:message>
	<wsdl:portType name="CesarSoap">
		<wsdl:operation name="CipherOne">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cipher a string using Cesar cipher with decalage of decal.
			</wsdl:documentation>
			<wsdl:input message="tns:CipherOneSoapIn" />
			<wsdl:output message="tns:CipherOneSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DecipherOne">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decipher a string using Cesar cipher with decalage of decal.
			</wsdl:documentation>
			<wsdl:input message="tns:DecipherOneSoapIn" />
			<wsdl:output message="tns:DecipherOneSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="CipherAll">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cipher a string using Cesar cipher with all alphabet decalage.
			</wsdl:documentation>
			<wsdl:input message="tns:CipherAllSoapIn" />
			<wsdl:output message="tns:CipherAllSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DecipherAll">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Decipher a string using Cesar cipher with all alphabet decalage.
			</wsdl:documentation>
			<wsdl:input message="tns:DecipherAllSoapIn" />
			<wsdl:output message="tns:DecipherAllSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CesarSoap" type="tns:CesarSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CipherOne">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/CipherOne" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DecipherOne">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/DecipherOne" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CipherAll">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/CipherAll" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DecipherAll">
			<soap:operation soapAction="http://www.quisque.com/fr/chasses/crypto/DecipherAll" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CesarSoap12" type="tns:CesarSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CipherOne">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/CipherOne" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DecipherOne">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/DecipherOne" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CipherAll">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/CipherAll" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DecipherAll">
			<soap12:operation soapAction="http://www.quisque.com/fr/chasses/crypto/DecipherAll" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Cesar">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cesar cipher v1.0.1&lt;BR&gt;&lt;A
			HREF='http://www.quisque.com'&gt;http://www.quisque.com&lt;/A&gt;&lt;BR&gt;</wsdl:documentation>
		<wsdl:port name="CesarSoap" binding="tns:CesarSoap">
			<soap:address location="http://www.quisque.com/fr/chasses/crypto/cesar.asmx" />
		</wsdl:port>
		<wsdl:port name="CesarSoap12" binding="tns:CesarSoap12">
			<soap12:address location="http://www.quisque.com/fr/chasses/crypto/cesar.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>