wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__www.securexml.net_securexml_securexml.wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.infomosaic.net/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://www.infomosaic.net/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.infomosaic.net/">
			<s:element name="SecureXMLVerify">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="signedXml" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SecureXMLVerifyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SecureXMLVerifyResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</types>
	<message name="SecureXMLVerifySoapIn">
		<part name="parameters" element="s0:SecureXMLVerify" />
	</message>
	<message name="SecureXMLVerifySoapOut">
		<part name="parameters" element="s0:SecureXMLVerifyResponse" />
	</message>
	<portType name="SignatureVerificationSoap">
		<operation name="SecureXMLVerify">
			<input message="s0:SecureXMLVerifySoapIn" />
			<output message="s0:SecureXMLVerifySoapOut" />
		</operation>
	</portType>
	<binding name="SignatureVerificationSoap" type="s0:SignatureVerificationSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="SecureXMLVerify">
			<soap:operation soapAction="http://www.infomosaic.net/SecureXMLVerify" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SignatureVerification">
		<port name="SignatureVerificationSoap" binding="s0:SignatureVerificationSoap">
			<soap:address location="http://www.securexml.net/SecureXML/SecureXML.asmx" />
		</port>
	</service>
</definitions>