wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__tstsvr.achworks.com_testexec_achtstsoapbz.tss_wsdl_IACHSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IACHSOAPservice"
	targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:ACHSOAPIntf">
	<types>
		<xs:schema targetNamespace="urn:ACHSOAPIntf" xmlns="urn:ACHSOAPIntf">
			<xs:complexType name="CompanyInfo">
				<xs:sequence>
					<xs:element name="LocID" type="xs:string" />
					<xs:element name="Company" type="xs:string" />
					<xs:element name="CompanyKey" type="xs:string" />
					<xs:element name="Email" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfString">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CustomerInfo">
				<xs:sequence>
					<xs:element name="CustomerName" type="xs:string" />
					<xs:element name="Amount" type="xs:string" />
					<xs:element name="CheckorCustID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultBTRN">
				<xs:sequence>
					<xs:element name="BTRN" type="xs:string" />
					<xs:element name="Validity" type="xs:string" />
					<xs:element name="MsgResult" type="xs:string" />
					<xs:element name="NewBTRN" type="xs:string" />
					<xs:element name="DateChanged" type="xs:string" />
					<xs:element name="BankName" type="xs:string" />
					<xs:element name="Address" type="xs:string" />
					<xs:element name="CityStateZip" type="xs:string" />
					<xs:element name="Telephone" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayofResultBTRN">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:sequence />
						<xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:ResultBTRN[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="ConnectionCheck0Request">
		<part name="LocID" type="xs:string" />
		<part name="Company" type="xs:string" />
		<part name="CompanyKey" type="xs:string" />
	</message>
	<message name="ConnectionCheck0Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACH1Request">
		<part name="LocID" type="xs:string" />
		<part name="Company" type="xs:string" />
		<part name="CompanyKey" type="xs:string" />
		<part name="CheckNo" type="xs:string" />
		<part name="BTRN" type="xs:string" />
		<part name="CheckDate" type="xs:string" />
		<part name="SendDate" type="xs:string" />
		<part name="NSFMax" type="xs:string" />
		<part name="NSFFee" type="xs:string" />
		<part name="TrackingID" type="xs:string" />
		<part name="Amount" type="xs:string" />
		<part name="EmailCostumer" type="xs:string" />
		<part name="EmailMerchant" type="xs:string" />
		<part name="FirstName" type="xs:string" />
		<part name="LastName" type="xs:string" />
		<part name="Address1" type="xs:string" />
		<part name="Address2" type="xs:string" />
		<part name="City" type="xs:string" />
		<part name="State" type="xs:string" />
		<part name="Zip" type="xs:string" />
		<part name="SSN" type="xs:string" />
		<part name="HomePhone" type="xs:string" />
		<part name="OfficePhone" type="xs:string" />
		<part name="AcctNo" type="xs:string" />
		<part name="TransactionCode" type="xs:string" />
		<part name="CustTransType" type="xs:string" />
		<part name="AccountType" type="xs:string" />
		<part name="Memo" type="xs:string" />
		<part name="OpCode" type="xs:string" />
		<part name="AcctSet" type="xs:string" />
		<part name="Payee" type="xs:string" />
	</message>
	<message name="SendACH1Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendBatchACH2Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchACHRec" type="ns1:ArrayOfString" />
	</message>
	<message name="SendBatchACH2Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="GetACHStatus3Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetACHStatus3Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHStatusHistory4Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="DateFrom" type="xs:string" />
		<part name="DateTo" type="xs:string" />
	</message>
	<message name="GetACHStatusHistory4Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="SendFedFile5Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFedFile" type="ns1:ArrayOfString" />
	</message>
	<message name="SendFedFile5Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransBatch6Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileName" type="xs:string" />
		<part name="InpBatchACHRec" type="ns1:ArrayOfString" />
	</message>
	<message name="SendACHTransBatch6Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransBatchAFH7Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchACHRec" type="ns1:ArrayOfString" />
	</message>
	<message name="SendACHTransBatchAFH7Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransWeb8Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileName" type="xs:string" />
		<part name="InpBatchACHRec" type="ns1:ArrayOfString" />
	</message>
	<message name="SendACHTransWeb8Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransBatchBin9Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileName" type="xs:string" />
		<part name="InpFileBin" type="xs:base64Binary" />
	</message>
	<message name="SendACHTransBatchBin9Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransBatchBinZip10Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileNameZip" type="xs:string" />
		<part name="InpFileBinZip" type="xs:base64Binary" />
	</message>
	<message name="SendACHTransBatchBinZip10Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendACHTransBatchNV11Request">
		<part name="NoKey" type="xs:string" />
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileName" type="xs:string" />
		<part name="InpBatchACHRec" type="ns1:ArrayOfString" />
	</message>
	<message name="SendACHTransBatchNV11Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="GetACHReturnBatch12Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetACHReturnBatch12Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHReturnBatchRC13Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="ResponseCode" type="xs:string" />
	</message>
	<message name="GetACHReturnBatchRC13Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHReturnHistory14Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="DateFrom" type="xs:string" />
		<part name="DateTo" type="xs:string" />
	</message>
	<message name="GetACHReturnHistory14Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHReturnHistoryRC15Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="DateFrom" type="xs:string" />
		<part name="DateTo" type="xs:string" />
		<part name="ResponseCode" type="xs:string" />
	</message>
	<message name="GetACHReturnHistoryRC15Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetStatusFiles16Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetStatusFiles16Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACKFiles17Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetACKFiles17Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetERRFiles18Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetERRFiles18Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="StopACHTrans19Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="FrontEndTrace" type="xs:string" />
		<part name="Filename" type="xs:string" />
	</message>
	<message name="StopACHTrans19Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="StopACHTrans220Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="CustomerName" type="xs:string" />
		<part name="TransAmount" type="xs:string" />
		<part name="CheckorCustID" type="xs:string" />
		<part name="Filename" type="xs:string" />
	</message>
	<message name="StopACHTrans220Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="StopACHTrans321Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="ArrayFrontEndTrace" type="ns1:ArrayOfString" />
		<part name="Filename" type="xs:string" />
	</message>
	<message name="StopACHTrans321Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="StopACHTrans422Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpCustomerInfo" type="ns1:CustomerInfo" />
		<part name="Filename" type="xs:string" />
	</message>
	<message name="StopACHTrans422Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="StopACHTransBatch23Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="Filename" type="xs:string" />
	</message>
	<message name="StopACHTransBatch23Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="SendFile24Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFileName" type="xs:string" />
		<part name="InpFile" type="ns1:ArrayOfString" />
	</message>
	<message name="SendFile24Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="GetFile25Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetFile25Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHTransBatchFileList26Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetACHTransBatchFileList26Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHTransBatchFileListHistory27Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="DateFrom" type="xs:string" />
		<part name="DateTo" type="xs:string" />
	</message>
	<message name="GetACHTransBatchFileListHistory27Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="GetACHTransBatchDeletedFileList28Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
	</message>
	<message name="GetACHTransBatchDeletedFileList28Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<message name="DeleteACHTransBatchFile29Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpFilename" type="xs:string" />
	</message>
	<message name="DeleteACHTransBatchFile29Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="getBTRNCMP30Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBTRN" type="xs:string" />
	</message>
	<message name="getBTRNCMP30Response">
		<part name="return" type="ns1:ResultBTRN" />
	</message>
	<message name="getBTRNBatchCMP31Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchBTRN" type="ns1:ArrayOfString" />
	</message>
	<message name="getBTRNBatchCMP31Response">
		<part name="return" type="ns1:ArrayofResultBTRN" />
	</message>
	<message name="getBTRNSTR32Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBTRN" type="xs:string" />
	</message>
	<message name="getBTRNSTR32Response">
		<part name="return" type="xs:string" />
	</message>
	<message name="getBTRNBatchSTR33Request">
		<part name="InpBatchCompanyInfo" type="ns1:CompanyInfo" />
		<part name="InpBatchBTRN" type="ns1:ArrayOfString" />
	</message>
	<message name="getBTRNBatchSTR33Response">
		<part name="return" type="ns1:ArrayOfString" />
	</message>
	<portType name="IACHSOAP">
		<operation name="ConnectionCheck">
			<input message="tns:ConnectionCheck0Request" />
			<output message="tns:ConnectionCheck0Response" />
		</operation>
		<operation name="SendACH">
			<input message="tns:SendACH1Request" />
			<output message="tns:SendACH1Response" />
		</operation>
		<operation name="SendBatchACH">
			<input message="tns:SendBatchACH2Request" />
			<output message="tns:SendBatchACH2Response" />
		</operation>
		<operation name="GetACHStatus">
			<input message="tns:GetACHStatus3Request" />
			<output message="tns:GetACHStatus3Response" />
		</operation>
		<operation name="GetACHStatusHistory">
			<input message="tns:GetACHStatusHistory4Request" />
			<output message="tns:GetACHStatusHistory4Response" />
		</operation>
		<operation name="SendFedFile">
			<input message="tns:SendFedFile5Request" />
			<output message="tns:SendFedFile5Response" />
		</operation>
		<operation name="SendACHTransBatch">
			<input message="tns:SendACHTransBatch6Request" />
			<output message="tns:SendACHTransBatch6Response" />
		</operation>
		<operation name="SendACHTransBatchAFH">
			<input message="tns:SendACHTransBatchAFH7Request" />
			<output message="tns:SendACHTransBatchAFH7Response" />
		</operation>
		<operation name="SendACHTransWeb">
			<input message="tns:SendACHTransWeb8Request" />
			<output message="tns:SendACHTransWeb8Response" />
		</operation>
		<operation name="SendACHTransBatchBin">
			<input message="tns:SendACHTransBatchBin9Request" />
			<output message="tns:SendACHTransBatchBin9Response" />
		</operation>
		<operation name="SendACHTransBatchBinZip">
			<input message="tns:SendACHTransBatchBinZip10Request" />
			<output message="tns:SendACHTransBatchBinZip10Response" />
		</operation>
		<operation name="SendACHTransBatchNV">
			<input message="tns:SendACHTransBatchNV11Request" />
			<output message="tns:SendACHTransBatchNV11Response" />
		</operation>
		<operation name="GetACHReturnBatch">
			<input message="tns:GetACHReturnBatch12Request" />
			<output message="tns:GetACHReturnBatch12Response" />
		</operation>
		<operation name="GetACHReturnBatchRC">
			<input message="tns:GetACHReturnBatchRC13Request" />
			<output message="tns:GetACHReturnBatchRC13Response" />
		</operation>
		<operation name="GetACHReturnHistory">
			<input message="tns:GetACHReturnHistory14Request" />
			<output message="tns:GetACHReturnHistory14Response" />
		</operation>
		<operation name="GetACHReturnHistoryRC">
			<input message="tns:GetACHReturnHistoryRC15Request" />
			<output message="tns:GetACHReturnHistoryRC15Response" />
		</operation>
		<operation name="GetStatusFiles">
			<input message="tns:GetStatusFiles16Request" />
			<output message="tns:GetStatusFiles16Response" />
		</operation>
		<operation name="GetACKFiles">
			<input message="tns:GetACKFiles17Request" />
			<output message="tns:GetACKFiles17Response" />
		</operation>
		<operation name="GetERRFiles">
			<input message="tns:GetERRFiles18Request" />
			<output message="tns:GetERRFiles18Response" />
		</operation>
		<operation name="StopACHTrans">
			<input message="tns:StopACHTrans19Request" />
			<output message="tns:StopACHTrans19Response" />
		</operation>
		<operation name="StopACHTrans2">
			<input message="tns:StopACHTrans220Request" />
			<output message="tns:StopACHTrans220Response" />
		</operation>
		<operation name="StopACHTrans3">
			<input message="tns:StopACHTrans321Request" />
			<output message="tns:StopACHTrans321Response" />
		</operation>
		<operation name="StopACHTrans4">
			<input message="tns:StopACHTrans422Request" />
			<output message="tns:StopACHTrans422Response" />
		</operation>
		<operation name="StopACHTransBatch">
			<input message="tns:StopACHTransBatch23Request" />
			<output message="tns:StopACHTransBatch23Response" />
		</operation>
		<operation name="SendFile">
			<input message="tns:SendFile24Request" />
			<output message="tns:SendFile24Response" />
		</operation>
		<operation name="GetFile">
			<input message="tns:GetFile25Request" />
			<output message="tns:GetFile25Response" />
		</operation>
		<operation name="GetACHTransBatchFileList">
			<input message="tns:GetACHTransBatchFileList26Request" />
			<output message="tns:GetACHTransBatchFileList26Response" />
		</operation>
		<operation name="GetACHTransBatchFileListHistory">
			<input message="tns:GetACHTransBatchFileListHistory27Request" />
			<output message="tns:GetACHTransBatchFileListHistory27Response" />
		</operation>
		<operation name="GetACHTransBatchDeletedFileList">
			<input message="tns:GetACHTransBatchDeletedFileList28Request" />
			<output message="tns:GetACHTransBatchDeletedFileList28Response" />
		</operation>
		<operation name="DeleteACHTransBatchFile">
			<input message="tns:DeleteACHTransBatchFile29Request" />
			<output message="tns:DeleteACHTransBatchFile29Response" />
		</operation>
		<operation name="getBTRNCMP">
			<input message="tns:getBTRNCMP30Request" />
			<output message="tns:getBTRNCMP30Response" />
		</operation>
		<operation name="getBTRNBatchCMP">
			<input message="tns:getBTRNBatchCMP31Request" />
			<output message="tns:getBTRNBatchCMP31Response" />
		</operation>
		<operation name="getBTRNSTR">
			<input message="tns:getBTRNSTR32Request" />
			<output message="tns:getBTRNSTR32Response" />
		</operation>
		<operation name="getBTRNBatchSTR">
			<input message="tns:getBTRNBatchSTR33Request" />
			<output message="tns:getBTRNBatchSTR33Response" />
		</operation>
	</portType>
	<binding name="IACHSOAPbinding" type="tns:IACHSOAP">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ConnectionCheck">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#ConnectionCheck" style="rpc" />
			<input message="tns:ConnectionCheck0Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:ConnectionCheck0Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACH">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACH" style="rpc" />
			<input message="tns:SendACH1Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACH1Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendBatchACH">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendBatchACH" style="rpc" />
			<input message="tns:SendBatchACH2Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendBatchACH2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHStatus">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatus" style="rpc" />
			<input message="tns:GetACHStatus3Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHStatus3Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHStatusHistory">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatusHistory" style="rpc" />
			<input message="tns:GetACHStatusHistory4Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHStatusHistory4Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendFedFile">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendFedFile" style="rpc" />
			<input message="tns:SendFedFile5Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendFedFile5Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransBatch">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatch" style="rpc" />
			<input message="tns:SendACHTransBatch6Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransBatch6Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransBatchAFH">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchAFH" style="rpc" />
			<input message="tns:SendACHTransBatchAFH7Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransBatchAFH7Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransWeb">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransWeb" style="rpc" />
			<input message="tns:SendACHTransWeb8Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransWeb8Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransBatchBin">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchBin" style="rpc" />
			<input message="tns:SendACHTransBatchBin9Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransBatchBin9Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransBatchBinZip">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchBinZip" style="rpc" />
			<input message="tns:SendACHTransBatchBinZip10Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransBatchBinZip10Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendACHTransBatchNV">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchNV" style="rpc" />
			<input message="tns:SendACHTransBatchNV11Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendACHTransBatchNV11Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHReturnBatch">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnBatch" style="rpc" />
			<input message="tns:GetACHReturnBatch12Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHReturnBatch12Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHReturnBatchRC">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnBatchRC" style="rpc" />
			<input message="tns:GetACHReturnBatchRC13Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHReturnBatchRC13Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHReturnHistory">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnHistory" style="rpc" />
			<input message="tns:GetACHReturnHistory14Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHReturnHistory14Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHReturnHistoryRC">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnHistoryRC" style="rpc" />
			<input message="tns:GetACHReturnHistoryRC15Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHReturnHistoryRC15Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetStatusFiles">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetStatusFiles" style="rpc" />
			<input message="tns:GetStatusFiles16Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetStatusFiles16Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACKFiles">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACKFiles" style="rpc" />
			<input message="tns:GetACKFiles17Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACKFiles17Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetERRFiles">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetERRFiles" style="rpc" />
			<input message="tns:GetERRFiles18Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetERRFiles18Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="StopACHTrans">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans" style="rpc" />
			<input message="tns:StopACHTrans19Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:StopACHTrans19Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="StopACHTrans2">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans2" style="rpc" />
			<input message="tns:StopACHTrans220Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:StopACHTrans220Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="StopACHTrans3">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans3" style="rpc" />
			<input message="tns:StopACHTrans321Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:StopACHTrans321Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="StopACHTrans4">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans4" style="rpc" />
			<input message="tns:StopACHTrans422Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:StopACHTrans422Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="StopACHTransBatch">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTransBatch" style="rpc" />
			<input message="tns:StopACHTransBatch23Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:StopACHTransBatch23Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="SendFile">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendFile" style="rpc" />
			<input message="tns:SendFile24Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:SendFile24Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetFile">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetFile" style="rpc" />
			<input message="tns:GetFile25Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetFile25Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHTransBatchFileList">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchFileList" style="rpc" />
			<input message="tns:GetACHTransBatchFileList26Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHTransBatchFileList26Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHTransBatchFileListHistory">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchFileListHistory" style="rpc" />
			<input message="tns:GetACHTransBatchFileListHistory27Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHTransBatchFileListHistory27Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="GetACHTransBatchDeletedFileList">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchDeletedFileList" style="rpc" />
			<input message="tns:GetACHTransBatchDeletedFileList28Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:GetACHTransBatchDeletedFileList28Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="DeleteACHTransBatchFile">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#DeleteACHTransBatchFile" style="rpc" />
			<input message="tns:DeleteACHTransBatchFile29Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:DeleteACHTransBatchFile29Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="getBTRNCMP">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNCMP" style="rpc" />
			<input message="tns:getBTRNCMP30Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:getBTRNCMP30Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="getBTRNBatchCMP">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNBatchCMP" style="rpc" />
			<input message="tns:getBTRNBatchCMP31Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:getBTRNBatchCMP31Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="getBTRNSTR">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNSTR" style="rpc" />
			<input message="tns:getBTRNSTR32Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:getBTRNSTR32Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
		<operation name="getBTRNBatchSTR">
			<soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNBatchSTR" style="rpc" />
			<input message="tns:getBTRNBatchSTR33Request">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</input>
			<output message="tns:getBTRNBatchSTR33Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP" />
			</output>
		</operation>
	</binding>
	<service name="IACHSOAPservice">
		<port name="IACHSOAPPort" binding="tns:IACHSOAPbinding">
			<soap:address location="http://tstsvr.achworks.com/testexec/achtstsoapbz.tss/soap/IACHSOAP" />
		</port>
	</service>
</definitions>