wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__xml.nig.ac.jp_wsdl_DDBJ.wsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--generated by GLUE on Thu Sep 27 16:33:16 JST 2007 -->
<definitions name='DDBJ' targetNamespace='http://www.themindelectric.com/wsdl/DDBJ/' xmlns:tns='http://www.themindelectric.com/wsdl/DDBJ/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
	<message name='getFFEntry0In'>
		<part name='accession' type='xsd:string' />
	</message>
	<message name='getFFEntry0Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getXMLEntry1In'>
		<part name='accession' type='xsd:string' />
	</message>
	<message name='getXMLEntry1Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getFeatureInfo2In'>
		<part name='accession' type='xsd:string' />
		<part name='feature' type='xsd:string' />
	</message>
	<message name='getFeatureInfo2Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getAllFeatures3In'>
		<part name='accession' type='xsd:string' />
	</message>
	<message name='getAllFeatures3Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getRelatedFeatures4In'>
		<part name='accession' type='xsd:string' />
		<part name='start' type='xsd:string' />
		<part name='stop' type='xsd:string' />
	</message>
	<message name='getRelatedFeatures4Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='getRelatedFeaturesSeq5In'>
		<part name='accession' type='xsd:string' />
		<part name='start' type='xsd:string' />
		<part name='stop' type='xsd:string' />
	</message>
	<message name='getRelatedFeaturesSeq5Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<message name='countBasePair6In'>
		<part name='accession' type='xsd:string' />
	</message>
	<message name='countBasePair6Out'>
		<part name='Result' type='xsd:string' />
	</message>
	<portType name='DDBJ'>
		<operation name='getFFEntry' parameterOrder='accession'>
			<documentation>Get Flat File DDBJ Entry by accession number</documentation>
			<input name='getFFEntry0In' message='tns:getFFEntry0In' />
			<output name='getFFEntry0Out' message='tns:getFFEntry0Out' />
		</operation>
		<operation name='getXMLEntry' parameterOrder='accession'>
			<documentation>Get XML DDBJ Entry by accession number</documentation>
			<input name='getXMLEntry1In' message='tns:getXMLEntry1In' />
			<output name='getXMLEntry1Out' message='tns:getXMLEntry1Out' />
		</operation>
		<operation name='getFeatureInfo' parameterOrder='accession feature'>
			<documentation>Get the detail Feature Information of DDBJ Entry</documentation>
			<input name='getFeatureInfo2In' message='tns:getFeatureInfo2In' />
			<output name='getFeatureInfo2Out' message='tns:getFeatureInfo2Out' />
		</operation>
		<operation name='getAllFeatures' parameterOrder='accession'>
			<documentation>Get the feature type contains specified DDBJ Entry</documentation>
			<input name='getAllFeatures3In' message='tns:getAllFeatures3In' />
			<output name='getAllFeatures3Out' message='tns:getAllFeatures3Out' />
		</operation>
		<operation name='getRelatedFeatures' parameterOrder='accession start stop'>
			<documentation>Get related feature contains specified DDBJ location</documentation>
			<input name='getRelatedFeatures4In' message='tns:getRelatedFeatures4In' />
			<output name='getRelatedFeatures4Out' message='tns:getRelatedFeatures4Out' />
		</operation>
		<operation name='getRelatedFeaturesSeq' parameterOrder='accession start stop'>
			<documentation>Get relatedfeatures and sequence contains specified DDBJ location</documentation>
			<input name='getRelatedFeaturesSeq5In' message='tns:getRelatedFeaturesSeq5In' />
			<output name='getRelatedFeaturesSeq5Out' message='tns:getRelatedFeaturesSeq5Out' />
		</operation>
		<operation name='countBasePair' parameterOrder='accession'>
			<documentation>Count base pair of the specified accession number</documentation>
			<input name='countBasePair6In' message='tns:countBasePair6In' />
			<output name='countBasePair6Out' message='tns:countBasePair6Out' />
		</operation>
	</portType>
	<binding name='DDBJ' type='tns:DDBJ'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='getFFEntry'>
			<soap:operation soapAction='getFFEntry' style='rpc' />
			<input name='getFFEntry0In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getFFEntry0Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getXMLEntry'>
			<soap:operation soapAction='getXMLEntry' style='rpc' />
			<input name='getXMLEntry1In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getXMLEntry1Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getFeatureInfo'>
			<soap:operation soapAction='getFeatureInfo' style='rpc' />
			<input name='getFeatureInfo2In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getFeatureInfo2Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getAllFeatures'>
			<soap:operation soapAction='getAllFeatures' style='rpc' />
			<input name='getAllFeatures3In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getAllFeatures3Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getRelatedFeatures'>
			<soap:operation soapAction='getRelatedFeatures' style='rpc' />
			<input name='getRelatedFeatures4In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getRelatedFeatures4Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='getRelatedFeaturesSeq'>
			<soap:operation soapAction='getRelatedFeaturesSeq' style='rpc' />
			<input name='getRelatedFeaturesSeq5In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='getRelatedFeaturesSeq5Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		<operation name='countBasePair'>
			<soap:operation soapAction='countBasePair' style='rpc' />
			<input name='countBasePair6In'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output name='countBasePair6Out'>
				<soap:body use='encoded' namespace='http://tempuri.org/DDBJ' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='DDBJ'>
		<port name='DDBJ' binding='tns:DDBJ'>
			<soap:address location='http://xml.nig.ac.jp/xddbj/DDBJ' />
		</port>
	</service>
</definitions>