wsdl-schema-parser/src/test/resources/wsdls/xmethods/http.__ws.cdyne.com_DeathIndex_QueryDeathIndex.asmx_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/DeathIndex/QueryDeathIndex"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/DeathIndex/QueryDeathIndex"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/DeathIndex/QueryDeathIndex">
			<s:element name="DeceasedBySSN">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeceasedBySSNResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="DeceasedBySSNResult" type="tns:DeceasedInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="DeceasedInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NameSuffix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Verified" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1" name="DeathDate" type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1" name="ZipLastResidence" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ZipLumpSumPay" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Match" type="s:boolean" />
					<s:element minOccurs="0" maxOccurs="1" name="ErrorText" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="SearchDeceasedInfoReturnDataSet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="GreaterThanYear" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SearchDeceasedInfoReturnDataSetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SearchDeceasedInfoReturnDataSetResult">
							<s:complexType>
								<s:sequence>
									<s:element ref="s:schema" />
									<s:any />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeceasedInfo" type="tns:DeceasedInfo" />
			<s:element name="DataSet" nillable="true">
				<s:complexType>
					<s:sequence>
						<s:element ref="s:schema" />
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="DeceasedBySSNSoapIn">
		<wsdl:part name="parameters" element="tns:DeceasedBySSN" />
	</wsdl:message>
	<wsdl:message name="DeceasedBySSNSoapOut">
		<wsdl:part name="parameters" element="tns:DeceasedBySSNResponse" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetSoapIn">
		<wsdl:part name="parameters" element="tns:SearchDeceasedInfoReturnDataSet" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetSoapOut">
		<wsdl:part name="parameters" element="tns:SearchDeceasedInfoReturnDataSetResponse" />
	</wsdl:message>
	<wsdl:message name="DeceasedBySSNHttpGetIn">
		<wsdl:part name="ssn" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="DeceasedBySSNHttpGetOut">
		<wsdl:part name="Body" element="tns:DeceasedInfo" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetHttpGetIn">
		<wsdl:part name="LastName" type="s:string" />
		<wsdl:part name="FirstName" type="s:string" />
		<wsdl:part name="StateAbbrev" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
		<wsdl:part name="GreaterThanYear" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetHttpGetOut">
		<wsdl:part name="Body" element="tns:DataSet" />
	</wsdl:message>
	<wsdl:message name="DeceasedBySSNHttpPostIn">
		<wsdl:part name="ssn" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
	</wsdl:message>
	<wsdl:message name="DeceasedBySSNHttpPostOut">
		<wsdl:part name="Body" element="tns:DeceasedInfo" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetHttpPostIn">
		<wsdl:part name="LastName" type="s:string" />
		<wsdl:part name="FirstName" type="s:string" />
		<wsdl:part name="StateAbbrev" type="s:string" />
		<wsdl:part name="LicenseKey" type="s:string" />
		<wsdl:part name="GreaterThanYear" type="s:string" />
	</wsdl:message>
	<wsdl:message name="SearchDeceasedInfoReturnDataSetHttpPostOut">
		<wsdl:part name="Body" element="tns:DataSet" />
	</wsdl:message>
	<wsdl:portType name="QueryDeathIndexSoap">
		<wsdl:operation name="DeceasedBySSN">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter a SSN to get deceased information. Use a LicenseKey of 0 for
				testing.</wsdl:documentation>
			<wsdl:input message="tns:DeceasedBySSNSoapIn" />
			<wsdl:output message="tns:DeceasedBySSNSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter information in a minimum of 1 field. No wildcards accepted.
				The system will return a maximum of 50 records. Leave fields blank that you do not have information for. Use a
				LicenseKey of 0 for testing.</wsdl:documentation>
			<wsdl:input message="tns:SearchDeceasedInfoReturnDataSetSoapIn" />
			<wsdl:output message="tns:SearchDeceasedInfoReturnDataSetSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="QueryDeathIndexHttpGet">
		<wsdl:operation name="DeceasedBySSN">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter a SSN to get deceased information. Use a LicenseKey of 0 for
				testing.</wsdl:documentation>
			<wsdl:input message="tns:DeceasedBySSNHttpGetIn" />
			<wsdl:output message="tns:DeceasedBySSNHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter information in a minimum of 1 field. No wildcards accepted.
				The system will return a maximum of 50 records. Leave fields blank that you do not have information for. Use a
				LicenseKey of 0 for testing.</wsdl:documentation>
			<wsdl:input message="tns:SearchDeceasedInfoReturnDataSetHttpGetIn" />
			<wsdl:output message="tns:SearchDeceasedInfoReturnDataSetHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="QueryDeathIndexHttpPost">
		<wsdl:operation name="DeceasedBySSN">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter a SSN to get deceased information. Use a LicenseKey of 0 for
				testing.</wsdl:documentation>
			<wsdl:input message="tns:DeceasedBySSNHttpPostIn" />
			<wsdl:output message="tns:DeceasedBySSNHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter information in a minimum of 1 field. No wildcards accepted.
				The system will return a maximum of 50 records. Leave fields blank that you do not have information for. Use a
				LicenseKey of 0 for testing.</wsdl:documentation>
			<wsdl:input message="tns:SearchDeceasedInfoReturnDataSetHttpPostIn" />
			<wsdl:output message="tns:SearchDeceasedInfoReturnDataSetHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QueryDeathIndexSoap" type="tns:QueryDeathIndexSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DeceasedBySSN">
			<soap:operation soapAction="http://ws.cdyne.com/DeathIndex/QueryDeathIndex/DeceasedBySSN" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<soap:operation soapAction="http://ws.cdyne.com/DeathIndex/QueryDeathIndex/SearchDeceasedInfoReturnDataSet"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QueryDeathIndexSoap12" type="tns:QueryDeathIndexSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DeceasedBySSN">
			<soap12:operation soapAction="http://ws.cdyne.com/DeathIndex/QueryDeathIndex/DeceasedBySSN" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<soap12:operation soapAction="http://ws.cdyne.com/DeathIndex/QueryDeathIndex/SearchDeceasedInfoReturnDataSet"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QueryDeathIndexHttpGet" type="tns:QueryDeathIndexHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="DeceasedBySSN">
			<http:operation location="/DeceasedBySSN" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<http:operation location="/SearchDeceasedInfoReturnDataSet" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QueryDeathIndexHttpPost" type="tns:QueryDeathIndexHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="DeceasedBySSN">
			<http:operation location="/DeceasedBySSN" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchDeceasedInfoReturnDataSet">
			<http:operation location="/SearchDeceasedInfoReturnDataSet" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QueryDeathIndex">
		<wsdl:port name="QueryDeathIndexSoap" binding="tns:QueryDeathIndexSoap">
			<soap:address location="http://ws.cdyne.com/DeathIndex/QueryDeathIndex.asmx" />
		</wsdl:port>
		<wsdl:port name="QueryDeathIndexSoap12" binding="tns:QueryDeathIndexSoap12">
			<soap12:address location="http://ws.cdyne.com/DeathIndex/QueryDeathIndex.asmx" />
		</wsdl:port>
		<wsdl:port name="QueryDeathIndexHttpGet" binding="tns:QueryDeathIndexHttpGet">
			<http:address location="http://ws.cdyne.com/DeathIndex/QueryDeathIndex.asmx" />
		</wsdl:port>
		<wsdl:port name="QueryDeathIndexHttpPost" binding="tns:QueryDeathIndexHttpPost">
			<http:address location="http://ws.cdyne.com/DeathIndex/QueryDeathIndex.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>