junit/src/test/schemas/archive/car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Car">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CurrentSpeed">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SpeedGermany" type="xsd:int" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HorsePower" type="xsd:int" />
        <xsd:element name="Milage" type="xsd:decimal" />
        <xsd:element name="PassengerWeight">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Float" type="xsd:decimal" />
            </xsd:sequence>
            <xsd:attribute name="Length" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="Name" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
