core/src/test/resources/schemas/complexType_ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Person" type="PersonType"/>
	
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element ref="Name"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>