core/src/test/resources/schemas/archive/Waehrung3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Waehrung">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
      </xsd:sequence>
      <xsd:attribute name="Waehrungscode" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
