core/src/test/resources/schemas/archive/Waehrung3_alternate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Waehrung" type="waehrungTyp" />
  <xsd:complexType name="waehrungTyp">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="waehrungscode" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>
