core/src/test/resources/schemas/archive/Waehrung2_alternate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="waehrung" type="waehrungType" />
  <xsd:complexType name="waehrungType">
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="waehrungscode" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>
